
      <header>
            <nav>
                  <div class="logo" (click)=" onClickHome() ">
                        <img src="assets/img/logo/withcenter-icon.png" alt="Withcenter Logo">
                        <span>{{ t.withcenter }}</span>
                  </div>
                  <div class='menu'>
                        <span (click)=" scrollIntoView( 'franchise-about' ) ">{{ t.franchise }}</span>
                        <span (click)=" scrollIntoView( 'franchise-service' ) ">{{ t.videoenglish }}</span>
                        <span (click)=" scrollIntoView( 'franchise-start' ) ">{{ t.startup }}</span>
                        <div class="flags">
                              <img class="custom-icon" *ngIf="languageCode=='en'" src="../../../../../assets/img/language-flags/en-desktop.png" alt="">
                              <img class="custom-icon ko-icon" *ngIf="languageCode=='ko'" src="../../../../../assets/img/language-flags/ko-desktop.png" alt="">
                              <img class="custom-icon" *ngIf="languageCode=='ch'" src="../../../../../assets/img/language-flags/ch-desktop.png" alt="">
                              <img class="custom-icon" *ngIf="languageCode=='jp'" src="../../../../../assets/img/language-flags/jp-desktop.png" alt="">
                              <select [(ngModel)]="languageCode" (change)=" onChangeLanguageCode() ">
                                    <option value='ch'>ch</option>
                                    <option value='en'>en</option>
                                    <option value='ko'>ko</option>
                                    <option value='jp'>jp</option>
                              </select>
                        </div>
                  </div>
                  <div class="options-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"/></svg>
                  </div>
            </nav>
      </header>

<main>

      <section class="content">

            <nav class="title-banner">
                  <div class="texts text-group-0" *ngIf=" animation.show == 'text-group-0' ">
                        <div class="text" no="0">화상영어 창업</div>
                        <div class="text" no="1">성공 비결은 무엇일까요?</div>
                        <div class="text" no="2">제대로된 회사와 협력하는 것입니다.</div>
                        <div class="text" no="3">12년째, 오직 화상영어 한 길</div>
                  </div>
                  <div class="texts text-group-1" *ngIf=" animation.show == 'text-group-1' ">
                        <div class="text" no="0">글로벌 리더 위세너</div>
                        <div class="text" no="1">2007년 부터 화상영어 프랜차이즈</div>
                        <div class="text" no="2">12년째 필리핀에서 콜센터 운영</div>
                        <div class="text" no="3">5백여 개에 이르는 가맹사</div>
                  </div>
                  <div class="texts text-group-2" *ngIf=" animation.show == 'text-group-2' ">
                        <div class="text" no="0">창업비용 제로. 부가 비용 완전 제로.</div>
                        <div class="text" no="1">도메인, SSL, 호스팅 무료 제공</div>
                        <div class="text" no="2">아무런 준비없이 10초 만에 창업 완료!</div>
                        <div class="text" no="3">학생만 있으면 바로 수익 발생</div>
                  </div>
                  <nav class="buttons">
                        <button class="withcenter-button ml-2" (click)=" scrollIntoView( 'franchise-start' ) ">{{ t.open_branch_in_one_minute }}</button>
                  </nav>
                  <div class="banner">
                        <img src="assets/withcenter/img/main-title.jpg">
                  </div>
            </nav>

            <section class="chapters">

                  <section id="franchise-about">
                        &nbsp;
                        <h2 class="mt-5">위세너 프랜차이즈</h2>
                        <about-franchise-component></about-franchise-component>
                        <understanding-franchise-component></understanding-franchise-component>

                  </section>

                  <section id="franchise-service">
                        &nbsp;
                        <h2 class="mt-5">화상영어 서비스</h2>
                        <about-service-component></about-service-component>

                  </section>

                  <section id="franchise-start">
                        &nbsp;
                        <h2 class="mt-5">위세너 프랜차이즈 시작하기</h2>
                        <apply-franchise-component></apply-franchise-component>
                  </section>

            </section>

      </section>







</main>







<footer>
      <div class="copyright">
            © 2006-2018 Withcenter, Inc., Pampanga Philippines.
            Email: withcenter@gmail.com
      </div>
</footer>