<header>
      <nav>
            <div class="logo" (click)=" onClickHome() ">
                  <img src="assets/img/logo/withcenter-icon.png" alt="Withcenter Logo">
                  <span>{{ t.ln.withcenter }}</span>
            </div>
            <div class='menu'>
                  <span (click)=" scrollIntoView( 'franchise-about' ) ">{{ t.ln.franchise }}</span>
                  <span (click)=" scrollIntoView( 'franchise-service' ) ">{{ t.ln.videoenglish }}</span>
                  <span (click)=" scrollIntoView( 'franchise-start' ) ">{{ t.ln.startup }}</span>
                  <div class="flags">
                        <img class="custom-icon" *ngIf="languageCode=='en'" src="../../../../../assets/img/language-flags/en-desktop.png" alt="">
                        <img class="custom-icon ko-icon" *ngIf="languageCode=='ko'" src="../../../../../assets/img/language-flags/ko-desktop.png"
                              alt="">
                        <img class="custom-icon" *ngIf="languageCode=='ch'" src="../../../../../assets/img/language-flags/ch-desktop.png" alt="">
                        <img class="custom-icon" *ngIf="languageCode=='jp'" src="../../../../../assets/img/language-flags/jp-desktop.png" alt="">
                        <select [(ngModel)]="languageCode" (change)=" onChangeLanguageCode() ">
                              <option value='ch'>ch</option>
                              <option value='en'>en</option>
                              <option value='ko'>ko</option>
                              <option value='jp'>jp</option>
                        </select>
                  </div>
            </div>
            <div class="options-button" (click)="showMobileMenu=!showMobileMenu">
                  <svg *ngIf="!showMobileMenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"
                        />
                  </svg>
                  <svg *ngIf="showMobileMenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M231.6 256l130.1-130.1c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L192 216.4 61.9 86.3c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17L152.4 256 22.3 386.1c-4.7 4.7-4.7 12.3 0 17l22.6 22.6c4.7 4.7 12.3 4.7 17 0L192 295.6l130.1 130.1c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17L231.6 256z"
                        />
                  </svg>
            </div>
            <div class="mobile-menu" *ngIf="showMobileMenu">
                  <div (click)=" showMobileMenu=!scrollIntoView( 'franchise-about' ) ">
                        <span>{{ t.ln.franchise }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                              <path fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                              />
                        </svg>
                  </div>
                  <div (click)=" showMobileMenu=!scrollIntoView( 'franchise-service' ) ">
                        <span>{{ t.ln.videoenglish }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                              <path fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                              />
                        </svg>
                  </div>
                  <div (click)=" showMobileMenu=!scrollIntoView( 'franchise-start' ) ">
                        <span>{{ t.ln.startup }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                              <path fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                              />
                        </svg>
                  </div>
            </div>
      </nav>
</header>

<main>

      <section class="content">

            <nav class="title-banner">
                  <div class="texts text-group-0" *ngIf=" animation.show == 'text-group-0' ">
                        <div class="text" no="0">화상영어 창업</div>
                        <div class="text" no="1">성공 비결은 무엇일까요?</div>
                        <div class="text" no="2">제대로된 회사와 협력하는 것입니다.</div>
                        <div class="text" no="3">12년째, 오직 화상영어 한 길</div>
                  </div>
                  <div class="texts text-group-1" *ngIf=" animation.show == 'text-group-1' ">
                        <div class="text" no="0">글로벌 리더 위세너</div>
                        <div class="text" no="1">2007년 부터 화상영어 프랜차이즈</div>
                        <div class="text" no="2">12년째 필리핀에서 콜센터 운영</div>
                        <div class="text" no="3">5백여 개에 이르는 가맹사</div>
                  </div>
                  <div class="texts text-group-2" *ngIf=" animation.show == 'text-group-2' ">
                        <div class="text" no="0">창업비용 제로. 부가 비용 완전 제로.</div>
                        <div class="text" no="1">도메인, SSL, 호스팅 무료 제공</div>
                        <div class="text" no="2">아무런 준비없이 10초 만에 창업 완료!</div>
                        <div class="text" no="3">학생만 있으면 바로 수익 발생</div>
                  </div>
                  <nav class="buttons">
                        <button class="withcenter-button" (click)=" scrollIntoView( 'franchise-start' ) ">{{ t.ln.open_branch_in_one_minute }}</button>
                  </nav>
                  <div class="banner">
                        <img src="assets/withcenter/img/main-title.jpg">
                  </div>
            </nav>

            <section class="chapters">

                  <section id="franchise-about">
                        &nbsp;
                        <h2>위세너 프랜차이즈</h2>
                        <about-franchise-component></about-franchise-component>
                        <understanding-franchise-component></understanding-franchise-component>

                  </section>

                  <section id="franchise-service">
                        &nbsp;
                        <h2>화상영어 서비스</h2>
                        <about-service-component></about-service-component>

                  </section>

                  <section id="franchise-start">
                        &nbsp;
                        <h2>위세너 프랜차이즈 시작하기</h2>
                        <apply-franchise-component></apply-franchise-component>
                  </section>

            </section>

      </section>







</main>







<footer>
      <div class="copyright">
            © 2006-2018 Withcenter, Inc., Pampanga Philippines. Email: withcenter@gmail.com
      </div>
</footer>