@import './../../../theme/vars';
$page-width: 800px;
$padding: .6em;
$header-height: 4em;
main {
    margin: 0 auto;
    max-width: $page-width;
    font-family: Helvetica, Arial, sans-serif
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(#fff, 0.95);
    z-index: 1234;
    nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        max-width: $page-width;
        height: $header-height;
        margin: auto;
        padding: 0;
        color: #1e2022;
        .logo {
            display: flex;
            align-items: center;
            padding: 0 1.5em;
            @media (min-width: $md) {
                padding: 0;
            }
            height : $header-height;
            font-weight: bold;
            cursor: pointer;
            img {
                width: 24px;
                margin-right: .5em;
            }
        }
        .menu {
            display: flex;
            height: $header-height;
            &>span {
                display: none;
                align-items: center;
                height: 100%;
                padding: 0 .75em;
                @media (min-width: $md) {
                    display: flex;
                    padding: 0 1em;
                }
                font-weight: 400;
                font-size: .8em;
                white-space: nowrap;
                cursor: pointer;
                &:hover {
                    color: #377dff
                }
            }
        }
        .options-button {
            padding: 0 1.5em;
            display: flex;
            @media (min-width: $md) {
                display: none;
            }
            align-items: center;
            height: 100%;
            svg {
                height: 1.8em;
                width: 1.8em;
            }
        }
        .flags {
            position: relative !important;
            @media (min-width: $md) {
                background: #aeadad;
            }
            height: $header-height;
            select {
                position: relative;
                padding: 0 3em;
                height: 100%;
                padding-top: 33px;
                @media (min-width: $md) {
                    padding-top: 20px;
                }
                border: none;
                background: rgba(#fff, 0);
                color: white;
                font-size: .8em;
                text-align-last: center;
                display: flex;
                justify-content: center;
                -webkit-appearance: none;
                -moz-appearance: none;
                &::-ms-expand {
                    display: none; //for ie
                }
                cursor: pointer;
                option {
                    color: black !important;
                }
            }
            .custom-icon {
                position: absolute;
                top: 21px;
                left: 50%;
                transform: translateX(-50%);
                height: 20px;
                @media (min-width: $md) {
                    top: 13px;
                    height: 24px;
                }
            }
            .ko-icon {
                height: 30px;
                width: 30px;
                top: 15.5px;
                @media (min-width: $md) {
                    top: 13px;
                    height: 24px;
                    width: 24px;
                }
            }
        }
        .mobile-menu {
            @media (min-width: $md) {
                display: none;
            }
            position: absolute;
            top:100%;
            left: 0;
            right: 0;
            animation: .2s 1 fade-in;
            border-top : 1px solid #eee;
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.5em 2em;
                text-align: center;
                border-bottom: 1px solid #eee;
                background: #fff;
                font-size: .9em;
                font-weight: 500;
                color: #377dff;
                svg {
                    height: 1em;
                    width: 1em;
                }
            }
        }
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

section.content {
    margin: 0 auto;
    margin-top: $header-height;
    max-width: $page-width;
    @media (min-width: $md) {
        padding: 0;
    }
}

.chapters {
    padding: 0 1em;
    @media (min-width: $md) {
        padding: 0;
    }
}

.title-banner {
    position: relative;
    width: 100%;
    height: 230px;
    @media (min-width: $md) {
        height: 250px;
        font-size: 1.3em;
        font-weight: 200;
    }
    .banner {
        position: absolute;
        top: 0;
        right: 0;
        img {
            height: 230px;
            @media (min-width: $md) {
                height: 300px;
            }
        }
    }
    .texts {
        position: absolute;
        top: 15%;
        left: 0;
        padding: 1em;
        border-radius: 2px;
        // background: rgba(#fff, 0.7);
        text-shadow: 2px 2px 2px rgb(255, 255, 255), 2px 2px 14px rgb(255, 255, 255), 2px 2px 4px rgb(255, 254, 254);
        line-height: 1.6em;
        font-size: .9em;
        z-index: 200;
        .text {
            color: black;
            opacity: 0;
        }
        .text[no='0'] {
            animation: textAni 1s 1s 1 forwards;
        }
        .text[no='1'] {
            animation: textAni 1s 2s 1 forwards;
        }
        .text[no='2'] {
            animation: textAni 1s 3s 1 forwards;
        }
        .text[no='3'] {
            animation: textAni 1s 4s 1 forwards;
        }
    }
    nav {
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 0;
    }
}

@keyframes textAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    margin: 1em 0;
    @media (min-width: $md) {
        margin-top: 2em;
    }
    color: #EF6C00;
    font-size:1.87em;
    font-weight: 100;
}

h3 {
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0E51A7;
}

.withcenter-button {
    padding: .8em 1em;
    border: 0;
    border-radius: 4px;
    font-size: 11pt;
    background-color: rgba(55, 125, 255, 0.2);
    color: #377dff;
    font-weight: 300;
    @media (min-width: $md) {
        background-color: rgba(55, 125, 255, 0.1);
    }
    transition: all .2s ease-in-out;
    &:hover {
        background: #377dff;
        color: #fff;
    }
}

footer {
    padding: 5em;
    text-align: center;
}