/**
 *
 * @warning this scss is globally appied.
 *
 */
@import './../../../../../theme/vars';
@import './../../scss/index';


body {
    font-size: 16px!important;
}
.admin-header {
    background-color: rgb(97, 163, 189);
    .mainmenu {
        display: flex;
        align-content: center;
        justify-content: space-between;
        height: 60px;
        font-size: .75em;
        @media (min-width: $md) {
            font-size: .9em;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 .7em;
        }
        a.home {
            padding: 0 .7em;
            svg {
                width: 24px;
            }
        }
    }
    .submenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 45px;
        background-color: rgb(235, 220, 220);
        @media (min-width:$md){
            height: 60px;
            background-color: rgb(97, 163, 189);
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 .70em;
            font-size: .75em;
        }
    }
    @media (min-width: $md) {
        display: flex;
        justify-content: center;
        .submenu {
            a {
                font-size: .9em;
            }
        }
    }
    form.user-quick-search {
        display: flex;
        align-items: center;
        padding: 0 .5em;

        input{
            font-size: .9em;
            padding: .5em;
            border-radius: 2px;
            border: none;
            @media (min-width:$md) {
                width: 360px
            }
        }
    }
}

