/**
 *
 * @warning this scss is globally appied.
 *
 */
@import './../../../../../theme/vars';
@import './../../scss/index';

body {
    font-size: 16px!important;
}
.content{
    margin: auto;
    max-width: $page-width;
}
header{
    background-color: #f1f1f0;

    .admin-header {
        display: flex;
        flex-direction: column;
        @media (min-width:$md){
            flex-direction: row;
            justify-content: space-between;
            max-width: $page-width;
            margin: auto;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 .75em;
            font-size: .7em;
            &:hover{
                opacity: 0.65;
            }
            @media (min-width: $md) {
                font-size: .9em;
            }
            svg {
                height: 24px;
                width: 24px;
            }
        }
        .main-menu,.sub-menu {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }
        .sub-menu {
            height: $submenu-height;
            background-color: #BFBFBF;
            @media (min-width:$md){
                height: $main-menu-height;
                background-color: transparent;
            }
        }
        .main-menu{
            height: $main-menu-height;
        }
        form.user-quick-search {
            display: flex;
            align-items: center;
            padding: 0 .3em;
    
            input{
                padding: .5em;
                border-radius: 2px;
                border:1px solid rgba(#000,0.1);
                color: #000;
                background: transparent;
                font-size: .8em;
                width: 130px;
                @media (min-width:$md) {
                    width: 360px
                }

                &:focus{
                    background: #fff;
                }
            }
        }
    }
}


