<header class="admin-header">
    <nav class="mainmenu">
        <input type="text" placeholder="Quick Search">
        <a class="d-inline-block" routerLink="./user">User</a>
        <a routerLink="./session">Sessions</a>
        <a routerLink="./payment">Payment</a>
    </nav>
    <nav class='submenu'>
        <a routerLink="./point-refund">Point Refund</a>
        <a routerLink="./point-history">Point History</a>
        <a routerLink="./push-notification">Push notification</a>
        <a routerLink="./setting">Settings</a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<section>AAA</section>
<footer class="admin-footer p-5 text-center">
    <div class="copyright">
        Withcenter, Inc.
    </div>
</footer>