@import '../../../theme/vars.scss';

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-spinner{
        margin: .5em;
    }
}

header {
    padding: 1em;
    background-color: #673ab7;
    color: white;

    h2 {
        margin: 0 !important;
        font-weight: 300 !important;
        font-size: 1.25em;
    }
}


.buttons-top{
    button{
        padding: 1.5em;
        border:none;
        background: #e1e6e7;
        width: 50%;
        cursor: pointer;
    }

    .active{
        background: #007ef3;
        color: white;
    }
}

.buttons-bottom{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 8em;

    button{
        margin-right: 1em;
        margin-left: 1em;
        padding: 1em 3em;
        border:none;
        border-radius: 2px;
        background: dodgerblue;
        cursor: pointer;
        color: white;
    }
}


.message-list{

    @media screen and (max-width:$sm) {
        font-size: 80%
    }

    .message{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:.5em 2em;
        @media screen and (min-width:$lg) {
            padding-right: 0;
        }

        @media screen and (max-width:$sm) {
            padding: 1em ;
        }
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        background: #fff;
        cursor: pointer;
        transition:  all .2s ease-in-out;

        .photo{
            height: 40px;
            width: 40px;
            min-height: 40px;
            min-width: 40px;
            border-radius: 50%;
            overflow: hidden;
        
            img{
                width: 100%;
            }
        }


        .message-info{
            display: flex;
            align-items: center;
            font-size: 1em;

            .sender,.title{
                span{
                    text-transform: uppercase;
                }
            }

            .date{
                font-size: 80%;
                @media screen and (min-width:992px) {
                    text-align: right;
                    padding: 0;
                }
            }

            .title{
                font-size: 95%;
                white-space: nowrap;
                overflow: hidden;
                line-height: 1.4em;

                @media screen and (min-width:992px) {

                    padding: 0;
                }
            }

            .row{
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }



        &:hover{
            background: rgba(128, 128, 128, 0.05);
        }

        .new{
            font-weight: bolder;
        }

    }

    .content{
        padding: 2em;
        background:rgba(128, 128, 128, 0.12); 
        text-align: center;
    }


}


