@import '../../../theme/vars.scss';

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;

    mat-spinner{
        margin: .5em;
    }
}

.buttons-top{
    button{
        padding: 1.5em;
        border:none;
        background: #e1e6e7;
        width: 50%;
        cursor: pointer;
    }

    .active{
        background: #007ef3;
        color: white;
    }
}

.buttons-bottom{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 8em;

    button{
        margin-right: 1em;
        margin-left: 1em;
        padding: 1em 3em;
        border:none;
        border-radius: 2px;
        background: dodgerblue;
        cursor: pointer;
        color: white;
    }
}

.message-tab{
    display: flex;
    margin-top: 2.5rem;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
    font-size: .85rem;
    text-align: center;
    label{
        flex: 100%;
        input:checked+span{
            border:1px solid rgba(green,0.5);
            color: green;
        }
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .75rem .5rem;
            height: 100%;
            border: 1px solid rgba(125,125,125,0.2);
            border-left: 0;
            background: #fff;
            cursor: pointer;
        }
    }
    .read-all-button{
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width:$md) {
            margin: 0 2rem;   
        }
        padding: .75rem .5rem;
        border-radius: 2px;
        background:darkblue;
        color: #fff;
        flex:100%;
        font-size: .75rem;
        cursor: pointer;
    }
    input{
        position: absolute;
        opacity: 0;
    }
}

.message-topview{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em .75em;
    @media (min-width:$md) {
        padding: 1.5em 2em;   
    }
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    background:#fff;
    .left{
        display: flex;
        flex:4;
        .photo{
            display: block;
            height: 50px;
            width: 50px;
            @media (min-width:$md) {
                height: 100px;
                width: 100px; 
            }
            border-radius: 2px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .message-info{
            padding: 0 1.5rem;
            .subject{
                margin-top: .2em;
                margin-bottom: 1em;
                font-size: .88em;
                color: dimgray
            }
            .content{
                font-weight: 300;
                line-height: 1.5em;
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        flex:100%;
        @media (min-width:$md) {
            flex:1;
            margin-top: 0;
        }
        a,
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5em;
            padding: .75rem;
            border-radius: 2px;
            background: darkorange;
            color: #fff;
            font-size: .7em;
            text-align: center;
            svg{
                position: relative;
                top:.125em;
                margin-right: .5em;
                height: 1em;
                width: 1em;
            }
        }
        button{
            border: 0;
            background: #eee;
            color: #000;
            text-transform: uppercase;
        }
        .date{
            font-size: .9em;
            color: dimgray
        }
    }
}


.message-list{

    @media screen and (max-width:$sm) {
        font-size: 80%
    }

    .message{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:.5em 2em;
        @media screen and (min-width:$lg) {
            padding-right: 0;
        }

        @media screen and (max-width:$sm) {
            padding: 1em ;
        }
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        background: #fff;
        cursor: pointer;
        transition:  all .2s ease-in-out;

        .photo{
            height: 40px;
            width: 40px;
            min-height: 40px;
            min-width: 40px;
            border-radius: 50%;
            overflow: hidden;
        
            img{
                width: 100%;
            }
        }


        .message-info{
            display: flex;
            align-items: center;
            font-size: 1em;

            .sender,.title{
                span{
                    text-transform: uppercase;
                }
            }

            .date{
                font-size: 80%;
                @media screen and (min-width:992px) {
                    text-align: right;
                    padding: 0;
                }
            }

            .title{
                font-size: 95%;
                white-space: nowrap;
                overflow: hidden;
                line-height: 1.4em;

                @media screen and (min-width:992px) {

                    padding: 0;
                }
            }

            .row{
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }



        &:hover{
            background: rgba(128, 128, 128, 0.05);
        }

        .new{
            font-weight: bolder;
        }

    }

    .content{
        padding: 1em;
        @media (min-width:$md) {
            padding: 2em;
        }
        background:#eee; 
        text-align: center;
        line-height: 1.6em;
        font-weight: 200;
        font-size: 1.2em;
    }
    .schedule-table-button{
        margin: .5rem;
        padding: .5rem 1rem;
        @media (min-width:$md) {
            padding: .7rem 1.5rem;
        }
        background: darkorange;
        color: #fff;
        font-size: .75rem;
        @media (min-width:$md) {
            font-size: .85rem;
        }
        svg{
            position: relative;
            top: .125em;
            height: 1em;
            width: 1em;
            margin-right: .4rem;
        }

    }
    .reply-button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: .5rem;
        padding: .5rem 1rem;
        @media (min-width:$md) {
            padding: .7rem 1.5rem;
        }
        border: 0;
        border-radius: 2px;
        border: 1px solid rgba(128, 128, 128, 0.2);
        background: #fff;
        font-size: .75rem;
        @media (min-width:$md) {
            font-size: .85rem;
        }
        text-transform: uppercase;

        svg{
            position: relative;
            top: .125em;
            height: 1em;
            width: 1em;
            margin-right: .4rem;
        }
    }

}


