.loader {
    padding: 1em;
    text-align: center;
}

header {
    padding: 1em;
    background-color: #673ab7;
    color: white;

    h2 {
        margin: 0 !important;
        font-weight: 300 !important;
        font-size: 1.25em;
    }
}


.buttons-top{
    button{
        padding: 1.5em;
        border:none;
        background: #e1e6e7;
        width: 50%;
        cursor: pointer;
    }

    .active{
        background: #007ef3;
        color: white;
    }
}

.buttons-bottom{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 8em;

    button{
        margin-right: 1em;
        margin-left: 1em;
        padding: 1em 3em;
        border:none;
        border-radius: 2px;
        background: dodgerblue;
        cursor: pointer;
        color: white;
    }
}


.message-list{
    .message{
        padding:.5em 2em;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        background: #fff;
        cursor: pointer;
        transition:  all .2s ease-in-out;

        .photo{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
        
            img{
                width: 100%;
            }
        }

        .sender{
            margin: 0 2em;

            div:last-child{
                font-size: 80%;
                line-height: 1.5em;
            }
        }

        .col-auto{
            display: flex;
            align-items: center;
        }

        &:hover{
            background: rgba(128, 128, 128, 0.05);
        }

        .new{
            font-weight: bolder;
        }

        .title{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 0;
            width: 100%;
        }

        .content{
            justify-content: center;
            padding: 2em;
        }
    }


}


