<header>
    <h1>{{ 'EVALUATE' | t }}</h1>
</header>
<main>

    <div class="info">
        <div>
            <div><b>Name: </b> {{student_name}}</div>
    
            <div><b>Session No: </b>{{ idx }}</div>
        </div>
        <div>
            <div><b>Point: </b>{{point}}</div>
    
            <div><b>Level of the session: </b>{{level}}</div>
        </div>
    </div>


    <div>
        <mat-form-field appearance="outline">
            <mat-label>Book(Page) used in the session</mat-label>
            <input type="text" matInput placeholder="Book" [(ngModel)]="book_used">
            <mat-hint>book used for today session</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Book(Page) for the next session:</mat-label>
            <input type="text" matInput placeholder="Book"  [(ngModel)]="book_next">
            <mat-hint>book you will use for the next session</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Grammar</mat-label>
            <mat-select [(ngModel)]="grammar" (selectionChange)="onChangeChecklevel()">
                <mat-option [value]="0">Select...</mat-option>
                <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                </mat-option>
            </mat-select>
            <mat-hint>Rate on student grammar</mat-hint>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field appearance="outline">
            <mat-label>Expression:</mat-label>
            <mat-select [(ngModel)]="expression" (selectionChange)="onChangeChecklevel()">
                <mat-option [value]="0">Select...</mat-option>
                <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                </mat-option>
            </mat-select>
            <mat-hint>Rate how well the student can express</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Vocabulary:</mat-label>
            <mat-select [(ngModel)]="vocabulary" (selectionChange)="onChangeChecklevel()">
                <mat-option [value]="0">Select...</mat-option>
                <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                </mat-option>
            </mat-select>
            <mat-hint>Rate if the student use proper words, cluases</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Pronunciation: </mat-label>
            <mat-select [(ngModel)]="pronunciation" (selectionChange)="onChangeChecklevel()">
                <mat-option [value]="0">Select...</mat-option>
                <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                </mat-option>
            </mat-select>
            <mat-hint>Rate on student accent and intonation</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Speed of Speach:</mat-label>
            <mat-select [(ngModel)]="speed" (selectionChange)="onChangeChecklevel()">
                <mat-option [value]="0">Select...</mat-option>
                <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                </mat-option>
            </mat-select>
            <mat-hint>Rate on how fast and fluently the student speaks</mat-hint>
        </mat-form-field>
    </div>

    <div class="warning" *ngIf=" student_absent ">
            <b>Warning:</b> when you check on 'student was absent' box,
            You must input some comment on comment box or else the session may not be paid.
            If you have nothing to comment, then just type "Student was absent at hour:time on Month/Day".
        </div>
    
    <div class="checkboxes">
        <div>
            <mat-checkbox color="warn" [(ngModel)]="student_absent">Student was absent<span>(Click the Box if the Student is Absent)</span></mat-checkbox>
        </div>
        <div>    
            <mat-checkbox [(ngModel)]="unsuccessful">Class was unsuccessful<span>(Any Problem in the Class?)</span></mat-checkbox>            
        </div>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Comment:</mat-label>
            <textarea matInput [(ngModel)]="comment"></textarea>
            <mat-hint> Leave comment of the session. Or Leave any message if the class was unsuccessful.</mat-hint>
        </mat-form-field>
    </div>

    <div class="submit">
        <button (click)="onClickSubmitEvaluation()">
            <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
            SUBMIT
        </button>
    </div>

</main>
