<header>
    <h1>{{ 'EVALUATE' | t }}</h1>
</header>
<main>
    <section class="content">
        <div class="page pt-md-3 pt-0 bg-white">
            <ion-grid class="px-md-5 px-3" no-padding>
                <ion-row  class="border mx-5">
                    <ion-col class="d-flex-column d-md-flex-row align-items-center justify-content-around">
                        <div class="d-flex align-items-center py-4 px-0 fs-110">
                            <span class="fw-bold mr-2">Name:</span>
                            {{student_name}}
                            <i class="fal fa-user-circle ml-2 fs-110"></i>
                        </div>
                        <div class="d-flex align-items-center py-4 px-0 fs-110">
                            <span class="fw-bold mr-2">Session No:</span>
                            {{ idx }}
                            <i class="fal fa-hashtag ml-2 brown fs-110"></i>
                        </div>
                        <div class="d-flex align-items-center py-4 px-0 fs-110">
                            <span class="fw-bold mr-2">Point:</span>
                            {{point}}
                            <i class="fal fa-check-circle green ml-2 fs-110"></i>
                        </div>
                        <div class="d-flex align-items-center py-4 px-0 fs-110">
                            <span class="fw-bold mr-2">Level of the session:</span>
                            {{level}}
                            <i class="fal fa-chart-line ml-2 indigo fs-110"></i>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row align-items-stretch>
                    <ion-col class="px-5" col-12>
                        <div class="alert  alert-danger hide-effect m-0 mt-5 p-4 fs-90" *ngIf=" student_absent ">
                            <b>Warning:</b> when you check on 'student was absent' box,
                            You must input some comment on comment box or else the session may not be paid.
                            If you have nothing to commment, then just type "Student was absent at hour:time on Month/Day".
                        </div>
                    </ion-col>
                    <ion-col class="d-flex-column form-effect px-5 pt-5" col-md-4 col-12>
                        <input class="focus-effect  p-3 w-100 rounded-2" type="text" [(ngModel)]="book_used">
                        <label class="pl-1">
                            <div class="pop-over d-flex justify-content-between align-items-center px-1 mb-2">
                                <span>Book(Page) used in the session:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">book used for today session</span>
                            </div>
                        </label>
                    </ion-col>
                    <ion-col class="form-effect d-flex-column px-5 pt-5" col-md-4 col-12>
                        <select  class="focus-effect w-100 rounded-2" [(ngModel)]="grammar" (ngModelChange)="onChangeChecklevel()">
                            <option [value]="0">Select...</option>
                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                            </option>
                        </select>
                        <label class=" mb-2">
                            <div class="pop-over d-flex justify-content-between align-items-center px-1">
                                <span>Grammar:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">Rate on student grammar</span>
                            </div>
                        </label>
                    </ion-col>
                    <ion-col class="form-effect d-flex-column px-5 pt-5" col-md-4 col-12>
                        <select class="focus-effect w-100 rounded-2" [(ngModel)]="expression" (ngModelChange)="onChangeChecklevel()">
                            <option [value]="0">Select...</option>
                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                            </option>
                        </select>
                        <label class=" mb-2">
                            <div class="pop-over d-flex justify-content-between align-items-center px-1">
                                <span>Expression:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">Rate how well the student can express</span>
                            </div>
                        </label>
                    </ion-col>
                </ion-row>
                <ion-row align-items-stretch>
                    <ion-col class="form-effect d-flex-column px-5 pt-5" col-md-4 col-12>
                        <input class="focus-effect rounded-2 p-3 w-100" type="text" [(ngModel)]="book_next">
                        <label class="pl-1">
                            <div class="pop-over d-flex justify-content-between align-items-center mb-2 px-1">
                                <span>Book(Page) for the next session:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">book you will use for the next session</span>
                            </div>
                        </label>
                    </ion-col>
                    <ion-col class="form-effect d-flex-column px-5 pt-5" col-md-4 col-12>
                        <select  class="focus-effect w-100 rounded-2" [(ngModel)]="vocabulary" (ngModelChange)="onChangeChecklevel()">
                            <option [value]="0">Select...</option>
                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                            </option>
                        </select>
                        <label class=" mb-2">
                            <div class="pop-over d-flex justify-content-between align-items-center px-1">
                                <span>Vocabulary:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">Rate if the student use proper words, cluases</span>
                            </div>
                        </label>
                    </ion-col>
                    <ion-col class="form-effect px-5 pt-5" col-md-4 col-12>
                        <label>
                            <div class="pop-over d-flex justify-content-between align-items-center mb-2 px-1">
                                <span>Class was unsuccessful:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">Any problem in the class?</span>
                            </div>
                            <input class="custom-checkbox" type="checkbox"  [(ngModel)]="unsuccessful">
                            <div class="d-flex align-items-center justify-content-center border rounded-2">
                      <span class="text">
                          UNSUCCESFUL
                      </span>
                                <i class="fal fa-times-square ml-1 fs-110 text"></i>
                            </div>
                        </label>
                    </ion-col>
                </ion-row>
                <ion-row align-items-stretch>
                    <ion-col class="form-effect d-flex-column px-5 pt-5" col-md-4 col-12>
                        <select  class="focus-effect w-100 pr-5em rounded-2" [(ngModel)]="pronunciation" (ngModelChange)="onChangeChecklevel()">
                            <option [value]="0">Select...</option>
                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                            </option>
                        </select>
                        <label class=" mb-2">
                            <div class="pop-over d-flex justify-content-between align-items-center px-1">
                                <span>Pronunciation: </span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">Rate on student accent and intonation</span>
                            </div>
                        </label>
                    </ion-col>
                    <ion-col class="form-effect d-flex-column px-5 pt-5" col-md-4 col-12>
                        <select  class="focus-effect w-100 rounded-2" [(ngModel)]="speed" (ngModelChange)="onChangeChecklevel()">
                            <option [value]="0">Select...</option>
                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [value]="i">{{i}}
                            </option>
                        </select>
                        <label class=" mb-2">
                            <div class="pop-over d-flex justify-content-between align-items-center px-1">
                                <span>Speed of Speach:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">Rate on how fast and fluently the student speaks</span>
                            </div>
                        </label>
                    </ion-col>
                    <ion-col class="px-5 pt-5" col-md-4 col-12>
                        <label>
                            <div class="pop-over d-flex justify-content-between align-items-center  mb-2 px-1">
                                <span>Student was absent:</span>
                                <i class="fal fa-question-circle pop-over-trigger dodgerblue"></i>
                                <span class="pop-over-content fs-90">click the box if the student is absent</span>
                            </div>
                            <input class="custom-checkbox" type="checkbox"  [(ngModel)]="student_absent">
                            <div class="border rounded-2 d-flex align-items-center justify-content-center">
                        <span class="text">
                            ABSENT
                        </span>
                                <i class="fal fa-user-times ml-2 fs-110 text"></i>
                            </div>
                        </label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="d-flex-column form-effect px-5 pt-5" col-12>
                        <textarea class="textarea-effect w-100 p-5 rounded-2" rows="10" [(ngModel)]="comment"></textarea>
                        <label>
                            <div class="mt-5 mb-2 pl-1">
                                <b>Comment</b>: Leave comment of the session. Or Leave any message if the class was unsuccessful.
                            </div>
                        </label>
                    </ion-col>
                    <ion-col col-12>
                        <div class="m-md-5 m-0 p-5" text-center>
                            <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i> </span>
                            <input class="hover-effect py-4 w-md-50 w-100  border-0 rounded-2 bg-blue white" type="submit" (click)="onClickSubmitEvaluation()" value="SUBMIT">
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
    </section>
</main>
