@import '../../../../../theme/vars.scss';
header{
    h1{
        margin: 0;
        padding: 1em;
        background: grey;
        color:#fff;
    }
}

main{
    padding: 1em 3em;
    background: #fff;
    text-align: center;

    @media screen and (max-width:$sm) {
       padding: 1em;
    }

    mat-form-field{
        width: 80%;

        @media screen and (max-width:$sm) {
            width: 95%
        }
    }

    mat-checkbox{
        span{
            font-size: .9em;
            margin-left:.5em;
            color: grey;
        }
    }

    .checkboxes{
        margin: 2em auto;
        width: 80%;
        text-align: left;

        @media screen and (max-width:$sm) {
            width: 95%
        }

        &>div{
            margin: 1em 0;

            @media screen and (max-width:$sm) {
                span{
                    display: block;
                }
            }
        }
    }


    .submit{
        display: flex;
        justify-content: center;
        margin:4em;

        @media screen and (max-width:$sm) {
            margin:2em;
        }

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 3em;
            border-radius: 2px;
            border:none;
            background: dodgerblue;
            color: #fff;
            font-size: .9em;

        }

    }


    .warning{
        padding: 1em;
        border: 1px solid darkred;
        border-radius: 2px;
        background: rgba(darkred,0.1);
        font-weight: 200;
        line-height: 1.6em;
    }

    &>div{
        margin-bottom: 1.5em;
    }
    .info{
        display: flex;
        width: 80%;
        margin:auto;
        margin-bottom: 2em;
        text-align: left;

        @media screen and (max-width:$sm) {
            flex-direction: column;
            margin:auto;
            margin-bottom: 1em;
        }

        &>div{   
            width: 100%;
            div{
                margin: 2em;
                padding: 1em;
                border-bottom: 1px solid black;
                @media screen and (max-width:$sm) {
                    margin: .5em;
                    padding: .5em;
                }

            }
        }
    }
}