@import '../../../../../theme/vars.scss';
section{
    background: #fff;
    outline: 1px solid rgba(125,125,125,0.1);
    .title{
        padding-left: 4em;
        @media screen and (max-width:$sm){
            padding: 0;
            text-align: center;
        }
        margin: 0;
        background-color: #66a2fb;
        h2{
            display: inline-block;
            background-color: #007bff;
            margin: 0;
            padding: 1em;
            color: #fff;
            font-size: 2em;
            font-weight: 500;
        }
    }

    .container-fluid{
        .row{
            padding: 0 1em
        }

        padding:4em;

        @media screen and (max-width:$sm){
            padding:1em;
        }

        .content{
            padding:0;
            padding-left: 2em;

            @media screen and (max-width:$sm){
                padding:2em 0;
                text-align: center;
            }
        }

        .options{
            padding: 0;
            border-right: 4px solid dodgerblue;
            &>a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.25em 1.5em;
                cursor: pointer;
    
                &:hover{
                    background: rgba(dodgerblue,0.13);
                }
            }

            .active{
                background: dodgerblue!important;
                color: #fff!important;
            }

            .arrow-icon{
                height: 1em;
                width:1em;
            }
        }


        .read{
            padding: 1em;
            padding-top: 2em;
            &>div:first-child{
                margin: 0;
                margin-bottom: .5em;
                background: transparent;
                padding: 0;
                font-size: 2em;
                font-weight: 100;
                letter-spacing: .07em;

                @media screen and (max-width:$sm){
                    text-align: center;
                    line-height: 1.5em;
                }
            }

            div{
                margin-top:1.5em;
                font-size: 1em;
            }

            line-height: 1.6em;
            font-weight: 300;
        }

        .youtube-video-container{
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;

            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }


}