<section class="bg-white pb-5 outline-effect">
    <div class="bg-blue-60 white mb-5 pl-md-5">
        <h2 class="title-style d-inline-block ml-md-5 m-0 p-5 fs-3rem fw-light bg-blue text-center" ion-text
            color="white">
            Teacher Level Test Guide</h2>
    </div>
    <div class="container-fluid px-5">
        <div class="row m-0 m-md-5">
            <div class="guideline pointers pr-5 pl-1 col-md-5 col-12">
                <div class="p-4 rounded-2 tab-hover-effect" [class.active]="view == 0 " (click)="view = 0">What is Level
                    Test
                </div>
                <div class="p-4 rounded-2 tab-hover-effect" [class.active]="view == 1 " (click)="view = 1">Guide for
                    Level Test
                </div>
                <div class="p-4 rounded-2 tab-hover-effect" [class.active]="view == 2 && selectedVideo == 0 "
                     (click)="playTeacherYoutube(0)">
                    Level Test Sample <span>Video 1</span>
                </div>
                <div class="p-4 rounded-2 tab-hover-effect" [class.active]="view == 2 && selectedVideo == 1 "
                     (click)="playTeacherYoutube(1)">
                    Level Test Sample <span>Video 2</span>
                </div>
                <div class="p-4 rounded-2 tab-hover-effect" [class.active]="view == 3" (click)="view = 3">Regular
                    Sessions
                </div>
            </div>
            <div class="col-md-7 col-12">
                <div class="hide-effect line-height-1-8em" *ngIf=" view == 0 ">
                    <div class="p-4 fs-110 text-center fw-bold mt-4 mt-md-0">PURPOSE OF LEVEL TEST</div>
                    <div class="d-flex-column d-md-flex-row align-items-center p-4">
                        <i class="fal fa-smile fa-4x mr-5 mb-2 mb-md-0 darkorange"></i>
                        <span>Level test is given to assess the English language proficiency for non-native speakers.</span>
                    </div>
                    <div class="d-flex-column d-md-flex-row align-items-center p-4">
                        <i class="fal fa-chart-line fa-4x mr-5 mb-2 mb-md-0 green"></i>
                        <span>Level test is also being done to indicate the level of the student in English and for the teacher to understand the student’s needs accurately so that the teacher can decide which class and references is right for the student.</span>
                    </div>
                    <div class="d-flex-column d-md-flex-row align-items-center p-4">
                        <i class="fal fa-users fa-4x mr-4 mb-2 mb-md-0 darkred"></i>
                        <span>Level test is usually the student’s first time to attend the class and this is the time that the student, together with the parent get their first impression whether the company has GOOD and COMPETENT teachers or NOT.</span>
                    </div>
                    <div class="d-flex-column d-md-flex-row align-items-center p-4">
                        <i class="fal fa-thumbs-up fa-4x mr-5 mb-2 mb-md-0 dodgerblue"></i>
                        <span>Teachers are expected to be at their best because once the student/parent observed that the company is really “THE BEST PLACE TO LEARN” then it gives our company a favor. We aim to make the student enroll in the company, and in effect, make the company more productive. In return, the company will also be able to contribute with the progress of numerous students with their English proficiency.</span>
                    </div>
                </div>
                <div class="border rounded-2 hide-effect mt-md-0 mt-5" *ngIf=" view == 1 ">
                    <div class="p-4 fs-110 text-center fw-bold bg-grey white">LEVEL TEST</div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">We strongly request all teacher
                        to follow this format.
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">It is considered a level test
                        class when the session has 0 point.
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">First 2 minutes: Say hello to
                        the student. Ask name, age, location, school.
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">After this, you will know how
                        the student speaks.
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">Then, tell the student that you
                        are going to conduct a simple English level test.
                    </div>
                </div>
                <div class="video-container  hide-effect" *ngIf=" view == 2 && urlYoutube">
                    <iframe class="youtube-video border-0 hide-effect" [src]=" urlYoutube "></iframe>
                </div>
                <div class="hide-effect border rounded-2 mt-md-0 mt-5" *ngIf=" view == 3 ">
                    <div class="p-4 fs-110 text-center fw-bold bg-grey white">REGULAR SESSIONS</div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">1. Say hello to Student for 2
                        minutes.
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">2.1. <span
                            class="fw-bold">Book</span> - Overview the last session or discuss about the book. (15
                        minutes)
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">2.2. <span class="fw-bold">Free Talking</span>
                        Overview the last session or talk about new topic. (15 minutes)
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">4. Correct the student mistakes
                        like words, expression, etc for 1 or 2 minutes.
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">5. Review/Recap for 1 or 2
                        minutes.
                    </div>
                    <div class="p-5 border border-bottom-0 border-left-0 border-right-0">6. Discuss about the next
                        class. What book will be used. Teacher may ask the student study the book in advance.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
