<header>
    <h1>Schedule Add</h1>
</header>
<main>

    <div class="timezone">
            <div>
                ({{ timezone_offset > 0 ? "+" + timezone_offset : timezone_offset }})
                {{ timezone_name }}
            </div>

            <div> {{ time }}</div>

            <button (click)="dismiss(); a.open('settings')">Update Timezone</button>

    </div> 

    <div class="promo-schedule">
        <span class="title">Promo Schedule Graded Teacher must have.</span>
        <div class="body">
            <div> 1 schedule with <b>10mins</b> duration for <b>500 points</b> and must be from <b>Mon-Fri</b></div>
            <div> 1 schedule with <b>20mins</b> duration for <b>1000 points</b> and must be from <b>Mon-Fri</b></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row inputs">

            <div class=" col-md-4 col-sm-12">
                <div class="start-time">

                    <div class="title">Start Time</div>

                    <div class="example"> 
                        Example:<br>
                        20:30 = 8:30pm<br>
                        11:30 = 11:30am<br>
                        12:30 = 12:30pm<br>
                    </div>
                    
                    <div class="entry">
                        <label>Hour</label>
                        <input placeholder="0-23" type="number" min="0" max="23"
                                name="class_begin_hour" [(ngModel)]="data.class_begin_hour">
                        <label>: Min</label>
                        <input autocomplete="on" placeholder="0-60" min="0" max="60"
                                type="number" name="class_begin_minute" [(ngModel)]="data.class_begin_minute">
                    </div>
            
                </div>
            </div>


            <div class="col-md-4 col-sm-12">

                <div class="duration">
                    <div class="title"> Duration</div>

                    <div class="example"> 
                        Example:<br>
                        120 = 120mins(2hrs)<br>
                        60 = 60mins(1hr)<br>
                        30 = 30mins<br>
                    </div>
                    
                    <div class="entry">
                        <label>Min</label>
                        <input placeholder="1-120" autocomplete="on" type="text" name="duration" [(ngModel)]="data.duration">
                    </div>
            
                </div>
        
            </div>

            <div class="col-md-4 col-sm-12">
                
                <div class="points">
                    <div class="title"> Points</div>

                    <div class="example"> 
                        Example:<br>
                        500 = 500 points<br>
                        1000 = 1000 points<br>
                        2000 = 2000 points<br>
                    </div>

                    <div class="entry">
                        <label>Points </label>
                        <input placeholder="0" autocomplete="on" type="text"
                        name="point" [(ngModel)]="data.point">
                    </div>
            
                </div>
                
            </div>

        </div>
    </div>

    <div class="container-fluid">
            <div class="row input-week">
                <div class="col">
                    <label>
                        <input type="checkbox" name="sunday" [(ngModel)]="data.sunday" (change)="allDays=false">
                        <span>Sun</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox" name="monday" [(ngModel)]="data.monday" (change)="allDays=false">
                        <span>Mon</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox" name="tuesday" [(ngModel)]="data.tuesday" (change)="allDays=false">
                        <span>Tue</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox" name="wednesday" [(ngModel)]="data.wednesday" (change)="allDays=false">
                        <span>Wed</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox" name="thursday" [(ngModel)]="data.thursday" (change)="allDays=false">
                        <span>Thu</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox" name="friday" [(ngModel)]="data.friday" (change)="allDays=false">
                        <span>Fri</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox" name="saturday" [(ngModel)]="data.saturday" (change)="allDays=false">
                        <span>Sat</span>
                    </label>
                </div>
                <div class="col">
                    <label>
                        <input type="checkbox" name="allDays"
                                [(ngModel)]="allDays" (click)="onClickAllDays()">
                        <span>All</span>
                    </label>
                </div>
            </div>
        </div>

        <div  class="popout-maxpoint"  *ngIf=" maxPoint()  ">
                You cannot raise more than {{ max_point_per_minute }} per minute.
                The point for {{ data['duration'] }} minutes class must be less than or equal to {{ data['duration'] *
                max_point_per_minute }}
            </div>
            
            
            <div class="popout-earn" *ngIf=" calculateEarning() ">
                You will earn
                {{ calculateEarning() }}
                in a month
                (
                {{ data.duration }} minutes /
                {{ countSelectedDays() * 4 }} days a month
                with
                <label><input type="radio" name="payment_method" [(ngModel)]="payment_method" value="paypal"> paypal</label> or
                <label><input type="radio" name="payment_method" [(ngModel)]="payment_method" value="western-union"> western union/gcash</label>
                )
        
                Approximately.
                @see Policy
        
            </div>

    <div class="pre-re">
        <div>
            <label>Pre-reserve</label>
            <input placeholder="Student Email" autocomplete="on" type="text" name="prere" [(ngModel)]="data.prere">
        </div>

        <div>
            You can make the schedule limited to specific student, by adding the student email here.
        </div>
    </div>



        <div class="submit-button">
            <button type="submit" (click)="onSubmit()">Submit</button>
        </div>


        <div class="loader" *ngIf=" showLoader ">
            <ion-spinner></ion-spinner> Loading... Please Wait...
        </div>
</main>
