<header>
    <h1>Schedule Add</h1>
</header>
<main>
    <section class="content">


        <div>
            <div>
                <div>Promo Schedule Graded Teacher must have.</div>
                <ul>
                    <li><b class="darkorange"> 1 schedule</b> with <b class="darkorange">10mins</b>
                        duration for <b class="darkorange">500 points</b> and must be from <b
                                class="darkorange">Mon-Fri</b></li>
                    <li><b class="darkorange"> 1 schedule</b> with <b class="darkorange">20mins</b>
                        duration for <b class="darkorange">1000 points</b> and must be from <b class="darkorange">Mon-Fri</b>
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>
                            ({{ timezone_offset > 0 ? "+" + timezone_offset : timezone_offset }})
                            {{ timezone_name }}
                        </div>
                    </div>
                    <div class="col">
                        <div> {{ time }}</div>
                    </div>
                    <div class="col">
                        <button (click)="dismiss(); a.open('settings')">Update Timezone</button>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>Start Time</div>
                    </div>
                    <div class="col">
                        <label>
                            <span>Hour</span>
                            <input placeholder="0-23"
                                   type="number" min="0" max="23" name="class_begin_hour"
                                   [(ngModel)]="data.class_begin_hour">
                            <span>:</span>
                            <span> Min</span>
                            <input autocomplete="on"
                                   placeholder="0-60" min="0" max="60" type="number" name="class_begin_minute"
                                   [(ngModel)]="data.class_begin_minute">
                        </label>
                    </div>
                    <div class="col">
                        <div> Ex) 20:30=8:30pm, 11:30= 11:30am</div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div> Duration</div>
                    </div>
                    <div class="col">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <input autocomplete="on" type="text"
                                           name="duration" [(ngModel)]="data.duration">
                                </div>
                                <div class="col">
                                    <div>Min
                                        <span class="d-inline d-md-none">(Duration)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>Ex) 120=120mins(2hrs)</div>
                    </div>
                </div>
            </div>

            <!--<ion-grid no-padding>-->
                <!--<ion-row class="form-effect pt-2 pb-3 pb-md-2" align-items-center>-->
                    <!--<ion-col class="d-none d-md-block" col-md-4>-->
                        <!--<div> Points</div>-->
                    <!--</ion-col>-->
                    <!--<ion-col col-md-5 col-8>-->
                        <!--<ion-grid no-padding>-->
                            <!--<ion-row class="pr-md-5 pr-3" align-items-center>-->
                                <!--<ion-col col-md-7 push-md-5>-->
                                    <!--<input class="focus-effect  p-2 w-100 rounded-2" autocomplete="on" type="text"-->
                                           <!--name="point" [(ngModel)]="data.point">-->
                                <!--</ion-col>-->
                                <!--<ion-col col-md-5 pull-md-7>-->
                                    <!--<div class="ml-3 ml-md-0 h-100">-->
                                        <!--<span class="d-block d-md-none ">Quantity<span class="d-inline d-md-none">(Points)</span></span>-->
                                        <!--<span class="d-none d-md-block">Quantity</span>-->
                                    <!--</div>-->
                                <!--</ion-col>-->
                            <!--</ion-row>-->
                        <!--</ion-grid>-->
                    <!--</ion-col>-->
                    <!--<ion-col col-md-3 col-4>-->
                        <!--<div class="fs-lg"> Ex) 500,1000,2000 ...</div>-->
                    <!--</ion-col>-->
                <!--</ion-row>-->
            <!--</ion-grid>-->

            <!--<div class="alert alert-warning m-0 py-1 px-2" *ngIf=" maxPoint() ">-->
                <!--You cannot raise more than {{ max_point_per_minute }} per minute.-->
                <!--The point for {{ data['duration'] }} minutes class must be less than or equal to {{ data['duration'] *-->
                <!--max_point_per_minute }}-->
            <!--</div>-->


            <!--<div class="alert alert-info m-0 py-1 px-2" *ngIf=" calculateEarning() ">-->
                <!--You will earn-->
                <!--{{ calculateEarning() }}-->
                <!--in a month-->
                <!--(-->
                <!--{{ data.duration }} minutes /-->
                <!--{{ countSelectedDays() * 4 }} days a month-->
                <!--with-->
                <!--<input type="radio" name="payment_method" [(ngModel)]="payment_method" value="paypal"> paypal or-->
                <!--<input type="radio" name="payment_method" [(ngModel)]="payment_method" value="western-union"> western-->
                <!--union/gcash-->
                <!--)-->

                <!--Approximately.-->
                <!--@see Policy-->

            <!--</div>-->

            <!--<ion-grid no-padding>-->
                <!--<ion-row class="form-effect" align-items-center>-->
                    <!--<ion-col col-12 col-md-6 text-center>-->
                        <!--<div class="d-flex-column align-items-center justify-content-center h-100">-->
                            <!--<input class="focus-effect  mt-2 mb-0 p-2 rounded-2" autocomplete="on" type="text"-->
                                   <!--name="prere" [(ngModel)]="data.prere">-->
                            <!--<label class="label-first">Student Email</label>-->
                        <!--</div>-->
                    <!--</ion-col>-->
                    <!--<ion-col col-12 col-md-6>-->
                        <!--<div class=" d-flex align-items-center justify-content-center  pl-3 py-0 pr-0  mt-2 mt-md-0 h-100 darkorange"-->
                             <!--text-center text-md-left>-->
                            <!--You can make the schedule limited to specific student, by adding the student email here.-->
                        <!--</div>-->
                    <!--</ion-col>-->
                <!--</ion-row>-->
            <!--</ion-grid>-->


            <!--<ion-grid no-padding>-->
                <!--<ion-row justify-content-between text-center>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class=" checkbox-effect position-absolute opacity-0" type="checkbox" name="sunday"-->
                                   <!--[(ngModel)]="data.sunday" (change)="allDays=false">-->
                            <!--<div class="pointer mr-1 py-2 px-3 border">Sun</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class=" checkbox-effect position-absolute opacity-0" type="checkbox" name="monday"-->
                                   <!--[(ngModel)]="data.monday" (change)="allDays=false">-->
                            <!--<div class="pointer mx-1 px-3  py-2  border">Mon</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class="checkbox-effect position-absolute opacity-0" type="checkbox" name="tuesday"-->
                                   <!--[(ngModel)]="data.tuesday" (change)="allDays=false">-->
                            <!--<div class="pointer mx-1 py-2 px-3 border">Tue</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class=" checkbox-effect position-absolute opacity-0" type="checkbox" name="wednesday"-->
                                   <!--[(ngModel)]="data.wednesday" (change)="allDays=false">-->
                            <!--<div class="pointer mx-1 py-2 px-3 border">Wed</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class="checkbox-effect position-absolute opacity-0" type="checkbox" name="thursday"-->
                                   <!--[(ngModel)]="data.thursday" (change)="allDays=false">-->
                            <!--<div class=" pointer  mx-1  py-2 px-3 border">Thu</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class="checkbox-effect position-absolute opacity-0" type="checkbox" name="friday"-->
                                   <!--[(ngModel)]="data.friday" (change)="allDays=false">-->
                            <!--<div class=" pointer  mx-1  py-2 px-3 border">Fri</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class="position-absolute opacity-0 checkbox-effect" type="checkbox" name="saturday"-->
                                   <!--[(ngModel)]="data.saturday" (change)="allDays=false">-->
                            <!--<div class=" pointer  mx-1  py-2 px-3 border">Sat</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                    <!--<ion-col class="mt-3 mt-md-0">-->
                        <!--<label>-->
                            <!--<input class="position-absolute opacity-0 checkbox-effect" type="checkbox" name="allDays"-->
                                   <!--[(ngModel)]="allDays" (click)="onClickAllDays()">-->
                            <!--<div class=" pointer ml-1 py-2 px-3 border">All</div>-->
                        <!--</label>-->
                    <!--</ion-col>-->
                <!--</ion-row>-->
            <!--</ion-grid>-->
            <!--<div text-center>-->
                <!--<button class="px-5 py-4" small outline ion-button type="submit" (click)="onSubmit()">Submit</button>-->
            <!--</div>-->

        </div>

        <div class="loader" *ngIf=" showLoader ">
            <ion-spinner></ion-spinner> Loading... Please Wait...
        </div>


    </section>
</main>
<footer>

</footer>