@import '../../../../../theme/vars';
aside {
    padding:.5em 1em;
    display: block;
    width: 100%;
    background-color: antiquewhite;
    font-size: .75rem;

    #login-info{
        display: flex;
        justify-content: center;
        margin-top: .5em;
        padding: .5em 1em;
        background: #fff;
    }

    h2 {
        margin: 0;
        padding: .75em .2em;
        font-size: .9rem;
        font-weight: bold;
    }
    .link{
        display: flex;
        align-items: center;
        &:hover{
            font-weight: normal;
        }
        svg{
            height: 1em;
            width: 1em;
        }
    }
    .aside-table{
        width: 100%;
        border-collapse: collapse;
        font-size: 1em;
        text-align: center;
        white-space: nowrap;
        td,th{
            padding: .25em .3em;
        }
        th{
            text-align: center!important;
            border-bottom: 1px solid rgba(125,125,125,0.3);
        }
        svg{
            margin-right: .3em;
        }
        .link{
            display: flex;
            align-items: center;
            span:first-child{
                width: 35%;
                text-align: right;
            }
            span:last-child{
                display: inline-block;
                width: 65%;
                text-align: left;
                text-transform: lowercase;
            }
        }
    }


    #payment-info{
        .payment-info-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .total-points{
                padding: .3em;
                background: #fff;
                font-size: .9em;
            }
        }
        .aside-table{
            padding-top: 1em;
            table-layout: fixed!important;
            border-radius: 5px;
            @media (min-width:$md) {
                table-layout: auto!important;
            }
            td,
            th{
                &:nth-child(odd){
                    background: #fff;
                }
                &:nth-child(even){
                    background:  #eee;
                }
            }
            th{
                padding-top: .7em;
            }
            tr:last-child{
                td{
                    padding-bottom: .7em;
                }
            }
        }
    }
    #refund-request{
        h2{
            &.red {
                color: #FF4900;
            }
        }
        .aside-table{
            table-layout: fixed!important;
            @media (min-width:$md) {
                table-layout: auto!important;
            }
        }
    }
    #refund-request,
    #payment-info{
        .aside-table{
            td,
            th{
                &:nth-child(odd){
                    background: #fff;
                }
                &:nth-child(even){
                    background:  #eee;
                }
            }
            th{
                padding-top: .7em;
            }
            tr:last-child{
                td{
                    padding-bottom: .7em;
                }
            }
            tbody{
                tr:first-child{
                    td{
                        padding-top: .7em;
                    }
                }
            }
        }
    }
    #reservation-stat{
        .top-info{
            display: flex;
            justify-content: space-between;

            &>div{
                width: 49%;
                background: #fff;
                span:first-child{
                    font-weight: bold;
                }
                span{
                    display: inline-block;
                    padding: .75em
                }
            }
        }
        .bottom-info{
            margin-top: .7em;
            &>div{
                width: 100%;
                background: #fff;
            }
            &>div:first-child{
                padding: .75em;
                font-weight: bold;
            }
            &>div:last-child{
                display: flex;
                justify-content: space-around;
                text-align: center;
                flex-direction: column;
                padding-bottom: .75em;

                .session {
                    margin: .2em 0;
                    .grade {
                        display: inline-block;
                        padding: .4em .7em;
                        width: 18%;
                        border-radius: 2px;
                        background-color: black;
                        color: white;
                    }
                    .reserved {
                        display: inline-block;
                        padding: .4em .7em;
                        width: 43%;
                        background-color: burlywood;
                    }
                    .past {
                        display: inline-block;
                        padding: .4em .7em;
                        width: 33%;
                        background-color: #eee;
                    }
                }
            }
        }
        .teacher-sessions {
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            padding: 1em 0;
            font-size: .9em;
            .teacher {
                display: flex;
                align-items: center;
                flex: 0 0 33.33%;
                max-width: 33.33%;
                padding: 1em .5em .4em .5em;
            }
            .name {
                width: 62px;
                padding: .35em .25em;
                border-radius: 2px;
                background-color: white;
            }
            .reserved {
                margin-right: .15em;
                padding: .35em .25em;
                width: 30px;
                border-radius: 2px;
                background-color: rgb(97, 65, 65);
                color: white;
                text-align: right;
            }
            .past{
                margin-left: .1em;
            }
            svg{
                margin-right: .3em;
                margin-left: .3em;
            }
            .link{
                display: flex;
                align-items: center;
                justify-content: start;
                text-decoration: none!important;
            }
        }
    }
    #session-ongoing{
        font-size: 1.1em;
        .uncheckSession {
            font-weight: bold;
        }
        .timezone{
            font-size: 1.1em;
            padding: .5em .2em;
        }
        .aside-table{
            td{
                font-size: .9em;
            }
            th{
                border: 0;
            }
        }
    }
}