<aside>
    
    <section id="payment-info">
        <h2 class="payment-info-header">
            <span>Payment Information</span>
            <span class="total-points">
                <span *ngIf="pointThisMonth">{{currentMonth}}: {{a.shortNumber(pointThisMonth)}}</span>
                Today: {{ a.shortNumber(pointToday) }}
            </span>
        </h2>
        <table class="aside-table">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Points</th>
                    <th>Date Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of payments">
                    <td>
                        <div class='link' routerLink="/manager/user-info/{{payment.student?.idx}}">
                            <span>
                                <svg viewBox="0 0 576 512">
                                    <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                                </svg>
                            </span>
                            <span>{{ a.shortName(payment.student?.display_name) }}</span>
                        </div>
                    </td>
                    <td>
                        {{ payment.point | number }}
                    </td>
                    <td>
                        {{ a.veryShortDate( payment.stamp_begin ) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>


    <section id="refund-request"  *ngIf="refundRequests.length">
        <h2 [ngClass]="{'red': refundRequests.length }">Refund Request. Your timezone.</h2>
        <table class="aside-table">
            <thead>
                <tr>
                    <th>Session ID</th>
                    <th>Teacher</th>
                    <th>Student</th>
                    <th>Date Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let re of refundRequests ">
                    <td>
                        <a class="link" routerLink="/manager/point-refund/idx/{{re.idx}}">
                            <span>
                                <svg viewBox="0 0 576 512">
                                    <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                                </svg>
                            </span>
                            <span>{{re.idx}}</span>
                        </a>
                    </td>
                    <td>
                        <a class='link' routerLink="/manager/user-info/{{re.teacher?.idx}}">
                            <span>
                                <svg viewBox="0 0 576 512">
                                    <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                                </svg>
                            </span>
                            <span>{{ re.teacher?.display_name }}</span>
                        </a>
                    </td>
                    <td>
                        <a class='link' routerLink="/manager/user-info/{{re.student?.idx}}">
                            <span>
                                <svg viewBox="0 0 576 512">
                                    <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                                </svg>
                            </span>
                            <span>{{ a.shortName( re.student?.display_name,7 ) }}</span>
                        </a>
                    </td>
                    <td>{{ re.date }} {{ re.class_begin }}</td>
                </tr>
            </tbody>
        </table>        
    </section>


    <section id="reservation-stat" *ngIf="stats">
        <h2>Reservation Stat</h2>
        <div class="top-info">
            <div>
                <span> No. of Reservation:</span>
                <span>{{ stats['no_of_reservation'] }} </span>
            </div>
            <div>
                <span> No. of Past: </span>
                <span>{{ stats['no_of_past'] }}</span>
            </div>
        </div>
        <div class="bottom-info">
            <div> No. of Sessions by Grade:</div>
            <div>
                <span class='session'>
                    <span class='grade'>Grade: 1</span>
                    <span class='reserved'>Reservations: {{ stats['stat']['reserved']['1'] }}</span>
                    <span class='past'>Pasts: {{ stats['stat']['past']['1'] }}</span>
                </span>
                <span class='session'>
                        <span class='grade'>Grade: 2</span>
                        <span class='reserved'>Reservations: {{ stats['stat']['reserved']['2'] }}</span>
                        <span class='past'>Pasts: {{ stats['stat']['past']['2'] }}</span>
                </span>
                <span class='session'>
                        <span class='grade'>Grade: 3</span>
                        <span class='reserved'>Reservations: {{ stats['stat']['reserved']['3'] }}</span>
                        <span class='past'>Pasts: {{ stats['stat']['past']['3'] }}</span>
                </span>
                <span class='session'>
                        <span class='grade'>Grade: 4</span>
                        <span class='reserved'>Reservations: {{ stats['stat']['reserved']['4'] }}</span>
                        <span class='past'>Pasts: {{ stats['stat']['past']['4'] }}</span>
                </span>
            </div>
        </div>
        <div class="teacher-sessions">
            <!-- {{ stats.teachers | json }} -->
            <span class='teacher'  matTooltip="{{teacher.name}}" *ngFor="let teacher of stats.teachers">
                    <a class="link name" routerLink="/manager/user-info/{{ teacher.idx }}">
                        
                        <span>
                            <svg viewBox="0 0 576 512">
                                <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                            </svg>
                        </span>
                        <span>{{ a.shortName(teacher.name, 6) }}</span>
                    </a>
                    <span class="reserved">{{ teacher.reserved }}</span>
                    <span class="past">{{ teacher.past }}</span>
                </span>
        </div>
    </section>
    

    <section id="session-ongoing">
        <h2>Sessions ongoing</h2>
        <div class="timezone"> Timezone: {{ a.userTime }}</div>
        <!--<audio autoplay>-->
            <!--<source src='../../../../../assets/sound/chick.mp3' type='audio/mpeg'>-->
        <!--</audio>-->
        <table class="aside-table" *ngIf=" sessions.length ">
            <tr>
                <th>idx</th>
                <th>Teacher</th>
                <th>Student</th>
                <th>Date</th>
                <th>Begin</th>
                <th>Point</th>
                <th>Chk</th>
            </tr>
            <tr *ngFor="let session of sessions">
                <td>
                    <a class='link' routerLink="/manager/session-edit/{{session.idx}}">
                        <svg viewBox="0 0 576 512">
                            <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                        </svg>
                        {{ session.idx }}
                    </a>
                </td>
                <td>
                    <a class='link' matTooltip="{{ session.teacher?.display_name }}" routerLink="/manager/user-info/{{session.teacher?.idx}}">
                        <span>
                            <svg viewBox="0 0 576 512">
                                <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                            </svg>
                        </span>
                        <span class="lowercase">{{ a.shortName(session.teacher?.display_name,8) }}</span>
                    </a>
                </td>
                <td>
                    <a class='link' matTooltip="{{ session.student?.display_name }}" routerLink="/manager/user-info/{{session.student?.idx}}">
                        <span>
                            <svg viewBox="0 0 576 512">
                                <path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                            </svg>
                        </span>
                        <span class="lowercase">{{ a.shortName(session.student?.display_name,8) }}</span>
                    </a>
                </td>
                <td>{{ (session.date).substr(4,4) }}</td>
                <td>{{ session.class_begin }}</td>
                <td>{{ session.point }}</td>
                <td>
                    <button (click)="checkSession(session)" *ngIf="session.stamp_checked == 0; else stampChecked">N</button>
                    <ng-template #stampChecked>Y</ng-template>
                </td>
            </tr>
        </table>
    </section>
    

    <ul>
        <li>
            When there is only one user found by `quick user search`, then it automatically transfers to
            '/manager/user-info'.
        </li>
    </ul>
</aside>