aside {
    padding:.5em 1em;
    display: block;
    width: 100%;
    background-color: antiquewhite;
    font-size: .8rem;

    .payment-info-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .total-points{
            padding: .4em;
            background: #fff;
            font-size: .9em;
        }
    }
    svg{
        height: 1em;
        width: 1em;
    }

    .link,
    .open-button{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            margin-left: .3em
        }

        &:hover{
            font-weight: normal;
        }
    }

    .open-button{
        padding: .4em .2em;
        border-radius: 2px;
        background: #c9baa5;
        font-size: .85em;
    }


    h2 {
        margin: 0;
        padding: .75em .2em;
        font-size: .9rem;
        font-weight: bold;
    }
    .timezone{
        font-size: 1.1em;
        padding: .5em .2em;
    }
    .aside-table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        td,th{
            padding: .25em .3em;
            // border: 1px solid #000;
        }
    }
    .teacher-sessions {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        padding: 1em 0;
        .teacher {
            display: flex;
            align-items: center;
            margin: 1em .5em .4em .5em;
        }
        .name {
            padding: .25em;
            border-radius: 2px;
            background-color: white;
        }
        .reserved {
            margin-right: .15em;
            padding: .25em;
            border-radius: 2px;
            background-color: rgb(97, 65, 65);
            color: white;
        }

        .past{
            margin-left: .1em;
        }

        .link{
            text-decoration: none!important;
        }
    }
    .user-info-button {
        margin: 0;
        padding: 2px;
        border: 0;
        border-radius: 50%;
        background-color: #ececec;
        color: #949494;
        font-size: 8pt;
        cursor: pointer;
    }

    .stat{
        .top-info{
            display: flex;
            justify-content: space-between;

            &>div{
                width: 49%;
                background: #fff;
                span:first-child{
                    font-weight: bold;
                }
                span{
                    display: inline-block;
                    padding: .75em
                }
            }
        }
        .bottom-info{
            margin-top: .7em;
            &>div{
                width: 100%;
                background: #fff;
            }
            &>div:first-child{
                padding: .75em;
                font-weight: bold;
            }
            &>div:last-child{
                display: flex;
                justify-content: space-around;
                text-align: center;
                flex-direction: column;
                padding-bottom: .75em;
            }

            .session {
                margin: .2em 0;
                .grade {
                    display: inline-block;
                    padding: .4em .7em;
                    border-radius: 2px;
                    background-color: black;
                    color: white;
                }
                .reserved {
                    padding: .4em .7em;
                    background-color: burlywood;
                }
                .past {
                    padding: .4em .7em;
                    background-color: #eee;
                }
            }
        }
    }
}