@import './../../../theme/vars';
main {
    padding-bottom: 5em;
    background: #fff;
}

.loader {
    text-align: center;
    margin: 2em 0;
}

.select-amount {
    padding: 2em;
    padding-top: 5em;
    .title {
        color: blue;
    }
    @media screen and (max-width:544px) {
        padding-top: 2.5em;
    }
    .desc {
        margin: 0;
        padding: 0;
        background-color: white;
    }
}

.amounts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    background-color: #1862c5;
    color: white;
    font-size: 85%;
    &>div {
        display: flex;
        align-items: center;
        margin: 0 .2em;
    }
    input {
        cursor: pointer;
    }
    label {
        padding-left: .3em;
        cursor: pointer;
    }
    @media screen and (max-width:544px) {
        padding: 2em .5em;
        .hidden {
            display: none;
        }
    }
}

.manual-amount-input {
    text-align: center;
    cursor: pointer;
    .header {
        margin: 2em auto;
        @media (min-width: $md) {
            margin-top: 4em;
        }
    }
    .header,
    .cancel-button {
        color: #8b0000 !important;
    }
    input {
        padding: .7em 1em;
        margin: 0 .5em;
    }
}

.login-first {
    margin-top: 4em;
    text-align: center;
}

.paypal-ready {
    padding: 4em;
    text-align: center;
    .spinner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        mat-spinner {
            margin-bottom: .5em;
        }
    }
}

.paypal-payment {
    visibility: hidden;
    height: 10px;
    overflow: hidden;
    
    .title{
        color: blue;
        padding: 1em;
        @media (min-width:$md) {
            padding: 1em 2em;
        }
    }
    .paypal-button{
        padding: 0 .5em;
    }
    .vat{
        margin: .5em; 
        margin-bottom: 1em; 
        @media (min-width:$md) {
            margin: 2em 1.5em;
            margin-top: 1em;   
        }
        color: darkred;
    }
    &.selected {
        visibility: visible;
        height: auto;
        overflow: auto;
    }
    .paypal-desc{
        margin:1em .8em;
        @media (min-width:$md){
            margin: 1em 1.5em;   
        }
    }
}

.app-button {
    padding: .3em 1em;
}

.change-point{
    text-align: center;
    font-size: .9em;

}

.desc {
    padding: 1em;
    background-color: #d9dde8;
    font-size: 85%;
    &>div {
        padding: 0 1em;
        padding-top: 1em;
        padding-bottom: .5em;
    }
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-spinner {
        margin: .5em;
    }
}

.warning {
    padding: 4em 1.6em;
    background-color: #970303;
    color: white;
}

.select-payment-method {
    padding: 1.6em;
    padding-top: 2em;
    @media (min-width:$md) {
        padding-top: 4em; 
    }
    border-bottom:  1px solid rgba(125,125,125,0.2);

    .title{
        margin-bottom: 1.1em;
        padding: 0 .5em;
        color: blue;
        font-size: 1em;
        font-weight: 200;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        @media (min-width:$md) {
            flex-direction: row;
            margin-top: .5em;
        }
        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            margin-top: 1em;
            @media (min-width:$md) {
                margin: 0 2em;
            }
            padding: 1.5em 4.5em;
            border: 0;
            border-radius: 2px;
            font-size: 1em;
            &.bank {
                background-color: rgba(#FFFF00,0.8);
            }
            &.paypal {
                background-color: rgba(#FFD300,0.8);
            }
        }

        svg{
            height: 2.5em;
            width:2.5em;
            margin-right: .5em;
        }
    }
}

.select-bank {
    @media (min-width:$md) {
        padding: 0 1em;
    }
    .title {
        margin: .5em 0;
        padding: .6em 1em;
        @media ( min-width:$md ) {
            padding: .6em 1em;
        }
        font-size: 1em; 
        font-weight: 200;
        color: blue;
    }
    .buttons {
        display: flex;
        margin: 1em;
        @media (min-width:$md) {
            margin: 0;
            margin-bottom: 2em;
        }
        .country {
            padding: .5em;
            @media (min-width:$md) {
                padding: 1em 2em;
                margin: 0 1em;
            }
            width: 33.33%;
            cursor: pointer;
            &.korea {
                background-color: rgba(#C6C600,0.5);
            }
            &.china {
                background-color: rgba(#FFD300,0.5);
            }
            &.japan {
                background-color: rgba(#8E01DC,0.5);
            }
        }
        .country-name {
            font-size: .8em;
        }
        .bank-name {
            font-size: 1.1em;
        }
    }
}

footer.payment-footer {
    margin-top: 1em;
    padding: 0 1em;
    @media (min-width: $md) { padding: 0; }
    font-size: 1em;
    font-weight: 200;
    line-height: 1.6em;
    .refund-policy {
        padding: 1em;
        @media (min-width:$md) {
            padding: 1em 2em;
        }
        background-color: #e1eeff;
    }
    .help {
        margin-top: 1em;
        padding: 0;
        @media (min-width:$md) {
            padding-left: 2em;
        }
        .app-button {
            display: block;
            background: darkorange;
            color: #fff;
            @media (min-width:$md) {
                margin-top: 1em;
                display: inline-block;
            }
            margin: 0;
        }
    }
}

.change-point {
    font-size: .85em;
    cursor: pointer;
}



.banks {
    .bottom-buttons {
        padding: .6em 1.6em;
        background-color: white;
        font-size: .85em;
        button {
            border: 0;
        }
    }
}



.korean-bank {
    font-size: .85em;
    line-height: 150%;
    @media (min-width:$md) {
        margin: 1em;
        font-size: 1em;
    }
    .korean-bank-title {
        margin: .5em 1em;
        @media (min-width:$md) {
            margin: 1em;
            font-size: 1.1em;
        }
        color: blue
    }
    .wooribank-name{
        color: darkblue;
        margin-bottom: 1em;
        font-weight: bold
    }
    .container-fluid{
        border: 1px solid rgba(125,125,125,0.2);
        .row{
            border-bottom: 1px solid rgba(125,125,125,0.2);
            &:last-child{
                border-bottom: 0;
            }
            .col{
                padding: .5em 1em;
                &:first-child{
                    border-right: 1px solid rgba(125,125,125,0.2)
                }
            }
        }
    }
}


.bank-transaction-information {
    padding: 1.6em 1em;
}
.exchange-vat-desc, 
.leave-a-message-after-deposit {
    padding: 1em;
    background-color: #fff3cd;
    color: #856404;
    font-size: .85em;
}

.leave-a-message-after-deposit{
    margin: 1em;
}

.exchange-vat-desc{
    margin: 1em 1.3em;
    @media (min-width:$md) {
        margin: 1em;
    }
}