<section>
    <div class="title">Activity Log</div>
    <div class="px-4" *ngIf="a.activity_log && a.activity_log.length">
        <div class="m-0 py-3 text-wrap" *ngFor="let a of a.activity_log">
            <div class="container-fluid my-0-2em pl-2">
                <div class="align-items-center">
                    <div class="col-10 d-flex align-items-center font-em-0-75">
                        <div class="d-flex align-items-center">
                            <span>
                                <span class="fw-bold">{{a.name ? a.name : 'Guest'}}</span>
                                {{ actv[a.activity] }}
                                <span *ngIf="a.target">{{a.target}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center pl-2">
                        <i class="fs-2rem fal fa-sign-in-alt" ion-text color="blue" *ngIf="a.activity=='login'"></i>
                        <i class="fs-2rem fal fa-eye" ion-text color="grey" *ngIf="a.activity=='visit'"></i>
                        <i class="fs-2rem fal fa-list-alt" ion-text color="brown"
                           *ngIf="a.activity=='open-register'"></i>
                        <i class="fs-2rem fal fa-registered" ion-text color="pink" *ngIf="a.activity=='register'"></i>
                        <i class="fs-2rem fal fa-eye" ion-text color="orange" *ngIf="a.activity=='view-profile'"></i>
                        <i class="fs-2rem fal fa-edit" ion-text color="amber" *ngIf="a.activity=='update-profile'"></i>
                        <i class="fs-2rem fal fa-calendar-check" ion-text color="yellow"
                           *ngIf="a.activity=='reserve'"></i>
                        <i class="fs-2rem fal fa-ban" ion-text color="red" *ngIf="a.activity=='cancel'"></i>
                        <i class="fs-2rem fal fa-money-bill" ion-text color="green" *ngIf="a.activity=='payment'"></i>
                        <i class="fs-2rem fal fa-tasks" ion-text color="purple" *ngIf="a.activity=='evaluate'"></i>
                        <i class="fs-2rem fal fa-comment-alt" ion-text color="indigo" *ngIf="a.activity=='comment'"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
