@import '../../../../../theme/vars.scss';
section {
    @media screen and (max-width: $sm) {
        margin-top:1.4em;
    }
    background: rgba(255, 255, 255, .3);
    outline: 1px solid rgba(125,125,125,0.1);
    font-size: 80%;
    .title {
        padding: .74em;
        background: rgba(112, 112, 112, .6);
        text-align: center;
        color: #fff;
    }

    .body{
        height: 191px;
        padding:.8em;
        font-size: 95%;
        overflow: auto;
        .row{
            align-items: center;
            padding: 0;
            &>div {
                padding: 0;
            }
            .entry {
                padding: .9em;
                padding-right: 0;
                word-wrap: break-word;
            }
            .fontawesome {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
    }
    svg {
        height: 1.4em;
    }
    .sign-in-alt {
        color: dodgerblue
    }
    .eye {
        color: grey
    }
    .list-alt {
        color: brown
    }
    .registered {
        color: darkred
    }
    .eye-orange {
        color: orange
    }
    .edit {
        color: amber
    }
    .calendar-check {
        color: #ffd600
    }
    .ban {
        color: red
    }
    .money-bill {
        color: green
    }
    .tasks {
        color: purple
    }
    .comment-alt {
        color: indigo
    }
}