section {
  height: 100%;
  background: #fff;
  outline: 1px solid #e9ecef;
  font-size: 90%;
  .title {
    padding: .7em;
    background: rgba(112, 112, 112, .6);
    text-align: center;
    color: #fff;
  }

  .icon {
    svg {
      height: 1em;
    }
  }
}