<h2>Domain</h2>
{{ branch.domain }} <button (click)=" show.domain_change_application = true ">Apply for Domain Change</button>
<div *ngIf=" branch.domain_change_application ">
Your application of domain change to 
<b>{{ branch.domain_change_application }}</b> is under review.

If you want to cancel change your domain please click the button below.
<div><button (click)=" onClickCancelDomainChangeApplication() ">Cancel domain change application</button></div>
</div>
<form (ngSubmit)="onSubmitDomainChangeApplication()" *ngIf=" show.domain_change_application ">
    Input new domain:
    <input type="text" name="domain_change_application" [(ngModel)]="domain_change_application">
    <button type="submit">Submit</button>
</form>

<h2>Branch Informations</h2>

<div>
    Company Name: {{ branch.company_name }}
</div>
<div>
    Manger Name: {{ branch.manager_name }}
</div>

<div>
    Manger Email: {{ branch.manager_email }}
</div>

<div>
    Manger Pone: {{ branch.manager_phone }}
</div>

<button>Update Branch Information</button>



<h2>Reminder Popup</h2>
None

<button>Update Reminder Popup</button>
