<h2>Domain</h2>

{{ branch.domain }} <button (click)=" show.domain_change_application = true ">Apply for Domain Change</button>
<div *ngIf=" branch.domain_change_application ">
Your application of domain change to 
<b>{{ branch.domain_change_application }}</b> is under review.

If you want to cancel change your domain please click the button below.
<div><button (click)=" onClickCancelDomainChangeApplication() ">Cancel domain change application</button></div>
</div>
<form (ngSubmit)="onSubmitDomainChangeApplication()" *ngIf=" show.domain_change_application ">
    Input new domain:
    <input type="text" name="domain_change_application" [(ngModel)]="domain_change_application">
    <button type="submit">Submit</button>
</form>

<h2>Branch Informations</h2>
<form (ngSubmit)=" onSubmitBranchInformation() " *ngIf=" branch ">
<div>
    Branch Domain: {{ branch.domain }}
</div>
<div>
    Branch Owner: {{ branch.owner?.name }} Email: {{ branch.owner?.email }}
</div>
<div>
    Company Name: <input type="text" name="company_name" [(ngModel)]=" branch.company_name ">
</div>
<div>
    Company Phone: <input type="text" name="company_phone" [(ngModel)]=" branch.company_phone ">
</div>
<div>
    Company Email: <input type="text" name="company_email" [(ngModel)]=" branch.company_email ">
</div>
<div>
    Company Address: <input type="text" name="company_address" [(ngModel)]=" branch.company_address ">
</div>
<div>
    {{ a.ln['COMPANY BUSINESS REGISTRATION NO'] }}
    <input type="text" name="company_business_registration_no" [(ngModel)]=" branch.company_business_registration_no ">
</div>
<div>
        {{ a.ln['COMPANY BUSINESS REGISTRATION OTHER NO'] }}
    <input type="text" name="company_business_registration_other_no" [(ngModel)]=" branch.company_business_registration_other_no ">
</div>
<div>
    Manger Name: <input type="text" name="manager_name" [(ngModel)]=" branch.manager_name ">
</div>

<div>
    Manger Email: <input type="text" name="manager_email" [(ngModel)]=" branch.manager_email ">
</div>

<div>
    Manger Pone: <input type="text" name="manager_phone" [(ngModel)]=" branch.manager_phone ">
</div>

<button type="submit">Update Branch Information</button>
</form>


<h2>Reminder Popup</h2>
None

<button>Update Reminder Popup</button>
