<h2>Settings</h2>

<div class="push-notif-form" *ngIf="a.isSuperManager">
    <div>
        <h2>Class push notification</h2>
        <form (ngSubmit)="onSubmitPushNotificatioTime($event)">
            <input type="text" name="classPushNotification" [(ngModel)]="form.classPushNotification"> 
            <label>Minutes ( Put 5 for 5 minutes )</label>
            <button type="submit" *ngIf=" ! loader.save ">Submit</button>
            <div class="loader" *ngIf=" loader.save ">Saving...</div>
        </form>
        <div class="note">
            Input number only. If empty or 0, then it will not send push notification. It must be less than or equal to 1439 ( which is 24 hours. )
        </div>
    </div>
    <div class="loader" *ngIf=" loader.get ">
        <div class="loader" *ngIf=" loader.branchUpdate ">
            <mat-spinner [diameter]="48"></mat-spinner>
            Updating push notification interval
        </div>
    </div>
</div>


<ng-container *ngIf=" !a.isSuperManager ">
    <h2>Domain Information</h2>
    <div class="current-info">
    <span>
        <span>Branch Domain</span><span>{{ branch.domain }}</span>
    </span>
        <span>
        <span>Branch Owner</span><span>{{ branch?.manager_name }}</span>
    </span>
        <span>
        <span>Email</span><span>{{ branch?.manager_email }}</span>
    </span>
    </div>

    <div class="domain-change">
        <div class="form">
            <!-- <div>{{ branch.domain }}</div> -->
            <form (ngSubmit)="onSubmitDomainChangeApplication()" *ngIf=" show.domain_change_application ">
                <label>Input new domain:</label>
                <input type="text" name="domain_change_application" [(ngModel)]="domain_change_application">
                <button class="app-button" type="submit">Submit</button>
            </form>
            <button class="app-button" (click)=" show.domain_change_application = true "
                    *ngIf=" !show.domain_change_application ">
                Apply for Domain Change
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                          d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM32 80c0-8.8 7.2-16 16-16h48v64H32V80zm448 352c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V160h448v272zm0-304H128V64h336c8.8 0 16 7.2 16 16v48z"></path>
                </svg>
            </button>
        </div>
        <div class="notice" *ngIf=" branch.domain_change_application ">
            Your application of domain change to
            <b>{{ branch.domain_change_application }}</b> is under review. If you want to cancel change your domain
            please click the
            button below.
            <div class="cancel-button">
                <button (click)=" onClickCancelDomainChangeApplication() ">
                    Cancel domain change application
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path fill="currentColor"
                              d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</ng-container>
<form (ngSubmit)=" onSubmitBranchInformation() " *ngIf=" branch ">
    <h2 class="form-title">Branch Information's</h2>
    <div class="information-input">
        <div class="website-information">
            <div>
                <label>Site Name</label>
                <input type="text" name="site_name" [(ngModel)]=" branch.site_name ">
                <div class="note">Site name is different from site title or company name. Site name will be shown all
                    over the website.
                </div>
            </div>
            <div>
                <label>TITLE</label>
                <input type="text" name="html_title" [(ngModel)]=" branch.html_title ">
                <div class="note">Input the title of website that will be displayed on web browser title. It will be
                    displayed in HTML title meta tag.
                </div>
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="html_description" [(ngModel)]=" branch.html_description ">
                <div class="note">Input the description of website that would be appear on search engine. like
                    google.com. It will be display in HTML description meta tag.
                </div>
            </div>
            <div>
                <label>Keywords</label>
                <input type="text" name="html_keywords" [(ngModel)]=" branch.html_keywords ">
                <div class="note">Input the keywords of website. It will be displayed in HTML keywords meta tag..</div>
            </div>
            <div>
                <label>HTML Header</label>
                <textarea name="html_header" [(ngModel)]=" branch.html_header "
                          placeholder="Input Javascript, CSS, HTML for head tag."></textarea>
                <div class="note">You can add external services like google analytics and other. To add google
                    analytics, (1) get google tracking tag (2) save in html header. And it's done.
                </div>
            </div>
            <div>
                <label>HTML Footer</label>
                <textarea name="html_footer" [(ngModel)]=" branch.html_footer "
                          placeholder="Input Javascript, CSS, HTML that will be display at the bottom of the site."></textarea>
            </div>

            <div>
                <label>Copyright at bottom of the site.</label>
                <textarea name="copyright" [(ngModel)]=" branch.copyright "
                          placeholder="Input copyright like (C) 2017-2018 All right reserved by Withcenter.com. email. contact. address. Business reg. no."></textarea>
                <div class="note">You can use simple HTML tags only.</div>
            </div>
        </div>

        <div class="company-information">
            <div class="photo-upload company-logo">
                <div class="label">Branch Site Logo ( Preferred size: 200x48 )</div>
                <label>
                    <div class="photo-upload-button">
                        <input class="input-box" type="file" (change)="companyLogo.onChangeFile($event)"
                               style="width:86px;">
                    </div>
                    <div class="progress-bar" *ngIf="companyLogo.progressPercentage > 0">
                        <mat-progress-bar mode="determinate" [value]="companyLogo.progressPercentage">
                        </mat-progress-bar>
                        <span>{{ companyLogo.progressPercentage}}%</span>
                    </div>
                    <xapi-file-upload-component #companyLogo [title]="false" [fileSelectionButton]="false"
                                                [files]="files" [showUploadedFiles]="false"
                                                [showProgressBar]="false" (success)="onSuccessUploadPicture($event)">
                    </xapi-file-upload-component>
                    <div class="placeholder" *ngIf="!companyLogo.progressPercentage">
                        <div class="logo" *ngIf=" branch.logo_url ">
                            <img src="{{ branch.logo_url }}">
                        </div>
                        <span *ngIf=" ! branch.logo_url ">
                                        Choose File
                                </span>
                        <span class="update-file" *ngIf=" branch.logo_url ">
                                        Update File
                                </span>
                    </div>
                </label>
            </div>
            <div>
                <label>Company Name</label>
                <input type="text" name="company_name" [(ngModel)]=" branch.company_name ">
            </div>
            <div>
                <label>Company Phone</label>
                <input type="text" name="company_phone" [(ngModel)]=" branch.company_phone ">
            </div>
            <div>
                <label>Company Email</label>
                <input type="text" name="company_email" [(ngModel)]=" branch.company_email ">
            </div>
            <div>
                <label>Company Address</label>
                <input type="text" name="company_address" [(ngModel)]=" branch.company_address ">
            </div>
            <div>
                <label>{{ a.ln['COMPANY BUSINESS REGISTRATION NO'] }}</label>
                <input type="text" name="company_business_registration_no"
                       [(ngModel)]=" branch.company_business_registration_no ">
            </div>
            <div>
                <label>{{ a.ln['COMPANY BUSINESS REGISTRATION OTHER NO'] }}</label>
                <input type="text" name="company_business_registration_other_no"
                       [(ngModel)]=" branch.company_business_registration_other_no ">
            </div>
            <div>
                <label>Manager Name</label>
                <input type="text" name="manager_name" [(ngModel)]=" branch.manager_name ">
            </div>

            <div>
                <label>Manager Email</label>
                <input type="text" name="manager_email" [(ngModel)]=" branch.manager_email ">
            </div>

            <div>
                <label>Manager Phone</label>
                <input type="text" name="manager_phone" [(ngModel)]=" branch.manager_phone ">
            </div>
        </div>
    </div>

    <div class="submit-button">
        <button class="app-button" type="submit" *ngIf=" ! loader.branchUpdate ">Update Branch Information</button>
        <div class="loader" *ngIf=" loader.branchUpdate ">
            <mat-spinner [diameter]="48"></mat-spinner>
            Updating branch info
        </div>
    </div>
</form>