<footer id="katalkenglish-footer">
    <section>
        <div class="copyright">
            <div *ngIf=" a.info && a.info.branch && a.info.branch.copyright; else MainCopyright " [innerHTML]=" a.safeHtml(a.info.branch?.copyright) ">
            </div>
            <ng-template #MainCopyright>
                <div>
                    © 2006-{{ year }} Withcenter, Inc., Pampanga Philippines.
                </div>
            </ng-template>
        </div>
        <div class="menu">
            <div>
                <a routerLink="/termsAndConditions">{{ a.ln.TERMS_AND_CONDITIONS }}</a>
            </div>
            <div class="contact" (click)="a.onClickContactAdmin()">
                {{ a.ln.QNA }}
            </div>
            <div>
                <a routerLink="/help">{{ a.ln.HELP }}</a>
            </div>
        </div>
            <div class="language">
                <select text-center [(ngModel)]="selectedLanguage" (change)=" onChangeLanguage() " placeholder="Select Your Language">
                    <option>None</option>
                    <option value="en">English</option>
                    <option value="ko">한국어</option>
                    <option value="ch">香港 (繁體中文)</option>
                    <option value="jp">日本語</option>
                </select>
            </div>
    </section>
</footer>