@import '../../../../../theme/vars.scss';
header{
   h1{
       margin:0;
       padding: 1em;
       background: darkgray;
   }
}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    mat-spinner{
    margin: .5em;
    }
}

main{

    min-height: 540px;

    .eval-wrapper{
        display: flex;
        padding: .5em;
        border: 1px solid rgba(128, 128, 128, 0.2);
        background: #fff;

        @media screen and (max-width:$sm){
            flex-direction: column;
        }
    }

    .left,.right{
        width: 50%;
        @media screen and (max-width:$sm){
            width: 100%;
        }
        &>div{
            border: 1px solid rgba(128, 128, 128, 0.2);
            border-bottom: none;
            padding: 1em;

            span:last-child{
                margin-left: .5em;
            }

            &:last-child{
                border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            }
        }
    }

    .left{
        &>div{
            @media screen and (min-width:$md){
                border-right: none;
            }

            &:last-child{
                @media screen and (max-width:$sm){
                    border-bottom: none;
                }
            }
        }
    }

    .comment{
        padding: 4em 0;
        .title{
            font-size: 120%;
            font-weight: bold;
            text-align: center;
        }

        .content{
            padding: 2em;
            word-wrap: break-word;
            line-height: 1.8em;
            white-space:pre-line;
        }
    }
}
