<header>
    <h1>
        TEACHER GRADE
    </h1>
</header>
<main>
    <div>
        <div *ngIf="grade == 1">
            <div class="title">
                <button disabled>
                    <ion-icon  name="arrow-back"></ion-icon>
                </button>
                <h3>GRADE 1</h3>
                <button (click)="next()">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </div>
            <p class="desc">Having only good english teaching skill does not help to earn grade.</p>
            <h4 class="sub">A Good teacher must have</h4>
            <ul>
                <li>Good Environment/Work Place. ( No unwanted sounds, No people at the back, etc... )</li>
                <li>Good Devices. ( PC/Laptop, Headset with mic)</li>
                <li>Good Internet. ( Reasonable Connection )</li>
                <li>Good Profile Picture.</li>
                <li>Good Video Introduction.</li>
                <li>Prepared and Always ready to teach.</li>
                <li>Finishing the evaluation on time.</li>
                <li>Following our promotion schedule.</li>
                <li>Following our guidelines.</li>
                <li>Following our policy.</li>
                <li>Always present in class.</li>
                <li>Always records their class.</li>
            </ul>
        </div>
        <div *ngIf="grade == 2">
            <div class="title">
                <button (click)="prev()">
                    <ion-icon  name="arrow-back"></ion-icon>
                </button>
                <h3>GRADE 2</h3>
                <button  small (click)="next()">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </div>
            <p class="desc">
                Communication comes first then the teaching comes next. No matter how good you teach,
                 but you failed to communicate with the student. It will not work.
            </p>
            <h4 class="sub">A Good teacher must have</h4>
            <ul>
                <li>Passed all criteria from grade 1.</li>
                <li>Capable of winning student's heart.</li>
                <li>Good Communication Skills.</li>
                <li>Good Teaching Skills.</li>
            </ul>
        </div>
        <div *ngIf="grade == 3">
            <div class="title">
                <button (click)="prev()">
                    <ion-icon  name="arrow-back"></ion-icon>
                </button>
                <h3>GRADE 3</h3>
                <button disabled>
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </div>
            <p class="desc">
                Consistent Reservation. Good Performance, Good Attitude, and
                Professionalism.
            </p>
            <h4 class="sub">A Good teacher who is</h4>
            <ul>
                <li>Passed all criteria from grade 2.</li>
                <li>Popular to students.</li>
                <li>Most Requested teacher.</li>
                <li>Giving Importance to student growth.</li>
                <li>Always winning the student's heart.</li>
            </ul>
        </div>
    </div>
</main>
