<header>
    <h1>
        TEACHER GRADE
    </h1>
</header>
<main>
    <div>
        <div *ngIf="grade == 1">
            <div class="title">
                <button disabled>
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/></svg>
                </button>
                <h3>GRADE 1</h3>
                <button (click)="next()">
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>
                </button>
            </div>
            <p class="desc">Having only good english teaching skill does not help to earn grade.</p>
            <h4 class="sub">A Good teacher must have</h4>
            <ul>
                <li>Good Environment/Work Place. ( No unwanted sounds, No people at the back, etc... )</li>
                <li>Good Devices. ( PC/Laptop, Headset with mic)</li>
                <li>Good Internet. ( Reasonable Connection )</li>
                <li>Good Profile Picture.</li>
                <li>Good Video Introduction.</li>
                <li>Prepared and Always ready to teach.</li>
                <li>Finishing the evaluation on time.</li>
                <li>Following our promotion schedule.</li>
                <li>Following our guidelines.</li>
                <li>Following our policy.</li>
                <li>Always present in class.</li>
                <li>Always records their class.</li>
            </ul>
        </div>
        <div *ngIf="grade == 2">
            <div class="title">
                <button (click)="prev()">
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/></svg>
                </button>
                    <h3>GRADE 2</h3>
                <button (click)="next()">
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>
                </button>
            </div>
            <p class="desc">
                Communication comes first then the teaching comes next. No matter how good you teach,
                 but you failed to communicate with the student. It will not work.
            </p>
            <h4 class="sub">A Good teacher must have</h4>
            <ul>
                <li>Passed all criteria from grade 1.</li>
                <li>Capable of winning student's heart.</li>
                <li>Good Communication Skills.</li>
                <li>Good Teaching Skills.</li>
            </ul>
        </div>
        <div *ngIf="grade == 3">
            <div class="title">
                <button (click)="prev()">
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/></svg>
                </button>
                    <h3>GRADE 3</h3>
                <button disabled>
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>
                </button>
            </div>
            <p class="desc">
                Consistent Reservation. Good Performance, Good Attitude, and
                Professionalism.
            </p>
            <h4 class="sub">A Good teacher who is</h4>
            <ul>
                <li>Passed all criteria from grade 2.</li>
                <li>Popular to students.</li>
                <li>Most Requested teacher.</li>
                <li>Giving Importance to student growth.</li>
                <li>Always winning the student's heart.</li>
            </ul>
        </div>
    </div>
</main>
