<header>
    <h1>
        TERMS AND CONDITION
    </h1>
</header>
<main>
    <div class="container-fluid">
        <div class="row" *ngIf="grade == 1">
            <div class="text-left">
                <div class="d-flex align-items-center justify-content-center m-0 p-0">
                    <button class="d-inline-block mr-3" icon-only ion-button clear small disabled>
                        <ion-icon  name="arrow-back" color="black"></ion-icon>
                    </button>
                    <h3 class="m-0 fw-light fs-2rem" ion-text color="blue" text-center>GRADE 1</h3>
                    <button class="d-inline-block ml-3" icon-only ion-button clear small (click)="next()">
                        <ion-icon name="arrow-forward" color="blue"></ion-icon>
                    </button>
                </div>
                <p class="m-0 p-0 fw-light fs-90">Having only good english teaching skill does not help to earn grade.</p>
                <h4 class="d-inline-block m-0 mt-3 p-2 fw-light border border-dodgerblue dodgerblue rounded-2"  ion-text color="blue">A Good teacher must have</h4>
                <ul class="mt-3 mb-5 fw-light fs-90">
                    <li class="mt-2">Good Environment/Work Place. ( No unwanted sounds, No people at the back, etc... )</li>
                    <li class="mt-2">Good Devices. ( PC/Laptop, Headset with mic)</li>
                    <li class="mt-2">Good Internet. ( Reasonable Connection )</li>
                    <li class="mt-2">Good Profile Picture.</li>
                    <li class="mt-2">Good Video Introduction.</li>
                    <li class="mt-2">Prepared and Always ready to teach.</li>
                    <li class="mt-2">Finishing the evaluation on time.</li>
                    <li class="mt-2">Following our promotion schedule.</li>
                    <li class="mt-2">Following our guidelines.</li>
                    <li class="mt-2">Following our policy.</li>
                    <li class="mt-2">Always present in class.</li>
                    <li class="mt-2">Always records their class.</li>
                </ul>

            </div>
        </div>
        <div class="row" *ngIf="grade == 2">
            <div class="text-left">
                <div class="d-flex align-items-center justify-content-center m-0 p-0">
                    <button class="d-inline-block mr-3" icon-only ion-button clear small (click)="prev()">
                        <ion-icon  name="arrow-back" color="black"></ion-icon>
                    </button>
                    <h3 class="m-0 fw-light fs-2rem" ion-text color="blue">GRADE 2</h3>
                    <button class="d-inline-block ml-3" icon-only ion-button clear small (click)="next()">
                        <ion-icon name="arrow-forward" color="blue"></ion-icon>
                    </button>
                </div>
                <p class="m-0 p-0 fw-light line-height-1-8em fs-90">
                    Communication comes first then the teaching comes next.
                    No matter how good you teach, but you failed to communicate with the student. It will not work.
                </p>
                <h4 class="d-inline-block m-0 mt-3 p-2 fw-light border border-dodgerblue rounded-2 dodgerblue"  ion-text color="blue">A Good teacher must have</h4>
                <ul class="mt-3 mb-5 fw-light fs-90">
                    <li class="mt-2">Passed all criteria from grade 1.</li>
                    <li class="mt-2">Capable of winning student's heart.</li>
                    <li class="mt-2">Good Communication Skills.</li>
                    <li class="mt-2">Good Teaching Skills.</li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="grade == 3">
            <div class="text-left">
                <div class="d-flex align-items-center justify-content-center m-0 p-0">
                    <button class="d-inline-block mr-3" icon-only ion-button clear small (click)="prev()">
                        <ion-icon  name="arrow-back" color="black"></ion-icon>
                    </button>
                    <h3 class="m-0 fw-light fs-2rem" ion-text color="blue">GRADE 3</h3>
                    <button class="d-inline-block ml-3" icon-only ion-button clear small disabled>
                        <ion-icon name="arrow-forward" color="blue"></ion-icon>
                    </button>
                </div>
                <p class="m-0 p-0 fw-light fs-90 line-height-1-8em">
                    Consistent Reservation. Good Performance, Good Attitude, and
                    Professionalism.
                </p>
                <h4 class="d-inline-block m-0 mt-3  p-2 fw-light border border-dodgerblue rounded-2 dodgerblue"  ion-text color="blue">A Good teacher who is</h4>
                <ul class="mt-3 mb-5 fw-light fs-90">
                    <li class="mt-2">Passed all criteria from grade 2.</li>
                    <li class="mt-2">Popular to students.</li>
                    <li class="mt-2">Most Requested teacher.</li>
                    <li class="mt-2">Giving Importance to student growth.</li>
                    <li class="mt-2">Always winning the student's heart.</li>
                </ul>
            </div>
        </div>
    </div>
</main>
