.user-info {
    font-size: 11pt;
}

.user-point {
    padding: .5em;
    background-color: maroon;
    color: white;
}

.sessions {
    .session {
        font-size: 10pt;
        &[time='future'] {
            color: rgb(156, 156, 156);
        }
        &[time='past'] {
            color: rgb(40, 83, 83);
        }
        &.top {
            &[time='today'] {
                color: rgb(0, 49, 141);
                font-weight: bold;
            }
        }
    }
}

.sessions-desc {
    font-size: 8pt;
}

.payments {
    font-size: 9pt;
}

.user-info-button {
    margin: 0;
    padding: 2px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
    color: rgb(148, 148, 148);
    font-size: 6pt;
    cursor: pointer;
}