<header>
    <div>
        <div>
            <div>
                <h2>{{ "DAY OFF" | t }}</h2>
                <p>
                    Creating Day Off will prevent student to reserve on the date specified. If there is already a reservation on the date you
                    want to make day off, you may still add it. You can still teach on the reserve class even you already
                    set it as your day off. Or You must inform the student that you will make a day off and you will cancel
                    the reserved class.
                </p>
            </div>
            <div>
                icon here
            </div>
        </div>
    </div>
</header>
<section>
    <div>
        <button (click)='onClickCreateDayoff()'>Create Day-off</button>
        <section *ngIf="!showForm">
            <form>
                <div>
                    <div class="" style="display: inline-block; border: 1px solid grey; padding: .5em;" (click)="dp.open()">
                        Select a date: {{ date }}
                    </div>
                    <input name="date" [(ngModel)]="date" matInput [matDatepicker]="dp" disabled style="display: none;">
                    <button matSuffix (click)="dp.open()">Open Calendar</button>
                    <mat-datepicker #dp disabled="false"></mat-datepicker>

                </div>


                <!-- <ul>
                    <li>
                        <ul>
                        <li>
                            <label>Select Date</label>
                            <ion-datetime name="date" max="{{today.getFullYear()+1}}" displayFormat="MM/DD/YYYY"
                                          pickerFormat="YYYYMMDD" [(ngModel)]="date"></ion-datetime>
                        </li>
                        <li>
                            <button class="py-4" color="orange" block ion-button type="submit"
                                    (click)="onClickSubmit()">Create
                            </button>
                        </li>
                        </ul>
                    </li>
                </ul> -->

                <div>
                    <button type="submit" (click)="onClickSubmit()">Create</button>
                </div>

            </form>
        </section>
    </div>
    <hr>
    <div>
        <div *ngIf="dayoffs.length">
            <div *ngFor="let dayoff of dayoffs">
                <div (click)=" onClickDeleteDate( dayoff )">Delete
                    <i class="fal fa-trash-alt ml-2 "></i>
                </div>
                <div>{{ preDate(dayoff.date)}}</div>
            </div>
        </div>
        <div *ngIf="showLoader">
            <div class="p-5 mx-auto">
                <ion-spinner></ion-spinner> Loading...
            </div>
        </div>
    </div>
</section>