@import "../../../../../theme/vars";
section{
    @media (min-width:$md) {
        height: 100%;;
    }
    margin-top: 1.2em;
    background: #fff;
    outline: 1px solid rgba(125,125,125,0.1);
    font-size: .85rem;
    &>.title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 ;
        padding-left: 1.3em;
        background:rgba(0,123,255,.8);
        color: #fff;
        font-weight: 200;

        .external-link{
            display: flex;
            align-items: center;
            padding: .7em;
            padding-right: 1.3em;
            color: #fff;
            cursor: pointer;
            svg{
                width: 1.15em;
                height: 1.15em;
            }
        }
    }

    .body{
        padding: .6em 0;
        .row{
            justify-content: center;
            padding: .8em 1.2em;
            // border-bottom: 1px solid rgba(125,125,125,0.2);
            &>div{
                padding: 0;
            }
            &:hover{
                background: rgba(125,125,125,0.1);
                cursor: pointer;

                // color:rgba(dodgerblue,0.95);
            }
            .right{
                // padding-left: .3em;
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: .3em;
                    .date{
                        font-size: .85em;
                        color: dimgray
                    }
                    .student-name{
                        font-size: .9em;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
                .content{
                    .greeting{
                        margin-top: .1em;
                        font-size: .85em;
                        line-height: 1.3;
                        color: dimgray;
                    }
                }
            }
        }

        .student-photo{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
            }
        }
    }

}