<form (ngSubmit)=" onSubmitBranchInformation() " *ngIf=" branch ">
    <h2 class="form-title">Branch Site Configuration</h2>
    <div class="information-input">
        <div class="website-information">
            <div>
                <label>Site Name</label>
                <input type="text" name="site_name" [(ngModel)]=" branch.site_name ">
                <div class="note">Site name is different from site title or company name. Site name will be shown all over the website.
                </div>
            </div>
            <div>
                <label>TITLE</label>
                <input type="text" name="html_title" [(ngModel)]=" branch.html_title ">
                <div class="note">Input the title of website that will be displayed on web browser title. It will be displayed in HTML title
                    meta tag.
                </div>
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="html_description" [(ngModel)]=" branch.html_description ">
                <div class="note">Input the description of website that would be appear on search engine. like google.com. It will be display
                    in HTML description meta tag.
                </div>
            </div>
            <div>
                <label>Keywords</label>
                <input type="text" name="html_keywords" [(ngModel)]=" branch.html_keywords ">
                <div class="note">Input the keywords of website. It will be displayed in HTML keywords meta tag..</div>
            </div>
            <div>
                <label>HTML Header</label>
                <textarea name="html_header" [(ngModel)]=" branch.html_header " placeholder="Input Javascript, CSS, HTML for head tag."></textarea>
                <div class="note">You can add external services like google analytics and other. To add google analytics, (1) get google tracking
                    tag (2) save in html header. And it's done.
                </div>
            </div>
            <div>
                <label>HTML Footer</label>
                <textarea name="html_footer" [(ngModel)]=" branch.html_footer " placeholder="Input Javascript, CSS, HTML that will be display at the bottom of the site."></textarea>
            </div>

            <div>
                <label>Copyright at bottom of the site.</label>
                <textarea name="copyright" [(ngModel)]=" branch.copyright " placeholder="Input copyright like (C) 2017-2018 All right reserved by Withcenter.com. email. contact. address. Business reg. no."></textarea>
                <div class="note">You can use simple HTML tags only.</div>
            </div>

            <div>
                <label>Choose Class Messenger</label>
                <div class="choose-software-desc">
                    Please choose a default Messenger for student to use to have class with.
                </div>

                <div class="choose-class-messenger">
                    <label>
                        <input id="class_software_skype"  type='radio' name='messenger' [(ngModel)]=" branch.class_software " [value]="'skype'" [checked]=" branch.class_software ">
                        <span>Skype</span>
                    </label>

                    <label>
                        <input id="class_software_kakaotalk"  type='radio' name='messenger' [(ngModel)]=" branch.class_software " [value]="'kakaotalk'" [checked]=" branch.class_software ">
                        <span>Kakaotalk</span>
                    </label>

                    <label>
                        <input id="class_software_wechat"  type='radio' name='messenger' [(ngModel)]=" branch.class_software " [value]="'wechat'" [checked]=" branch.class_software ">
                        <span>WeChat</span>
                    </label>

                    <label>
                        <input id="class_software_line"  type='radio' name='messenger' [(ngModel)]=" branch.class_software " [value]="'line'" [checked]=" branch.class_software ">
                        <span>Line</span>
                    </label>

                    <label>
                        <input id="class_software_qq"  type='radio' name='messenger' [(ngModel)]=" branch.class_software " [value]="'qq'" [checked]=" branch.class_software ">
                        <span>QQ</span>
                    </label>
                </div>

                <div class="note">Messenger may also be used for live chat service with customer. Student will need to input Messenger ID on registraion and they can change it to another messenger on prfile update.</div>
            </div>

        </div>

        <div class="company-information">
            <div class="photo-upload company-logo">
                <div class="label">Branch Site Logo ( Preferred size: 200x48 )</div>
                <label>
                    <div class="photo-upload-button">
                        <input class="input-box" type="file" (change)="companyLogo.onChangeFile($event)" style="width:86px;">
                    </div>
                    <div class="progress-bar" *ngIf="companyLogo.progressPercentage > 0">
                        <mat-progress-bar mode="determinate" [value]="companyLogo.progressPercentage">
                        </mat-progress-bar>
                        <span>{{ companyLogo.progressPercentage}}%</span>
                    </div>
                    <xapi-file-upload-component #companyLogo [title]="false" [fileSelectionButton]="false" [files]="files" [showUploadedFiles]="false"
                        [showProgressBar]="false" (success)="onSuccessUploadPicture($event)">
                    </xapi-file-upload-component>
                    <div class="placeholder" *ngIf="!companyLogo.progressPercentage">
                        <div class="logo" *ngIf=" branch.logo_url ">
                            <img src="{{ branch.logo_url }}">
                        </div>
                        <span *ngIf=" ! branch.logo_url ">
                            Choose File
                        </span>
                        <span class="update-file" *ngIf=" branch.logo_url ">
                            Update File
                        </span>
                    </div>
                </label>
            </div>
            <div>
                <label>Company Name</label>
                <input type="text" name="company_name" [(ngModel)]=" branch.company_name ">
            </div>
            <div>
                <label>Company Phone</label>
                <input type="text" name="company_phone" [(ngModel)]=" branch.company_phone ">
            </div>
            <div>
                <label>Company Email</label>
                <input type="text" name="company_email" [(ngModel)]=" branch.company_email ">
            </div>
            <div>
                <label>Company Address</label>
                <input type="text" name="company_address" [(ngModel)]=" branch.company_address ">
            </div>
            <div>
                <label>{{ a.ln['COMPANY BUSINESS REGISTRATION NO'] }}</label>
                <input type="text" name="company_business_registration_no" [(ngModel)]=" branch.company_business_registration_no ">
            </div>
            <div>
                <label>{{ a.ln['COMPANY BUSINESS REGISTRATION OTHER NO'] }}</label>
                <input type="text" name="company_business_registration_other_no" [(ngModel)]=" branch.company_business_registration_other_no ">
            </div>
            <div>
                <label>Manager Name</label>
                <input type="text" name="manager_name" [(ngModel)]=" branch.manager_name ">
            </div>

            <div>
                <label>Manager Email</label>
                <input type="text" name="manager_email" [(ngModel)]=" branch.manager_email ">
            </div>

            <div>
                <label>Manager Phone</label>
                <input type="text" name="manager_phone" [(ngModel)]=" branch.manager_phone ">
            </div>
        </div>
    </div>

    <div class="submit-button">
        <button class="app-button" type="submit" *ngIf=" ! loader.branchUpdate ">Update Branch Information</button>
        <div class="loader" *ngIf=" loader.branchUpdate ">
            <mat-spinner [diameter]="48"></mat-spinner>
            Updating branch info
        </div>
    </div>
</form>