<header>
    <h1>Curriculum Vitae</h1>
</header>
<main>
        <div class="m-5">
            <h1 class="fs-3rem fw-bold"  text-center ion-text color="blue">{{ "CURRICULUM VITAE" | t }}</h1>
            <p class="fs-90" text-center>Please Fill Out the Appropriate Information</p>
        </div>
        <form (submit)="onSubmitUpdate()">
            <ion-grid class="curriculum-vitae mb-5" no-padding>
                <ion-row class="mt-4" justify-content-center align-items-stretch>
                    <ion-col class="mr-md-2 mx-0 mb-5 mb-md-0  pr-md-5 pr-0" col-md-5 col-11>
                        <div class="p-relative of-hidden pointer d-flex  align-items-center justify-content-center h-100  border-stripes">
                            <input *ngIf=" ! a.isCordova " class="p-absolute top-0 right-0 bg-grey z-100"
                                   style="opacity: 0.001; font-size: 15em;"
                                   type="file"
                                   (change)="fileUpload.onChangeFile($event)">
                            <div class="profile-user d-flex-column align-items-center justify-content-center py-3"
                                 (click)="fileUpload.onClickCamera()">

                                <div class="profile-user-photo of-hidden d-inline-block my-3 size-100 rounded-50 d-flex align-items-center">
                                    <img src="{{files.length ? files[0].url : a.anonymousPhotoURL}}">
                                </div>
                                <button type="button" class="btn submit fs-lg my-3" [class.skip]="files && files.length"
                                        (click)="fileUpload.onClickCamera()">
                                    <i class="fa fa-camera mr-2"></i>
                                    {{ 'PRIMARY PHOTO' | t }}
                                </button>
                                <xapi-file-upload-component col-6 #fileUploadWidget [title]="false" [fileSelectionButton]="false"
                                                    [files]="files"
                                                    [showUploadedFiles]="false"
                                                    (success)="onSuccessUploadPicture($event)">
                                </xapi-file-upload-component>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-5 class="ml-md-2 ml-0 pl-md-5 pl-0" col-md-5 col-11>
                        <div class="p-relative of-hidden pointer">
                            <input *ngIf=" ! a.isCordova " class="p-absolute z-100 top-0 right-0 bg-grey"
                                   style="opacity: 0.001; font-size: 15em;"
                                   type="file"
                                   (change)="fileUploadQRMark.onChangeFile($event)">
                            <div class="qr-mark d-flex-column align-items-center justify-content-center p-4 h-100 border"
                                 *ngIf="a.user.isLogin" (click)="fileUploadQRMark.onClickCamera()">
                                <ng-container *ngIf="!showQRMark">
                                    <div>Upload QR Mark</div>
                                    <div><i class="fal fa-qrcode fa-5x my-3"></i></div>
                                </ng-container>
                                <ng-container *ngIf="showQRMark">
                                    <div class="profile-qrmak-photo d-inline-block of-hidden d-flex align-items-center size-100 my-3 ">
                                        <img src="{{qrmarks[0].url}}">
                                    </div>
                                </ng-container>
                                <xapi-file-upload-component col-6 #fileUploadWidgetQRMARK
                                                    [title]="false"
                                                    [fileSelectionButton]="false"
                                                    [files]="qrmarks"
                                                    [showUploadedFiles]="false"
                                                    (success)="onSuccessUploadQRMark( $event )">
                                </xapi-file-upload-component>

                                <div class="fs-lg text-center" text-wrap>
                                    QR Mark is required for teacher, open your mobile KakaoTalk > Edit Profile>
                                    My QR Code > Click Download.
                                </div>

                                <div class="mb-3 mt-3 px-4 py-3 bg-dodgerblue white">
                                    <i class="fal fa-qrcode mr-3"></i>
                                    {{qrmarks.length? 'UPDATE': 'UPLOAD'}} QR MARK
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-center align-items-center>
                    <ion-col class="mr-md-2 mr-0 pr-md-5 pr-0" col-11 col-md-5>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" readonly [(ngModel)]="account.name"
                                   name="name" disabled/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'TEACHER ID' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.fullname"
                                   name="fullname"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'FULL NAME' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.display_name"
                                   name="display_name"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'NICKNAME' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="email" [(ngModel)]="account.user_email"
                                   name="user_email"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'EMAIL' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.phone_number"
                                   name="phone_number"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'PHONE NO' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.last_education"
                                   name="last_education"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'SCHOOL' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class="p-3 w-100 rounded-2  focus-effect" type="text" [(ngModel)]="account.major" name="major"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase black">{{ 'MAJOR' | t }}</label>
                        </div>
                    </ion-col>
                    <ion-col class="pl-md-5 pl-0 ml-md-2 ml-0" col-11 col-md-5>
                        <div class="d-flex-column form-effect position-relative">
                            <select class="p-3 w-100 rounded-2 bg-light h-40px border-box" [(ngModel)]="account.nationality"
                                    name="nationality">
                                <option value="">Select...</option>
                                <option *ngFor="let c of a.countries" value="{{c}}">{{c}}</option>
                            </select>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'NATIONALITY' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect position-relative">
                            <ion-datetime class="border p-3 m-0 w-100 rounded-2 h-40px bg-light " name="birthday" max="{{minYear}}"
                                          displayFormat="MM/DD/YYYY" pickerFormat="MMDDYYYY"
                                          [(ngModel)]="birthday" (ngModelChange)="onChangeBirthDate()"></ion-datetime>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'BIRTHDAY' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <div
                                    class="d-flex  align-items-center justify-content-around h-40px w-100 p-3 border rounded-2 bg-white">
                                <input type="radio" name="male" [(ngModel)]="account.gender" value="M">Male
                                <input type="radio" name="female" [(ngModel)]="account.gender" value="F">Female
                            </div>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'GENDER' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect position-relative">
                            <ion-datetime class="border p-3 m-0 w-100 rounded-2 h-40px bg-white bg-light " displayFormat="YYYY"
                                          [(ngModel)]="account.experience" name="experience"></ion-datetime>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'Year you start teaching' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.youtube_video_url"
                                   name="youtube_video_url"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'YOUTUBE VIDEO' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.kakaotalk_id"
                                   name="kakaotalk_id"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'KAKAOTALK ID' | t }}</label>
                        </div>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.hobby"
                                   name="hobby"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'HOBBIES' | t }}</label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-center>
                    <ion-col col-10>
                        <div class="d-flex-column form-effect">
                            <input class=" focus-effect p-3 w-100 rounded-2" type="text" [(ngModel)]="account.address"
                                   name="address"/>
                            <label class="mt-5 mb-2 fs-90 fw-bold uppercase">{{ 'ADDRESS' | t }}</label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="mt-5" justify-content-center>
                    <ion-col col-10>
                        <div class="m-0 p-0">
                            <ion-label class="p-3 m-0 bg-blue white text-center">{{ 'GREETINGS' | t }}</ion-label>
                            <textarea class="  input-effect px-3 py-2 w-100  border bg-light" rows="8" [(ngModel)]="account.introduction"
                                      name="introduction">
                </textarea>
                        </div>
                        <div class="mt-5 mb-3" text-center>
                            <button class=" hover-effect py-4 w-md-50 w-100 rounded-2 bg-blue white">
                                {{ 'UPDATE BUTTON' | t }}
                            </button>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </form>


    <div class="loader" *ngIf=" showLoader ">
        <ion-spinner></ion-spinner> Loading... Please Wait...
    </div>

</main>