<h1>Point history</h1>

<form (ngSubmit)="onSubmit()">
    <h4>Filter by</h4>
    <div class="checkboxes" *ngIf="point_log_actions && point_log_actions.length">
        <label><input type="checkbox" [(ngModel)]="point_log_selected_all" (ngModelChange)="selectActions()" name="all">All</label>
        <label><input type="checkbox" [(ngModel)]="point_log_selected_empty" (ngModelChange)=" point_log_selected_all = false" name="empty_action">No action</label>
        <label *ngFor="let action of point_log_actions">
            <input type="checkbox" [(ngModel)]="point_log_selected[action]" (ngModelChange)=" point_log_selected_all = false" name="{{action}}">
            {{ action | t }}
        </label>
    </div>
    <div class="input-boxes">
        <label>
            <span>Student UID or email</span>
            <input type="text" name="uid" [(ngModel)]="uid">
        </label>
        <label>
            <span>LIMIT</span>
             <input type="number" name="limit" [(ngModel)]="limit">
        </label>
        <button class="app-button" type="submit">Search</button>
    </div>
</form>
<div class="loader" *ngIf=" !re.length">
    <mat-spinner [diameter]="48"></mat-spinner>
    loading...
</div>
<section class="result" *ngIf=" re.length ">
    No of Searched Record: {{ re.length }}
</section>
<div class="custom-table">
    <table *ngIf=" re.length ">
            <tr>
                <th>Action</th>
                <th>Apply Point</th>
                <th>Point</th>
                <th>Teacher</th>
                <th>Student</th>
                <th>Reason</th>
                <th>Time</th>
            </tr>
            <tr *ngFor="let log of re ">
                <td><ng-container *ngIf="log.action">{{ log.action | t }}</ng-container></td>
                <td>{{ log.apply_point }}</td>
                <td>
                    <div [class.bg-danger]=" ! log.point_change ">
                        {{ log.after_point }}
                    </div>
                </td>
                <td>
                    <a class='link' matTooltip="{{ log.teacher?.display_name }}" *ngIf="log?.teacher?.idx" routerLink="/manager/user-info/{{log?.teacher?.idx}}">
                        <span>
                            <svg viewBox="0 0 576 512"><path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path></svg>
                        </span>
                        <span>{{ log.teacher?.display_name.slice(0,5) }}<span *ngIf="log.teacher.display_name.length>5">...</span></span>
                    </a>
                </td>
                <td>
                    <a class='link' matTooltip="{{ log.student?.display_name }}" *ngIf="log?.student?.idx" routerLink="/manager/user-info/{{log?.student?.idx}}">
                        <span>
                            <svg viewBox="0 0 576 512"><path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path></svg>
                        </span>    
                        <span>{{ log.student?.display_name.slice(0,5) }}<span *ngIf="log.student.display_name.length>5">...</span></span>
                    </a>
                </td>
                <td>{{ log.reason }}</td>
                <td>{{ log.stamp * 1000 | date:'yyyy-MM-dd HH:mm:ss z' }}</td>
            </tr>
        
        </table>
</div>