@import '../../../theme/vars.scss';

main{
    background: #fff;

    .post{
        margin: 1.5em;
        padding: 0 1em;
        border:1px solid rgba(125,125,125,0.1);
        border-radius: 2px;
        .header{
            margin: .75em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div,a{
                font-weight: 200;
            }
            div{
                font-size: .9em
            }
            a{
                font-size: .6em
            }
        }
        .content{
            font-weight: 200;
        }
    }

}