<h1>Teacher Schedule Table</h1>

<div class="teacher-info">
    <div class="teacher-photo" *ngIf="teacher && teacher.photoURL">
        <img [src]="a.checkPhotoURL(teacher.photoURL)">
    </div>
    <div class="teacher-name" *ngIf="teacher && teacher.name"><a routerLink="/manager/user-info/{{teacher.idx}}">Teacher: {{teacher.name}}</a></div>
</div>

<div class="sched container-fluid" *ngIf=" schedules ">
    <div class="header row">
        <div class="col col-md-1">No.</div>
        <div class="col col-md-2">Time</div>
        <div class="col col-md-1">Min</div>
        <div class="col col-md-1">Point</div>
        <div class="col col-md-2">Prere</div>
        <div class="col col-md-5">Days</div>
    </div>
    <div class="no-sched" *ngIf=" schedules.length == 0 ">
       NO SCHEDULE 
    </div>
    <div class="row" *ngFor="let s of schedules; let odd = odd;">
        <div class="col col-md-1">{{s.idx}}</div>
        <div class="col col-md-2">{{s.class_begin}}~{{s.class_end}}</div>
        <div class="col col-md-1">{{s.duration}}</div>
        <div class="col col-md-1">{{s.point}}</div>
        <div class="col col-md-2">{{s.prere}}</div>
        <div class="col col-md-5">
            <div class="day" [class.on]="s.sunday">
                Sun
            </div>
            <div class="day" [class.on]="s.monday">
                Mon
            </div>
            <div class="day" [class.on]="s.tuesday">
                Tue
            </div>
            <div class="day" [class.on]="s.wednesday">
                Wed
            </div>
            <div class="day" [class.on]="s.thursday">
                Thu
            </div>
            <div class="day" [class.on]="s.friday">
                Fri
            </div>
            <div class="day" [class.on]="s.saturday">
                Sat
            </div>
        </div>
    </div>
</div>


<div class="loader" *ngIf=" loading ">
    <mat-spinner [diameter]="48"></mat-spinner>
    <span>{{ 'IN LOADING' | t}}</span>
</div>