<main>
    <header>
        <h1>Auctions List</h1>
    </header>
    <section class="content">
        <div class="loader" *ngIf=" showLoader ">
            <mat-spinner [diameter]="48"></mat-spinner>
            <span>Loading...</span>
        </div>
        <div class="auctions py-3" *ngIf=" !showLoader ">
            <div class="auction container mb-3" *ngFor=" let auction of auctions ">
                <div class="row">
                    <div class="student">
                        <img class="primary-photo" [src]="a.checkPhotoURL(auction.photoURL)"/>
                        <div class="name">{{ auction.display_name }}</div>
                    </div>
                    <div class="col">
                        <div *ngIf="auction.greeting">
                            Greeting: {{auction.greeting}}
                        </div>
                        <div> Request:
                            <span>I want to study at </span>
                            <span>{{auction['auction']['hour']}}:{{auction['auction']['minute']}}</span> for
                            <span>{{auction['auction']['duration']}}mins </span> with
                            <span>{{auction['auction']['point']}}points</span> every
                            <span>{{ showDateSelected(auction['auction']) }}.</span>
                        </div>
                        <div>Message: {{ auction.auction.comment }}</div>
                        <div class="stamp">Date Posted: {{ a.dateTime(auction['auction_update_stamp'])}}</div>
                        <button class="app-button" *ngIf="!auction['showMessageForm']" (click)="auction['showMessageForm'] = true;">Send Message</button>
                        <div *ngIf="auction['showMessageForm']">
                            <form (ngSubmit)="onSubmitApplication($event, auction)">
                                <textarea name="message" [(ngModel)]="auction['message']"></textarea>
                                <div>
                                    <button class="app-button" type="submit" *ngIf="!auction['applying']">Submit</button>
                                    <div *ngIf="auction['applying']" class="row">
                                        <mat-spinner [diameter]="16"></mat-spinner> <div>Submitting...</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <page-navigator-component [no_of_total_items]=" pageOption['totalRecord']"
                                      [no_of_items_in_one_page]=" pageOption['limitPerPage'] "
                                      [no_of_pages_in_navigator]=" pageOption['limitPerNavigation'] "
                                      [no_of_current_page]=" pageOption['currentPage'] "
                                      [scoll_to_element_Id]="'teacher-review-page'"
                                      [show_prev_next]=" true " (pageClick)="onPostPageClick($event)">
            </page-navigator-component>
        </div>
    </section>
</main>
