<main>
    <header>
        <h1>New Student List</h1>
    </header>
    <section class="content">
        <div class="loader" *ngIf=" showLoader ">
            <mat-spinner [diameter]="48"></mat-spinner>
            <span>Loading...</span>
        </div>
        <div class="greetings py-3" *ngIf=" !showLoader ">
            <div class="greeting container mb-3" *ngFor=" let student of students ">
                <div class="row">
                    <div class="student">
                            <img class="primary-photo" [src]="a.checkPhotoURL(student.photoURL)"/>
                        <div class="name">{{ student.display_name }}</div>
                    </div>
                    <div class="col">
                        <div *ngIf="student.greeting">
                            Greeting: {{student.greeting}}
                        </div>
                        <div>Class Software: {{student.class_software}}</div>
                        <div class="stamp">Registed since: {{student.user_registered | date}}</div>
                        <div><button class="app-button" (click)="messageSend.open({ID: student.ID, name: student.display_name })">Send Message</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <page-navigator-component [no_of_total_items]=" pageOption['totalRecord']"
                                      [no_of_items_in_one_page]=" pageOption['limitPerPage'] "
                                      [no_of_pages_in_navigator]=" pageOption['limitPerNavigation'] "
                                      [no_of_current_page]=" pageOption['currentPage'] "
                                      [scoll_to_element_Id]="'teacher-review-page'"
                                      [show_prev_next]=" true " (pageClick)="onPageClick($event)">
            </page-navigator-component>
        </div>
    </section>
</main>
