@import "../../../theme/vars";

.search-box {
    margin-bottom: .5rem;
    padding: 1em .5em;
    background: #e0e0e0;
    border:1px solid rgba(125,125,125,0.3);
    border-radius: 2px;
    border-top: 0;
    .user-search {
        display: flex;
        justify-content: flex-end;
        padding: 0 .3em;

        input{
            padding: .5em 1rem;
            border-radius: 2px;
            border: 0;
            background: #fff;
            font-size: .8em;
        }

        button{
            display: flex;
            align-items: center;
            margin-left: 1em;
            padding: .5em 1em;
            border:0;
            border-radius: 2px;
            background: #fff;

            svg{
                margin-right: .4rem;
                height: 1em;
                width: 1em;
            }

            span{
                line-height: 0;
            }
        }
    }
}


#new-student-list {
    &>.row{
        margin: 0 -1.5rem;
        padding: 0 0 2rem 0;
        .col-md-6{
            padding: .5rem;
        }
    }
    .card{
        display: flex;
        margin: 0 1rem;
        padding: 1rem;
        @media (min-width:$md) {
            margin: 0;
            padding: 1.5rem;   
        }
        border-radius: 2px;
        border: 1px solid rgba(125,125,125,0.2);
        background: #fff;
        font-size: .95rem;
        font-weight: 300;
        .left{
            .primary-photo{
                padding: 0;
                height: 90px;
                width: 90px;
                border-radius: 3px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .name{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .75em .25em;
                color: #3C66C8;
                svg{
                    position: relative;
                    top: .125em;
                    height: 1em;
                    width: 1em;
                    margin-right: .3em;
                }
            }
            .message-button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding:.55rem .5rem;
                border-radius: 2px;
                background: #1B4AB5;
                font-size: .85rem;
                color: #fff;
                cursor: pointer;
                svg{
                    position: relative;
                    top:.125em;
                    margin-right: .3rem;
                    height: 1em;
                    width: 1em;
                }
            }
        }
        .right{
            flex: 100%;
            padding-left: 1rem;
            @media (min-width:$md) {
                padding-left: 1.5rem;   
            }
            &>*{
                margin-bottom: .6rem;
                &:last-child{
                    margin: 0;
                }
            }
            .title{
                font-size: .9rem;
                color: dimgray;
            }
            .message{
                padding: 1rem;
                @media (min-width:$md) {
                    height: 105px;   
                }
                overflow: auto;
                background: #eee;
                font-size: .85rem;
                line-height: 1.35rem;
                font-weight: normal;
            }
            .class-software{
                display: flex;
                align-items: center;
                img{
                    position: relative;
                    top: .125em;
                    margin: 0 .5em;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 4em 0;
}

.no-more{
    text-align: center;
    padding: 5em;
}

.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    mat-spinner{
        margin-bottom: .6rem;
    }
}
