.branch-list{
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: .9em;
        border:1px solid rgba(125,125,125,0.2);
        tr {
            border-bottom:1px solid rgba(125,125,125,0.2);
            td,
            th {
                padding:0  1em;
                border-right: 1px solid rgba(125,125,125,0.2);
            }
            th{
                padding: .75em;
                font-size: .85em;
            }
        }
    }
    .delete {
        button{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1em 0;
            background: transparent;
            border: 0;
            color: #8b0000;
            cursor: pointer;
    
            svg{
                margin-right: .3em;
                height: 1em;
                width: 1em;
            }
        }
    }

    .no-of-students{
        text-align: center;
        color: #009153;
        font-weight: bold;
    }
}