@import '../../../theme/vars.scss';
main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
    background: #fff;
    .post{
        margin: auto;
        @media screen and (min-width:$md){
            width: 60%;
        }
        padding: 2em;
        line-height: 1.6em;
        text-align: center;

        .title{
            font-size: 2em;
            line-height: 1.2em;
        }

        .content{
            font-size: 1em;
            @media screen and (min-width:$md){
                font-size: 1.2em;
            }
            line-height: 1.6em;
            font-weight: 200;
        }
    }
    .banner{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 200px;
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}