@import '../../../theme/vars.scss';
main {
    padding-bottom: 4em;
    background: #fff;
    .post {
        margin: auto;
        @media (min-width: $md) {
            padding: 3em 8em;
        }
        padding: 2em;
        line-height: 1.6em;
        .title {
            margin: 1rem 0 0;
            padding: 0;
            font-size: 1.6em;
            font-weight: 100;
            line-height: 1.2em;
            @media (min-width: $md ) {
                margin-top: 2em;
                font-size: 2em;
            }
        }
        .meta {
            margin-bottom: 3rem;
            @media (min-width: $md ) {
                margin-bottom: 5em;
            }
        }
        .content {
            font-size: 1em;
            @media (min-width: $md) {
                font-size: 1.2em;
            }
            line-height: 1.6em;
            font-weight: 200;
        }
    }
}