<header>
    <h1>{{ 'SESSION FUTURE' | t }}</h1>
</header>
<main>
    <section>
        <div>
            <ng-container *ngIf=" a.isStudent ">
                {{ a.user.name }} 님, 포인트:
                <span *ngIf=" a.inLoadingMyPoint ">
            <i class="fal fa-spinner fa-spin"></i>
          </span>
                <span *ngIf=" ! a.inLoadingMyPoint ">
            {{ share.point }}
          </span>
            </ng-container>
        </div>
        <div (click)=" share.options = ! share.options ">
            <ion-icon name="options"></ion-icon>
            {{ "OPTIONS" | t }}
        </div>
    </section>
    <section>
        <session-list-component [page]=" page " [share]=" share "></session-list-component>
    </section>
</main>
