header{
    h1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .option{
        display: flex;
        align-items: center;
        font-size: .8rem;
        .options-icon{
            height: 1em;
            margin-left:.5em;
        }

    }

    .point-loader{
        display: flex;
        align-items: center;

        mat-spinner{
            margin-left: .5em;
        }
    }
}


main{
    min-height: 540px;
    padding-bottom: 5em;
}