header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2196f3;
    color: #fff;

    h1{
        margin: 0;
        padding: .8em ;
        padding-left: 2em;
        font-size: 1.17em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .option{
        display: flex;
        padding: 1.5em;
        font-weight: 200;
        cursor: pointer;
        font-size: 80%;

        ion-icon{
            margin-left: .3em;
        }
    }
}

main{
    padding-bottom: 5em;
}