<header>
    <h1>How to Use</h1>
</header>
<main>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2>Tips and Guides</h2>
                    <p>Things you need to know. Choose among the topics to learn more.</p>
                </div>
                <div class="col">
                    <i class="fal fa-cog mr-4 fs-9em" ion-text color="blue"></i>
                    <i class="fas fa-lightbulb fs-9em" ion-text color="blue"></i>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="container-fluid" routerLink="/teacher-policy">
                        <div class="row">
                            <div class="col-4">
                                <i class="fs-4em fal fa-archive"></i>
                            </div>
                            <div class="col">
                                <div>OnTue.com Policy.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container-fluid" routerLink="/how-to-install-kakaotalk">
                        <div class="row">
                            <div class="col-4">
                                <i class="fal fa-plus-square fs-4em "></i>
                            </div>
                            <div class="col">
                                <div>Install Or Create Kakaotalk on Mobile.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container-fluid" routerLink="/how-to-get-qrmark">
                        <div class="row">
                            <div class="col-4">
                                <i class="fs-4em fal fa-qrcode "></i>
                            </div>
                            <div class="col">
                                <div>How to Get QR MARK.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container-fluid" routerLink="/how-to-get-kakaotalk-id">
                        <div class="row">
                            <div class="col-4">
                                <i class="fs-4em fal fa-id-badge"></i>
                            </div>
                            <div class="col">
                                <div>How to Get Kakaotalk ID.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
