@import "../../../../../theme/vars";
section{
    @media (min-width:$md) {
        height: 100%;;
    }
    margin-top: 1.35em;
    background: #fff;
    outline: 1px solid rgba(125,125,125,0.1);
    font-size: 85%;

    h2 {
        margin: 0;
        font-weight: 200;
        font-size: 1em;
        background: #133CAC;
        color:#fff;
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            padding-left: 1em;
            .external-link{
                display: flex;
                align-items: center;
                padding: .71em;
                padding-right: 1em;
                color: #fff;
                cursor: pointer;
    
                svg{
                    height: 1.15em;
                    width: 1.15em;
                }
            }
        }
    }

    .content{
        //height: 189px;
        //overflow:auto;
        &>a{
            display: block;
            padding: .8em 1.3em;
            background: #fff;

            &:hover{
                background:rgba(125,125,125,0.1);
                cursor: pointer;
            }
        }
    }
}
