@import '../../../theme/variables-katalkenglish.scss';
@import '../../../theme/vars.scss';
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    min-height: 540px;
    text-align: center;
    h1{
        margin: .5em 0;
        font-size: 2em;
        @media screen and (min-width:$md){
            font-size: 3em; 
        }
    }
    p {
        padding: 0 2em;
    }
}