<header>
    <h1>{{ 'TEACHER CLASS COMMENTS' | t }}</h1>
    <div class="desc">{{ 'TEACHER CLASS COMMENTS DESC' | t }}</div>
</header>
<main>
    <section class="content">
        <section id="student-comments">
            <div *ngIf="showloader">
                <div>
                    <i class="fa fa-spinner fa-spin fs-4rem"></i>
                    <div>{{ 'IN LOADING' | t }}</div>
                </div>
            </div>

            <div>
                <div>
                    <img src="{{teacher_photoURL}}">
                </div>
                <div>
                    <i class="fas fa-users mr-1"></i>
                    {{a.preTeacherName(teacher_name)}}
                </div>
            </div>

            <hr>

            <ng-container *ngFor="let comment of comments">
                <div class="comment" *ngIf="comment.idx">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="d-none col-md-3 d-md-flex">
                                <div>
                                    <img src="{{comment?.photoURL ? comment.photoURL : a.anonymousPhotoURL }}">
                                </div>
                            </div>
                            <div class="col-md-9 col-12">
                                <div>
                                    <div>
                                        <img src="{{comment?.photoURL ? comment.photoURL : a.anonymousPhotoURL }}">
                                    </div>
                                    <div>
                                        <div>
                                            <i class="fas fa-graduation-cap mr-1"></i>
                                            {{ comment.student_name }}
                                        </div>
                                        <div>{{ 'DATE' | t }}: {{ a.shortDate(comment.stamp) }}</div>
                                        <div class="rating">
                                            {{ 'RATING' | t }}:
                                            <span *ngIf="comment.rate < 1"><i class="fal fa-star"></i></span>
                                            <span *ngIf="comment.rate >= 1"><i class="fas fa-star"></i></span>

                                            <span *ngIf="comment.rate < 2"><i class="fal fa-star"></i></span>
                                            <span *ngIf="comment.rate >= 2"><i class="fas fa-star"></i></span>

                                            <span *ngIf="comment.rate < 3"><i class="fal fa-star"></i></span>
                                            <span *ngIf="comment.rate >= 3"><i class="fas fa-star"></i></span>

                                            <span *ngIf="comment.rate < 4"><i class="fal fa-star"></i></span>
                                            <span *ngIf="comment.rate >= 4"><i class="fas fa-star"></i></span>

                                            <span *ngIf="comment.rate < 5"><i class="fal fa-star"></i></span>
                                            <span *ngIf="comment.rate >= 5"><i class="fas fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <div>
                                        <span *ngIf="comment.idx_student == a.user.id" (click)="onClickDelete(comment)">
                                            <i class="fa fa-trash"></i>
                                            {{ 'DELETE' | t }}
                                        </span>
                                        <span *ngIf="comment.idx_student == a.user.id"
                                              (click)="onClickCommentEdit(comment)">
                                            <i class="fa fa-pencil"></i>
                                            {{ 'EDIT' | t }}
                                        </span>
                                    </div>
                                    {{comment.comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="error">
                <span>{{error}}</span>
            </div>
        </section>
        <div>
            <page-navigator-component [no_of_total_items]=" pageOption['totalRecord'] "
                            [no_of_items_in_one_page]=" pageOption['limitPerPage'] "
                            [no_of_pages_in_navigator]=" pageOption['limitPerNavigation'] "
                            [no_of_current_page]=" pageOption['currentPage'] "
                            [show_prev_next]=" true "
                            (pageClick)="onPostPageClick($event)">
            </page-navigator-component>
        </div>
    </section>
</main>