<h1>
    Paymnet List &amp; Search
</h1>

<form (ngSubmit)="onSubmit()">
    Date:
    <input class="normal" type="date" name="date_begin" [(ngModel)]="form.date_begin"> ~
    <input class="normal" type="date" name="date_end" [(ngModel)]="form.date_end">


    <input class="normal" type="text" name="idx_student" [(ngModel)]="form.idx_student" placeholder="idx_student">
    <input type="text" name="method" [(ngModel)]="form.payment_method" placeholder="Payment Method. paypal, etc.">

    <input type="radio" id="success" name="state" [(ngModel)]="form.state" [value]="'approved'">
    <label for="success">Payment Success</label>

    <input type="radio" id="fail" name="state" [(ngModel)]="form.state" [value]="'created'">
    <label for="fail">Failure</label>

    <input type="radio" id="refund" name="state" [(ngModel)]="form.state" [value]="'refund'">
    <label for="refund">Refund</label>


    Order
    <select name="order" [(ngModel)]="form.order">
        <option value='stamp_begin'>Date</option>
        <option value='point'>Point</option>
        <option value='currency'>Currency</option>
        <option value='payment_method'>Method</option>
    </select>
    By
    <select name="by" [(ngModel)]="form.by">
        <option value="ASC">ASC</option>
        <option value="DESC">DESC</option>
    </select>


    Limit
    <input class="narrow" type="text" name="limit" [(ngModel)]="form.limit">


    <button type="submit">Search</button>
</form>

No of success Payment: <span class="statNo">{{ stat.success | number }}</span>
No of failure: <span class="statNo">{{ stat.fail | number }}</span>


Total (success) Point: <span class="statNo">{{ stat.point | number }}</span>
Total (success) USD: <span class="statNo">{{ stat.usd | number }}</span>
Total (success) KWR: <span class="statNo">{{ stat.kwr | number }}</span>
Total refund point: <span class="statNo">{{ stat.refund | number }}</span>
No of student who (successfully) paid: <span class="statNo">{{ stat.studentName.length }}</span>

<hr>
<button class="app-button" (click)=" show.stat = true ">Show Daily Payment and Student Payment Statistics</button>

<div *ngIf=" show.stat ">
    Daily Successful Paymnet Point:
    <div class="dailys">
                <span class="daily" *ngFor="let date of stat.dailyDates">
                    {{ date }} {{ stat.daily[date] | number }}
                    <span class="bar" [style.width]=" stat.daily[date] / 10000 + 'px' "
                          [style.backgroundColor]=" color(stat.daily[date]) ">.</span>
                </span>
    </div>
    <hr>
    Successful Payment of Student: If you click on student, you will see the payments of the student.
    <div class="students">
                <span class="student" *ngFor="let student of stat.studentName"
                      (click)="onClickStudent( stat.student[student].idx )">
                    <span class="name">{{ student }}</span>
                    <span class="count"
                          [attr.count]=" stat.student[student].count ">{{ stat.student[student].count }}</span>
                    <span class="point">{{ this.stat.student[student].point | number }}</span>
                </span>
    </div>
</div>


<div *ngIf="show.loader"><h2>Loading...</h2></div>
<table class="payments">
    <tr>
        <th>idx</th>
        <th>Student</th>
        <th>Point</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Method</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    <tr *ngFor="let pay of re">
        <td>{{ pay.idx }}</td>
        <td>
            <div class="link" routerLink="/manager/user-info/{{pay.student?.idx}}">{{ pay.student?.display_name }}({{
                pay.student?.name}})
                <button class="user-info-button">e</button>
            </div>
        </td>
        <td>{{ pay.point }}</td>
        <td>{{ pay.currency }}</td>
        <td>{{ pay.payment_method }}</td>
        <td>{{ pay.state == 'approved' ? 'Success' : '' }}</td>
        <td>{{ a.shortDate(pay.stamp_begin) }}</td>
    </tr>
</table>