<h1>Teacher Payment Information List</h1>
<ul>
    <li>
        By default it will search base on the given date and will check who had class with the given date.
    </li>
    <li>
        You can search by teacher IDX's if you need a specific teacher. separated with comma. example: 1,2,3,4,5,6 or 7 only if only one teacher.
    </li>
</ul>
<div class="form">
    <form (ngSubmit)=" loadPaymentList() ">
        <label>Teacher ID: <input type="text" name="idx_teacher" [(ngModel)]="idx_teacher"></label>
        <label *ngIf="!idx_teacher">Start Date: <input type="number" name="date_begin" [(ngModel)]="stat_date_begin"></label>
        <label *ngIf="!idx_teacher">End Date: <input type="number" name="date_end" [(ngModel)]="stat_date_end"></label>
        <button type="submit">SUBMIT</button>
    </form>
</div>
<div class="loader" *ngIf=" loader.record ">
    <mat-spinner [diameter]="48"></mat-spinner>
    Loading...
</div>
<section class="payment-information" *ngIf=" teachers && !loader.record ">
    <div class="row">
        <div class="{{ paymentInfoView ? 'col-6' : 'col-12'}}">
            <div class="teacher-container">
                <div class="card" *ngFor="let info of teachers" (click)=" showPaymentInfo(info.idx_teacher)">
                    <span class="primary-photo" *ngIf="info['photoURL']">
                        <img src="{{info['photoURL']}}">
                    </span>
                    <div class="name  {{ selectedID == info['idx_teacher']? 'selected' : ''}} ">{{ info['<d></d>isplay_name'] }}</div>

                </div>
            </div>
        </div>
        <div id="information-list" class="col-6" *ngIf="paymentInfoView">
                <button class="close-button" (click)="paymentInfoView = false">
                    <span><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" ><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg></span>
                    <span>Close</span>
                </button>
                <div class="no-payment-information" *ngIf="!payment_information[selectedID]">
                    <div>No Payment Information yet...</div>
                </div>
                <div class="info-list" *ngIf="payment_information[selectedID]">
                    <div>Full Name: {{payment_information[selectedID]?.first_name}}
                        {{payment_information[selectedID]?.middle_name}} {{payment_information[selectedID]?.last_name}}
                    </div>
                    <div>Payment Method: {{payment_information[selectedID]?.payment_method}}</div>
                    <div>Phone Number: {{payment_information[selectedID]?.phone_number}}</div>
                    <div>Email: {{payment_information[selectedID]?.email}}</div>
                    <div>Address: {{payment_information[selectedID]?.address}}</div>
                    <div>City: {{payment_information[selectedID]?.city}}</div>
                    <div>Province: {{payment_information[selectedID]?.province}}</div>
                    <div>Country: {{payment_information[selectedID]?.country}}</div>
                    <div>ZipCode: {{payment_information[selectedID]?.zipcode}}</div>
                </div>

                <div class="payment-information-history"  *ngIf="payment_information[selectedID]">
                    <div class="title">{{ "PAYMENT INFORMATION HISTORY" | t }}</div>
                    <div class="show-history-button">
                        <button (click)="onClickShowHistory()"> Show History</button>
                    </div>

                    <div class="loader" *ngIf=" loader.history ">
                        <mat-spinner [diameter]="48"></mat-spinner>
                        <span>{{ 'IN LOADING' | t}}</span>
                    </div>

                    <ul *ngIf=" !loader.history && payment_information[selectedID] && payment_information[selectedID]['history']">
                        <ng-container *ngFor="let info of payment_information[selectedID]['history']; let odd = odd">
                            <li (click)="info['more'] =  !info['more']">
                                <div>
                                    <span>Date/Time Changed: {{a.shortDate(info.stamp)}}</span>
                                    <span [class.rotate-45-on]="info['more']" [class.rotate-45-off]="!info['more']">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M436 238H242V44c0-6.6-5.4-12-12-12h-12c-6.6 0-12 5.4-12 12v194H12c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h194v194c0 6.6 5.4 12 12 12h12c6.6 0 12-5.4 12-12V274h194c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12z"></path></svg>
                                    </span>
                                </div>
                                    <div class="list" *ngIf="info['more']">
                                        <div>First Name: {{info['first_name']}}</div>
                                        <div>Middle Name: {{info['middle_name']}}</div>
                                        <div>Last Name: {{info['last_name']}}</div>
                                        <div>Phone Number: {{info['phone_number']}}</div>
                                        <div>Email: {{info['email']}}</div>
                                        <div>Payment Method: {{info['payment_method']}}</div>
                                        <div>Country: {{info['country']}}</div>
                                        <div>Province: {{info['province']}}</div>
                                        <div>City: {{info['city']}}</div>
                                        <div>Address: {{info['address']}}</div>
                                        <div>Zipcode: {{info['zipcode']}}</div>
                                    </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
         </div>
</section>