@import '../../../../../theme/vars';

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    margin: 1.5em 0;
    font-size: .75em;
    form{
        text-align: center;
        input{
            margin-right: .5em;
            margin-bottom: .5em;
            padding: .6em .5em;
            font-size: .8em;
            @media (min-width:$md) {
                margin-right: 2em;
                margin-bottom: 0;
                padding: .6em 1em;
                font-size: .9em;
            }
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.4);
        }
        button{
            margin-top: .5em;
            text-align: center;
            padding: .75em 3em;
            border: 0;
            border-radius: 2px;
            background: #0867B0;
            color: #fff;
            @media (min-width:$md) {
                margin: 0;
            }
        }
    }
}
.teacher-container{
    display: flex;
    flex-wrap: wrap;
    .card{
        margin: .25rem;
        padding: .25rem;
        border-radius: 2px;
        border: 1px solid rgba(125,125,125,0.3);
        background: #fff;
        text-align: center;
        cursor: pointer;
        &:hover{
            .name{
                color: dodgerblue;
            }
        }
        .selected{
            color: dodgerblue!important
        }
        .primary-photo {
            position: relative;
            display: inline-block;
            width: 58px;
            height: 69.59px;
            overflow: hidden;
            line-height: 0;
            img {
              width: 100%;
            }
        }
        .name{
            padding: .5em 0;
            font-size: .75rem;
            color: dimgray;
        }
    }
}
.icon-svg{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    svg{
        height: .9em;
        width: .9em;
        margin: 0 .5em;
    }
}

.close-button{
    display: inline-flex;
    align-items: center;
    padding: .5em 1em;
    border: 1px solid rgba(125,125,125,0.4);
    border-radius: 2px;
    background: #eee;
    color: red;
    svg{
        position: relative;
        top: .125em;
        height: 1em;
        width: 1em;
        margin-right: .5em;
    }
}

.info-list{
    margin: 1em 0;
    border-top: 1px solid rgba(125,125,125,0.4); 
    &>div{
        padding: .5em 1em;
        border-bottom: 1px solid rgba(125,125,125,0.4); 
    }
}

.primary-photo {
    display: inline-block;
    width: 58px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.no-payment-information{
    padding: 2em;
    text-align: center;
}

.payment-information{
    .row>div:last-child{
        padding: 0;
    }
}
.teacher-container{
    display: flex;
    flex-wrap: wrap;
    .card{
        margin: .25rem;
        padding: .25rem;
        border-radius: 2px;
        border: 1px solid rgba(125,125,125,0.3);
        background: #fff;
        text-align: center;
        cursor: pointer;
        .primary-photo {
            position: relative;
            display: inline-block;
            width: 58px;
            overflow: hidden;
            line-height: 0;
            img {
                width: 100%;
            }
            &:hover{
                .hover-effect{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .hover-effect{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(96,125,139,.4);
                width: 100%;
                height: 100%;
                svg{
                    height: 1em;
                    width: 1em;
                    color: #fff;
                }
            }
        }
        .bottom{
            font-size: .8rem;
            &:hover{
                .message-link{
                    color: orange!important;
                    svg{
                        color: orange!important
                    }
                }
            }
            .message-link{
                margin: .25rem 0;
                svg{
                    position: relative;
                    top: .125em;
                    margin-left: .3em;
                    width: 1em;
                    height: 1em;
                    color: dimgray;
                }
            }
            .name{
                font-size: .75rem;
                color: dimgray;
            }
        }
    }
}


#information-list {
    font-size: .9rem;
    .loader{
        text-align: center;
        mat-spinner{
            margin-bottom: 1em;
        }
    }
    svg{
        position: relative;
        top: .125em;
        width: 1em;
        height: 1em;
    }
    .buttons-inside,
    .buttons-outside{
        .close,
        .refresh{
            display: inline-flex;
            align-items: center;
            padding: .5em 1em;
            border: 1px solid rgba(125,125,125,0.2);
            border-radius: 2px;
            background: #eee;
        }
        .close{
            margin-right: 1rem;
            color: red;
        }
        svg{
            margin-right: .4rem;
        }
    }
    .buttons-inside{
        button{
            padding: 1.25em 1em!important;
            padding-left: 1.5em!important;
            border: 0!important;
            background: transparent!important;
            color : #000;
        }
        .close{
            padding-left: 1.5em!important;
        }
    }
}


.payment-information-history {
    padding: 3em 0;
    .loader{
        margin-top: 3em;
    }
    .title{
        font-weight: bold;
        color: darkblue
    }
    .rotate-45 {

        &-on {
            transition: all .1s ease-in-out;
            transform: rotate(45deg)
        }

        &-off {
            transition: all .1s ease-in-out;
            transform: rotate(0)
        }
    }

    .show-history-button {
        margin-top: 1em;
        text-align: center;
        button {
            padding: 1em 3em;
            border-radius: 2px;
            border: 0;
            background: darkorange;
            color: #fff;
            cursor: pointer
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        .plus-icon {
            height: 1em;
        }

        li {
            & > div:first-child {
                display: flex;
                justify-content: space-between;
                padding: 1em 2em;
                border-bottom: 1px solid #fff;
                background: #e2e2e2;
                cursor: pointer;
            }
        }

        .list {
            & > div {
                display: flex;
                padding:  .5em 1em;
                border-bottom: 1px solid black;
                div:first-child {
                    width: 30%;
                }
                div:last-child {
                    width: 70%;
                }
            }
        }
    }
}