<h1>Teacher Payment Information List</h1>
<div class="form">
    <form (ngSubmit)=" loadPaymentList() ">
        <input type="number" name="date_begin" [(ngModel)]="stat_date_begin">
        <input type="number" name="date_end" [(ngModel)]="stat_date_end">
        <button type="submit">SUBMIT</button>
    </form>
</div>
<div class="loader" *ngIf=" loader.record ">
    <mat-spinner [diameter]="48"></mat-spinner>
    Loading...
</div>
<section class="payment_information" *ngIf=" teachers && !loader.record ">
    <div class="row">
        <div class="{{ paymentInfoView ? 'col-6' : 'col-12'}}">
            <div class="teacher-container">
                <div class="card" *ngFor="let info of teachers" (click)=" showPaymentInfo(info.idx_teacher)">
                    <span class="primary-photo" *ngIf="info['photoURL']">
                        <img src="{{info['photoURL']}}">
                    </span>
                    <div class="right">
                        <div class="message-link">
                            <span>{{ info.message_count }}</span>
                            <span *ngIf=" info.message_count && g =='withcenter' ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor"
                                                                                            d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                                                                                            class=""></path></svg>
                    </span>
                        </div>
                        <div class="name">{{ info['display_name'] }}</div>
                    </div>

                </div>
            </div>
        </div>
        <div id="information-list" class="col-6" *ngIf="paymentInfoView">
            <div>
                <div class="buttons-outside">
                    <button class="close" (click)="paymentInfoView = false">
                        <span><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path
                                fill="currentColor"
                                d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"
                                class=""></path></svg></span>
                        <span>Close</span>
                    </button>
                </div>
                <div *ngIf="!payment_information[selectedID]">
                    <div>No Payment Information yet...</div>
                </div>
                <div *ngIf="payment_information[selectedID]">
                    <div>Full Name: {{payment_information[selectedID]?.first_name}}
                        {{payment_information[selectedID]?.middle_name}} {{payment_information[selectedID]?.last_name}}
                    </div>
                    <div>Payment Method: {{payment_information[selectedID].payment_method}}</div>
                    <div>Phone Number: {{payment_information[selectedID].phone_number}}</div>
                    <div>Email: {{payment_information[selectedID].email}}</div>
                    <div>Address: {{payment_information[selectedID].address}}</div>
                    <div>City: {{payment_information[selectedID].city}}</div>
                    <div>Province: {{payment_information[selectedID].province}}</div>
                    <div>Country: {{payment_information[selectedID].country}}</div>
                    <div>ZipCode: {{payment_information[selectedID].zipcode}}</div>
                </div>
                <hr>

                <div class="payment-information-history"
                     *ngIf=" payment_information[selectedID]">
                    <h2>{{ "PAYMENT INFORMATION HISTORY" | t }}</h2>

                    <div class="show-history-button">
                        <button (click)="onClickShowHistory()"> Show History</button>
                    </div>

                    <div class="loader mt-3" *ngIf=" loader.history ">
                        <mat-spinner [diameter]="48"></mat-spinner>
                        <span>{{ 'IN LOADING' | t}}</span>
                    </div>

                    <ul *ngIf=" !loader.history && payment_information[selectedID] && payment_information[selectedID]['history']">
                        <ng-container *ngFor="let info of payment_information[selectedID]['history']; let odd = odd">
                            <li (click)="info['more'] =  !info['more']">
                                <div>
                                    <span>Date/Time Changed: {{a.shortDate(info.stamp)}}</span>
                                    <span [class.rotate-45-on]="info['more']" [class.rotate-45-off]="!info['more']">
                                <svg class="plus-icon" aria-hidden="true" data-prefix="fal" data-icon="plus" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path
                                        fill="currentColor"
                                        d="M436 238H242V44c0-6.6-5.4-12-12-12h-12c-6.6 0-12 5.4-12 12v194H12c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h194v194c0 6.6 5.4 12 12 12h12c6.6 0 12-5.4 12-12V274h194c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12z"></path></svg>
                            </span>
                                </div>
                                <div class="list" *ngIf="info['more']">
                                    <div>
                                        <div>First Name</div>
                                        <div>{{info['first_name']}}</div>
                                    </div>
                                    <div>
                                        <div>Middle Name</div>
                                        <div>{{info['middle_name']}}</div>
                                    </div>
                                    <div>
                                        <div>Last Name</div>
                                        <div>{{info['last_name']}}</div>
                                    </div>
                                    <div>
                                        <div>Phone Number</div>
                                        <div>{{info['phone_number']}}</div>
                                    </div>
                                    <div>
                                        <div>Email</div>
                                        <div>{{info['email']}}</div>
                                    </div>
                                    <div>
                                        <div>Payment Method</div>
                                        <div>{{info['payment_method']}}</div>
                                    </div>
                                    <div>
                                        <div>Country</div>
                                        <div>{{info['country']}}</div>
                                    </div>
                                    <div>
                                        <div>Province</div>
                                        <div>{{info['province']}}</div>
                                    </div>
                                    <div>
                                        <div>City</div>
                                        <div>{{info['city']}}</div>
                                    </div>
                                    <div>
                                        <div>Address</div>
                                        <div>{{info['address']}}</div>
                                    </div>
                                    <div>
                                        <div>Zipcode</div>
                                        <div>{{info['zipcode']}}</div>
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>