<section class="file-upload">


    <div *ngIf="title" class="title">{{ titleText }}</div>
    <label *ngIf="fileSelectionButton" class="file-upload-button custom-file">

        <input type="file" id="file" class="custom-file-input" (change)="onChangeFile($event)">
        <span class="custom-file-control"></span>
    </label>

    <div *ngIf=" progressPercentage > 0 " class="progress mt-1">
        <mat-progress-bar mode="determinate" [value]="progressPercentage"></mat-progress-bar>
    </div>

    <div *ngIf="showUploadedFiles && files && files.length " class="files uploaded-files">
        <div class="file" *ngFor=" let file of files " [attr.type]="a.file.getFileType(file)">
            <div class='content' (click)="onClickDeleteButton(file)">
                <div [class]="a.file.getFileType(file)">
                    <img src="{{ file.url_thumbnail ? file.url_thumbnail : file.url }}" *ngIf="a.file.getFileType(file) == 'image'">
                    <a href="{{ file.url }}" target="_blank" *ngIf="a.file.getFileType(file) == 'attachment'">
                        {{file.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>