
    
main{

    .timezone-wrapper{
        padding-bottom: 5em;
    }

    header{
        h1{
            margin: 0;
            padding:1em 1.7em;
            background-color: #e91e63!important;
        }
    
        .desc {
            padding:1em 2em;
            background-color: #e1e6e7;
        }
    }
    

    .header-li,.list{
        display: flex;
        justify-content: space-between;
        padding: 1em 2em;
        border:1px solid rgba(grey,0.2);
        border-top:none;
        background: white;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    
    .header-li{
        margin-top: 1em;
        border-top:1px solid rgba(grey,0.2);
        background:rgba(dodgerblue,0.2);
        font-weight: bolder;
    }
    
    .list{
    
        &{
            span{
                display: flex;
                align-items: center;
            }
        }
    
        &:hover{
            background:rgba(grey,0.05);
        }
    }
    
    .custom-icon{
        height: 24px;
        margin-right: 1em;
    }
}
