
@import '../../../../../theme/vars.scss';
main{
    margin-top: 2em;
    min-height: 540px;
    background: #fff;


    .container-fluid{
        text-align: center;

        .row{
            justify-content: center;
            align-items: center;
            padding: 1em 0;
            @media screen and (min-width:$md) {
                padding: 1em;
            }
            border-bottom:1px solid #e9ecef!important;

            .col{
                padding: 0;
            }

        }

        .header{
            position: sticky;
            top:105px;
            left: 0;
            @media screen and (min-width:$md) {
                top:63px;
            }
        }

        .loader{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          mat-spinner{
            margin: .5em;
          }
        }
    }
}