<section class="comment" [attr.depth]="comment.depth">
    <div class="content" *ngIf=" ! editing ">
      <div>{{ comment.displayName ? comment.displayName : ('Anonymous' | t) }} {{ comment.date }}
      </div>
      <!-- {{ comment | json }} -->
      <div class="content">
        {{ comment.content }}
      </div>
      <div class="files" *ngIf=" !comment.deleted && comment.data?.length ">
        <div class="file" style="display: inline-block; overflow: hidden; margin: 2px; padding: 2px; width: 120px; height: 100px; border: 1px solid grey;"
          *ngFor="let data of comment.data">
          <img src="{{ data.thumbnailUrl ? data.thumbnailUrl : data.url }}">
        </div>
      </div>
    </div>
  
    <div class="buttons" *ngIf=" ! editing ">
      <button (click)=" editing = true; commentForm.edit(); " *ngIf="myComment()">{{ 'EDIT' | t }}</button>
      <button (click)="onClickDelete()" *ngIf="myComment()">{{ 'DELETE' | t }}</button>
      <button (click)="onClickLike()" *ngIf=" !comment['likeInProgress'] ">{{ 'LIKE' | t }}({{comment.numberOfLikes ? comment.numberOfLikes : 0}})</button>
      <span class="loader" *ngIf=" comment['likeInProgress'] ">{{ 'LOADING' | t }}...</span>
      <button (click)="onClickDislike()" *ngIf=" !comment['dislikeInProgress'] ">{{ 'DISLIKE' | t }}({{comment.numberOfDislikes ? comment.numberOfDislikes : 0}})</button>
      <span class="loader" *ngIf=" comment['dislikeInProgress'] ">{{ 'LOADING' | t }}...</span>
    </div>

    <app-comment-form #commentForm [post]="post" [comment]="comment" (created)=" 1 " (edited)=" editing = false; " (cancelled)=" editing = false; "></app-comment-form>
  
  
    <!-- <div class="form">
      <form (ngSubmit)=" onSubmit( $event ) ">
        <table>
          <tr>
            <td><app-data [path]=" 'posts/' + post.id + '/comments/' + form.id " [data]=" form.data "></app-data></td>
            <td><input type="text" name="content" [(ngModel)]="form.content" [disabled]="loader.progress"></td>
            <td><button type="submit" *ngIf=" ! loader.progress ">{{ form.created ? 'Edit' : 'Create' }} Comment</button></td>
          </tr>
        </table>
        <button type="button" (click)="onClickEditCancel()" *ngIf=" form.created && ! loader.progress">Cancel</button>
        <span class="loader" *ngIf="loader.progress">Requesting. Please wait.</span>
      </form>
    </div> -->
  
  </section>
  