<div class="form">
    <form (ngSubmit)=" onSubmit( $event ) ">
        <table>
            <tr>
                <td>
                    <app-data [path]=" 'posts/' + post.id + '/comments/' + form.id " [data]=" form.data "></app-data>
                </td>
                <td>
                    <input type="text" name="content" [(ngModel)]="form.content" [disabled]="loader.progress">
                </td>
                <td>
                    <button type="submit" *ngIf=" ! loader.progress ">{{ form.created ? 'Edit' : 'Create' }} Comment</button>
                </td>
            </tr>
        </table>
        <span class="loader" *ngIf="loader.progress">Requesting. Please wait.</span>
    </form>
</div>
