<div class="form">
    <form (ngSubmit)=" onSubmit( $event ) ">
        <table>
            <tr>
                <td>
                    <app-data
                        #appData
                        [path]=" 'posts/' + post.id + '/comments/' + form.id "
                        [data]=" form.data "
                        [displayFiles]="false"
                        [displayProgress]="false"
                        (upload)="onUpload()"
                        (progress)="onProgress( $event )"></app-data>
                </td>
                <td>
                    <input type="text" name="content" [(ngModel)]="form.content" [disabled]="loader.progress">
                </td>
                <td>
                    <button type="submit" *ngIf=" ! loader.progress ">{{ form.created ? 'Edit' : 'Create' }} Comment</button>
                    <button type="button" (click)="onClickEditCancel()" *ngIf=" form.created && ! loader.progress">Cancel</button>
                </td>
            </tr>
        </table>
        <span class="loader" *ngIf="loader.progress">Requesting. Please wait.</span>
    </form>
    <div class="progress" *ngIf=" percentage ">Upload: {{ percentage }}%</div>
    <div class="files" *ngIf="form.data?.length ">
        <div class="file" *ngFor="let file of form.data" >
            <img width="100%" src="{{ file.url }}">
            <div class="delete" (click)="appData.onClickDelete(file)" *ngIf=" ! appData.loader ">Delete</div>
            <div class="delete-loader" *ngIf=" appData.loader == file.name ">Deleting...</div>
        </div>
    </div>
</div>
