.content {
    background-color: oldlace;
}

[depth='1'] {
    margin-left: 1.1em;
}
[depth='2'] {
    margin-left: 2.2em;
}
[depth='3'] {
    margin-left: 3.3em;
}
[depth='4'] {
    margin-left: 4.4em;
}
[depth='5'] {
    margin-left: 5.5em;
}
[depth='6'] {
    margin-left: 5.8em;
}
[depth='7'] {
    margin-left: 6em;
}
[depth='8'] {
    margin-left: 6.2em;
}
[depth='9'] {
    margin-left: 6.4em;
}