input[type='text'] {
    width: 4em;
    &.wide {
        width: 7em;
    }
    &.narrow {
        width: 2em;
    }
}

.point {
    color: blue;
}

.daily_registration {
    .day {
        .bar {
            display: inline-block;
            overflow: hidden;
            width: 14px;
        }
        .day, .date {
            padding: 0 .1em;
            font-size: .75em;
        }
    }
}

.users {
    font-size: .9rem;
}