
<main>
    <header >
        <h1>
            TERMS AND CONDITION
        </h1>
    </header>
    <section>
            <div>
                <h2>TERMS AND CONDITION</h2>
                <p>The terms and conditions in this page explain the agreement between OnTue and you.</p>
            </div>
        
            <div>
                <h2>TERMS</h2>
                <p>* Cutoff Period of payable dates.</p>
            </div>
        
            <div>
                <h2>CONDITION</h2>
                <div>
                    <ul>
                        <li>Teachers can freely register and set up profile, open schedules.</li>
        
                        <li>Trial session is a common practice and it helps Teachers to gain more Students.</li>
        
                        <li>
                            Students can have two trial sessions to each Teacher but maximum of 5 test sessions all
                            in
                            all.
                        </li>
        
                        <li>Teachers must record the session. It is very important matter.</li>
        
                        <li>If a Teacher fails on hand over the record of the session,</li>
        
                        <li>Company will not only accept the request from Students but also pull back the grade of
                            the
                            Teacher
                        </li>
        
                        <li>Students can request point refund of the session when they think they have right.</li>
        
                        <li>Company will, then, ask the session record to Teacher and decide what to do after
                            watching the
                            session.
                        </li>
        
                        <li>Company can give a higher grade to a Teacher than other Teachers.</li>
        
                        <li>Teachers who have higher grade will have better chance for their profile to be display
                            to
                            Students.
                        </li>
                    </ul>
                </div>
            </div>
        
            <div>
                <h2>LEVEL TEST CURRICULUM</h2>
                <div>
                    <ul>
                        <li>We strongly request all teacher to follow this format for the level test class. It is considered a
                            level test class when the session has 0 point.
                        </li>
        
                        <li>
                            First 2 minutes: Say hello to the student. Ask name, age, location, school.
                        </li>
        
                        <li>
                            After this, you will know how the student speaks.
                        </li>
        
                        <li>
                            Then, tell the student that you are going to conduct a simple English level test.
                        </li>
                        <li>
                            There should two kinds of level test.
                        </li>
        
                        <li>
                            1. Level test for a real beginner. like Phonics. A simple question. like. 'Can you tell me the
                            number of Apple?', 'What is your father's name?'
                        </li>
        
                        <li>
                            2. Level test for intermediate.
                        </li>
        
                        <li>
                            After finishing the level test, tell the student that the result will be posted in 'past sessions'
                            menu on the site.
                        </li>
        
                        <li>
                            And tell the student what book that you are going to use in the next class.
                        </li>
        
                        <li>
                            Lastly, encourage the student to study hard and study with you.
                        </li>
                    </ul>
                </div>
            
            </div>
        
            <div>
                    <h2>FORMAT FOR EACH SESSION</h2>
                    <div>
                        <ul>
                            <li>1. Say hello to Student for 2 minutes.</li>
            
                            <li>
                                2. Overview the last session or discuss about the book.
                            </li>
            
                            <li>
                                3. Continue the book for 15 minutes.
                            </li>
            
                            <li>
                                4. Correct the student mistakes like words, expression, etc for 1 or 2 minutes.
                            </li>
            
                            <li>
                                5. Review the book for 1 or 2 minutes.
                            </li>
            
                            <li>
                                6. Discuss about the next class. What book will be used. Teacher may ask the student study the book
                                in advance.
                            </li>
                        </ul>
                    </div>
            
            </div>
                
                
        
                <div>
                    <h2>Bookable Time</h2>
                    <p>
                        Bookable time is an time interval to prevent a sudden booking by student.
                        The input unit is minutes.
                        If you put numbre 1 in bookable time, it means, student cannot book(reserve) your schedule that would
                        begin in 1
                        minutes.
                        Teachers who wants to be offline often should put 60 or more minutes.
                        But those teacher who put longer bookable time gets less booking because their schedule may not appear
                        on
                        'immediate booking' menu.
                </div>
        
                <div>
                    <h2>SESSION CANCELLATION</h2>
                    <p>Teachers can cancel their reserve sessions.</p>
                    <p>Teacher must have a good reason why cancel the class. and must inform the student nicely.</p>
                    <p>Teacher who frequently cancel class without informing the student/admin may degrade their account.</p>
                    <p>Teacher must not cancel level-test class as much as possible because we as a company give importance to new potential student.</p>
                    <p>Teacher can only cancel class that are not yet less than 1 hour before the class.</p>
                    <p>Teacher must refund the class if it is the teacher fault why the class is unsuccessful.</p>
                </div>
        
        
                <div>
                    <h2>PAYMENT</h2>
                    <div>
                        <div>
                            * Payment is on every 7th and 22nd.
                        </div>
                        <div>
                            ** Teachers will get their payment on every 22nd for the cutoff between 1st and 15th of the month.
                        </div>
                        <div>
                            ** Teachers will get their payment on every 7th for the cutoff between 16th and the last day of previous
                            month.
                        </div>
                        <div>
                            ** Sessions in Refund progress will be paid on next cutoff if it is settled.
                        </div>
                        <div>
                            ** Sessions with no evaluation will be paid on next cutoff if it is evaluated.
                        </div>
                        <div>
                            * Teachers can choose a payment method between paypal, gcash, western union.
                        </div>
                        <div>
                            ** If a Teacher choose Western Union as his payment to be delivered, then the teacher must pay for
                            Western Union
                            Transaction fee since it is every expensive.
                        </div>
                        <div>
                            ** Transaction fee of paypal, gcash will be held by Company.
                        </div>
                        <div>
                            * If payment information of a Teacher is incorrect, then the teacher will get his payment on next cutoff
                            if he
                            settled the problem.
                        </div>
                        <div>
                            * Payments less than 100 pesos or 2 USD dollars will be added to next cutoff.
                        </div>
                    </div>
                </div>
                
                <div>
                        <h2>POINT REFUND</h2>
                        <p>* If a teacher failed to submit class record
                            on
                            the request of admin in 24 working hours, the point of session will be returned
                            to the student.
                            <span> * If a teacher does not turn on his camera, the point of the session will be returned to the student.</span>
                            <span> * If a session has been failed due to any incidents that are occurred on teacher's side, the point of the session will
                    be refunded.</span>
                            <span>* Point of failure sessions that are not caused by student will be refunded. For instance, the internet
                    cable under the sea was corrupted. And teacher cannot connect to student. It's not teacher's fault. The problem has occurred
                    by the nature. But we need to protect our valuable customers. We will refund any session that has failed if that is not
                    student's fault.</span>
                        </p>
                </div>
        
        
                <div>
                    <h2>TEACHING ENVIRONMENT</h2>
                    <div>
                        <ul>
                            <li>We don't consider a teacher as a good who teaches very well.</li>
                            <li>
                                We consider a teacher as a good teacher * If he has a good internet, headset, clam space ( no one
                                and nothing
                                interrupts.
                                ) * If he speak very slow and smiles all the time. Most of all, who have a very good relationship
                                with
                                students.
                                that's what we say good teacher or best teacher.
            
                            </li>
                        </ul>
                    </div>
                </div>
        
                <div>
                    <h2>THE FIRST CLASS</h2>
                    <div>
                        <ul>
                            <li>The first class may be or may NOT be a free class.</li>
                            <li>When it is a free class, it means student is new to our service and the student is
                                giving a
                                trial
                            </li>
                            <li>NOT only our system but also How the teacher is.</li>
                            <li>It is a big chance for you to have a new student</li>
                            <li>when you have a free class</li>
                            <li>since free class means that the student has not decided yet to study with which
                                teacher.
                            </li>
                            <li>You must be very careful to win this session.</li>
                            <li>Smile. Speak Slowly. And you will win.</li>
            
                        </ul>
                    </div>
                </div>
        
        
                <div>
                        <h2>RULES ON CONDUCTING A SESSION</h2>
                        <div>
                            <ul>
                                <li>
                                    Teacher must add the student's kakao as his friend and must be able to communicate before class
                                    time. If the
                                    teacher did
                                    not contact with the student, the teacher must cancel the session.
                
                                </li>
                
                                <li>
                                    Do not send book in class time. Students are using smart phones. It is extremely difficult to open a
                                    book
                                    while doing video
                                    chat. If teacher asks the receive books, student will go in panic. So, it is bad idea sending books
                                    in class
                                    time.
                                    Teacher must send books before class time or after class time. Teacher will know if student is using
                                    smart
                                    phone
                                    or computer by watching their video.
                                </li>
                
                                <li>
                                    Winning Point!
                                    <br> It is proven that if a teacher smile all the time and speak very slowly, the teacher will win
                                    on online
                                    video education.
                
                                </li>
                
                                <li>
                                    Communication. What we are doing is communication after all. Teaching and learning comes after the
                                    teacher and
                                    student build
                                    a good relationship. Try to communicate with your students. The first class which may be a free
                                    class with a
                                    student
                                    is very important give a good impression and you are a good communicator and you can have a good
                                    relationship.
                
                                </li>
                
                                <li>
                
                                    Student cannot open the book. Teacher must send the book before class time. It is better that
                                    teacher send
                                    book(s) to the
                                    student for 1 month. Teacher must know student is using Mobile or Desktop. If student is using
                                    Mobile, then
                                    teacher
                                    must ask the student to read the book before the class time since the student could not open the
                                    book. If
                                    student
                                    is using Desktop, then the teacher may ask the student to open the book.
                
                                </li>
                
                            </ul>
                        </div>
                </div>
                
                <div>
                        <h2>GRADING SYSTEM</h2>
                        <div>
                            <ul>
                                <li>
                                    Good teacher will have grade 1. Again, as we explain above, good teacher is who has good internet,
                                    good
                                    environment, good
                                    devices. We believe all teachers has some level of good english teaching skills. So, having only
                                    good english
                                    teaching
                                    skill does not help to earn grade 1.
                                </li>
                                <li>
                                    Grade 2. Again, Having good english teaching skill only does not help to earn grade 2. We will give
                                    grade 2 to
                                    those teachers
                                    whom we see he/she is a capable of wining student's heart. Communication comes first and Teaching
                                    comes at
                                    last.
                                    English teaching is a communication after all. We will observe your performance based on your
                                    communication
                                    skills.
                                    You will need a good personality.
                                </li>
                
                                <li>
                                    Grade 3. Teachers who are always sought after students. Teachers who always win when they meet new
                                    students.
                                </li>
                            </ul>
                        </div>
                </div>            
    </section>
</main>
