@import '../../../../../theme/vars';
mat-tab-group{
    margin-top: 1em;
}

.profile-data-form,
.refund-request-wrapper,
.payments-wrapper,
.point-history-wrapper{
    margin: 1em 0;
    @media (min-width:$md) {
        margin:2em 0;
    }
}

.user-stats{
    margin: .5em 0;
    font-size: .9em;
    &>div{
        margin-bottom: 1.25em;
    }
    b{
        display: inline-block;
        width: 30%;
        @media (min-width:$md) {
            width: 25%
        }
        color: #0867B0
    }
    span{
        display: inline-block;
        width: 65%;
        margin-left: 1em;
    }
}

.user-profile-form{
    h2{
        margin-top: 0;
        font-size: 1.2em;
        font-weight: normal;
    }
    .top-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1.5em;
        min-height: 200px;
    }

    .buttons{
        margin: 0;
        margin-bottom: .5em;
        display: flex;
        .app-button{
            margin: 0;
            padding: .7em 1em!important;
            background: gray;
            &:first-child{
                margin-right: 1em;
            }
        }
    }
    .profile-data-form{
        padding: 0 .5em;
        .row{
            margin: 0;
            width: 100%;
            height: 100%;
        }
        .col-md-6,
        .col-md-5{
            padding: 0;
        }
        .col-md-5{
            padding-right: 1em;
        }
        .col-md-6{
            padding-left: 1em;
        }
        .col{
            padding: 0;
        }
        .primary-photo{
            padding: 1em;
            text-align: center;
            border: 3px dashed rgba(125,125,125,0.3);
            border-radius: 2px;
            .label{
                font-size: 1.2em;
            }
            label{
                cursor:  pointer;
            }
            .profile-photo{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                height: 120px;
                width: 100px;
                overflow: hidden;
                img{
                    width: 100%
                }
            }
            .update-photo{
                display: flex;
                justify-content: center;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1em;
                    padding: .4em 1em;
                    border-radius: 2px;
                    background: dodgerblue;
                    color: #fff;
                    font-size: .85em;
        
                    svg{
                        height: 1em;
                        width: 1em;
                        margin-left: .5em
                    }
                }
            }
            .input-box{
                position: absolute;
                opacity: 0;
            }
        }
        mat-form-field{
            width: 100%;
            font-size: .85em;
        }
        .form-radio{
            input[matInput]{
                display: none;
            }
            label{
                margin-right: 1em;
                margin-left: .1em;
            }
        }
        .app-button{
            padding:1em;
            width: 100%;
        }
    }
    .point-edit-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: .7em 3em!important;
        background: darkgreen;
        color: #fff;
        svg{
            height: 1.2em;
            width: 1.2em;
            margin-left: .5em;
        }
    }
    .point-edit-form{
        margin: 1em 0;
        padding: 1em 1.5em;
        border-radius: 2px;
        border: 1px solid rgba(125,125,125,0.2);
        h2{
            margin-top: 0;
            font-size: 1em;
            color: darkgreen;
            font-weight: bolder;
        }
        &>div{
            font-size: .9em;
            margin: .75em 0;
        }
        input{
            padding: .5em 1em;
            font-size: .85em;
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.3);
        }
        .note{
            padding: .5em 0;
            font-size: .9em;
            color: darkblue
        }
        .label{
            margin-right: 1em;
            font-weight: bold;
        }
        label{
            margin-right: .5em;
        }
        input[type="radio"],
        label{
            cursor: pointer;
        }

        .buttons{
            display: flex;
            justify-content: space-around;
            margin-top: 1em;
            .app-button{
                padding: .5em 1em;
            }
            .update{
                background: dodgerblue;
                color: #fff;
            }
            .cancel{
                background: #eee;
                color:darkred;
            }
        }
    }
}

.form-buttons{
    margin-top: 1em;
}



.payments-wrapper,
.refund-request-wrapper{
    padding: 0;
    font-size: .8em;
    @media (min-width:$md){
        font-size: .9em;
    }

    table{
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        td,
        th{
            padding: .75em;
        }
        th{
            background: gray;
            color: #fff;
        }
        tr{
            border-bottom: 1px solid rgba(125,125,125,0.2);
        }
    }
}


.sessions-wrapper,
.point-history-wrapper{
    font-size: .8em;
    @media (min-width:$md) {
        font-size: .9em;
    }

    .user-info{
        font-size: .7em;
        @media (min-width:$md) {
            font-size: 1em;
        }
    }    

    table{
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        th{
            background: gray;
            color: #fff;
        }

        tr{
            border-bottom: 1px solid rgba(125,125,125,0.2);
            &>*{
                padding: .45em;
                @media (min-width:$md){
                    padding: .75em;
                }
            }
        }
    }
}

.sessions-wrapper{
    .sessions-desc{
        margin-top: 0;
        line-height: 1.8em;
    }

    h2{
        margin-top: 0;
        font-size: 1.4em;
        font-weight: normal;
    }

    .mini-stat{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
        font-size: .8em;
        span{
            font-size: 1.3em;
            margin-right: 1em;
        }

        b{
            color: #0867B0;
        }
    }

    table{
        font-size: .9em;
    }
}

.point-history{
    h2{
        margin-top: 3em;
        margin-bottom: .5em;
    } 

}

.loader{
    margin-top: 3em;
}