@import '../../../../../theme/vars';
.loader{
    margin-top: 3em;
}
#content{
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    min-height: 3400px;
    background: #fff;
    h2{
        font-size: 1.2em;
        font-weight: normal;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        text-align: center;
        font-size: .75em;
        @media (min-width:$md) {
            font-size: .87em;   
        }
        th{
            border-top:1px solid rgba(125,125,125,0.2);
        }
        tr{
            border-bottom: 1px solid rgba(125,125,125,0.2);
            &>td{
                padding: .45em .5em;
                @media (min-width:$md){
                    padding: .75em .5em;
                }
            }
            &>th{
                padding: .65em .5em;
                @media (min-width:$md){
                    padding: .95em .5em;
                }
            }
            &:hover{
                background: rgba(125,125,125,0.05);
            }
            &:first-child{
                background: #fff;
            }
        }
        .user-info{
            font-size: .85em;
        }
    }

    #user-profile-form{
        .user-stats{
            margin: .5em 0;
            font-size: .9em;
            &>div{
                margin-bottom: 1.25em;
            }
            b{
                display: inline-block;
                width: 30%;
                @media (min-width:$md) {
                    width: 25%
                }
                color: #0867B0
            }
            span{
                display: inline-block;
                width: 65%;
                margin-left: 1em;
            }
        }
        form{
            .primary-photo{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 1.5em;
                min-height: 200px;
                padding: 1em;
                text-align: center;
                border: 3px dashed rgba(125,125,125,0.3);
                border-radius: 2px;
                .label{
                    font-size: 1.2em;
                }
                label{
                    cursor:  pointer;
                }
                .profile-photo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    height: 120px;
                    width: 100px;
                    overflow: hidden;
                    img{
                        width: 100%
                    }
                }
                .update-photo-button{
                    display: flex;
                    justify-content: center;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 1em;
                        padding: .4em 1em;
                        border-radius: 2px;
                        background: dodgerblue;
                        color: #fff;
                        font-size: .85em;
            
                        svg{
                            height: 1em;
                            width: 1em;
                            margin-left: .5em
                        }
                    }
                }
                input{
                    position: absolute;
                    opacity: 0;
                }
            }
            .mini-form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 1.5em;
                min-height: 200px;
                .app-button{
                    padding:1em;
                    width: 100%;
                }
                .page-buttons{
                    margin: 0;
                    margin-bottom: .5em;
                    display: flex;
                    .app-button{
                        margin: 0;
                        padding: .7em 1em!important;
                        background: gray;
                        &:first-child{
                            margin-right: 1em;
                        }
                    }
                }
                .point-edit-form{
                    margin: 1em 0;
                    padding: 1em 1.5em;
                    border-radius: 2px;
                    border: 1px solid rgba(125,125,125,0.2);
                    font-size: .9em;
                    h2{
                        font-size: 1em;
                        color: darkgreen;
                        font-weight: bolder;
                    }
                    &>div{
                        font-size: .9em;
                        margin: 1em 0;
                    }
                    input{
                        padding: .5em 1em;
                        font-size: .85em;
                        border-radius: 2px;
                        border: 1px solid rgba(125,125,125,0.3);
                    }
                    .note{
                        padding: .5em 0;
                        font-size: .9em;
                        color: darkblue
                    }
                    .label{
                        display: block;
                        margin-right: 1em;
                        margin-bottom: .3em;
                        font-weight: bold;
                    }
                    label{
                        margin-right: .5em;
                    }
                    input[type="radio"],
                    label{
                        cursor: pointer;
                    }
            
                    .buttons{
                        display: flex;
                        justify-content: space-around;
                        margin-top: 1em;
                        .app-button{
                            padding: .5em 1em;
                        }
                        .update{
                            margin-right: 1em;
                            background: dodgerblue;
                            color: #fff;
                        }
                        .cancel{
                            margin-left: 1em;
                            background: #eee;
                            color:darkred;
                        }
                    }
                }
            }
            .profile-data-input{
                &>div{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: .9em;
                    label{
                        margin-left: .2em;
                        margin-bottom: .2em;
                        font-size: .9em;
                        color: #0867B0;
                    }
                    input[disabled]{
                        border: 0;
                        background: rgba(125,125,125,0.2);
                    }
                    input,
                    .form-radio{
                        padding: .6em 1em;
                        font-size: .9em;
                        border-radius: 2px;
                        border: 1px solid rgba(125,125,125,0.3);
                    }
                    .form-radio{
                        input,
                        label{
                            cursor: pointer;
                        }
                        label{
                            margin-right: 1em;
                        }
                    }
                }
            }
            .form-button{
                .app-button{
                    padding: .5em 1em;
                }
            }
        }
        .point-edit-button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: .7em 3em!important;
            background: darkgreen;
            color: #fff;
            svg{
                height: 1.2em;
                width: 1.2em;
                margin-left: .5em;
            }
        }
    }


    #point-history{
        table{
            table-layout: unset
        }
    }
    #refund-request{
        margin-top: 2em
    }
    #sessions{
        margin-top: 2em;
        .sessions-desc{
            margin-top: 0;
            line-height: 1.8em;
            font-size: .9em;
        }
        .mini-stat{
            display: flex;
            justify-content: space-around;
            margin-bottom: 1em;
            font-size: .9em;
            span{
                margin-right: 1em;
            }

            b{
                color: #0867B0;
            }
        }
    }
}
