<div class="loader" *ngIf=" show.loader.loadProfile ">
    Loading user profile...
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
            <h1 class="title">Stat &amp; User Edit Form</h1>
            <button class="app-button" routerLink="/admin/session/{{ user.user_type == 'T' ? 'teacher' : 'student' }}/{{ user.ID }}">Session Detail Page</button>
            <button class="app-button" routerLink="/admin/payment/{{ user.ID }}">Payment Detail Page</button>
            <form class="user-profile-form" *ngIf=" ! show.loader.loadProfile ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">User ID</div>
                        <div class="col-8">{{ user.ID }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">Login</div>
                        <div class="col-8">
                            <b class="user-login">{{ user.user_login }}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Point</div>
                        <div class="col-8">
                            <div class="point">
                                <div class='user-point'>User Point: {{ user.point | number }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type='button' class="app-button point-edit" (click)="show.pointUpdateForm = true" *ngIf=" ! show.pointUpdateForm ">Point Edit</button>
                            <section class='point-edit' *ngIf=" show.pointUpdateForm ">
                                <b>Point Update</b>
                                <div>
                                    Apply :
                                    <input type='radio' id='apply_payment' name='apply' [(ngModel)]="pointForm.apply" [value]="'payment'">
                                    <label for="apply_payment">Payment</label>
                                    &nbsp;
                                    <input type='radio' id='apply_add' name='apply' [(ngModel)]="pointForm.apply" [value]="'add'">
                                    <label for="apply_add">Add</label>
                                    &nbsp;
                                    <input type='radio' id='apply_deduct' name='apply' [(ngModel)]="pointForm.apply" [value]="'deduct'">
                                    <label for="apply_deduct">Deduct</label>
                                    &nbsp;
                                    <input type='radio' id='apply_refund' name='apply' [(ngModel)]="pointForm.apply" [value]="'refund'">
                                    <label for="apply_refund">Refund</label>
                                </div>
                                <div>
                                    Point:
                                    <input type="number" name="pointForm_point" [(ngModel)]="pointForm.point">
                                </div>
                                <div>
                                    Reason:
                                    <input type="text" name="pointForm_reason" [(ngModel)]="pointForm.reason">
                                </div>
                                <div *ngIf=" pointForm.apply == 'payment' || pointForm.apply == 'refund' ">
                                    <div>
                                        Payment Method:
                                        <input type="radio" id="payment_method_paypal" name="payment_method" [(ngModel)]="pointForm.payment_method" [value]="'paypal'">
                                        <label for="payment_method_paypal">Paypal</label>
                                        <input type="radio" type="radio" id="payment_method_wooribank" name="payment_method" [(ngModel)]="pointForm.payment_method"
                                            [value]="'wooribank'">
                                        <label for="payment_method_wooribank">Woori Bank</label>

                                    </div>
                                    <div>
                                        Amount:
                                        <input type="text" name="amount" [(ngModel)]="pointForm.amount"> How much was paid to buy the point?
                                    </div>
                                    <div>
                                        Currency:
                                        <input type="radio" id="currency_usd" name="currency_usd" [(ngModel)]="pointForm.currency" [value]="'USD'">
                                        <label for="currency_usd">USD</label>
                                        <input type="radio" type="radio" id="currency_kwr" name="currency_kwr" [(ngModel)]="pointForm.currency" [value]="'KWR'">
                                        <label for="currency_kwr">KWR</label>
                                    </div>
                                </div>
                                <button class="app-button" type="button" (click)="onClickPointUpdate()" *ngIf=" ! show.loader.updatePoint ">Update Point</button>
                                <button class="app-button" type="button" (click)=" show.pointUpdateForm = false">Cancel</button>
                                <div class="loader" *ngIf=" show.loader.updatePoint ">Updating point...</div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Email</div>
                        <div class="col-8">
                            {{ user.user_email }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">Password</div>
                        <div class="col-8">
                            <input type='text' name='password' [(ngModel)]=" user.user_pass ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">User Type</div>
                        <div class="col-8">
                            <input type='radio' id="user_type_student" name='user_type' [(ngModel)]=" user.user_type " [value]="'S'" [checked]=" user.user_type ">
                            <label for="user_type_student">Student</label>,
                            <input type='radio' id="user_type_teacher" name='user_type' [(ngModel)]=" user.user_type " [value]="'T'" [checked]=" user.user_type ">
                            <label for="user_type_teacher">Teacher</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Display Name</div>
                        <div class="col-8">
                            <input type='text' name='display_name' [(ngModel)]=" user.display_name ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Name</div>
                        <div class="col-8">
                            <input type='text' name='name' [(ngModel)]=" user.name ">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">Gender</div>
                        <div class="col-8">
                            <input type='radio' id="gender_male" name='gender' [(ngModel)]=" user.gender " [value]="'M'" [checked]=" user.gender ">
                            <label for="gender_male">Male</label>,
                            <input type='radio' id="gender_female" name='gender' [(ngModel)]=" user.gender " [value]="'F'" [checked]=" user.gender ">
                            <label for="gender_female">Female</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Primary Photo</div>
                        <div class="col-8">
                            <div class="photo-upload">

                                <div class="photo-upload-button">
                                    <div class="profile-photo">
                                        <img src="{{ user.photoURL }}">
                                    </div>
                                </div>
                                <input class="input-box" type="file" (change)="profilePhotoUpload.onChangeFile($event)" style="width:86px;">
                                <div class="progress-bar" *ngIf="profilePhotoUpload.progressPercentage > 0">
                                    <mat-progress-bar mode="determinate" [value]="profilePhotoUpload.progressPercentage">
                                    </mat-progress-bar>
                                    <span>{{ profilePhotoUpload.progressPercentage}}%</span>
                                </div>
                                <xapi-file-upload-component #profilePhotoUpload [title]="false" [fileSelectionButton]="false" [files]="files" [showUploadedFiles]="false"
                                    [showProgressBar]="false" (success)="onSuccessUploadPicture($event)">
                                </xapi-file-upload-component>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Phone Number</div>
                        <div class="col-8">
                            <input type='text' name='phone_number' [(ngModel)]=" user.phone_number ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Kakaotalk ID</div>
                        <div class="col-8">
                            <input type='text' name='kakaotalk_id' [(ngModel)]=" user.kakaotalk_id ">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">Teacher Group</div>
                        <div class="col-8">
                            <input type='text' name='user_group' [(ngModel)]=" user.user_group ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">Teacher Grade</div>
                        <div class="col-8">
                            <input type='text' name='grade' [(ngModel)]=" user.grade ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">List Order</div>
                        <div class="col-8">
                            <input type='text' name='list_order' [(ngModel)]=" user.list_order ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Bookable Time</div>
                        <div class="col-8">
                            <input type='text' name='bookable_time' [(ngModel)]=" user.bookable_time ">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">
                            Block Freeclass Until
                        </div>
                        <div class="col-8">
                            <input type='text' name='block_free_class_until' [(ngModel)]=" user.block_free_class_until ">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">Timezone</div>
                        <div class="col-8">
                            <input type='text' name='timezone' [(ngModel)]=" user.timezone ">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">Domain</div>
                        <div class="col-8">
                            <input type='text' name='domain' [(ngModel)]=" user.domain ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">Manager</div>
                        <div class="col-8">
                            <input type='text' name='manager' [(ngModel)]=" user.manager ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <button class="app-button" type='button' (click)="onSubmitUserInfo()" *ngIf=" ! show.loader.updateProfile ">Update User Profile</button>
                            <div class="loader" *ngIf=" show.loader.updateProfile ">Saving ...</div>
                            <div class="loader" *ngIf=" show.loader.profileSaved ">Saved...</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h1 class="title">Sessions</h1>
            <ul class="sessions-desc">
                <li>
                    Date and time is based on user timezone setting.
                    <br> Your timezone: {{ a.userTime }}</li>
                <li>Today's class is listed on top.</li>
                <li>Only {{ limit }} sessions are listed.
                    <br>Today might not be shown if there are too many reservations.</li>
            </ul>
            <div class="loader" *ngIf=" show.loader.loadSchedule ">Loading schedule</div>
            Reserved: {{ count.session.future | number }}, Past: {{ count.session.past | number }}
            <div class="sessions container-fluid" *ngIf=" sessions.length ">
                <div class="row">
                    <div class="col-2">No.</div>
                    <div class="col-2" *ngIf="user.user_type != 'T' ">Teacher</div>
                    <div class="col-2" *ngIf="user.user_type == 'T' ">Student</div>
                    <div class="col-3">Date</div>
                    <div class="col-3">Time</div>
                    <div class="col-2">Point</div>
                </div>
                <div class="session row top" [attr.time]="session['time']" *ngFor=" let session of sessionsToday ">
                    <div class="col-2">{{ session.idx }}</div>
                    <div class="col-2" *ngIf="user.user_type != 'T' ">
                        <a class="user-info" routerLink="/admin/user-info/{{ session.teacher?.idx }}">{{ a.shortName ( session.teacher?.display_name ) }}
                          
                        </a>
                    </div>
                    <div class="col-2" *ngIf="user.user_type == 'T' ">
                        <a class="user-info" routerLink="/admin/user-info/{{ session.student?.idx }}">{{ a.shortName ( session.student?.display_name ) }}
                            
                        </a>
                    </div>
                    <div class="col-3">
                        <div>{{ session.date }}</div>
                    </div>
                    <div class="col-3" nowrap>{{ session.class_begin }}-{{ session.class_end }}</div>
                    <div class="col-2">{{ session.point | number }}</div>
                </div>
                <div class="session row bottom" [attr.time]="session['time']" *ngFor=" let session of sessions ">
                    <div class="col">
                        <a class="user-info" routerLink="/admin/session-edit/{{session.idx}}">
                            {{ session.idx }}
                        </a>
                    </div>
                    <div class="col" *ngIf="user.user_type != 'T' ">
                        <a class="user-info" routerLink="/admin/user-info/{{ session.teacher?.idx }}">{{ a.shortName ( session.teacher?.display_name ) }}
                            
                        </a>
                    </div>
                    <div class="cl" *ngIf="user.user_type == 'T' ">
                        <a class="user-info" routerLink="/admin/user-info/{{ session.student?.idx }}">{{ a.shortName ( session.student?.display_name ) }}
                            
                        </a>
                    </div>
                    <div class="col">{{ session.date }}</div>
                    <div class="col" nowrap>{{ session.class_begin }}-{{ session.class_end }}</div>
                    <div class="col">{{ session.point | number }}</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">

            <h1 class="title">Payment</h1>
            <section class="payments-wrapper">

                <div class="loader" *ngIf=" show.loader.loadPayment ">
                    Loading Payment Info...
                </div>
                <table class="payments" *ngIf=" ! show.loader.loadPayment && payments.length ">
                    <tr>
                        <!-- <th>idx</th> -->
                        <!-- <th>Student</th> -->
                        <th>Point</th>
                        <th>Currency</th>
                        <!-- <th>Amount</th> -->
                        <th>Method</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                    <tr *ngFor="let pay of payments">
                        <!-- <td>{{ pay.idx }}</td> -->
                        <!-- <td>{{ pay.student?.display_name }}({{ pay.student?.name}})</td> -->
                        <td>{{ pay.point | number }}</td>
                        <td>{{ pay.currency }}</td>
                        <td>{{ pay.payment_method }}</td>
                        <td>{{ pay.state }}</td>
                        <td nowrap>{{ a.veryShortDate(pay.stamp_begin) }}</td>
                    </tr>
                </table>
            </section>

            <section class="refund-request">
                <div class="title">Refund Request</div>
                <table>
                    <tr>
                        <th>Teacher</th>
                        <th>Student</th>
                        <th>Date Time</th>
                        <th></th>
                    </tr>
                    <tr *ngFor=" let re of refundRequests ">
                        <td>
                            <a class='user-info' routerLink="/admin/user-info/{{re.teacher?.idx}}">{{ re.teacher?.display_name }}
                                
                            </a>
                        </td>
                        <td>
                            <a class='user-info' routerLink="/admin/user-info/{{re.student?.idx}}">{{ a.shortName( re.student?.display_name ) }}
                                
                            </a>
                        </td>
                        <td>{{ re.date }} {{ re.class_begin }}</td>
                        <td>
                            <a class='user-info-button' routerLink="/admin/point-refund/idx/{{re.idx}}">open</a>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <h1 class="title">Point History</h1>
            <section class="point-history">

                <div class="loader" *ngIf=" show.loader.loadPointHistory ">
                    Loading Payment Info...
                </div>
                <table *ngIf=" ! show.loader.loadPointHistory ">

                    <tr>
                        <th *ngIf=" user.user_type == 'S' ">
                            Teacher
                        </th>
                        <th *ngIf=" user.user_type == 'T' ">
                            Student
                        </th>
                        <th>
                            Action
                        </th>
                        <th>
                            Point
                        </th>
                        <th>
                            idx
                            <br> reservation
                        </th>
                        <th>
                            Action Time
                        </th>
                    </tr>

                    <tr *ngFor=" let log of pointHistory ">
                        <td *ngIf=" user.user_type == 'S' ">
                            <a class="user-info" routerLink="/admin/user-info/{{ log.teacher?.idx }}">
                                {{ log.teacher?.display_name }}
                                
                            </a>
                        </td>
                        <td *ngIf=" user.user_type == 'T' ">
                            <a class="user-info" routerLink="/admin/user-info/{{ log.student?.idx }}">
                                {{ log.student?.display_name }}
                                
                            </a>
                        </td>
                        <td>
                            <div class="reason">{{ log.reason }}</div>
                        </td>
                        <td>
                            <div class="reason">{{ log.apply_point | number }}</div>
                        </td>
                        <td>
                            <a class='user-info' routerLink="/admin/session/idx/{{log.idx_reservation}}">
                                {{ log.idx_reservation }}
                            </a>
                        </td>
                        <td>
                            {{ a.shortDateTime(log.stamp) }}
                        </td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>