<section id="teacher-steps" class="m-0 h-100 bg-white outline-effect">
    <div class="mb-5 pl-md-5 bg-blue-60 white">
        <h2  class="title-style  d-inline-block ml-md-5 m-0 p-5 fs-3rem fw-light bg-blue text-center" ion-text color="white">Steps To Become a Teacher</h2>
    </div>
    <div class="container-fluid my-md-1 my-0 px-5 pb-2">
        <div class="row my-md-4 my-2 pb-5 px-md-5 px-3 align-items-stretch">
            <div class="hover-icon-effect my-3 col-md-4 col-12">
                <div class=" pointer m-0 mr-md-3 py-3  h-100 border border-color-effect text-center"  (click)=" a.open('how-to-install-kakaotalk')">
                    <div class="p-3 fs-2rem fw-bold dodgerblue font-arial">Step 1</div>
                    <img class="icon-effect my-4 h-7em" src="assets/img/student-adv/4.png">
                    <p class="my-3 px-4 line-height-1-8em fw-light text-effect">
                        Install Kakaotalk app.
                        <br><span class="fs-lg red">( THIS IS A MANDATORY REQUIREMENT )</span>
                    </p>
                </div>
            </div>
            <div class="my-3 hover-icon-effect col-md-4 col-12">
                <div  class="pointer m-0 mx-md-3 py-3 h-100 border border-color-effect text-center" (click)=" a.open('register') ">
                    <div class="p-3 fs-2rem fw-bold dodgerblue font-arial">Step 2</div>
                    <i class="icon-effect fal fa-list-alt fa-7x my-4" ion-text color="brown"></i>
                    <p class="my-3 fw-light px-4  text-effect line-height-1-8em ">
                        Register. Fill out the appropriate information
                    </p>
                </div>
            </div>
            <div class="my-3 hover-icon-effect col-md-4 col-12">
                <div  class="pointer m-0 ml-md-3 py-3 h-100 border border-color-effect text-center" (click)=" a.open('my-curriculum-vitae') ">
                    <div class="p-3 fs-2rem fw-bold dodgerblue font-arial">Step 3</div>
                    <i class="icon-effect fal fa-edit fa-7x my-4" ion-text color="amber"></i>
                    <p class="text-effect my-3 px-4 fw-light line-height-1-8em">
                        Complete profile update with all your data.
                    </p>
                </div>
            </div>
            <div class="my-3 hover-icon-effect col-md-4 col-12">
                <div  class="pointer m-0 mr-md-3 py-3  h-100  border border-color-effect text-center" (click)=" a.open('my-schedule')">
                    <div class="p-3 fs-2rem fw-bold dodgerblue font-arial">Step 4</div>
                    <i class="icon-effect fal fa-calendar-alt fa-7x my-4 darkorange"></i>
                    <p class="text-effect my-3 px-4 fw-light line-height-1-8em">
                        Add your schedule.
                    </p>
                </div>
            </div>
            <div class="my-3 hover-icon-effect col-md-4 col-12">
                <div  class="pointer mx-md-3 m-0 py-3  h-100 border border-color-effect text-center" (click)="a.open('payment-information')">
                    <div class="p-3 fs-2rem fw-bold dodgerblue font-arial">Step 5</div>
                    <i class="icon-effect fal fa-credit-card fa-7x my-4"  ion-text color="green"></i>
                    <p class="text-effect my-3  px-4 fw-light line-height-1-8em">
                        Update your payment information to receive your pay.
                    </p>
                </div>
            </div>
            <div class="my-3 hover-icon-effect col-md-4 col-12">
                <div class="pointer m-0 ml-md-3 py-3 h-100 border border-color-effect text-center" (click)="a.toast('contact admin')">
                    <div class="p-3 fs-2rem fw-bold dodgerblue font-arial">Step 6</div>
                    <i class="icon-effect fal fa-phone square fa-7x my-4 dodgerblue"></i>
                    <p class="text-effect my-3 px-4 fw-light line-height-1-8em ">
                        Contact to admin to get higher grade (via Kakaotallk app)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

