@import './../../../../../theme/vars';

$page-width: 800px;
$padding: .6em;
$header-height: 4em;

main {
    margin: 0 auto;
    max-width: $page-width;
    font-family: Helvetica, Arial, sans-serif
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1234;
    border-bottom: 1px solid rgba(125,125,125,0.2);
    nav{
        display: flex;
        justify-content: space-around;
        @media (min-width:$md){
            justify-content: space-between
        }
        align-items: center;
        max-width: $page-width;
        height: $header-height;
        margin: auto;
        padding: 0;
        color: #1e2022;
        .logo {
            display: flex;
            align-items: center;
            padding:0;
            height:  $header-height;
            font-weight: bold;
            cursor: pointer;
            img {
                width: 24px;
                margin-right: .5em;
            }
        }

        .menu{
            display: flex;
            height:  $header-height;
            &>span{
                display: flex;
                align-items: center;
                height:100%;
                padding:0 .5em;
                @media (min-width:$md) {
                    padding: 0 1em;
                }
                font-weight: 400;
                font-size: .8em;
                white-space: nowrap;
                cursor: pointer;

                &:hover{
                    color: #377dff
                }
            }
        }

        .flags {
            position: relative !important;
            // padding-bottom: 7px;
            @media (min-width:$md) {
                background: #aeadad;   
            }
            height: $header-height;
    
            select {
                position: relative;
                padding: 0 2em;
                // padding-bottom: 8px;
                height:100%;
                padding-top: 33px;
                @media (min-width:$md) {
                    padding-top: 20px;
                }
                border: none;
                background: rgba(#fff, 0);
                color: white;
                font-size: .8em;
                text-align-last: center;
                display: flex;
                justify-content: center;
                -webkit-appearance: none;
                -moz-appearance: none;
                &::-ms-expand {
                    display: none; //for ie
                }
                cursor: pointer;
                option {
                    color: black !important;
                }
            }
            .custom-icon {
                position: absolute;
                top:20px;
                left: 50%;
                transform: translateX(-50%);
                height: 20px;
                @media (min-width:$md){
                    top: 13px;
                    height: 24px;
                }
            }
            .ko-icon{
                height: 30px;
                width: 30px;
                top: 15.5px;

                @media (min-width:$md){
                    top: 13px;
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}


section.content {
    margin: 0 auto;
    margin-top: $header-height + $padding;
    max-width: $page-width;
    padding: 1em;
    @media (min-width:$md){
        padding: 0;
    }
}

.title-banner {
    position: relative;
    width: 100%;
    height: 200px;
    .texts {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        padding: $padding;
        .text {
            color: black;
            opacity: 0;
        }
        .text[no='0'] {
            animation: textAni 1s 1s 1 forwards;
        }
        .text[no='1'] {
            animation: textAni 1s 2s 1 forwards;
        }
        .text[no='2'] {
            animation: textAni 1s 3s 1 forwards;
        }
        .text[no='3'] {
            animation: textAni 1s 4s 1 forwards;
        }
    }
    nav {
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 0;
    }
    .banner {
        position: absolute;
        top: 0;
        right: 0;
        img {
            width: 240px;
        }
    }
}

@keyframes textAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    margin: 0;
    margin-top: 2.5em;
    color: #EF6C00;
    font-size:1.87em;
    font-weight: 100;
}

h3{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0E51A7;
}

.withcenter-button {
    padding: .8em .6em;
    border: 0;
    border-radius: 4px;
    font-size: 11pt;
    background-color: rgba(55, 125, 255, 0.1);
}
