위세너 프랜차이즈, 시작하기, 위세너 콜센터(위세너 소개)

<div class="">Withcenter Homepage.</div>



      Header
      
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    
      Default
<hr>
시스템의 우수성을 먼저 알려드리고자 합니다.

위세너는 2018년 7월 8번째 프랜차이즈는 카톡, PWA, 앱으로 무장을 하였습니다.

제 7회 프렌차이즈 시스템에서는 직접 개발한 화상 솔루션을 넣었지만, 8 회 프렌차이즈에서는 카톡으로 대신하였습니다.

카톡은 대한민국의 국민앱으로 설치나 오류에 대한 염려가 없습니다.

<hr>
그리고 PWA 는 여러가지 장점이 있지만, 그 중 한가지가 사용자와의 참여도를 높이는 것입니다.
참고로 네이버나 다음에서 PWA 라고 검색을 해 보시면 됩니다.





<hr>
2018년 7월 위세너의 8번째 프랜차이즈 시스템 시작. (기존 프랜차이즈는 종료. 더 이상 모집 하지 않음).

강사 75%.
가맹사 20%.
본사 5%.



      <hr>
가맹비용 무.
월 비용 무.
추가 비용 도메인과 호스팅.

도메인은 직접 https://www.hosting.kr/ 에서 구매하셔야합니다. 1년 1만원 안팍.
그리고 SSL + 웹 호스팅 6개월 6만6천원을 위세너로 납부하시면됩니다.
이것은 홈페이지를 운영하기 위한 도메인과 SSL, 호스팅을 위한 최소한 비용입니다.
추가로 안드로이드 앱 제작을 원하는 경우, 33만원을 추가로 내시면됩니다.
참고로 1개월에 수업의 수가 500개가 넘으면, 안드로이드 앱을 무료로 제작해드립니다.
<hr>

어려운 절차 없음. ( 단, 권장하는 절차는 있음 )
      회사 설립하고, 통신 판매 등록하고 등등을 하면 좋음.
      기본적으로 홈페이지에는 전화번하고 없고, 필리핀 주소로 되어져 있음.
      한국 사업자를 등록하고, 사업자 정보, 전화번호 등을 넣어 주면 좋음.
      안해도 됨.
누구나 쉽게 가능.
<hr>
기본적으로 모든 디자인은 동일하며,

간단하게 로고, 회사 정보, 주소, 상담 정보, 전화번호, 이메일 등을 변경하고, 홈페이지 곳곳의 상호를 변경하여 운영하게됩니다.
