<main>
      <header>
            <nav>
                  <div class="logo" (click)=" onClickHome() ">
                        <img src="assets/img/logo/withcenter-icon.png" alt="Withcenter Logo">
                        <span>{{ t.withcenter }}</span>
                  </div>
                  <div class='menu'>
                        <span (click)=" scrollIntoView( 'franchise-about' ) ">{{ t.franchise }}</span>
                        <span (click)=" scrollIntoView( 'franchise-service' ) ">화상영어</span>
                        <span (click)=" scrollIntoView( 'franchise-start' ) ">시작하기</span>
                        <div class="flags">
                              <div class="toggle">
                                    <img *ngIf="languageCode=='ch'" src="../../../../../assets/img/language-flags/ch-desktop.png" alt="">
                                    <img *ngIf="languageCode=='en'" src="../../../../../assets/img/language-flags/en-desktop.png" alt="">
                                    <img class="ko-flag" *ngIf="languageCode=='ko'" src="../../../../../assets/img/language-flags/ko-desktop.png" alt="">
                                    <img *ngIf="languageCode=='jp'" src="../../../../../assets/img/language-flags/jp-desktop.png" alt="">
                                    <span>{{ languageCode }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"/></svg>
                              </div>
                              <div class="content">
                                    <label>
                                          <input [(ngModel)]="languageCode" type="radio" value="ch" (change)="onChangeLanguageCode()">
                                          <span>Chinese</span>
                                    </label>
                                    <label>
                                          <input [(ngModel)]="languageCode" type="radio" value="en" (change)="onChangeLanguageCode()">
                                          <span>English</span>
                                    </label>
                                    <label>
                                          <input [(ngModel)]="languageCode" type="radio" value="ko" (change)="onChangeLanguageCode()">
                                          <span>Korean</span>
                                    </label>
                                    <label>
                                          <input [(ngModel)]="languageCode" type="radio" value="jp" (change)="onChangeLanguageCode()">
                                          <span>Japanese</span>
                                    </label>
                              </div>
                        </div>
                  </div>
            </nav>
      </header>

      <section class="content">

            <nav class="title-banner">
                  <div class="texts text-group-0" *ngIf=" animation.show == 'text-group-0' ">
                        <div class="text" no="0">화상영어 창업</div>
                        <div class="text" no="1">성공 비결은 무엇일까?</div>
                        <div class="text" no="2">제대로된 회사와 가맹을 맺는 것입니다.</div>
                  </div>
                  <div class="texts text-group-1" *ngIf=" animation.show == 'text-group-1' ">
                        <div class="text" no="0">글로벌 리더 위세너 화상영어</div>
                        <div class="text" no="1">2007년 부터 화상영어 프랜차이즈</div>
                        <div class="text" no="2">2018년 8번째 프랜차이즈 시스템 시작</div>
                  </div>
                  <div class="texts text-group-2" *ngIf=" animation.show == 'text-group-2' ">
                        <div class="text" no="0">창업비용 제로. 가맹비용 제로.</div>
                        <div class="text" no="1">도메인, SSL, 호스팅 무료 제공</div>
                        <div class="text" no="2">아무런 준비없이 1분만에 사업 시작!</div>
                        <div class="text" no="3">학생만 있으면 바로 수익 발생</div>
                  </div>
                  <nav class="buttons">
                        <button class="withcenter-button ml-2">화상영어 창업 1분만에 끝내기</button>

                  </nav>
                  <div class="banner">
                        <img src="assets/withcenter/img/main-title.jpg">
                  </div>
            </nav>

            <section class="chapters">

                  <section id="franchise-about">
                        &nbsp;
                        <h2 class="mt-5">위세너 프랜차이즈</h2>
                        <about-franchise-component></about-franchise-component>
                        <understanding-franchise-component></understanding-franchise-component>

                  </section>

                  <section id="franchise-service">
                        &nbsp;
                        <h2 class="mt-5">화상영어 서비스</h2>
                        <about-service-component></about-service-component>

                  </section>

                  <section id="franchise-start">
                        &nbsp;
                        <h2 class="mt-5">위세너 프랜차이즈 시작하기</h2>
                        <apply-franchise-component></apply-franchise-component>
                  </section>

            </section>

      </section>
</main>