$page-width: 800px;
$padding: .6em;
$header-height: 2em;
main {
    margin: 0 auto;
    max-width: $page-width;
}
header {
    position: fixed;
    z-index: 1234;
    top: 0;
    width: 100%;
    height: $header-height;
    overflow: hidden;
    background-color: #fff;
    .logo {
        img {
            width: 24px;
        }
    }
}

header nav {
    max-width: $page-width;
}

section.content {
    margin-top: $header-height + $padding;
}

.title-banner {
    position: relative;
    width: 100%;
    height: 200px;
    .texts {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        padding: $padding;
        .text {
            color: black;
            opacity: 0;
        }
        .text[no='0'] {
            animation: textAni 1s 1s 1 forwards;
        }
        .text[no='1'] {
            animation: textAni 1s 2s 1 forwards;
        }
        .text[no='2'] {
            animation: textAni 1s 3s 1 forwards;
        }
        .text[no='3'] {
            animation: textAni 1s 4s 1 forwards;
        }
    }
    nav {
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 0;
    }
    .banner {
        position: absolute;
        top: 0;
        right: 0;
        img {
            width: 240px;
        }
    }
}

@keyframes textAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



h2 {
    margin: 0;
    padding: 2em;
    font-weight: 100;
    background-color: #b4cddd;
}




.withcenter-button {
    padding: .8em .6em;
    border: 0;
    border-radius: 4px;
    font-size: 11pt;
    background-color: rgba(55, 125, 255, 0.1);
}