@import '../../../../../theme/vars';
$page-width: 800px;
$padding: .6em;
$header-height: 2em;
main {
    margin: 0 auto;
    max-width: $page-width;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 1px solid rgba(125,125,125,0.2);
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $page-width;
        height: $header-height;
        margin: auto;
        overflow: hidden;
        font-size: 80%;
        @media (min-width:$md) {
            font-size: .9em;
        }
        .logo {
            display: flex;
            align-items: center;
            padding:0 1em;
            @media (min-width:$md) {
                padding: 0;
            }
            height:  $header-height;
            font-weight: bold;
            img {
                width: 24px;
                margin-right: .5em;
            }
        }

        .menu{
            display: flex;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                height:  $header-height;
                padding:0 1em;
                @media (min-width:$md){
                    padding-left:3em; 
                    padding-right: 0;  
                }

                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
}

header nav {
    max-width: $page-width;
}

section.content {
    margin: 0 auto;
    margin-top: $header-height + $padding;
    max-width: $page-width;
    padding: 1em;
    @media (min-width:$md){
        padding: 0;
    }
    h2{
        margin: 0;
        text-align: center;
        padding-top: 2em;
        @media (min-width:$md){
            padding-top: 3.5em;   
        }
        color: #ef6c00
    }
    h3{
        color: #113ca0;
        padding-top: 1.5em;
        @media (min-width:$md){
            padding-top: 2em;   
        }
    }
    p{
        line-height: 1.6em;
    }
}

.title-banner {
    position: relative;
    width: 100%;
    height: 200px;
    .texts {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        padding: $padding;
        .text {
            color: black;
            opacity: 0;
        }
        .text[no='0'] {
            animation: textAni 1s 1s 1 forwards;
        }
        .text[no='1'] {
            animation: textAni 1s 2s 1 forwards;
        }
        .text[no='2'] {
            animation: textAni 1s 3s 1 forwards;
        }
        .text[no='3'] {
            animation: textAni 1s 4s 1 forwards;
        }
    }
    nav {
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 0;
    }
    .banner {
        position: absolute;
        top: 0;
        right: 0;
        img {
            width: 240px;
        }
    }
}

@keyframes textAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



h2 {
    margin: 0;
    padding: 2em;
    font-weight: 100;
    background-color: #b4cddd;
}




.withcenter-button {
    padding: .8em .6em;
    border: 0;
    border-radius: 4px;
    font-size: 11pt;
    background-color: rgba(55, 125, 255, 0.1);
}
