위세너 프랜차이즈, 시작하기, 위세너 콜센터(위세너 소개)

<div class="">Withcenter Homepage.</div>



      Header
      
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    
      Default
<hr>
2018년 7월 위세너의 8번째 프랜차이즈 시스템 시작. (기존 프랜차이즈는 종료. 더 이상 모집 하지 않음).

강사 75%.
가맹사 20%.
본사 5%.



      <hr>
가맹비용 무.
월 비용 무.
추가 비용 도메인과 호스팅.

도메인은 직접 https://www.hosting.kr/ 에서 구매하셔야합니다. 1년 1만원 안팍.
그리고 SSL + 웹 호스팅 1년 4만4천원을 위세너로 납부하시면됩니다.
이것은 홈페이지를 운영하기 위한 도메인과 SSL, 호스팅을 위한 최소한 비용입니다.
<hr>


어려운 절차 없음. ( 단, 권장하는 절차는 있음 )
      회사 설립하고, 통신 판매 등록하고 등등을 하면 좋음.
      기본적으로 홈페이지에는 전화번하고 없고, 필리핀 주소로 되어져 있음.
      한국 사업자를 등록하고, 사업자 정보, 전화번호 등을 넣어 주면 좋음.
      안해도 됨.
누구나 쉽게 가능.
<hr>
