.file-select-box {
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;
    .camera {
        width: 32px;
    }
    input {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.01;
        background-color: blue;
        font-size: 100px;
        cursor: pointer;
    }
}