<h3>위세너 프랜차이즈 이해</h3>

<p>위세너 프랜차이즈를 이해하기 위해서는 먼저 다음과 같은 주요한 사항을 머리속에 유념해 주세요.</p>

<ul>
      <li (click)="show.salary = !show.salary">
            <h4 class="salary">
                  <div>
                        <div>최저수업료</div>
                        <div class="desc">
                              저희는 '원어민 강사 월 20회 1만원' 으로 광고를 하고 있습니다. 저렴해도 너무 치명적으로 저렴합니다. 핵심은 강사가 75% 라는 대부분의 수업료를 가져가기 때문에 강사는 충분한 수익을 얻습니다. 필리핀 강사의 경우,
                              1만 5천페소(한화로 약 30만원)를 한달에 벌면 충분한데, 하루 8시간 근무를 하면, 10분 수업을 40회(매 시간 10분 휴식 포함)를 할 수 있습니다.
                              <button *ngIf=" ! show.salary ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf="show.salary">
                  <p>
                        저희는 '원어민 강사 월 20회 1만원' 으로 광고를 하고 있습니다. 저렴해도 너무 치명적으로 저렴합니다. 핵심은 강사가 75% 라는 대부분의 수업료를 가져가기 때문에 강사는 충분한 수익을 얻습니다. 필리핀 강사의 경우,
                        1만 5천페소(한화로 약 30만원)를 한달에 벌면 충분한데, 하루 8시간 근무를 하면, 10분 수업을 40회(매 시간 10분 휴식 포함)를 할 수 있습니다.
                  </p>
                  <p>
                        매우 낮은 수업료로 학생 만족 시키는 것 뿐만아니라, 동시에 매우 높은 수당 지급으로 강사를 만족시키고 있습니다.
                        <br> 일반적으로 (필리핀 기준) 영어 강사가 아무리 열심히 해도 자신이 정해진 월급 또는 그 비슷한 수준 밖에 가져가지 못하는데 비해, 온튜의 강사는 그 5배를 가져갑니다.
                        <br> 뭔가 앞, 뒤 말이 맞지 않죠? 화상영어 직거래 자체가 말이 안되고 학생이 직접 수업료를 정한다는 것은 더더욱 말이 안되고, 학생이 한달에 1만원 밖에 내지 않는데 어떻게 강사가 높은 수당을 가져 갈 수 있는지 이해가 잘 안 될 것입니다.
                  </p>
                  <p>
                        한달 20회 1만원이면 1회 수업에 500 원입니다.
                        <br> 강사가 8시간 근무(매 시간 10분 휴식 포함) 기준 40회 수업을 할 수 있습니다.
                        <br> 한달 20일 가정하면, (1회 수업) 500 원 * (하루) 40회 수업 * (한달) 20일 = 40만원이 됩니다.
                        <br> 40 만원의 75% 는 30만원입니다.
                        <br> 하지만 모든 강사가 1회 수업에 500 원으로 하지 않습니다. 1000원, 1500원 등 강사가 마음데로 정합니다. 따라서 어떤 강사는 다른 강사들 보다 비싸게 수업료를 받기도 합니다. 2018년
                        현재 위세너에서 권장하는 수업료는 아래와 같습니다.
                        <br>
                        <br>10분 월 1만~2만원
                        <br>20분 월 2만~4만원
                        <br>30분 월 4만~6만원
                        <br>위세너에서는 강사들에게 10분 500원, 20분 1000원으로 수업을 2개씩 의무적으로 최저가로 오픈하게 하고 있습니다.
                        <br>이렇게 하므로서 학생은 충분히 낮은 수업료로 수업을 할 수 있고, 낮은 수업료가 예약이 잘 된다는 것을 강사는 알게되고, 강사 끼리 낮은 수업료를 경쟁하게 됩니다.
                        <br>실제로 Cherish라는 한 강사는 2018년 5월 하루 평균 3시간 30분 수업을 하고, 3만페소(한화 약 62만원)를 수령하였는데, 이것을 8시간 기준으로 환산다면, 필리핀의 일반 영어학원(또는
                        콜센터) 강사의 평균 월급의 5배에 해당합니다.
                        <br>이 처럼 강사는 매우 높은 수익을 가져가고 있으며 또 학생으로 부터 직접 선택을 받아야하므로 그 만큼 학생들에게 최선을 다합니다.
                        <br>이로 인해 온튜 강사들은 일반 학원이나 화상 영어 콜센터 강사와는 차원이 다르게 책임감을 넘어선 높은 주인 정신을 가지고 있습니다.
                        <br>그리고 이것이 고품격 영어 교육 서비스를 할 수 있는 원동력이됩니다.
                  </p>
            </div>
      </li>
      <li (click)="show.quality = !show.quality">
            <h4 class="quality">
                  <div>
                        <div>고품격 영어 교육서비스</div>
                        <div class="desc">
                              영어 학원 강사와 재택근무 강사가 함께 수업을 합니다. 영어 학원 강사의 경우 수업을 잘 하지만 재택 근무 강사의 경우 꾸준한 관리를 통해 수업의 질을 높여나가고 있습니다.

                              <button *ngIf=" ! show.quality ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf=" show.quality ">
                  <p>
                        영어 학원 강사와 재택근무 강사가 함께 수업을 합니다. 영어 학원 강사의 경우 수업을 잘 하지만 재택 근무 강사의 경우 꾸준한 관리를 통해 수업의 질을 높여나가고 있습니다.
                  </p>
                  <p>
                        영어 학원 강사의 경우 대한민국에서 가장 유명하고, 비싸고, 고품격의 서비스를 하는 학원 강사가 카톡영어에서 수업을 하므로 수업의 품격에 대서는 걱정 할 필요가 없습니다. 재택 강사의 경우, 경험이 많은 강사 위주로
                        수업을 진행하지만, 때로는 경험이 없는 영어 강사가 수업을 진행하기도 합니다. 온튜에서는 재택강사 관리를 위한 직원이 따로 있으며 시스템적으로 강사가 학생에게 최선을 다 해야 수업 예약을 받을 수 있으며,
                        학생으로 선택받지 못하는 품격이 낮은 서비스를 하는 강사는 자동으로 도퇴됩니다.
                  </p>
            </div>
      </li>
      <li (click)="show.directDeal = !show.directDeal">
            <h4 class="directDeal">
                  <div>
                        <div>직거래 서비스</div>
                        <div class="desc">
                              온튜에서는 강사가 직접 수업료를 정하고 학생은 마음에 들면 예약을 합니다. 또한 선생님과 학생이 서로 상의해서 수업료를 조절하는 경우도 많습니다.
                              <button *ngIf=" ! show.directDeal ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf=" show.directDeal ">
                  <p>
                        온튜에서는 강사가 직접 수업료를 정하고 학생은 마음에 들면 예약을 합니다. 또한 선생님과 학생이 서로 상의해서 수업료를 조절하는 경우도 많습니다.
                  </p>
                  <p>
                        강사가 직접 자신의 수업료를 정하다 보니 실력없는 영어 강사가 매우 높은 수업료를 지정하여 많은 수익을 벌기도 하는 일이 벌어지고 있습니다.
                        <br>학생은 강사의 사진, 프로필, 동영상 및 수업 날짜,
                        시간, 수업료 등을 보고 고를 수 있으며 언제든지 취소 및 변경 할 수 있습니다.
                        <br>또한 강사와 학생이 서로 대화를 해서 수업료를 조정 할 수도 있습니다. 특정 학생에게 할인 해
                        주거나 학생과 수업료를 직접 상담 할 수 있습니다.
                  </p>
            </div>
      </li>
      <li (click)="show.stableManagement = !show.stableManagement">
            <h4 class="stableManagement">
                  <div>
                        <div>재택 강사의 안정적인 관리</div>
                        <div class="desc">
                              학원 강사의 경우 문제가 없지만 재택 강사의 경우 인터넷, 정전, 개인적인 긴급 용무 등 여러가지 상황이 발생하고 있습니다. 이 부분에 대해서는 필리핀 매니저가 배정되어 재택 강사의 수업 참여도를 관리하며 지속적으로
                              개선 하고 있습니다.
                              <button *ngIf=" ! show.stableManagement ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf="show.stableManagement">
                  <p>
                        학원 강사의 경우 문제가 없지만 재택 강사의 경우 인터넷, 정전, 개인적인 긴급 용무 등 여러가지 상황이 발생하고 있습니다. 이 부분에 대해서는 필리핀 매니저가 배정되어 재택 강사의 수업 참여도를 관리하며 지속적으로
                        개선 하고 있습니다.
                  </p>
            </div>
      </li>
      <li  (click)=" show.automatic = ! show.automatic ">
            <h4 class="automatic">
                  <div>
                        <div>자동화 시스템</div>
                        <div class="desc">
                              위세너에서는 관리자 또는 매니저가 학생 대신 수업을 예약, 취소, 변경 등을 할 수 없습니다. 오직 학생만이 직접 해야하며 그 만큼 잘 자동화되어져 있습니다.
                              <button *ngIf=" ! show.automatic ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf=" show.automatic ">
                  <p>
                        위세너에서는 관리자 또는 매니저가 학생 대신 수업을 예약, 취소, 변경 등을 할 수 없습니다. 오직 학생만이 직접 해야하며 그 만큼 잘 자동화되어져 있습니다.
                  </p>
                  <p>
                        위세너가 12년 전 100% 자동화 시스템을 처음 개발하고 난 다음, 다른 경쟁 회사들이 위세너 시스템을 따라하려고 하지만, 쉽게 따라오지 못하고 있습니다.
                        <br>특히 전 세계의 재택 강사 및 여러 학원의 강사를 모집하여 직거래 시스템 생태계를 보유하고 있는 회사는 전 세계에서 위세너가 유일합니다.
                        <br>강사가 마음데로 수업료를 정하고,
                        학생이 신용카드로 원하는 만큼 수업료를 충전하고
                        학생은 자유 자제로 예약, 취소, 변경 할 수 있으며
                        수업이 잘못되면 학생이 복구 신청하고 강사가 응답하는 100% 자동화 된 관리가 필요없는 LMS 시스템. 오직 위세너에서만 가능했으며 지금도 위세너에서만 가능합니다.
                        
                        <br>참고로 카톡영어에는 전화번호가 없으며 전화 상담하지 않습니다. 그만큼 매우 직관적이고 사용하기 쉽습니다.
                  </p>
            </div>
      </li>
      <li (click)=" show.instructorCancelation = ! show.instructorCancelation ">
            <h4 class="instructorCancelation">
                  <div>
                        <div>강사의 수업 취소</div>
                        <div class="desc">
                              "위세너 프랜차이즈"에서 특이한 점은 학생 뿐만아니라, 강사도 수업을 취소 할 수 있습니다.
                              <button *ngIf=" ! show.instructorCancelation ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf="show.instructorCancelation">
                  <p>
                        물론 선생님이 수업을 취소하는 경우는 매우 드물며 그러한 일은 거의 벌어지지 않습니다. 또한 상습적으로 수업을 취소하는 강사는
                        위세너에서 제제를 합니다. 그리고 수업 취소가 발생할 가능성이 높은 강사의 경우 따로 표시를 하기도 합니다. 본사에서는 학생들에게 이러한 내용을 홈페이지를 통해 잘 인식시키고 있습니다.
                  </p>
            </div>
      </li>
      <li (click)=" show.revenueSharing = ! show.revenueSharing ">
            <h4 class="revenueSharing">
                  <div>
                        <div>수익분배</div>
                        <div class="desc">
                              학생이 지불한 수업료의 수익 분배 비율은 강사 75% 가맹사 20% 본사 5% 입니다.
                              <button *ngIf=" ! show.revenueSharing ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf="show.revenueSharing">
                  <p>
                   가맹사의 수익금은 페이팔로 전송합니다. 수익 분배는 1일 부터 말 일까지의 수익을 그 다음달 7일 드립니다.
                        만약, 가맹사의 수익이 $20 이하인 경우, 지급되지 않으며 홈페이지 운영비로 사용됩니다.
                  </p>
            </div>
      </li>
      <li  (click)=" show.PWA = ! show.PWA ">
            <h4 class="PWA">
                  <div>
                        <div>PWA</div>
                        <div class="desc">
                              프로그레시브 웹앱(Progressive Web Apps)의 약자로 PWA 라고 칭하는 최신의 홈페이지의 개발 기법으로 모바일앱과 경쟁할 수 있는 홈페이지입니다.
                              <button *ngIf=" ! show.PWA ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf="show.PWA">
                  <p>
                        위세너에서 2016년 이후 개발하는 모든 사이트는 PWA 및 앱/웹앱 방식으로 개발하기 위해 Angular/Ionic 으로 개발하고 있습니다.
                        PWA 는 여러가지 장점이 있지만, 그 중 매우 중요한 것이 학생의 참여도를 높이는 것입니다.
                        참고로 네이버에서 PWA 또는 '프로그레시브 웹앱' 라고 검색을 해 보시면 PWA 가 어떤 개념인지 알 수 있습니다.
                  </p>
            </div>
      </li>
      <li (click)=" show.smartPhoneApp = ! show.smartPhoneApp ">
            <h4 class="smartPhoneApp">
                  <div>
                        <div>스마트폰 앱</div>
                        <div class="desc">
                              위세너에서 제공하는 홈페이지는 PWA 로 모바일 앱에 견줄만한 성능과 기능을 자랑하므로 특별히 앱을 제작 할 필요가 없습니다.
                              <button *ngIf=" ! show.smartPhoneApp ">자세히 보기</button>
                        </div>
                  </div>
            </h4>
            <div class="content" *ngIf="show.smartPhoneApp">
                  <p>
                        하지만, 올바른 수업의 진행 횟수가 한달 1,000 (학생 약 50명) 개가 넘으면 앱을 무료로 제작해 드립니다.
                        참고로 앱은 안드로이드 앱만 제작합니다. 한국의 특성상 애플은 많이 사용하지 않아 제작하지 않습니다.
                  </p>
            </div>
      </li>
</ul>

<!-- 
<h4>최저 수업료</h4>
저희는 '원어민 강사 월 20회 1만원' 으로 광고를 하고 있습니다. 저렴해도 너무 치명적으로 저렴합니다. 핵심은 강사가 75% 라는 대부분의 수업료를 가져가기 때문에 강사는 충분한 수익을 얻습니다. 필리핀 강사의 경우,
1만 5천페소(한화로 약 30만원)를 한달에 벌면 충분한데, 하루 8시간 근무를 하면, 10분 수업을 40회(매 시간 10분 휴식 포함)를 할 수 있습니다.


<button (click)="show.salary = true" *ngIf=" ! show.salary ">자세히 보기</button>
<div *ngIf=" show.salary ">
      <p>
            매우 낮은 수업료로 학생 만족 시키는 것 뿐만아니라, 동시에 매우 높은 수당 지급으로 강사를 만족시키고 있습니다.
            <br> 일반적으로 (필리핀 기준) 영어 강사가 아무리 열심히 해도 자신이 정해진 월급 또는 그 비슷한 수준 밖에 가져가지 못하는데 비해, 온튜의 강사는 그 5배를 가져갑니다.
            <br> 뭔가 앞, 뒤 말이 맞지 않죠? 화상영어 직거래 자체가 말이 안되고 학생이 직접 수업료를 정한다는 것은 더더욱 말이 안되고, 학생이 한달에 1만원 밖에 내지 않는데 어떻게 강사가 높은 수당을 가져 갈 수 있는지 이해가 잘 안 될 것입니다.
      </p>
      <p>
            한달 20회 1만원이면 1회 수업에 500 원입니다.
            <br> 강사가 8시간 근무(매 시간 10분 휴식 포함) 기준 40회 수업을 할 수 있습니다.
            <br> 한달 20일 가정하면, (1회 수업) 500 원 * (하루) 40회 수업 * (한달) 20일 = 40만원이 됩니다.
            <br> 40 만원의 75% 는 30만원입니다.
            <br> 하지만 모든 강사가 1회 수업에 500 원으로 하지 않습니다. 1000원, 1500원 등 강사가 마음데로 정합니다. 따라서 어떤 강사는 다른 강사들 보다 비싸게 수업료를 받기도 합니다. 2018년
            현재 위세너에서 권장하는 수업료는 아래와 같습니다.
            <br>
            <br>10분 월 1만~2만원
            <br>20분 월 2만~4만원
            <br>30분 월 4만~6만원
            <br>위세너에서는 강사들에게 10분 500원, 20분 1000원으로 수업을 2개씩 의무적으로 최저가로 오픈하게 하고 있습니다.
            <br>이렇게 하므로서 학생은 충분히 낮은 수업료로 수업을 할 수 있고, 낮은 수업료가 예약이 잘 된다는 것을 강사는 알게되고, 강사 끼리 낮은 수업료를 경쟁하게 됩니다.
            <br>실제로 Cherish라는 한 강사는 2018년 5월 하루 평균 3시간 30분 수업을 하고, 3만페소(한화 약 62만원)를 수령하였는데, 이것을 8시간 기준으로 환산다면, 필리핀의 일반 영어학원(또는
            콜센터) 강사의 평균 월급의 5배에 해당합니다.
            <br>이 처럼 강사는 매우 높은 수익을 가져가고 있으며 또 학생으로 부터 직접 선택을 받아야하므로 그 만큼 학생들에게 최선을 다합니다.
            <br>이로 인해 온튜 강사들은 일반 학원이나 화상 영어 콜센터 강사와는 차원이 다르게 책임감을 넘어선 높은 주인 정신을 가지고 있습니다.
            <br>그리고 이것이 고품격 영어 교육 서비스를 할 수 있는 원동력이됩니다.
      </p>
</div>

<h4>고품격 영어 교육 서비스</h4>
영어 학원 강사와 재택근무 강사가 함께 수업을 합니다. 영어 학원 강사의 경우 수업을 잘 하지만 재택 근무 강사의 경우 꾸준한 관리를 통해 수업의 질을 높여나가고 있습니다.

<button (click)="show.quality = true" *ngIf=" ! show.quality ">자세히 보기</button>
<div *ngIf=" show.quality ">
      영어 학원 강사의 경우 대한민국에서 가장 유명하고, 비싸고, 고품격의 서비스를 하는 학원 강사가 카톡영어에서 수업을 하므로 수업의 품격에 대서는 걱정 할 필요가 없습니다. 재택 강사의 경우, 경험이 많은 강사 위주로
      수업을 진행하지만, 때로는 경험이 없는 영어 강사가 수업을 진행하기도 합니다. 온튜에서는 재택강사 관리를 위한 직원이 따로 있으며 시스템적으로 강사가 학생에게 최선을 다 해야 수업 예약을 받을 수 있으며,
      학생으로 선택받지 못하는 품격이 낮은 서비스를 하는 강사는 자동으로 도퇴됩니다.
</div>

<h4>직거래 서비스</h4>
온튜에서는 강사가 직접 수업료를 정하고 학생은 마음에 들면 예약을 합니다. 또한 선생님과 학생이 서로 상의해서 수업료를 조절하는 경우도 많습니다.

<button (click)="show.directDeal = true" *ngIf=" ! show.directDeal ">자세히 보기</button>
<div *ngIf=" show.directDeal ">
      강사가 직접 자신의 수업료를 정하다 보니 실력없는 영어 강사가 매우 높은 수업료를 지정하여 많은 수익을 벌기도 하는 일이 벌어지고 있습니다.
      <br>학생은 강사의 사진, 프로필, 동영상 및 수업 날짜,
      시간, 수업료 등을 보고 고를 수 있으며 언제든지 취소 및 변경 할 수 있습니다.
      <br>또한 강사와 학생이 서로 대화를 해서 수업료를 조정 할 수도 있습니다. 특정 학생에게 할인 해
      주거나 학생과 수업료를 직접 상담 할 수 있습니다.
</div>

<h4>재택 강사의 안정적인 관리</h4>
학원 강사의 경우 문제가 없지만 재택 강사의 경우 인터넷, 정전, 개인적인 긴급 용무 등 여러가지 상황이 발생하고 있습니다. 이 부분에 대해서는 필리핀 매니저가 배정되어 재택 강사의 수업 참여도를 관리하며 지속적으로
개선 하고 있습니다.


<h4>자동화 시스템</h4>

위세너에서는 관리자 또는 매니저가 학생 대신 수업을 예약, 취소, 변경 등을 할 수 없습니다.

오직 학생만이 직접 해야하며 그 만큼 잘 자동화되어져 있습니다.

<button (click)="show.automatic = true" *ngIf=" ! show.automatic ">자세히 보기</button>
<div *ngIf=" show.automatic ">
위세너가 12년 전 100% 자동화 시스템을 처음 개발하고 난 다음, 다른 경쟁 회사들이 위세너 시스템을 따라하려고 하지만, 쉽게 따라오지 못하고 있습니다.
<br>특히 전 세계의 재택 강사 및 여러 학원의 강사를 모집하여 직거래 시스템 생태계를 보유하고 있는 회사는 전 세계에서 위세너가 유일합니다.
<br>강사가 마음데로 수업료를 정하고,
학생이 신용카드로 원하는 만큼 수업료를 충전하고
학생은 자유 자제로 예약, 취소, 변경 할 수 있으며
수업이 잘못되면 학생이 복구 신청하고 강사가 응답하는 100% 자동화 된 관리가 필요없는 LMS 시스템. 오직 위세너에서만 가능했으며 지금도 위세너에서만 가능합니다.

<br>참고로 카톡영어에는 전화번호가 없으며 전화 상담하지 않습니다. 그만큼 매우 직관적이고 사용하기 쉽습니다.
</div>


<h4>강사의 수업 취소</h4>
"위세너 프랜차이즈"에서 특이한 점은 학생 뿐만아니라, 강사도 수업을 취소 할 수 있습니다. 물론 선생님이 수업을 취소하는 경우는 매우 드물며 그러한 일은 거의 벌어지지 않습니다. 또한 상습적으로 수업을 취소하는 강사는
위세너에서 제제를 합니다. 그리고 수업 취소가 발생할 가능성이 높은 강사의 경우 따로 표시를 하기도 합니다. 본사에서는 학생들에게 이러한 내용을 홈페이지를 통해 잘 인식시키고 있습니다.

<h4>수익 분배</h4>

학생이 지불한 수업료의 수익 분배 비율은 강사 75% 가맹사 20% 본사 5% 입니다. 가맹사의 수익금은 페이팔로 전송합니다. 수익 분배는 1일 부터 말 일까지의 수익을 그 다음달 7일 드립니다.
만약, 가맹사의 수익이 $10 이하인 경우, 지급되지 않으며 홈페이지 운영비로 사용됩니다.

<h4>PWA</h4>
프로그레시브 웹앱(Progressive Web Apps)의 약자로 PWA 라고 칭하는 최신의 홈페이지의 개발 기법으로 모바일앱과 경쟁할 수 있는 홈페이지입니다.
위세너에서 2016년 이후 개발하는 모든 사이트는 PWA 및 앱/웹앱 방식으로 개발하기 위해 Angular/Ionic 으로 개발하고 있습니다.
PWA 는 여러가지 장점이 있지만, 그 중 매우 중요한 것이 학생의 참여도를 높이는 것입니다.
참고로 네이버에서 PWA 또는 '프로그레시브 웹앱' 라고 검색을 해 보시면 PWA 가 어떤 개념인지 알 수 있습니다.


<h4>스마트폰 앱</h4>
위세너에서 제공하는 홈페이지는 PWA 로 모바일 앱에 견줄만한 성능과 기능을 자랑하므로 특별히 앱을 제작 할 필요가 없습니다.
하지만, 올바른 수업의 진행 횟수가 한달 1,000 (학생 약 50명) 개가 넘으면 앱을 무료로 제작해 드립니다.
참고로 앱은 안드로이드 앱만 제작합니다. 한국의 특성상 애플은 많이 사용하지 않아 제작하지 않습니다. -->
