@import './../../../../../theme/vars';
h3{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0E51A7;
}

p{
    font-size: .95em;
    line-height: 1.6em;
}


// if .item height/width changed 
// the height/width should be also changed
.gallery{
    font-size: .95em;
    line-height: 1.5em;
    .col-md-4{
        padding: 0;
    }
    .col-md-4:first-child{
        padding-right: .75em;
    }
    .col-md-4:last-child{
        padding-left: .75em;
    }

    .item{
        margin-bottom: 2em;
        cursor: pointer;
        @media (min-width:$md){
            margin-bottom: .75em;
        }
                
        img{
            width: 100%;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

        .body{
            padding: 0 .4em;
            h4{
                margin: 0;
                padding: .25em 0;
                padding-bottom: 0;
                color: #00A57C;
                font-size: 1em;
            }
    
            .desc{
                margin: 0;
                padding:.4em 0;
                padding-top: .25em;
                font-weight: 300;
                font-size: .9em;
                color: #77838f;
            }
    
            button{
                border: 0;  
                font-size: .95em;
                background: none;
                color: #0A3F82;
                text-decoration: underline;
            }
    
        }
    }
}

//                    color: #0A3F82; blue
//                    color: #77838f;gray

//                color: #00A57C;greeb

// /*
// * list background colors
// *  and font colors
// */ 
// .salary{
//     background: #00A57C;
//     color: #fff;


// }
// .quality{
//     background: #546e7a;
//     color: #fff;

//     &+.content{
//         background: #fff;
//         color: #29434e
//     }
// }
// .directDeal{
//     background: #512da8;
//     color: #fff;

//     &+.content{
//         background: #fff;
//         color: #512da8
//     }
// }
// .stableManagement{
//     background: #FEC800;
//     &+.content{
//         background: #fff;
//         color: darkred
//     }
// }
// .automatic{
//     background: #753650;
//     color: #fff;

//     &+.content{
//         background: #251a1f;
//         color: #fff
//     }
// }
// .instructorCancelation{
//     background: #647536;
//     color: #fff;

//     &+.content{
//         background: #23251a;
//         color: #fff;
//     }
// }
// .revenueSharing{
//     background: #067074;
//     color: #fff;

//     &+.content{
//       background: #424e09;
//       color: #fff;
//     }
// }
// .PWA{
//     background: #0E51A7;
//     color: #fff
// }
// .smartPhoneApp{
//     background: #2A17B1;
//     color: #fff;
//     &+.content{
//         color: #2A17B1;
//       }
// }
