<h3> {{ t.ln.understanding_franchise_title }}</h3>

<p> {{ t.ln.understanding_franchise_desc }}</p>



<section class="gallery container-fluid">
      <div class="row">
            <div class="col-sm-12 col-md-4">


                  <div class="item" (click)="show.salary = !show.salary">
                        <div class="photo">
                              <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo1.jpeg" alt="">
                        </div>
                        <div class="body">
                              <h4>{{ t.ln.understanding_franchise_content_title_1 }}</h4>
                              <p class="desc">
                                    {{ t.ln.understanding_franchise_content_desc_1 }}
                                    <button *ngIf=" ! show.salary ">{{ t.ln.learn_more }}</button>
                              </p>
                              <div class="content" *ngIf="show.salary">
                                    <p>
                                          {{ t.ln.understanding_franchise_content_text_1_0 }}
                           
                                    </p>
                                    <p>
                                          {{ t.ln.understanding_franchise_content_text_1_1 }}
                                    </p>
                                    <p>
                                          {{ t.ln.understanding_franchise_content_text_1_2 }}
                                    </p>
                              </div>
                        </div>
                  </div>


                  <div class="item" (click)="show.directDeal = !show.directDeal">
                        <div class="photo">
                              <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo2.jpeg" alt="">
                        </div>
                        <div class="body">
                              <h4>{{ t.ln.understanding_franchise_content_title_2 }}</h4>
                              <p class="desc">
                                    {{ t.ln.understanding_franchise_content_desc_2 }}
                                    <button *ngIf=" ! show.directDeal ">{{ t.ln.learn_more }}</button>
                              </p>
                              <div class="content" *ngIf=" show.directDeal ">
                                    <p>
                                          {{ t.ln.understanding_franchise_content_text_2_0 }}
                                    </p>
                                    <p>
                                          {{ t.ln.understanding_franchise_content_text_2_1 }}
                                 
                                    </p>
                              </div>
                        </div>
                  </div>


                  <div class="item"  (click)=" show.instructorCancelation = ! show.instructorCancelation ">
                              <div class="photo">
                                    <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo4.jpeg" alt="">
                              </div>
                              <div class="body">
                                    <h4>{{ t.ln.understanding_franchise_content_title_3 }}</h4>
                                    <p class="desc">
                                          {{ t.ln.understanding_franchise_content_desc_3 }}
                                          <button *ngIf=" ! show.instructorCancelation ">{{ t.ln.learn_more }}</button>
                                    </p>
                                    <div class="content" *ngIf="show.instructorCancelation">
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_3_0 }}
                                                
                                          </p>
                                    </div>
                              </div>
                        </div>

            </div>

            <div class="col-sm-12 col-md-4">

                        <div class="item" (click)=" show.automatic = ! show.automatic ">
                              <div class="photo">
                                    <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo3.jpg" alt="">
                              </div>
                              <div class="body">
                                    <h4>{{ t.ln.understanding_franchise_content_title_4 }}</h4>
                                    <p class="desc">
                                          {{ t.ln.understanding_franchise_content_desc_4 }}
                                          <button *ngIf=" ! show.automatic ">{{ t.ln.learn_more }}</button>
                                    </p>
                                    <div class="content" *ngIf=" show.automatic ">
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_4_0 }}
                                          </p>
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_4_1 }}
                                          </p>
                                    </div>
                              </div>
                        </div>


                        <div class="item"  (click)="show.quality = !show.quality">
                              <div class="photo">
                                    <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo5.jpeg" alt="">
                              </div>
                              <div class="body">
                                    <h4>{{ t.ln.understanding_franchise_content_title_5 }}</h4>
                                    <p class="desc">
                                          {{ t.ln.understanding_franchise_content_desc_5 }}
                                          <button *ngIf=" ! show.quality ">{{ t.ln.learn_more }}</button>
                                    </p>
                                    <div class="content" *ngIf=" show.quality ">
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_5_0 }}
                                          </p>
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_5_1 }}
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="item"  (click)="show.stableManagement = !show.stableManagement">
                              <div class="photo">
                                    <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo6.jpeg" alt="">
                              </div>
                              <div class="body">
                                    <h4>{{ t.ln.understanding_franchise_content_title_6 }}</h4>
                                    <p class="desc">
                                          {{ t.ln.understanding_franchise_content_desc_6 }}
                                          <button *ngIf=" ! show.stableManagement ">{{ t.ln.learn_more }}</button>
                                    </p>
                                    <div class="content" *ngIf="show.stableManagement">
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_6_0 }}
                                          </p>
                                    </div>
                              </div>
                        </div>
            </div>

            <div class="col-sm-12 col-md-4">
                        <div class="item" (click)=" show.revenueSharing = ! show.revenueSharing ">
                              <div class="photo">
                                    <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo7.jpeg" alt="">
                              </div>
                              <div class="body">
                                    <h4>{{ t.ln.understanding_franchise_content_title_7 }}</h4>
                                    <p class="desc">
                                          {{ t.ln.understanding_franchise_content_desc_7 }}
                                          <button *ngIf=" ! show.revenueSharing ">{{ t.ln.learn_more }}</button>
                                    </p>
                                    <div class="content" *ngIf="show.revenueSharing">
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_7_0 }}
                                          </p>
                                    </div>
                              </div>
                        </div>
                  
                  
                        <div class="item"  (click)=" show.PWA = ! show.PWA ">
                              <div class="photo">
                                    <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo8.jpeg" alt="">
                              </div>
                              <div class="body">
                                    <h4>PWA</h4>
                                    <p class="desc">
                                          {{ t.ln.understanding_franchise_content_desc_8 }}
                                          <button *ngIf=" ! show.PWA ">{{ t.ln.learn_more }}</button>
                                    </p>
                                    <div class="content" *ngIf="show.PWA">
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_8_0 }}
                                          </p>
                                    </div>
                              </div>
                        </div>
                  
                  
                        <div class="item"  (click)=" show.smartPhoneApp = ! show.smartPhoneApp ">
                              <div class="photo">
                                    <img src="../../../../../assets/withcenter/img/understanding-keypoints-photo/understanding-photo9.jpeg" alt="">
                              </div>
                              <div class="body">
                                    <h4>{{ t.ln.understanding_franchise_content_title_9 }}</h4>
                                    <p class="desc">
                                          {{ t.ln.understanding_franchise_content_desc_9 }}
                                          <button *ngIf=" ! show.smartPhoneApp ">{{ t.ln.learn_more }}</button>
                                    </p>
                                    <div class="content" *ngIf="show.smartPhoneApp">
                                          <p>
                                                {{ t.ln.understanding_franchise_content_text_9_0 }}
                                          </p>
                                    </div>
                              </div>
                        </div>
            </div>
      </div>
</section>

