section {
    margin-bottom: 1em;
    background-color: #eee;
    font-size: .85em;
    h2 {
        margin: 0;
        background: #e2ebf5;
        font-weight: 100;
        font-size: 1.2em;
        color: black;
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1em;
            .external-link{
                display: flex;
                align-items: center;
                padding: .7em;
                padding-right: 1em;
                color: #000;
                cursor: pointer;
    
                svg{
                    height: 1.15em;
                    width: 1.15em;
                }
            }
        }
    }
    .content {
        &>a {
            display: block;
            padding: .8em 1.3em;
            border: 1px solid rgba(125, 125, 125, 0.1);
            border-top: none;
            background: #fff;
            &:hover {
                background: rgb(243, 243, 243);
                // font-weight: bold;
                color: rgb(18, 18, 51);
                cursor: pointer;
            }
        }
    }
}

/**
 * Animation
 */
section {
    max-height: 0;
    // background: #c3c;
    overflow: hidden;
    &.show {
        max-height: 300px;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }
}
