.options{
    .date{
        label{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: .5em;
            padding: 0 1em;
            background:#fff;
            border: 1px  solid  rgb(233, 236, 239);
            cursor: pointer;

            span{
                color:grey;
            }
        }

        @media screen and (min-width:768px){
            .begin{
                margin-right: .25em;
            }
    
            .end{
                margin-left:.25em;
            }
        }

        .col{
            padding: 0;
        }
    }

    .teachers{

        label{
            color:blue
        }
        .col{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: .5em 0;
            padding: 1em;
            border: 1px  solid  rgb(233, 236, 239);
            background:#fff;
        }
    }

    .checkbox-list{
        border: 1px  solid  rgb(233, 236, 239);

        label{
            display: flex;
            align-items: center;
            padding: 1em;
            border-bottom: 1px  solid  rgb(233, 236, 239);
            background: #fff;
            cursor: pointer;

            span{
                margin-left:1em
            }

            &:last-child{
                border: none!important;
            }
        }
    }

    .close{
        margin: 1em;
        text-align: center;

        button{
            padding: .5em 2em;
            border:none;
            background-color: rgb(0, 126, 243);
            color: white;
            font-size: 100%;
            cursor: pointer;
        }
    }
}

main{
    padding-bottom: 10em;
}


.stats{
    margin: 1.5em 0;
    border-top: 1px solid #e9ecef;
    background: #fff;
    .row{
        padding: 1em;
        border-bottom: 1px solid #e9ecef;

        &>div:first-child{
            font-weight: bold;
            color: gray;

            @media screen and (max-width:768px) {
                line-height: 2em;
            }
        }

        .change-timezone{

            span{
                margin-left: 1em;
                padding: .3em 1em;
                border-radius: 2px;
                background: gray;
                color: white;
                cursor: pointer;
            }

            @media screen and (max-width:768px) {
                margin: 1em 0!important;

                span{
                    margin-left: 0;
                }
            }
        }
    }
}

.header{
    position: sticky!important;
    top:63px;
    @media screen and (max-width:768px) {
        top:105px;

        .sm-hide{
            display: none;
        }
    }
    left: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    padding: .9em 0;
    background-color: #66a2fb;
    color: white;
    text-align: center;

    &>div{
        padding: 0;
    }

}

.data{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 90px;
    border-bottom: 1px solid #e9ecef;
    background: #fff;
    font-size: 90%;

    @media screen and (max-width:768px) {
        padding-top:1em;
    }

    &>div{
        padding: 0;
    }

    .point{
        color:blue;
    }

    .rejected,.refunded{
        display: inline-block;
        margin-top: 1em;
        color:darkred;
    }

    button{
        display: flex;
        align-items: center;
        margin-top: 1em;
        padding: .75em 1.25em;
        font-size: 90%;
        border-radius: 2px;
        border: 1px solid rgba(0,0,0,.06)!important;
        cursor: pointer;
    }

    .evaluate-view,.cancel{
        background-color: #eee!important;
        color: #4b4b4b!important;
    }
    

    .comment-create{
        background-color: #888;
        color: #fff;
    }

    .buttons-wrapper{
        margin-bottom: 1em;
        .row{
            align-items: center;
            justify-content: center;
        }

        .col-6{
            display: flex;
            justify-content: center;
        }
    }

    .bg-red,.bg-green,.request-refund{
        display: flex;
        align-items: center;
        color: white
    }

    .bg-red{
        background: red
    }

    .bg-green{
        background: green;
    }

    .request-refund{
        background-color: rgb(255, 123, 0);
    }

    .button-icon{
        height: 1em;
        margin-right: .4em;
    }

    .spin {
        -webkit-animation: fa-spin 2s infinite linear;
        animation: spin 2s infinite linear;
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

.teacher-photo{
    .photo{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        img{
            width: 100%;
        }

        &-name{
            margin-top:.3em;
            font-size: 80%;
            text-transform: uppercase;
        }
    }
}



.teacher-warning{
    padding:1.25em;
    padding-bottom: 0;
    color:blue;
}

.no-more,.loader{
    text-align: center;
    padding: 5em;
}

.no-more{
    padding-bottom: 12em;
}

