@import '../../../theme/vars.scss';
.options{
    background: #fff;
    padding: 1em;
    .date{
        mat-form-field{
            width: 100%;
        }

        @media screen and (min-width:$md){
            .begin{
                margin-right: .5em;
            }
    
            .end{
                margin-left:.5em;
            }
        }

        .col{
            padding: 0;
        }
    }

    .teachers{
        .col{
            padding: 0;
        }
        mat-form-field{
            width: 100%;
        }
    }

    .checkbox-list{
        border: 1px  solid  rgb(233, 236, 239);

        label{
            display: flex;
            align-items: center;
            padding: 1em;
            border-bottom: 1px  solid  rgb(233, 236, 239);
            background: #fff;
            cursor: pointer;

            span{
                margin-left:1em
            }

            &:last-child{
                border: none!important;
            }
        }
    }

    .close{
        margin: 1em;
        text-align: center;

        button{
            padding: .5em 2em;
            border:none;
            background-color: rgb(0, 126, 243);
            color: white;
            font-size: 100%;
            cursor: pointer;
        }
    }
}


.mobile-stats-table{
    @media (min-width:$md) {
        display: none;
    }
    background: #fff;
    table{
        border-collapse: collapse;
        font-size: 80%;
        @media screen and (min-width:$md) {
            font-size: 100%;
        }
    }
    td{
        padding:.8em 1em;
        border-bottom: 1px solid rgba(125,125,125,0.2);

        &:first-child{
            background: rgba(125,125,125,0.1);
            color: gray;
            font-weight: bold;
            white-space: nowrap;
        }
        &:last-child{
            width: 100%;
        }
    }
    .change-timezone{
        display: inline-block;
        margin:.3em 0;
        @media (min-width:$md) {
            margin: 0;
            margin-left: 5em;
        }
        padding: .3em 1em;
        border-radius: 2px;
        background: gray;
        color: white;
        cursor: pointer;
    }
}

.desktop-stats-table{
    display: none;
    @media (min-width:$md) {
        display: flex;
    }
    align-items: stretch;
    margin: 1em 0;
    text-align: center;
    font-size: .9em;
    border-radius: 2px;
    &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid rgba(125,125,125,0.1);
        border-right: 0;
        &:last-child{
            border: 1px solid rgba(125,125,125,0.1);
        }
        background:#fff;
        padding: 1em;
        &>div:last-child{
            margin-top: .5em;
            font-size: .85em;
            color: darkblue;
            text-transform: uppercase;
        }
    }

    .number{
        font-size: 1.3em;
    }

    .total{
        margin-top: .5em;
        font-size: .85em;
        color: gray;
    }

    .change-timezone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            display: flex;
            align-items: center;
            margin-top: .5em;
            font-size: .85em;
            color: gray;
            svg{
                height: 1.1em;
                width: 1.1em;
                margin-right: .3em;
            }
        }
    }
    
}


.book-button{
    position: relative;
    display: flex;
    align-items: center;
    padding: .5em;
    border-radius: 2px;
    border:1px solid rgba(125,125,125,0.2);
        svg{
        position: relative;
        top:.125em;
        height: 1em;
        width: 1em;
        margin-left: .3em;
        color: darkgreen;
    }
}



    .header-student,.header-teacher{
        position: sticky!important;
        left: 0;
        right: 0;
        z-index: 100;
        justify-content: space-around;
        align-items: center;
        padding: .8em 0;
        background-color: #66a2fb;
        color: white;
        font-size: .8em;
        @media (min-width:$md){
            font-size: .9em;
        }
        text-align: center;
    
        &>div{
            padding: 0;
        }
    }

    .header-student{

        top:63px;
        @media screen and (max-width:$md) {
            top:105px;
    
            .sm-hide{
                display: none;
            }
        }
    }

    .header-teacher{
        top:56px;

        @media screen and (max-width:$md) {
            .sm-hide{
                display: none;
            }
        }
    }

.data-ie{
    &>div{
        @media (min-width:$md) {
            height:100px;
        }
    }
}

.messenger-id-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
    svg{
        position: relative;
        top:.11em;
        height: 1.1em;
        width: 1.1em;
        margin: .25em;
        @media (min-width:$md) {
            margin-right: .25em;   
        }
    }
}


.data{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 100px;
    border-bottom: 1px solid #e9ecef;
    background: #fff;
    font-size: 90%;

    @media (max-width:768px) {
        padding-top:1em;
    }

    &>div{
        display:flex;
        align-items:center;
        justify-content: center;
        padding: 0;
    }

    .point{
        color:blue;
    }
    .messenger-id {
        font-size: 85%;
        word-break: break-all;
        .teacher-id-button{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;   
        }
        .student-id-button{
            position: relative;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;   
            padding: .25em .75em;
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.2);
            cursor: pointer;
            transition: .2s all ease-in-out;
            &:hover{
                background: #eee
            }
        }
        img{
            margin: .25em 0;
            @media (min-width:$md) {
                position: relative;
                top: .175em; 
                margin: 0;
                margin-right: .5em;  
            }
            height: 1.5em;
            width: 1.5em;
        }
    }

    .rejected,.refunded{
        display: inline-block;
        margin-top: 1em;
        color:darkred!important;
    }

    .rejected{
        display: flex;
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;

        svg{
            height: 1.5em;
            width: 1.5em;
        }
    }

    .point-refund-rejected{
        border-color: rgba(gray,0.2)!important;
        background: ghostwhite;

        svg{
            height: 2em;
            width: 2em;
        }
    }

    .refundable{
        border-color: darkred!important;
        color: darkred!important;
        background: ghostwhite;

        svg{
            height: 1em;
            width: 1em;
        }
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        padding: .5em 1em;
        font-size: 90%;
        border: 1px solid rgba(0,0,0,.06)!important;
        cursor: pointer;
    }
    &>span{
        margin-top: 1em
    }
    .evaluate-view,.cancel{
        background-color: #eee!important;
        color: #4b4b4b!important;
    }
    .cancel{
        display: flex;
        white-space: nowrap;
    }
    .evaluate-view{
        svg{
            width: 1.5em;
            height: 1.5em;
        }
    }
    .comment-create{
        background-color: #888;
        color: #fff;
        svg{
            margin: 0!important;
            height: 1.5em;
            width: 1.5em;
        }
        span{
            margin-left: .6em;
        }
    }

    .buttons-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: .9em;
        margin-bottom: .5em;
        @media (min-width:$md) {
            margin-bottom: 0;
        }
        svg{
            margin-right: .4em;
        }

        &>button,&>span{
            margin: .5em .2em;
            margin-top: 1em;
            @media (min-width:$md){
                margin:.5em;      
            }
        }
    }

    .bg-red,.bg-green,.request-refund{
        display: flex;
        align-items: center;
        color: white
    }

    .bg-red{
        background: red
    }

    .bg-green{
        background: green;
    }

    .request-refund{
        background-color: rgb(255, 123, 0);
         svg{
             margin:0!important;
             margin-left: .5em!important;
             height: 1.4em;
             width: 1.4em;
         }
         span:last-child{
             margin-left: .6em;
         }
    }

    .evaluated{
        border-color: rgba(black, 0.06)!important;
        color:blue;

        svg{
            height: 1.5em;
            width: 1.5em;
        }
    }

    .evaluate {
        display: flex;
        background-color: rgb(255, 123, 0)!important;
        color: white!important;

        svg{
            height: 1.2em;
            width: 1.2em;
        }
    }

    .refund-requested{
        background: darkred;
        color:white;

        svg{
            height: 1.25em;
            width: 1.25em;
        }
    }

    .cancel-refund-request{
        background: #fff;
        border-radius: 2px;
        border:1px solid darkred!important;
        color:darkred;

        svg{
            margin: 0!important;
            margin-right: .4em!important;
            height: 1.5em;
            width: 1.5em;
        }
    }

    .button-icon{
        height: 1em;
        width: 1em;
        margin-right: .4em;
    }

    .spin {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-right: .5em;
    }

}

.teacher-photo{
    .photo{
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        img{
            width: 100%;
        }

        &-name{
            margin-top:.3em;
            font-size: 80%;
            text-transform: uppercase;
        }
    }
}



.teacher-warning{
    padding:1.25em 2.5em;
    font-size: 90%;
    color:blue;
}

.no-more{
    text-align: center;
    padding: 5em;
}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;

    mat-spinner{
        margin: .5em;
    }
}

.no-more{
    padding-bottom: 12em;
}

.ready-confirmed,.ready-not-confirmed{
    color: #fff;
    mat-spinner{
        margin-right: .5em
    }
}

.ready-confirmed{
    background: green!important;
}

.ready-not-confirmed{
    background: red!important;
}

.legends{
    margin:5em 0;
    padding: 0;
    font-size: 90%;
    .col{
        &>div{
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.2em;
            padding-right: 0;
            border:1px solid #e2e2e2;
            border-bottom: none;
            background: #fff;

            &:last-child{
                border:1px solid #e2e2e2;
            }

            &>div:last-child{
                padding: 1.2em;
                width: 90px;
                background: grey;
                color: #fff;
                font-size: 90%;
                text-align: center;
            }
        }

        .eval{
            background: darkorange!important;

            span{
                color:red!important
            }
        }

        .ready-confirmed{
            background: green!important
        }

        .ready-not-confirmed{
            background: red!important
        }

        .rejected{
            color: #856404!important;
            background-color: #fff3cd!important;
            border-color: #ffeeba!important;
        }

        .accept{
            background:#007bff!important
        }

        .reject{
            background: darkred!important
        }
    }
}

.no-pay{
    color: red
}

