<section>

    <div class="options" *ngIf=" share.options ">

        <div class="date container-fluid" *ngIf=" past ">

            <div class="row">
                <div class="col">
                    <label class="begin">
                        <span>{{ 'DATE_BEGIN' | t}}</span>
                        <ion-datetime name="date_begin" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD"
                                    [(ngModel)]="date_begin"
                                    (ngModelChange)="onChangeSearchOption()"></ion-datetime>
                    </label>
                </div>

                <div class="col">
                    <label class="end">
                        <span>{{ 'DATE_END' | t}}</span>
                        <ion-datetime name="date_end" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD"
                                    [(ngModel)]="date_end"
                                    (ngModelChange)="onChangeSearchOption()"></ion-datetime>
                    </label>
                </div>
            </div>

        </div>

        <div class="teachers container-fluid" *ngIf=" my_teachers ">
            <div class="row">
                <div class="col">
                    <label>{{ 'SELECT_TEACHER'| t }}</label>
                    <select [(ngModel)]="show_teacher" (change)="onChangeSearchOption()">
                        <option *ngFor="let teacher of teachers_keys" [value]="teacher">{{ my_teachers[teacher].name }}
                        </option>
                        <option [value]="0">{{ "ALL_TEACHER" | t}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="checkbox-list" *ngIf=" past ">
            <label>
                <ion-checkbox [(ngModel)]="show_refund_in_progress" color="vibrant"
                              (ionChange)="onChangeSearchOption()"></ion-checkbox>
                <span>{{ 'DISPLAY_SESSION_IN_PROGRESS' | t}}</span>
            </label>

            <label>
                <ion-checkbox [(ngModel)]="show_refunded" color="vibrant"
                              (ionChange)="onChangeSearchOption()"></ion-checkbox>
                <span>{{ 'DISPLAY_REFUNDED_SESSION' | t}}</span>
            </label>

            <ng-container *ngIf="a.isStudent">
                <label>
                    <ion-checkbox [(ngModel)]="displayTeacherName" color="vibrant"></ion-checkbox>
                    <span>{{ 'SHOW_TEACHER_NAME'| t }}</span>
                </label>

                <label>
                    <ion-checkbox [(ngModel)]="displayDate" color="vibrant"></ion-checkbox>
                    <span>{{ 'DISPLAY_DATE' | t }}</span>
                </label>
                
                <label>
                    <ion-checkbox [(ngModel)]="displayPoint" color="vibrant"></ion-checkbox>
                    <span>{{ 'POINT_MARK' | t}}</span>
                </label>
            </ng-container>
        </div>

        <div class="close" >
            <button (click)=" share.options = false ">
                {{ 'CLOSE' | t}}
            </button>
        </div>

        <hr>
    </div>
    <!--/options-->

    <div class="teacher-warning" *ngIf=" a.isTeacher ">
        Teacher must see this page in wide screen since the content in this page is wide.
    </div>

    <div class="stats container-fluid" *ngIf=" re && books.length ">
        <div class="row">
            <div class="col-md-4">{{ 'SEARCHED_SESSIONS' | t }}</div>
            <div class="col-md-8">
                <span>{{ books.length }} ( {{ 'TOTAL' | t }} : {{ re.total_sessions }} )</span>
            </div>
        </div>
        <div class="row"  *ngIf=" a.isTeacher ">
            <div class="col-md-4">{{ 'SEARCHED_POINT' | t }}</div>
            <div class="col-md-8">
                <span>{{ re.total_points | number }}</span>
            </div>
        </div>
        <div class="row" *ngIf=" past ">
            <div class="col-md-4">{{ 'REFUNDED_SESSIONS' | t}}</div>
            <div class="col-md-8">
                <span>{{re.total_session_refunded}}</span>
            </div>
        </div>
        <div class="row"  *ngIf=" re.total_session_refund_in_progress ">
            <div class="col-md-4">{{ 'SESSIONS_IN_REFUND_PROGRESS' | t}}</div>
            <div class="col-md-8">
                <span> {{re.total_session_refund_in_progress}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ 'SEARCH_PERIOD' | t}}</div>
            <div class="col-md-8">
                <span> {{ date_begin }} ~  {{ date_end }} </span>
            </div>
        </div>
        <div class="row" *ngIf="a.userTime" routerLink="/settings">
            <div class="col-md-4">{{ 'TIMEZONE NOW' | t}}</div>
            <div class="col-md-4">
                <span> {{ a.userTime }}</span>
            </div>
            <div class="change-timezone col-md-4">
                 <span> {{ 'CHANGE TIMEZONE' | t }}</span>
            </div>
        </div>

    </div>

    <!-- <div class="container-fluid" *ngIf=" re && books.length ">
        <div class="row">
            <div class="col-md-2 col-12">
                <i class=" d-md-inline d-none fal fa-list fa-4x  mb-3 orange"></i>
                <div>
                    <i class="d-inline d-md-none fal fs-2rem fa-list  mr-2 orange"></i>
                    <div>{{ 'SEARCHED SESSIONS' | t }}</div>
                    <div>{{ books.length }}</div>
                    <div>( {{ 'TOTAL' | t }} : {{ re.total_sessions }} )</div>
                </div>
            </div>
            <div class="col-md-2 col-12" *ngIf=" a.isTeacher ">
                <i class="fal fa-check-circle fa-4x  d-none d-md-inline mb-3 green"></i>
                <div>
                    <i class="fal fa-check-circle d-inline d-md-none  mr-2 fs-2rem green"></i>
                    <div>{{ 'SEARCHED POINT' | t }}</div>
                    <div>{{ re.total_points | number }}</div>
                </div>
            </div>
            <ng-container *ngIf=" past ">
                <div class="col-md-2 col-12" *ngIf=" re.total_session_refunded ">
                    <i class="fal d-none d-md-inline fa-retweet fa-4x mb-3 brown"></i>
                    <div>
                        <i class="fal fa-redo-alt  d-inline d-md-none mr-2  brown fs-2rem"></i>
                        <div>{{ 'REFUNDED SESSIONS' | t}}</div>
                        <div>{{re.total_session_refunded}}</div>
                    </div>
                </div>
                <div class="col-md-2 col-12" *ngIf=" re.total_session_refund_in_progress ">
                    <i class="fal fa-sync d-none d-md-inline fa-4x mb-3 teal"></i>
                    <div>
                        <i class="fal fa-sync d-inline d-md-none mr-2 fs-2rem teal"></i>
                        <div>{{ 'SESSIONS IN REFUND PROGRESS' | t}}</div>
                        <div> {{re.total_session_refund_in_progress}}</div>
                    </div>
                </div>
            </ng-container>
            <div class="col-md-2 col-12">
                <i class="fal fa-calendar-alt fa-4x d-none d-md-inline mb-3 indigo"></i>
                <div>
                    <i class="fal fa-calendar-alt d-inline d-md-none mr-2 fs-2rem indigo"></i>
                    <div>{{ 'SEARCH PERIOD' | t}}</div>
                    <div>
                        <span>{{ date_begin }}</span>
                        <span> ~ </span>
                        <span> {{ date_end }} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-12" routerLink="/settings">
                <i class="fal fa-globe dodgerblue fa-4x d-none d-md-inline  mb-3"></i>
                <div>
                    <i class="fal fa-globe d-inline d-md-none mr-2 fs-2rem dodgerblue"></i>
                    <div>{{ 'TIMEZONE NOW' | t}}</div>
                    <div>{{ a.userTime }}</div>
                </div>
                <div>{{ 'CHANGE TIMEZONE' | t }}</div>
            </div>
        </div>


    </div> -->

    <div *ngIf=" re && books.length == 0 ">
        <ng-container *ngIf=" future ">{{ 'NO MORE RESERVATIONS' | t}}</ng-container>
        <ng-container *ngIf=" past ">{{ 'NO MORE PASTS' | t}}</ng-container>
    </div>

    <div *ngIf=" re == null ">
        <ion-spinner></ion-spinner>
        <span>{{ 'IN LOADING' | t}}</span>
    </div>

    <div *ngIf=" books.length ">
        <div class="container-fluid">

            <div class="header row">
                <div class="col-3 col-md-1" *ngIf="a.isStudent">
                    <div>{{ 'TEACHER' | t}}</div>
                </div>
                <div class="col-3 col-md-2" *ngIf="a.isTeacher">
                    <div>{{ 'STUDENT' | t}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="a.isTeacher">
                    <div>{{ 'CLASS NO' | t}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayDate">
                    <div>{{ 'DATE' | t}}</div>
                </div>
                <div class="col-2 col-md-1">
                    <div>{{ 'TIME' | t}}</div>
                </div>
                <div class="col-1 col-md-1">
                    <div>{{ 'minute short' | t}}</div>
                </div>
                <div class="col-2 col-md-2" *ngIf=" future ">
                    <div> {{ 'KAKAOTALK' | t}}
                        <br> {{ 'ADD FRIEND' | t}}
                    </div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayPoint">
                    <div>{{ 'POINT' | t}}</div>
                </div>
                <div class="sm-hide col-2 col-md-3">
                    <ng-container *ngIf=" a.isStudent && past ">
                        <div> 결과</div>
                    </ng-container>
                </div>
            </div>
            <div class="data row" *ngFor="let book of books; let i = index; let o = odd; let e = even">
                <div class="col-3 col-md-1" *ngIf="a.isStudent">
                    <section class="teacher-photo">
                        <div class="photo"
                             (click)=" a.open('schedule-table', { ID: book.idx_teacher })">
                            <img src="{{ photoURL( book )  }}">
                        </div>
                        <div class="photo-name" *ngIf="displayTeacherName">{{
                            a.preTeacherName(my_teachers[book.idx_teacher].name) }}
                        </div>
                    </section>
                </div>
                <div class="col-3 col-md-2" *ngIf="a.isTeacher">
                    <div> {{ a.preTeacherName(book.student_name) }}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf=" a.isTeacher ">
                    <div>{{book.idx}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayDate">
                    <div>{{ date(book.date_display) }}</div>
                </div>
                <div class="col-2 col-md-1">
                    <div>{{book.class_begin_display}}</div>
                </div>
                <div class="col-1 col-md-1">
                    <div>{{book.duration}}</div>
                </div>
                <div class="col-2 col-md-2" *ngIf=" future ">
                    <div class="kakaotalk-id">
                        <ng-container *ngIf="a.isTeacher">
                            {{book.student_kakaotalk_id}}
                        </ng-container>
                        <ng-container *ngIf="a.isStudent">
                            <div>
                                {{ my_teachers[book.idx_teacher].kakaotalk_id }}
                            </div>

                        </ng-container>
                    </div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayPoint">
                    <div class="point"> {{ point(book) }}</div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="buttons-wrapper container-fluid">
                        <div class="row">
                            <ng-container *ngIf=" book.past ">
                                <ng-container *ngIf=" a.isTeacher ">
                                    <div class="col-6" *ngIf=" !paid(book) && !refunded( book ) ">
                                        <button [class.warning]=" ! evaluated(book) "
                                                (click)=" a.open('evaluate', {idx: book.idx, student_name: a.preTeacherName(book.student_name)}) ">
                                            Eval
                                        </button>
                                    </div>
                                    <div class="col-6" *ngIf=" refundable(book) ">
                                        <button (click)=" onClickRefund( book ) ">Refund</button>
                                    </div>
                                    <div class="col-6" *ngIf=" paid(book) ">
                                        <span>Paid</span>
                                    </div>
                                    <div class="col-6" *ngIf=" refunded( book ) ">
                                        <span>Refunded</span>
                                    </div>
                                    <div class="col-6" *ngIf=" refund_in_progress(book) ">
                                        <div>
                                            <span *ngIf=" rejected(book); else Requested ">Rejected</span>
                                            <ng-template #Requested>
                                                <button (click)=" onClickShowRequest( book ) ">
                                                    <ion-icon name="mail"></ion-icon>
                                                    Refund Requested
                                                </button>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf=" a.isStudent ">
                                    <div class="col-6" *ngIf=" !refunded(book) ">
                                        <button class="evaluate-view" (click)=" onClickEvaluateView(book.idx)">강의평가</button>
                                    </div>
                                    <div class="col-6" *ngIf=" !refund_in_progress(book) ">
                                        <button class="comment-create" (click)=" onClickCommentCreate( book.idx_teacher ) ">후기작성</button>
                                    </div>
                                    <div class="col-6" *ngIf=" rejected( book ) ">
                                        <span class="rejected">포인트 복구 거절 됨</span>
                                    </div>
                                    <div class="col-6" *ngIf=" refunded(book) ">
                                        <span class="refunded">복구됨</span>
                                    </div>
                                    <div class="col-6" *ngIf=" !book.refund_timeover && ! rejected( book )">
                                        <ng-container *ngIf=" ! refunded( book ) ">
                                            <button (click)=" onClickCancelRefundRequest( book )"
                                                    *ngIf="book.refund_request_at > 0 ">{{ "CANCEL REFUND REQUEST" | t
                                                }}
                                            </button>
                                            <button class="request-refund" (click)=" onClickRefundRequest( book )"
                                                    *ngIf=" book.refund_request_at == 0">
                                                <span *ngIf="loadingRefundRequest">
                                                    <svg class="button-icon spin" aria-hidden="true" data-prefix="fal" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32c0 17.673-14.327 32-32 32s-32-14.327-32-32 14.327-32 32-32 32 14.327 32 32zm-32 416c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256-192c0-17.673-14.327-32-32-32s-32 14.327-32 32 14.327 32 32 32 32-14.327 32-32zm-448 0c0-17.673-14.327-32-32-32S0 238.327 0 256s14.327 32 32 32 32-14.327 32-32zm33.608 126.392c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm316.784 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM97.608 65.608c-17.673 0-32 14.327-32 32 0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32z"></path></svg>
                                                </span>
                                                {{ "REQUEST REFUND" | t}}
                                            </button>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>

                        <div class="row" *ngIf=" future  ">
                            <div class="col-6">
                                <button class="cancel" *ngIf=" ! book.process  " (click)="onClickCancel( book )">
                                    <svg class="button-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M217.5 256l137.2-137.2c4.7-4.7 4.7-12.3 0-17l-8.5-8.5c-4.7-4.7-12.3-4.7-17 0L192 230.5 54.8 93.4c-4.7-4.7-12.3-4.7-17 0l-8.5 8.5c-4.7 4.7-4.7 12.3 0 17L166.5 256 29.4 393.2c-4.7 4.7-4.7 12.3 0 17l8.5 8.5c4.7 4.7 12.3 4.7 17 0L192 281.5l137.2 137.2c4.7 4.7 12.3 4.7 17 0l8.5-8.5c4.7-4.7 4.7-12.3 0-17L217.5 256z"></path></svg>
                                    <span>{{ 'CANCEL' | t}}</span>
                                </button>
                                <span *ngIf="  book.process">
                                    <svg class="button-icon spin" aria-hidden="true" data-prefix="fal" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32c0 17.673-14.327 32-32 32s-32-14.327-32-32 14.327-32 32-32 32 14.327 32 32zm-32 416c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256-192c0-17.673-14.327-32-32-32s-32 14.327-32 32 14.327 32 32 32 32-14.327 32-32zm-448 0c0-17.673-14.327-32-32-32S0 238.327 0 256s14.327 32 32 32 32-14.327 32-32zm33.608 126.392c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm316.784 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM97.608 65.608c-17.673 0-32 14.327-32 32 0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32z"></path></svg>
                                </span>
                            </div>
                            <div class="col-6" *ngIf=" a.isTeacher ">
                                <button [ngClass]=" book.stamp_checked != 0 ? 'bg-green' : 'bg-red' " (click)="onClickReady( book )">
                                    <span *ngIf=" book.ready ">
                                        <svg class="button-icon spin" aria-hidden="true" data-prefix="fal" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32c0 17.673-14.327 32-32 32s-32-14.327-32-32 14.327-32 32-32 32 14.327 32 32zm-32 416c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256-192c0-17.673-14.327-32-32-32s-32 14.327-32 32 14.327 32 32 32 32-14.327 32-32zm-448 0c0-17.673-14.327-32-32-32S0 238.327 0 256s14.327 32 32 32 32-14.327 32-32zm33.608 126.392c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm316.784 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM97.608 65.608c-17.673 0-32 14.327-32 32 0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32z"></path></svg>
                                    </span>
                                    <span>{{ 'READY' | t}}</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/books-->


    <div class="container-fluid" *ngIf=" a.isTeacher ">
        <div class="row">
            <div class="col">
                <div>
                    <div>Total Points from payable sessions</div>
                    <div>
                        {{teacher_summary['total_points_from_payable_session']}}
                    </div>
                </div>
                <div>
                    <div>Your Total Share Points</div>
                    <div>
                        {{teacher_summary['total_teacher_share_points']}}
                    </div>
                </div>
                <div>
                    <div>No. of payable sessions</div>
                    <div>
                        {{teacher_summary['counts_of_payable_session']}}
                    </div>
                </div>
                <div>
                    <div>No. of not Payable sessions</div>
                    <div>
                        {{teacher_summary['counts_of_not_payable_session']}}
                    </div>
                </div>
                <div>
                    <div>Session not evaluated. <span>*No pay</span>.</div>
                    <div [class.warning]=" true ">Eval</div>
                </div>

                <div>
                    <div>Session you confirmed.</div>
                    <div>Ready</div>
                </div>
                <div>
                    <div>Session you must confirm.</div>
                    <div>Ready</div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>No. of paid sessions</div>
                    <div>
                        {{teacher_summary['counts_of_paid_session']}}
                    </div>
                </div>
                <div>
                    <div>No. of refunded sessions</div>
                    <div>
                        {{teacher_summary['counts_of_refunded_session']}}
                    </div>
                </div>
                <div>
                    <div>No. of refund in progress</div>
                    <div>
                        {{teacher_summary['counts_of_rejected_refund'] + teacher_summary['counts_of_requested_refund']}}
                    </div>
                </div>
                <div>
                    <div>No. of Incomplete Evaluation</div>
                    <div>
                        {{teacher_summary['counts_of_incomplete_eval']}}
                    </div>
                </div>
                <div>
                    <div>Point Refund Request Rejected.</div>
                    <div>Rejected</div>
                </div>
                <div>
                    <div>Accept Refund Request</div>
                    <div>Accept</div>
                </div>
                <div>
                    <div>Reject Refund Request.</div>
                    <div>Reject</div>
                </div>
            </div>
        </div>
    </div>

</section>
