<main>

    <div class="options" *ngIf=" share.options ">

        <div class="date container-fluid" *ngIf=" past ">

            <div class="row">
                <div class="begin col">
                    <mat-form-field appearance="outline"  (click)="dpStart.open()">
                        <mat-label>{{ 'DATE_BEGIN' | t}}</mat-label>
                        <input name="date" [(ngModel)]="date_begin" matInput 
                              [matDatepicker]="dpStart"
                              (dateChange)="onChangeSearchOption()"
                        >
                        <mat-datepicker #dpStart touchUi="true" disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="end col">
                        <mat-form-field appearance="outline"  (click)="dpEnd.open()">
                            <mat-label>{{ 'DATE_END' | t}}</mat-label>
                            <input name="date" [(ngModel)]="date_end" matInput 
                                    [matDatepicker]="dpEnd"
                                    (dateChange)="onChangeSearchOption()"
                            >
                            <mat-datepicker #dpEnd touchUi="true" disabled="false"></mat-datepicker>
                        </mat-form-field>
                </div>
            </div>

        </div>

        <div class="teachers container-fluid" *ngIf=" my_teachers ">
            <div class="row">
                <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'SELECT_TEACHER'| t }}</mat-label>
                            <mat-select [(ngModel)]="show_teacher" (selectionChange)="onChangeSearchOption()">
                                <mat-option *ngFor="let teacher of teachers_keys" [value]="teacher">
                                        {{ my_teachers[teacher].name }}
                                </mat-option>
                                <mat-option [value]="0">
                                        {{ "ALL_TEACHER" | t}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
            </div>
        </div>

        <div class="checkbox-list" *ngIf=" past ">
            <label>
                <input type="checkbox" [(ngModel)]="show_refund_in_progress" color="vibrant"
                              (change)="onChangeSearchOption()"/>
                <span>{{ 'DISPLAY_SESSION_IN_PROGRESS' | t}}</span>
            </label>

            <label>
                <input type="checkbox" [(ngModel)]="show_refunded" color="vibrant"
                              (change)="onChangeSearchOption()"/>
                <span>{{ 'DISPLAY_REFUNDED_SESSION' | t}}</span>
            </label>

            <ng-container *ngIf="a.isStudent">
                <label>
                    <input type="checkbox" [(ngModel)]="displayTeacherName" color="vibrant"/>
                    <span>{{ 'SHOW_TEACHER_NAME'| t }}</span>
                </label>

                <label>
                    <input type="checkbox" [(ngModel)]="displayDate" color="vibrant"/>
                    <span>{{ 'DISPLAY_DATE' | t }}</span>
                </label>
                
                <label>
                    <input type="checkbox" [(ngModel)]="displayPoint" color="vibrant"/>
                    <span>{{ 'POINT_MARK' | t}}</span>
                </label>
            </ng-container>
        </div>

        <div class="close" >
            <button (click)=" share.options = false ">
                {{ 'CLOSE' | t}}
            </button>
        </div>

        <hr>
    </div>
    <!--/options-->

    <div class="teacher-warning" *ngIf=" a.isTeacher ">
        Teacher must see this page in wide screen since the content in this page is wide.
    </div>

    <div class="stats container-fluid" *ngIf=" re && books.length ">
        <div class="row">
            <div class="col-md-4">{{ 'SEARCHED_SESSIONS' | t }}</div>
            <div class="col-md-8">
                <span>{{ books.length }} ( {{ 'TOTAL' | t }} : {{ re.total_sessions }} )</span>
            </div>
        </div>
        <div class="row"  *ngIf=" a.isTeacher ">
            <div class="col-md-4">{{ 'SEARCHED_POINT' | t }}</div>
            <div class="col-md-8">
                <span>{{ re.total_points | number }}</span>
            </div>
        </div>
        <div class="row" *ngIf=" past ">
            <div class="col-md-4">{{ 'REFUNDED_SESSIONS' | t}}</div>
            <div class="col-md-8">
                <span>{{re.total_session_refunded}}</span>
            </div>
        </div>
        <div class="row"  *ngIf=" re.total_session_refund_in_progress ">
            <div class="col-md-4">{{ 'SESSIONS_IN_REFUND_PROGRESS' | t}}</div>
            <div class="col-md-8">
                <span> {{re.total_session_refund_in_progress}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ 'SEARCH_PERIOD' | t}}</div>
            <div class="col-md-8">
                <span> {{ date_begin }} ~  {{ date_end }} </span>
            </div>
        </div>
        <div class="row" *ngIf="a.userTime" routerLink="/settings">
            <div class="col-md-4">{{ 'TIMEZONE NOW' | t}}</div>
            <div class="col-md-4">
                <span> {{ a.userTime }}</span>
            </div>
            <div class="change-timezone col-md-4">
                 <span> {{ 'CHANGE TIMEZONE' | t }}</span>
            </div>
        </div>

    </div>

    <div class="no-more" *ngIf=" re && books.length == 0 ">
        <ng-container *ngIf=" future ">{{ 'NO_MORE_RESERVATIONS' | t}}</ng-container>
        <ng-container *ngIf=" past ">{{ 'NO_MORE_PASTS' | t}}</ng-container>
    </div>

    <div class="loader" *ngIf=" loadingOnSearch  ">
        <mat-spinner [diameter]="48"></mat-spinner>
        <span>{{ 'IN LOADING' | t}}</span>
    </div>

    <div *ngIf=" books.length ">
        <div class="container-fluid">

            <div class="header-student row"  *ngIf="a.isStudent">
                <div class="col-3 col-md-1" *ngIf="a.isStudent">
                    <div>{{ 'TEACHER' | t}}</div>
                </div>
                <div class="col-3 col-md-2" *ngIf="a.isTeacher">
                    <div>{{ 'STUDENT' | t}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="a.isTeacher">
                    <div>{{ 'CLASS NO' | t}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayDate">
                    <div>{{ 'DATE' | t}}</div>
                </div>
                <div class="col-2 col-md-1">
                    <div>{{ 'TIME' | t}}</div>
                </div>
                <div class="col-1 col-md-1">
                    <div>{{ 'minute short' | t}}</div>
                </div>
                <div class="col-2 col-md-2" *ngIf=" future ">
                    <div> {{ 'KAKAOTALK' | t}}
                        <br> {{ 'ADD_FRIEND' | t}}
                    </div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayPoint">
                    <div>{{ 'POINT' | t}}</div>
                </div>
                <div class="sm-hide col-2 col-md-3">
                    <ng-container *ngIf=" a.isStudent && past ">
                        <div> {{ 'RESULT' | t}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="header-teacher row" *ngIf="a.isTeacher">
                <div class="col-3 col-md-1" *ngIf="a.isStudent">
                    <div>{{ 'TEACHER' | t}}</div>
                </div>
                <div class="col-3 col-md-2" *ngIf="a.isTeacher">
                    <div>{{ 'STUDENT' | t}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="a.isTeacher">
                    <div>{{ 'CLASS NO' | t}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayDate">
                    <div>{{ 'DATE' | t}}</div>
                </div>
                <div class="col-2 col-md-1">
                    <div>{{ 'TIME' | t}}</div>
                </div>
                <div class="col-1 col-md-1">
                    <div>{{ 'minute short' | t}}</div>
                </div>
                <div class="col-2 col-md-2" *ngIf=" future ">
                    <div> {{ 'KAKAOTALK' | t}}
                        <br> {{ 'ADD_FRIEND' | t}}
                    </div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayPoint">
                    <div>{{ 'POINT' | t}}</div>
                </div>
                <div class="sm-hide col-2 col-md-3">
                    <ng-container *ngIf=" a.isStudent && past ">
                        <div> {{ 'RESULT' | t}}</div>
                    </ng-container>
                </div>
            </div>

            <div class="data row" *ngFor="let book of books; let i = index; let o = odd; let e = even">
                <div class="col-3 col-md-1" *ngIf="a.isStudent">
                    <section class="teacher-photo">
                        <div class="photo"
                             (click)=" a.open('schedule-table', { ID: book.idx_teacher })">
                            <img src="{{ photoURL( book )  }}">
                        </div>
                        <div class="photo-name" *ngIf="displayTeacherName">
                            {{ a.preTeacherName(my_teachers[book.idx_teacher].name) }}
                        </div>
                    </section>
                </div>
                <div class="col-3 col-md-2" *ngIf="a.isTeacher">
                    <div> {{ a.preTeacherName(book.student_name) }}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf=" a.isTeacher ">
                    <div>{{book.idx}}</div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayDate">
                    <div>{{ date(book.date_display) }}</div>
                </div>
                <div class="col-2 col-md-1">
                    <div>{{book.class_begin_display}}</div>
                </div>
                <div class="col-1 col-md-1">
                    <div>{{book.duration}}</div>
                </div>
                <div class="col-2 col-md-2" *ngIf=" future ">
                    <div class="kakaotalk-id">
                        <ng-container *ngIf="a.isTeacher">
                            {{book.student_kakaotalk_id}}
                        </ng-container>
                        <ng-container *ngIf="a.isStudent">
                            <div>
                                {{ my_teachers[book.idx_teacher].kakaotalk_id }}
                            </div>

                        </ng-container>
                    </div>
                </div>
                <div class="col-2 col-md-1" *ngIf="displayPoint">
                    <div class="point"> {{ point(book) }}</div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="buttons-wrapper container-fluid">
                        <div class="row">
                            <ng-container *ngIf=" book.past ">
                                <ng-container *ngIf=" a.isTeacher ">
                                    <div class="col-6" *ngIf=" !paid(book) && !refunded( book ) ">
                                        <button class="evaluate" *ngIf=" ! evaluated(book) "
                                                (click)=" a.open('teacher-session-evaluate', {idx: book.idx}) ">
                                            {{ 'EVALUATE' | t}}
                                        </button>
                                        <button class="evaluated" *ngIf="  evaluated(book) "
                                                (click)=" a.open('teacher-session-evaluate', {idx: book.idx}) ">
                                            {{ 'EVALUATED' | t}}
                                        </button>
                                    </div>
                                    <div class="col-6" *ngIf=" refundable(book) ">
                                        <button class="refundable" (click)=" onClickRefund( book ) ">{{ 'REFUND' | t}}</button>
                                    </div>
                                    <div class="col-6" *ngIf=" paid(book) ">
                                        <span>{{ 'PAID' | t}}</span>
                                    </div>
                                    <div class="col-6" *ngIf=" refunded( book ) ">
                                        <span class="refunded">{{ 'REFUNDED' | t }}</span>
                                    </div>
                                    <div class="col-6" *ngIf=" refund_in_progress(book) ">
                                        <div>
                                            <button class="rejected" *ngIf=" rejected(book); else Requested "
                                                  (click)=" a.open( 'session-refund-reject', {idx: book.idx} )">
                                                {{ 'REJECTED' | t }}
                                            </button>
                                            <ng-template #Requested>
                                                <button class="refund-requested" (click)=" a.open('session-refund-review', {idx: book.idx}) ">
                                                    {{ 'REFUND_REQUESTED' | t }}
                                                </button>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf=" a.isStudent ">
                                    <div class="col-6" *ngIf=" !refunded(book) ">
                                        <button class="evaluate-view" (click)=" a.open('session-evaluation', {idx: book.idx} ) ">{{ 'LECTURE_EVALUATION' | t }}</button>
                                    </div>
                                    <div class="col-6" *ngIf=" !refund_in_progress(book) ">
                                        <button class="comment-create" (click)=" a.open('teacher-review-create', {idx_teacher: book.idx_teacher} ) ">{{ 'WRITE_A_REVIEW' | t }}</button>
                                    </div>
                                    <div class="col-6" *ngIf=" rejected( book ) " (click)="a.open( 'session-refund-reject', {idx: book.idx} )">
                                        <button class="point-refund-rejected"> {{ 'POINT_REFUND_REJECTED' | t }}</button>
                                    </div>
                                    <div class="col-6" *ngIf=" refunded(book) ">
                                        <span class="refunded"> {{ 'REFUNDED' | t }}</span>
                                    </div>
                                    <div class="col-6" *ngIf=" ! book.refund_timeover && ! rejected( book )">
                                        <ng-container *ngIf=" ! refunded( book ) ">
                                            <button class="cancel-refund-request" (click)=" onClickCancelRefundRequest( book )"
                                                    *ngIf="book.refund_request_at > 0 ">
                                                {{ "CANCEL_REFUND_REQUEST" | t }}
                                            </button>
                                            <button class="request-refund" (click)=" a.open( 'session-refund-request', {idx: book.idx} )"
                                                    *ngIf=" book.refund_request_at == 0">
                                                <span class="spin" *ngIf="loadingRefundRequest">
                                                    <mat-spinner [diameter]="20"></mat-spinner>
                                                </span>
                                                {{ "REQUEST_REFUND" | t }}
                                            </button>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>

                        <div class="row" *ngIf=" future  ">
                            <div class="col-6">
                                <button class="cancel" *ngIf=" ! book.process  " (click)="onClickCancel( book )">
                                    <svg class="button-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M217.5 256l137.2-137.2c4.7-4.7 4.7-12.3 0-17l-8.5-8.5c-4.7-4.7-12.3-4.7-17 0L192 230.5 54.8 93.4c-4.7-4.7-12.3-4.7-17 0l-8.5 8.5c-4.7 4.7-4.7 12.3 0 17L166.5 256 29.4 393.2c-4.7 4.7-4.7 12.3 0 17l8.5 8.5c4.7 4.7 12.3 4.7 17 0L192 281.5l137.2 137.2c4.7 4.7 12.3 4.7 17 0l8.5-8.5c4.7-4.7 4.7-12.3 0-17L217.5 256z"></path></svg>
                                    <div>{{ 'CANCEL' | t}}</div>
                                </button>
                                <span *ngIf="  book.process">
                                    <svg class="button-icon spin" aria-hidden="true" data-prefix="fal" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32c0 17.673-14.327 32-32 32s-32-14.327-32-32 14.327-32 32-32 32 14.327 32 32zm-32 416c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256-192c0-17.673-14.327-32-32-32s-32 14.327-32 32 14.327 32 32 32 32-14.327 32-32zm-448 0c0-17.673-14.327-32-32-32S0 238.327 0 256s14.327 32 32 32 32-14.327 32-32zm33.608 126.392c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm316.784 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM97.608 65.608c-17.673 0-32 14.327-32 32 0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32z"></path></svg>
                                </span>
                            </div>
                            <div class="col-6" *ngIf=" a.isTeacher ">
                                <button [ngClass]=" book.stamp_checked != 0 ? 'bg-green' : 'bg-red' " (click)="onClickReady( book )">
                                    <span *ngIf=" book.ready ">
                                        <svg class="button-icon spin" aria-hidden="true" data-prefix="fal" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M288 32c0 17.673-14.327 32-32 32s-32-14.327-32-32 14.327-32 32-32 32 14.327 32 32zm-32 416c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm256-192c0-17.673-14.327-32-32-32s-32 14.327-32 32 14.327 32 32 32 32-14.327 32-32zm-448 0c0-17.673-14.327-32-32-32S0 238.327 0 256s14.327 32 32 32 32-14.327 32-32zm33.608 126.392c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zm316.784 0c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32zM97.608 65.608c-17.673 0-32 14.327-32 32 0 17.673 14.327 32 32 32s32-14.327 32-32c0-17.673-14.327-32-32-32z"></path></svg>
                                    </span>
                                    <span>{{ 'READY' | t }}</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/books-->


    <div class="legends container-fluid" *ngIf=" a.isTeacher ">
        <div class="row">
            <div class="col">
                <div>
                    <div>Total Points from payable sessions</div>
                    <div>
                        {{teacher_summary['total_points_from_payable_session']}}
                    </div>
                </div>
                <div>
                    <div>Your Total Share Points</div>
                    <div>
                        {{teacher_summary['total_teacher_share_points']}}
                    </div>
                </div>
                <div>
                    <div>No. of payable sessions</div>
                    <div>
                        {{teacher_summary['counts_of_payable_session']}}
                    </div>
                </div>
                <div>
                    <div>No. of not Payable sessions</div>
                    <div>
                        {{teacher_summary['counts_of_not_payable_session']}}
                    </div>
                </div>
                <div>
                    <div>Session not evaluated. <span>*No pay</span>.</div>
                    <div class="eval">Eval</div>
                </div>

                <div>
                    <div>Session you confirmed.</div>
                    <div class="ready-confirmed">Ready</div>
                </div>
                <div>
                    <div>Session you must confirm.</div>
                    <div class="ready-not-confirmed">Ready</div>
                </div>
            </div>
            <div class="col">
                <div>
                    <div>No. of paid sessions</div>
                    <div>
                        {{teacher_summary['counts_of_paid_session']}}
                    </div>
                </div>
                <div>
                    <div>No. of refunded sessions</div>
                    <div>
                        {{teacher_summary['counts_of_refunded_session']}}
                    </div>
                </div>
                <div>
                    <div>No. of refund in progress</div>
                    <div>
                        {{teacher_summary['counts_of_rejected_refund'] + teacher_summary['counts_of_requested_refund']}}
                    </div>
                </div>
                <div>
                    <div>No. of Incomplete Evaluation</div>
                    <div>
                        {{teacher_summary['counts_of_incomplete_eval']}}
                    </div>
                </div>
                <div>
                    <div>Point Refund Request Rejected.</div>
                    <div class="rejected">Rejected</div>
                </div>
                <div>
                    <div>Accept Refund Request</div>
                    <div class="accept">Accept</div>
                </div>
                <div>
                    <div>Reject Refund Request.</div>
                    <div class="reject">Reject</div>
                </div>
            </div>
        </div>
    </div>

</main>
