<h1 mat-dialog-title>
    <ng-container *ngIf="data.name">{{ 'MESSAGE_SEND_TITLE_WITH_NAME' | t:{ name: data.name } }}</ng-container>
    <ng-container *ngIf=" ! data.name ">{{ 'MESSAGE_SEND_TITLE' | t }}</ng-container>
</h1>
<div class="dialog-content" mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>{{'MESSAGE_CONTENT_TITLE' | t}}</mat-label>
        <textarea matInput rows="5" [(ngModel)]="content"></textarea>
        <mat-hint>{{ 'MESSAGE_CONTENT_HINT' | t }}</mat-hint>
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button data-button="send" mat-button cdkFocusInitial [mat-dialog-close]=" content ">{{ 'TO_SEND' | t }}</button>
    <button data-button="cancel" mat-button [mat-dialog-close]=" false ">{{ 'CANCEL' | t }}</button>
</mat-dialog-actions>
