<h1 mat-dialog-title>
    <ng-container *ngIf="data.name">{{ 'MESSAGE_SEND_TITLE_WITH_NAME' | t:{ name: data.name } }}</ng-container>
    <ng-container *ngIf=" ! data.name ">{{ 'MESSAGE_SEND_TITLE' | t }}</ng-container>
</h1>
<div class="dialog-content" mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>{{'MESSAGE_CONTENT_TITLE' | t}}</mat-label>
        <textarea name="message_content" matInput rows="5" [(ngModel)]="content"></textarea>
        <mat-hint>
          <div>{{ 'MESSAGE_CONTENT_HINT' | t }}</div>
          <ng-container *ngIf="a.isTeacher">
            <div>Teacher must not use any specific branch link.</div>
            <div>Instead use '#myProfileLink' template tag to generate the profile link.</div>
            <div>*e.g. "Check my profile #myProfileLink."</div>
            <div>student will receive "Check my profile www.studentbranch.com/schedule-table?idx_teacher=xxx"</div>
          </ng-container>
        </mat-hint>

    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button data-button="send" mat-button cdkFocusInitial [mat-dialog-close]=" content ">{{ 'TO_SEND' | t }}</button>
    <button data-button="cancel" mat-button [mat-dialog-close]=" false ">{{ 'CANCEL' | t }}</button>
</mat-dialog-actions>
