<section class="page-body">

    <div class="">
        인터넷에 수 많은 화상영어
    </div>


    <div class="where">
        <img src="assets/img/student-adv/2.jpg">
    </div>

    <div>
        컴퓨터에 프로그램을 설치하고 정해진 시간에 수업을 들어야 한다는 것이 함정이죠.
    </div>


    <div class="why">
        <img src="assets/img/student-adv/3.png">
    </div>

    <div>
        핸드폰 있고 인터넷 되는데 왜요???
    </div>

    <div>
        그래서 카카오톡으로 언제 어디서나 할 수 있도록 만들었습니다.
    </div>

    <div class="yes">
        <img src="assets/img/student-adv/4.png">
    </div>

    <div>
        저희는 2006년에 화상영어 교육 전문 콜센터 법인
        <span class="d-inline-block pt-2 px-3 bg-indigo white">위세너</span>를 필리핀에 설립하였습니다.
    </div>

    <div class="office">
        <img src="assets/img/student-adv/5.jpg">
    </div>

    <div>
        영어사이트, 학원, 공부방, 일본/중국 등 수백 곳의 가맹사에 선생님을 공급해 왔으며 지금도 하고 있습니다.
    </div>

    <div>
        평균 수업료는 12만원 ~ 16만원입니다. 하지만 변해가는 세상을 언제까지 거부 할 수 없었습니다.
    </div>


    <div>
        <span class="d-inline-block pt-2 px-3 bg-orange white">우버</span> 매우 편리하면서도 서비스가 좋아 단숨에 온 세상을 삼켜버렸죠.
    </div>


    <div class="uber">
        <img src="assets/img/student-adv/6.jpg">
    </div>


    <div>
        우버 운전기사는 80%의 높은 수익을 가지며 손님으로 부터 불평이 있으면 즉시 강퇴됩니다. 운전기사와 손님을 직접 연결해 비용과 서비스면에서 크게 개선한 것이 성공 포인트인거죠.
    </div>

    <div>
        화상영어는 학생이 15만원을 내면 선생님에게는 1만5천원이 주어집니다. 강사는 겨우 10%를 가져가죠.
    </div>
    <div class="bubble">
        <img src="assets/img/student-adv/7.jpg">
    </div>

    <div>
        거품이 너무 많이 끼어 있습니다. 직거래를 하면 강사에게 1만5천원만 내면됩니다.
    </div>

    <div>
        화상영어 직거래 서비스. 학생이 납부하는 수업료의 90%가 선생님에게 전달되는 시스템!
    </div>

    <div>
        카톡영어에서 시작합니다.
    </div>

    <div class="surprise">
        <img src="assets/img/student-adv/1.png">
    </div>

    <div class="">
        월 20 회 1만원입니다.
        <br> 선생님이 직접 수업료를 정하므로 모든 수업이 1만원인 것은 아니지만, 수업료가 매우 낮은 것은 사실입니다.
        <br>
        <!-- 선생님이 직접 수업료를 정하므로 (특히 저녁 시간에) 수업료를 높이는 경우가 있는데 저희가 선생님과 상의하여 적절히 조절하고 있습니다.<br> -->
        만약 월 20회 1만원 예약이 어려운 경우, 카톡으로 문의 해 주시면 저희가 최고의 선생님으로 월 20회 1만원으로 예약 해 드리겠습니다.
    </div>

    <div>
        회원 가입 후 즉시 5 회 수업 예약 가능합니다.
    </div>


    <div class="try-now" routerLink="/teacher-list">
        지금 바로 수업 예약 하기
    </div>

</section>