@import '../../../../../theme/vars.scss';
section {
    padding:3em;
    padding-top:1em;
    font-size: 2em;
    text-align: center;
    @media ( max-width: $sm) {
        padding: 1em;
        padding-bottom:3em;
        font-size: 1.5em;
    }

    &>div {
        padding-top: 2em;
        line-height: 160%;
    }
    .why {
        img {
            width: 160px;
            @media ( min-width: $md) {
                width: 240px;
            }
        }
    }
    .where,
    .office,
    .uber,
    .bubble {
        img {
            border-radius: 50%;
            width: 240px;
            @media ( min-width: $md) {
                width: 320px;
            }
        }
    }
    .yes,
    .surprise {
        img {
            width: 240px;
            @media ( min-width: $md) {
                width: 320px;
            }
        }
    }
    .try-now {
        margin: 0 2em;
        margin-top: 1em;
        padding: 2em;
        background-color: orange;
        color: white;
        cursor: pointer;

        @media ( max-width: $sm) {
            margin: 0;
            margin-top: 2em;
            padding: 1em 2em;
        }
    }
}