<section class="page-body">

    <div class="">{{ 'ADV_CONTENT_1' | t}}</div>


    <div class="where">
        <img src="assets/img/student-adv/2.jpg">
    </div>

    <div>{{ 'ADV_CONTENT_2' | t}}</div>


    <div class="why">
        <img src="assets/img/student-adv/3.png">
    </div>

    <div>{{ 'ADV_CONTENT_3' | t}}</div>

    <div>{{ 'ADV_CONTENT_4' | t}}</div>

    <div class="yes">
        <img src="assets/img/student-adv/4.png">
    </div>

    <div>{{ 'ADV_CONTENT_5' | t}}</div>

    <div class="office">
        <img src="assets/img/student-adv/5.jpg">
    </div>

    <div>{{ 'ADV_CONTENT_6' | t}}</div>

    <div>{{ 'ADV_CONTENT_7' | t}}</div>


    <div>{{ 'ADV_CONTENT_8' | t}}</div>


    <div class="uber">
        <img src="assets/img/student-adv/6.jpg">
    </div>


    <div>{{ 'ADV_CONTENT_9' | t</div>

    <div>{{ 'ADV_CONTENT_10' | t}}</div>

    <div class="bubble">
        <img src="assets/img/student-adv/7.jpg">
    </div>

    <div>{{ 'ADV_CONTENT_11' | t}}</div>

    <div>{{ 'ADV_CONTENT_12' | t}}</div>

    <div>{{ 'ADV_CONTENT_13' | t}}</div>

    <div class="surprise">
        <img src="assets/img/student-adv/1.png">
    </div>

    <div class="">
        <div>{{ 'ADV_CONTENT_14_1' | t}}</div>

        <div>{{ 'ADV_CONTENT_14_2' | t}}</div> 

        <div>{{ 'ADV_CONTENT_14_3' | t}}
            <!-- 선생님이 직접 수업료를 정하므로 (특히 저녁 시간에) 수업료를 높이는 경우가 있는데 저희가 선생님과 상의하여 적절히 조절하고 있습니다.<br> -->
        </div>
    </div>

    <div>{{ 'ADV_CONTENT_15' | t}}</div>


    <div class="try-now" routerLink="/teacher-list">{{ 'ADV_CONTENT_16' | t}}</div>

</section>