    
<main>

    <header>
            <h2>{{ 'PAYMENT_PAGE_TITLE' | t }}</h2>
    </header>


    <div class="loader" *ngIf=" inLoadingPaymentRate  ">
        <mat-spinner [diameter]="48"></mat-spinner>
        <span>{{ 'LOADING_PAYMENT_INFORMATION' | t }}</span>
    </div>

    <section *ngIf=" errorOnExchangeRate ">
         {{ 'ERROR_ON_EXCHANGE_RATE' | t}}
    </section>

    <div *ngIf=" a.user.isLogin; else loginFirst ">
        <div class="select-amount">
            <div class="header">{{'SELECT_AMOUNT'| t}}</div>
            <div> {{ 'SELECT_AMOUNT_DESC' | t }}</div>
        </div>

        <div class="amounts" *ngIf="!inputAmount">
            <!-- <div>
                <input id="a2000" type="radio" name="amount" [(ngModel)]="amount" [value]="2000">
                <label for="a2000">2천 원</label>
            </div> -->
            <div>
                <input id="a10000" type="radio" name="amount" [(ngModel)]="amount" [value]="10000">
                <label for="a10000"> {{'10_THOUSAND_WON' | t}}</label>
            </div>
            <div class="hidden">
                <input id="a20000" type="radio" name="amount" [(ngModel)]="amount" [value]="20000">
                <label for="a20000">{{'20_THOUSAND_WON' | t}}</label>
            </div>
            <div>
                <input id="a30000" type="radio" name="amount" [(ngModel)]="amount" [value]="30000">
                <label for="a30000"> {{'30_THOUSAND_WON' | t}}</label>
            </div>
            <div>
                <input id="a50000" type="radio" name="amount" [(ngModel)]="amount" [value]="50000">
                <label for="a50000"> {{'50_THOUSAND_WON' | t}}</label>
            </div>
            <div>
                <input id="a100000" type="radio" name="amount" [(ngModel)]="amount" [value]="100000">
                <label for="a100000"> {{'100_THOUSAND_WON' | t}}</label>
            </div>
            <div class="hidden">
                <input id="a150000" type="radio" name="amount" [(ngModel)]="amount" [value]="150000">
                <label for="a150000"> {{'150_THOUSAND_WON' | t}}</label>
            </div>
            <div>
                <input id="a200000" type="radio" name="amount" [(ngModel)]="amount" [value]="200000">
                <label for="a200000"> {{'200_THOUSAND_WON' | t}}</label>
            </div>
        </div>
        <div class="manual-amount-input">
            <div class="header" (click)=" inputAmount = true " *ngIf=" ! inputAmount ">
                 {{ 'ENTER_AMOUNT_MANUALLY' | t}}
            </div>
            <div class="input-amount" *ngIf=" inputAmount ">
                <span>{{ 'ENTER_PAYMENT_AMOUNT' | t }}</span>
                <input type="number" name="amount" [(ngModel)]="amount">
                <span class="cancel-button" (click)="inputAmount=false">{{ 'CANCEL' | t}}</span>
            </div>
        </div>
    </div>

    <ng-template #loginFirst>
        <div class="login-first" (click)=" a.open('login') ">
            {{ 'LOGIN_FIRST' | t }}
        </div>
    </ng-template>


    <div class="paypal-ready" *ngIf=" ! paypalReady ">

        <div class="spinner"><mat-spinner [diameter]="30"></mat-spinner> {{ 'INITIALIZING_PAYPAL' | t}}</div>
        <div> {{ 'PLEASE_WAIT' | t}}</div>
    </div>

    <div class="paypal-button">
        <div id="paypal-button"></div>
    </div>

    <div class="desc" *ngIf=" amount_in_usd_with_tax() ">

        <div *ngIf=" a.user.isLogin ">
            <div>{{ 'VAT_1'  | t:{ 'AMOUNT': amount | number , 'RATE': payment_rate.paypal_student_fee } }}</div>
            <div>
                {{ 'VAT_2'  | t:{ 'AMOUNT':amount | number , 'USD': amount_in_usd_with_tax() } }}
            </div>
        </div>

        <div>{{ 'PAYPAL_DESC' | t }}</div>
        <div>
            <a class="app-button" (click)=" a.onClickContactAdmin() ">{{ 'PAYMENT_DIFFICULT' | t}}</a>
        </div>

        <div>{{ 'REFUND_POLICY' | t}}</div>
    </div>

    
</main>
