header{
    padding: .5em 2em;
    background-color: #ffc107;
    color: #000;

    h2{
        font-size: 90%;
    }
}

main{
    padding-bottom:5em;
    background: #fff;
}

.loader{
    text-align: center;
}

.select-amount{
    padding:2em;
    padding-top: 5em ;
    .header{
        color:blue;
    }


    @media screen and (max-width:544px){
        padding-top: 2.5em;

    }

}

.amounts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    background-color: #1862c5;
    color:white;
    font-size: 85%;

    &>div{
        display: flex;
        align-items: center;
        margin: 0 .2em;
    }

    label{
        padding-left: .3em;
    }

    @media screen and (max-width:544px){
        padding: 2em .5em;
        .hidden{
            display: none;
        }
    }

}

.manual-amount-input{
    text-align: center;
    cursor: pointer;

    .header{
        margin-top:4em;
    }

    .header,.cancel-button{
        color: #8b0000!important;
    }

    input{
        padding:.7em 1em;
        margin: 0 .5em;
    }
}

.login-first{
    margin-top:4em;
    text-align: center;
}

.paypal-ready{
    padding: 4em;
    text-align: center;
    .spinner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        mat-spinner{
            margin-bottom: .5em;
        }
    }
}

.paypal-button{
    margin:2em 1em;
}

.app-button{
    padding: .3em 1em;
}

.desc{
    padding: 1em;
    background-color: #d9dde8;
    font-size: 85%;

    &>div{
        padding: 0 1em;
        padding-top: 1em;
        padding-bottom: .5em;
    }
}


.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-spinner{
        margin: .5em;
    }
}


.korean-bank {
    line-height: 150%;
    .korean-bank-title {
        margin-bottom: 0.5em;
        padding: .25em .5em;
        border: 0;
        border-radius: 3px;
        background-color: #5a1616;
        color: white;
    }
    .korean-bank-desc {
        margin-left: 1em;
    }
}