<h1>Message List</h1>
<div class="form">
    <form (ngSubmit)=" loadMessageList() ">
        <input type="number" name="date_begin" [(ngModel)]="stat_date_begin">
        <input type="number" name="date_end" [(ngModel)]="stat_date_end">
        <button type="submit">SUBMIT</button>
    </form>
</div>
<div class="loader" *ngIf=" loader.message ">
    <mat-spinner [diameter]="48"></mat-spinner>
    Loading...
</div>

<section *ngIf=" messages && !loader.message ">
    <div class="row">
        <div class="{{ messageView ? 'col-6' : 'col-12'}}">
            <div class="teacher-group" *ngFor="let g of a.keys(messages) ">
                <h3>{{g}}</h3>
                <div class="messages-container">
                    <div class="card" *ngFor="let info of messages[g]">
                        <a href="/schedule-table?idx_teacher={{info.ID}}" target="_blank">
                    <span class="primary-photo" *ngIf="info['photoURL']">
                        <img src="{{info['photoURL']}}">
                    </span>
                        </a>

                        <div class="right" (click)="showMessage(info.ID)">
                            <div class="message-link">
                                <span>{{ info.message_count }}</span>
                                <span *ngIf=" info.message_count && g =='withcenter' ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor"
                                                                                                d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                                                                                                class=""></path></svg>
                        </span>
                            </div>
                            <div class="name">{{ info['display_name'] }}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" *ngIf="messageView">
            <span (click)="messageView = false">X</span>
            <span (click)="showMessage(selectedID, true)">R</span>
            <div *ngFor="let msg of teachers_message[selectedID]" (click)="showConversation(msg)">
                <div class="{{msg.open != '0' ? 'font-weight-normal' : 'font-weight-bold'}} ">
                    <div> Receiver:
                    <a href="/manager/user-info/{{msg.receiver}}" target="_blank">({{msg.receiver}}) {{msg.receiver_name}}
                        <svg style="margin-left: .5rem; width:1em; height:1em" viewBox="0 0 576 512"><path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z" fill="currentColor"></path></svg>
                    </a>
                    </div>Message:{{ msg.content}}<div></div>
                </div>
                <div class="conversation border" *ngIf="msg['showConversation']">

                <span (click)="$event.stopPropagation(); msg['showConversation'] = false">X</span>
                <span (click)="$event.stopPropagation(); showConversation(msg, true)">R</span>
                <div *ngFor="let m of msg['conversation']" >
                    <div class="{{m.open != '0' ? 'font-weight-normal' : 'font-weight-bold'}} ">
                        <div> Receiver:
                            <a href="/manager/user-info/{{m.receiver}}" target="_blank">({{m.receiver}}) {{m.receiver_name}}
                                <svg style="margin-left: .5rem; width:1em; height:1em" viewBox="0 0 576 512"><path fill="currentColor" d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z" fill="currentColor"></path></svg>
                            </a>
                        </div>Message:{{ m.content}}<div></div>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</section>

