@import '../../../../../theme/vars';

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    margin: 1.5em 0;
    font-size: .75em;
    form{
        text-align: center;
        input{
            margin-right: .5em;
            margin-bottom: .5em;
            padding: .6em .5em;
            font-size: .8em;
            @media (min-width:$md) {
                margin-right: 2em;
                margin-bottom: 0;
                padding: .6em 1em;
                font-size: .9em;
            }
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.4);
        }
        button{
            margin-top: .5em;
            text-align: center;
            padding: .75em 3em;
            border: 0;
            border-radius: 2px;
            background: #0867B0;
            color: #fff;
            @media (min-width:$md) {
                margin: 0;
            }
        }
    }
}


.primary-photo {
    display: inline-block;
    width: 58px;
    overflow: hidden;
    img {
      width: 100%;
    }
}


.teacher-group{
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: 2px;
    border: 1px solid rgba(125,125,125,0.2);
    background: #eee;
    h3{
        margin: 0;
        padding: .5rem;
        font-weight: 300;
        font-size: 1rem;
        
    }
}
.messages-container{
    display: flex;
    flex-wrap: wrap;
    .card{
        margin: .25rem;
        padding: .25rem;
        border-radius: 2px;
        border: 1px solid rgba(125,125,125,0.3);
        background: #fff;
        text-align: center;
        .right{
            font-size: .8rem;
            .message-link{
                margin: .25rem 0;
                color: dimgray;
                svg{
                    position: relative;
                    top: .125em;
                    margin-left: .3em;
                    width: 1em;
                    height: 1em;
                    color: orange;
                    cursor: pointer;
                }
            }
            .name{
                font-size: .75rem;
                color: dimgray;
            }
        }
    }
}