<h1>Message List</h1>
<div class="form">
    <form (ngSubmit)=" loadMessageList() ">
        <input type="number" name="date_begin" [(ngModel)]="stat_date_begin">
        <input type="number" name="date_end" [(ngModel)]="stat_date_end">
        <button type="submit">SUBMIT</button>
    </form>
</div>
<div class="loader" *ngIf=" loader.message ">
    <mat-spinner [diameter]="48"></mat-spinner>
    Loading...
</div>

<section *ngIf=" messages && !loader.message ">
    <div class="row">
        <div class="{{ messageView ? 'col-6' : 'col-12'}}">
            <div class="teacher-group" *ngFor="let g of a.keys(messages) ">
                <h3>{{g}}</h3>
                <div class="messages-container">
                    <div class="card" *ngFor="let info of messages[g]">
                        <a href="/schedule-table?idx_teacher={{info.ID}}" target="_blank">
                    <span class="primary-photo" *ngIf="info['photoURL']">
                        <img src="{{info['photoURL']}}">
                    </span>
                        </a>

                        <div class="right" (click)="showMessage(info.messages)">
                            <div class="message-link">
                                <span>{{ info.message_count }}</span>
                                <span *ngIf=" info.message_count && g =='withcenter' ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor"
                                                                                                d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                                                                                                class=""></path></svg>
                        </span>
                            </div>
                            <div class="name">{{ info['display_name'] }}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" *ngIf="messageView">
            <span (click)="messageView = false">X</span>
            Message BOX here
        </div>
    </div>
</section>

