@import '../../../../../theme/vars';

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    margin: 1.5em 0;
    font-size: .75em;
    form{
        text-align: center;
        input{
            margin-right: .5em;
            margin-bottom: .5em;
            padding: .6em .5em;
            font-size: .8em;
            @media (min-width:$md) {
                margin-right: 2em;
                margin-bottom: 0;
                padding: .6em 1em;
                font-size: .9em;
            }
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.4);
        }
        button{
            margin-top: .5em;
            text-align: center;
            padding: .75em 3em;
            border: 0;
            border-radius: 2px;
            background: #0867B0;
            color: #fff;
            @media (min-width:$md) {
                margin: 0;
            }
        }
    }
}




.teacher-group{
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: 2px;
    border: 1px solid rgba(125,125,125,0.2);
    background: #eee;
    h3{
        margin: 0;
        padding: .5rem;
        font-weight: 300;
        font-size: 1rem;
        
    }
}

.message-view {
    width: 400px;
}
.messages-container{
    display: flex;
    flex-wrap: wrap;
    .card{
        margin: .25rem;
        padding: .25rem;
        border-radius: 2px;
        border: 1px solid rgba(125,125,125,0.3);
        background: #fff;
        text-align: center;
        cursor: pointer;
        .primary-photo {
            position: relative;
            display: inline-block;
            width: 58px;
            overflow: hidden;
            line-height: 0;
            img {
              width: 100%;
            }
            &:hover{
                .hover-effect{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .hover-effect{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(96,125,139,.4);
                width: 100%;
                height: 100%;
                svg{
                    height: 1em;
                    width: 1em;
                    color: #fff;
                }
            }
        }
        .bottom{
            font-size: .8rem;
            &:hover{
                .message-link{
                    color: orange!important;
                    svg{
                        color: orange!important
                    }
                }
            }
            .message-link{
                margin: .25rem 0;
                svg{
                    position: relative;
                    top: .125em;
                    margin-left: .3em;
                    width: 1em;
                    height: 1em;
                    color: dimgray;
                }
            }
            .name{
                font-size: .75rem;
                color: dimgray;
            }
        }
    }
}

#conversation-list{
    font-size: .9rem;
    .loader{
        text-align: center;
        mat-spinner{
            margin-bottom: 1em;
        }
    }
    svg{
        position: relative;
        top: .125em;
        width: 1em;
        height: 1em;
    }
    .buttons-inside,
    .buttons-outside{
        .close,
        .refresh{
            display: inline-flex;
            align-items: center;
            padding: .5em 1em;
            border: 1px solid rgba(125,125,125,0.2);
            border-radius: 2px;
            background: #eee;
        }
        .close{
            margin-right: 1rem;
            color: red;
        }
        svg{
            margin-right: .4rem;
        }
    }
    .buttons-inside{
        button{
            padding: 1.25em 1em!important;
            padding-left: 1.5em!important;
            border: 0!important;
            background: transparent!important;
            color : #000;
        }
        .close{
            padding-left: 1.5em!important;
        }
    }
    .conversation-item{
        padding: .75em;
        border-bottom: 1px solid rgba(125,125,125,0.3);
        &:hover{
            background: rgba(125,125,125,0.05);
        }
        cursor: pointer;
        .conversation-title{
            font-size: .9em;
            a{
                display: inline-block;
                padding-bottom: .25em;
                font-size: .9em;
                &:hover{
                    color: dodgerblue;
                }
            }
        }
        .conversation-content{
            margin:1em 0;
            padding-bottom: 1.5em;
            background: #99C0D9;
            cursor: auto;
            .message{
                padding: 0 1.5em;
                padding-bottom: 1em;
                width: 90%;
                line-height: 1.3em;
                .message-title{
                    margin-bottom: .5em;
                    font-size: .8em;
                    color: #447899;
                    cursor: pointer;
                }
                .message-content{
                    padding: 1em 1.5em;
                    border-radius: 5px;
                    font-size: .9em;
                }  
            }      
            .sender{
                margin-left: auto;
                .message-title{
                    text-align: right;
                    cursor: pointer;
                }
                .message-content{
                    background: #f7de00;
                    border-bottom-right-radius: 0;
                }     
            }
            .receiver{
                .message-content{
                    border-bottom-left-radius: 0;
                    background: #fff;
                }
            }
        }
    }
}