@import '../../../../../theme/vars.scss';

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    
    mat-spinner{
    margin: .5em;
    }
}

main{
    padding-bottom: 3em;
    min-height: 540px;
    font-size: 90%;

    .container-fluid{
        @media screen and (min-width:$md){
            padding-top: 3em;
        }

        .row{
            padding: .5em 0;
            justify-content: space-around;
        }

        .col{
            @media screen and (max-width:$sm) {
                padding: 0;
            }
            margin: .5em 0;
        }
    }

    .teacher{
        margin: auto;
        width: 100px;
        text-align: center;

        .teacher-profile-photo{
            height: 120px;
            width: 100px;
            overflow: hidden;

            img{
                width: 100%;
            }
        }


        .teacher-info{
            padding: 0 .3em;
            background: #fff;
        }

        .teacher-name{
            padding: .2em 0;
            padding-top: .6em;
            text-transform: uppercase;
            font-weight: 500;
        }

        .reservations,
        .class-duration,
        .point{
            font-weight: 200;
            font-size: 85%;
            padding: .1em 0;
        }

        .grade{
            span{
                display: inline-block;
            }
        }

        .reservations{
            color:#607d8b;
            padding-top: .4em;
        }

        .point{
            padding-bottom: .6em;
        }

        .grade{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-size: .75em;

            .title{
                margin-top: .1em;
            }

            .star{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: .2em;
                svg{
                    height: 1em;
                }
            }
        }


        .reserve-button {
            padding: .8em;
            background-color: orange;
            color: white;
            cursor: pointer;
            font-size: 85%;
        }
        
        .reserve-loader{
            padding: .3em;
            font-size: 90%;
        }
    }

}