

<main>
    <header>
        <h1>{{ "SCHEDULE_AVAILABLE_PAGE_TITLE" | t }}</h1>
        <div *ngIf=" a.user.isLogin "> {{ 'SCHEDULE_AVAILABLE_PAGE_DESC_1' | t }}</div>
        <div *ngIf=" a.user.isLogout ">{{ 'SCHEDULE_AVAILABLE_PAGE_DESC_2' | t }}</div>
    </header>

    <div class="loader" *ngIf=" pageInLoading; else pageLoaded ">
        <mat-spinner [diameter]="48"></mat-spinner>
        <span>{{ 'IN LOADING' | t}}</span>
    </div>
    
    <ng-template #pageLoaded>

    <div class="container-fluid" *ngIf=" re && re?.available_schedules?.length; else NoSchedule">
        <div class="row">
            <div class="col" *ngFor="let schedule of re.available_schedules">
                    <div class="teacher" >
    
                        <div class="teacher-profile-photo ">
                            <img src="{{ schedule.teacher.photoURL }}">
                        </div>
                        
                        <div class="teacher-info">
                            <div class="teacher-name">{{ a.preTeacherName( schedule.teacher.name )}}</div>

                            <div class="grade" [attr.grade]=" schedule.teacher.grade ">
                                <span class="title">{{ 'RECOMMENDATION' | t}} : </span>
                                <span class="star">
                                    <svg *ngFor="let i of a.countStar(schedule.teacher.grade)" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                                    <!-- <i class="star empty-star fal fa-star" *ngFor="let i of a.countEmptyStar(schedule.teacher.grade)"></i> -->
                                </span> 
                            </div>
                            
                            <div class="reservations">({{ schedule.teacher.total_reservation }} {{ 'PARTICIPATED' | t}})</div>
    
                            <div class="class-duration">
                                <span *ngIf=" a.user.isLogin ">{{ class_begin(schedule) }} /</span>
                                <span> {{ schedule.duration }} {{ 'minute short' | t }} </span>
                            </div>
    
                            <div class="point"> {{ schedule.point }} {{'POINTS' | t}} </div>
                        </div>
                            
                        <div class="reserve-button" (click)="onClickSchedule(schedule)" *ngIf="  !loading[schedule.idx] ">
                            {{ 'RESERVE_NOW' | t }}
                        </div>

                        <div class="reserve-loader" *ngIf=" !loading[schedule.idx] ">
                            <div>{{ 'IN_RESERVING' | t }}</div>
                            <mat-spinner [diameter]="20"></mat-spinner>
                        </div>

                    </div>
    
            </div>
        </div>
    </div>

            <ng-template #NoSchedule>
                <div class="alert alert-warning mx-3 my-5 p-5">
                    <h2 class="mb-3">앗, 지금 즉시 수업을 예약 할 수 없습니다.</h2>
                    지금 즉시 수업(예약)을 할 수 없는 이유는 주로 아래와 같습니다.
                    <ol>
                        <li>
                            지금 현재 시간에 수업 가능한 선생님이 없거나
                        </li>
                        <li>
                            회원님께서 곧 수업이 있는 경우 지금 즉시 수업 시작되는 다른 수업을 예약 할 수 없습니다.
                        </li>
                        <li>
                            레벨테스트를 다 하였거나,
                        </li>
                        <li>
                            회원님의 포인트가 없거나 수업을 예약하기에 부족한 경우에는 선생님 목록이 나타나지 않습니다.
                        </li>
                    </ol>
                    <div>다른 시간에 다시 예약을 시도 해 주세요.</div>
                </div>
            </ng-template>

    </ng-template>



</main>