@import '../../../../../theme/vars.scss';
section{
    background: #fff;
    outline: 1px solid rgba(125,125,125,0.1);
    header{
        padding-left: 4em;
        @media screen and (max-width:$sm){
            padding: 0;
            text-align: center;
        }
        margin: 0;
        background-color: #66a2fb!important;
        h2{
            display: inline-block;
            background-color: #007bff;
            margin: 0;
            padding: 1em;
            color: #fff;
            font-size: 2em;
            font-weight: 500;
        }
    }

    main{
        display: block;
        padding: 2em 4em;
        @media screen and (max-width:$sm){
            padding: 1em;
        }
        .accordion{
            margin:.5em 0;
            border-radius: 2px;
            cursor: pointer;

            .accord-on{
                display: none;
            }
            .content{
                padding: 1em 1.2em;
                border: 1px solid #F1F1F1;
                line-height: 1.8em;
                font-weight: 200;
            }
            .toggle{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .8em 1em;
                background: #F1F1F1;
                border-radius: 2px;
                font-size: 1.1em;
                font-weight: 500;
                color:rgba(#000,0.9);

                .icon{
                    height: 1em;
                    width:1em
                }

                .rotate-icon-on{
                    transition: all .1s ease-in-out;
                    transform: rotate(45deg)!important;
                }

                .rotate-icon-off{
                    transition: all .1s ease-in-out;
                }
                &-active{
                    background: #FFCB00;
                }
            }
        }
    }

}