@import '../../../../../theme/vars.scss';
section{
    background: #fff;
    outline: 1px solid #e9ecef;
    header{
        padding-left: 4em;
        @media screen and (max-width:$sm){
            padding: 0;
            text-align: center;
        }
        margin: 0;
        background-color: #66a2fb;
        h2{
            display: inline-block;
            background-color: #007bff;
            margin: 0;
            padding: 1em;
            color: #fff;
            font-size: 2em;
            font-weight: 100;
        }
    }

    main{
        padding: 2em 4em;
        @media screen and (max-width:$sm){
            padding: 1em;
        }
        .accordion{
            padding: .5em 0;
            cursor: pointer;
            .accord-on{
                display: none;
            }
            .content{
                line-height: 1.8em;
                font-weight: 200;
            }
            .toggle{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1em;
                background: #e9ecef;
                border-radius: 2px;
                font-size: 1.3em;
                font-weight: 500;
                color: rgba(black,0.7);

                .icon{
                    height: 1em;
                    color: grey;
                }

                .rotate-icon-on{
                    transition: all .1s ease-in-out;
                    transform: rotate(45deg)!important;
                }

                .rotate-icon-off{
                    transition: all .1s ease-in-out;
                }
            }
        }
    }

}