
<div class="user-point d-flex justify-content-between p-3  border border-left-0 border-right-0 bg-ghostwhite" *ngIf=" a.user.isLogin ">

    <div class="d-md-flex align-items-center py-md-2 py-0 pl-2 pl-md-0 ">
        <div class="ml-md-3 pl-md-3 pl-0">
            {{ 'TIMEZONE NOW' | t }}: {{ a.userTime }}
        </div>
        <div class="pl-0">
            <button class="app-button secondary  mt-2 mt-md-0 mx-md-4 m-0 hover-effect py-2" (click)=" a.open('settings') ">{{ 'CHANGE TIMEZONE' | t }}</button>
            <span class="ml-3 ml-md-0">{{ 'POINT' | t }}:</span>
            <span *ngIf=" ! a.inLoadingMyPoint ">{{ a.userPoint }}</span>
            <mat-spinner [diameter]="40" *ngIf=" a.inLoadingMyPoint "></mat-spinner>
        </div>
    </div>
</div>
