<header>
    <div>{{ "TEACHER DASHBOARD" | t }}</div>
</header>
<main>

    <div>
        <div>
            <div>
                <div *ngIf="a.isLogin" >
                    <div (click)="a.open('session-future')">
                        <i class="fa fa-calendar-alt fa-3x mb-4 mt-3"></i>
                        <div>Reserved Class</div>
                    </div>
                </div>
                <div *ngIf="a.isLogin">
                    <div (click)="a.open('teacher-list')">
                        <i class="fas fa-users fa-3x mb-4 mt-3"></i>
                        <div>Teachers</div>
                    </div>
                </div>
                <div *ngIf="a.user.isLogin">
                    <div (click)="a.open('session-past')">
                        <i class="fa fa-calendar-times fa-3x  mb-4 mt-3"></i>
                        <div>Past Class</div>
                    </div>
                </div>
                <div *ngIf="a.user.isLogin"R>
                    <div (click)="a.open('schedule-edit')">
                        <i class="fa fa-calendar-plus fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Add/Edit Schedule</div>
                    </div>
                    <!-- </ion-card> -->
                </div>

                <div *ngIf="a.user.isLogin">
                    <!-- <ion-card> -->
                    <div
                         (click)="a.open('teacher-curriculum-vitae')">
                        <i class="fa fa-edit fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Curriculum Vitae</div>
                    </div>
                    <!-- </ion-card> -->
                </div>
                <div *ngIf="a.user.isLogout">
                    <!-- <ion-card> -->
                    <div (click)="a.open('login')">
                        <i class="fa fa-sign-in fa-3x mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Login</div>
                    </div>
                    <!-- </ion-card> -->
                </div>
                <div>
                    <!-- <ion-card> -->
                    <div (click)="a.open('register')">
                        <i class="fa fa-address-card fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel" *ngIf="a.user.isLogin">Update Profile</div>
                        <div class="p-3 pb-5 lebel" *ngIf="a.user.isLogout">Register</div>
                    </div>
                    <!-- </ion-card> -->
                </div>
                <div *ngIf="a.user.isLogin">
                    <!-- <ion-card> -->
                    <div
                         (click)="a.open('settings-payment-info')">
                        <i class="fa fa-credit-card fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Payment Info<span class="d-none d-md-inline">rmation</span></div>
                    </div>
                    <!-- </ion-card> -->
                </div>

                <div *ngIf="a.user.isLogin">
                    <!-- <ion-card> -->
                    <div (click)="a.open('message')">
                        <i class="fa fa-comment-alt fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Messages</div>
                    </div>
                    <!-- </ion-card> -->
                </div>
                <div>
                    <!-- <ion-card> -->
                    <div
                         (click)=" a.onClickContactAdmin() ">
                        <i class="fa fa-phone-square fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Contact Us</div>
                    </div>
                    <!-- </ion-card> -->
                </div>
                <div>
                    <!-- <ion-card> -->
                    <div (click)="a.open('how-to-use')">
                        <i class="fal fa-book fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">FAQ</div>
                    </div>
                    <!-- </ion-card> -->
                </div>

                <div>
                    <!-- <ion-card> -->
                    <div
                         (click)="showModal('teacherPolicy')">
                        <i class="fal fa-info-circle fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Policy</div>
                    </div>
                    <!-- </ion-card> -->
                </div>

                <div *ngIf="a.user.isLogin">
                    <!-- <ion-card> -->
                    <div
                         (click)="a.open('password-change')">
                        <i class="fa fa-key fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Change Password</div>
                    </div>
                    <!-- </ion-card> -->
                </div>

                <div>
                    <!-- <ion-card> -->
                    <div  routerLink="/settings">
                        <i class="fa fa-cogs fa-3x  mb-4 mt-3"></i>
                        <div class="p-3 pb-5 lebel">Settings</div>
                    </div>
                    <!-- </ion-card> -->
                </div>


                        <button routerLink="/teacher">Home</button>
        <button routerLink="/profile" *ngIf=" a.isLogin ">Profile</button>
        <button routerLink="/forum">Forum</button>
        <button routerLink="/category">Category</button>
        <button routerLink="/admin" *ngIf=" a.isManager ">Admin Page</button>

        <button routerLink="/dayoff">Dayoff</button>
        <button routerLink="/payment-information">Payment Information</button>

        <button routerLink="/my-schedule">my-schedule</button>


        <div *ngIf="a.user.isLogin">
                <!-- <ion-card> -->
                <div (click)="a.user.logout()">
                    <i class="fa fa-sign-out fa-3x  mb-4 mt-3"></i>
                    <div class="p-3 pb-5 lebel">Logout</div>
                </div>
                <!-- </ion-card> -->
            </div>

            
            </div>

        </div>
    </div>
</main>