.container-fluid{
  margin: 1em 0;
  margin-bottom: 0;
  padding-bottom: 3em;
  color:#707070;
  box-sizing: border-box;
}

.row{
  margin: 0 -1.4em;
  @media screen and (max-width:768px) {
     padding: 0 1em;
     .md-hide{
       display: none
     }
  }
  padding: 0; 
}

.custom-icon{
  margin-bottom: 1.5em;
  height: 3em;
}

.col-md-3, .col-6{
  padding: 0;

  &>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:.5em;
    padding: 2em 0;
    border: 1px solid rgba(128, 128, 128, 0.1);
    background: #fff;
    cursor: pointer;
  }
}
