
.search-chip-list {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    background: #fff;
    padding: 1em;
    .chip {
        display: inline-block;
        margin-left: 6px;
        padding: 4px 6px;
        border-radius: 4px;
        background-color: #88f;
        color: white;
        font-size: 9pt;
        font-weight: 100;
        cursor: pointer;
    }

    .chip-selected{
        background: #535bcb!important;
    }
}
.search-chip-options {
    margin-bottom:1em;
    padding-top:2em;
    padding: 1em 1.4em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    background: rgba(30, 144, 255, 0.2);

    .close {
        margin-top:1.5em;
        text-align: center;
        button{
            padding: 1em 2em;
            border:none;
            border-radius: 2px;
            background-color: #d00;
            color: white;
            cursor: pointer;
        }
    }
    .hours{
            display: flex;
            justify-content: space-around;
            margin-top: 1em;

            div{
                padding: 2em 3em;
                border-radius: 2px;
                background:#fff;
                cursor: pointer;
            }

            .select{
                cursor: default;
                span{
                    font-weight: bold;
                    margin-right: 1em;
                }
            }
    }
    .minutes,.points{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}
