@import '../../../../theme/vars';
.option-header {
        display: flex;
        flex-direction: column;
        @media screen and (min-width:$lg){
            flex-direction: row
        }
        justify-content: space-between;
        background-color: #90b0ff;
        .user-time {
            padding: .5em;
            background: #fff;
            @media screen and (min-width:$lg){
                display: flex;
                align-items: center;
                margin-right: 1.5em;
                background:  #90b0ff;
            }
            text-align: center;
            font-size: 80%;

            .app-button{
                padding: .25em .5em;
                margin-left: .5em;
            }
        }
        .search-chip-list {
            padding:0;
            display: flex;
            justify-content: space-evenly;
            background: #90b0ff;
            .chip {
                display: inline-block;
                margin: 1em 0;
                padding: 2px 4px;
                border-radius: 4px;
                background-color: #fff;
                font-weight: 400;
                font-size: 7pt;
                @media screen and (min-width:$lg){
                    margin: 1.5em 0;
                    margin-left: 2em;
                    padding: 4px 7px;
                    font-size: .7em;
                }
                cursor: pointer;
            }
            .chip-selected {
                background: #5d81cb !important;
                color: #fff;
            }
        }
}

.search-contents{
    padding: .5em;
    padding-bottom: 1em;
    background: #fff;
    @media screen and (min-width:$lg) {
        padding: 2em 0;
    }
    .hours {
        display: flex;
        flex-direction: column;
        @media screen and (min-width:$lg){
            flex-direction: row;
            justify-content: space-around
        }
        &>div{
            margin: .3em 0;
            padding: .8em 2em;
            border-radius: 2px;
            border: 1px solid #e2e2e2;
            text-align: center;

            &:hover{
                background: #e2e2e2;
                cursor: pointer;
            }
        }
        .select{
            span{
                margin-right: .5em;
            }
        }
    }
    .minutes,.points,.weekends,.days{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width:$lg){
            flex-direction: row;
            justify-content: space-around;  
        }
        mat-form-field{
            width: 80%;
            @media screen and (min-width:$lg){
                width:40%;
            }
        }
    }
    
    .close {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 2em;
            border: none;
            border-radius: 2px;
            background-color: #d00;
            text-transform: uppercase;
            color: white;
            white-space: nowrap;
            cursor: pointer;
        }
        svg {
            margin-right: .2em;
            height: 1.3em;
            width: 1.3em;
        }
    }
}
