section{
    height: 100%;
    background: #fff;
    outline: 1px solid #e9ecef;
    font-size: 85%;
    .title{
        padding: .7em ;
        padding-left: 1.3em;
        background:rgba(0,123,255,.8);
        color: #fff;
        font-weight: 200;
        cursor: pointer;
    }

    .body{
        padding: .5em 0;
        .row{
            align-items: center;
            justify-content: center;
            padding: .7em 1.2em;
            &>div{
                padding: 0;
            }

            &:hover{
                background: rgba(dodgerblue,0.2);
                cursor: pointer;

                color:rgba(dodgerblue,0.95);
            }
        }

        .teacher-photo{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
            }
        }

        .teacher-name{
            font-weight: bold;
        }

        .date,.time{
            font-weight: 200;
            font-size: 85%;
        }

    }

}