h1{
    color:#0867B0
}

.info-title{
    margin: 1em 0;
    color: darkred;
}
.info-content{
    padding: 1em 1.5em;
    border-radius: 2px;
    background: rgba(dodgerblue,0.1);
    color: darkblue;
    font-size: .9em;
}