.schedule-table {
    font-size: 10pt;
    text-align: center;
    background: #fff;

    .schedule-header {
        position: sticky;
        top:63px;
        @media screen and (max-width:768px) {
            top:105px;
        }
        left: 0;
        display: flex;
        justify-content: space-around;
        border-bottom:1px solid #e9ecef;
        border-top:1px solid #e9ecef;
        background: #fff;
        font-weight: bold;
    }
    .schedule-row {
        display: flex;
        justify-content: space-around;
        border-bottom:1px solid #e9ecef;
    }
    .td {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2px;
        width: 42px;
        height: 72px;
        overflow: hidden;
        ion-icon {
            font-size: 20pt;
        }
    }

    .profile {
        .photo {
            width: 32px;
            height: 38.4px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }

        &-header,&{
            width: 58px;
        }
    }

}

/**
 * Icon colors
 */


[icon-name="lock"] {
    color: #ccc;
}

[icon-name="square"] {
    color: #ddd;
}

[icon-name="qr-scanner"] {
    color: #ddd;
}

[icon-name="radio-button-off"] {
    color: #88f;
    cursor: pointer;
}

[icon-name="checkmark"] {
    color: rgb(104, 104, 104);
}

[owner="me"] {
    color: #d00 !important;
    cursor: pointer;
}

[icon-name="heart"] {
    color: #d00 !important;
    cursor: pointer;
}

