@import '../../../theme/vars';
header {
    display: none;
    @media screen and (min-width: $md) {
        display: block;
    }
}

main {
    padding-bottom: 1em;

    .schedule-navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: #fff;
        @media screen and (min-width:$md){
            flex-direction: row;
        }
        .nav{
            display: flex;
        }
        .student-info{
            color: dodgerblue;
            margin-top: .3em;
            padding-bottom: .8em;
            font-size: 80%;
            @media screen and (min-width:$md){
                padding-right: 1.5em;
                padding-bottom: 0;
            }
        }
        a{
            display: flex;
            align-items: center;
            padding: 1em;
            font-size: 70%;
            @media screen and (min-width:$md){
                padding: 1em 1.5em;
                font-size: 85%;
            }
            color: dodgerblue;
            svg{
                width: 1.2em;
                height: 1.2em;
            }

            span{
                margin:0 .5em;
            }
        }
    }
    .schedule-table {
        position: relative;
        font-size: 10.5px;
        text-align: center;
        background: #fff;
        @media screen and (min-width: $md) {
            font-size: 12px;
        }
        .schedule-header {
            position: sticky;
            top:105px;
            font-size: 11px;
            @media screen and (min-width: $md) {
                top: 63px;
                font-size: 12px;
            }
            left: 0;
            display: flex;
            justify-content: space-around;
            border-bottom:1px solid #e9ecef;
            border-top:1px solid #e9ecef;
            background: #fff;
            font-weight: 600;
            cursor: pointer;

            .day:hover{
                color: dodgerblue
            }

        }
        .teacher-schedule-header {
            top: 55px !important;
        }
        .schedule-row {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #e9ecef;
        }
        .td {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2px;
            width: 42px;
            height: 72px;
            overflow: hidden;
            .fontawesome {
                height: 1.8em;
            }
            .name {
                font-size: .7em;
            }
        }
        .profile {
            .photo {
                border-radius: 2px;
                width: 41px;
                height: 47.4px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            &-header,
            & {
                width: 58px;
            }
        }
        .teacher-name {
            font-size: 79%;
            font-weight: bold;
        }
    }
    .schedule-loader,
    .schedule-table-empty {
        text-align: center;
        padding: 3em;
    }
    .schedule-loader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            margin-top: 1em;
        }
    }
    /**
 * Icon colors
 */
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
    }

    [icon-name="lock"] {
        color: #ccc;
    }
    [icon-name="square"] {
        color: #ddd;
    }
    [icon-name="qr-scanner"] {
        color: #ddd;
    }
    [icon-name="radio-button-off"] {
        color: #88f;
        cursor: pointer;
    }
    [icon-name="checkmark"] {
        color: rgb(104, 104, 104);
    }
    [owner="me"] {
        color: #d00 !important;
        cursor: pointer;
    }
    [icon-name="heart"] {
        color: #d00 !important;
        cursor: pointer;
    }
    .pointer-on{
        cursor: pointer;
    }
}

.schedule-loader,
.schedule-table-empty {
    text-align: center;
    padding: 3em;
}

.schedule-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-spinner {
        margin-bottom: .5em;
    }
}

.progress-spinner {
    display: inline-block;
    margin: auto;
}

.icon-desc {

    margin-top: 1em;
    padding: 0;
    padding-top: 1em;
    @media screen and (min-width: $md) {
        padding: 2em;
        padding-bottom: 0;
    }
    background: #fff;
    font-weight: 300;
    .row {
        align-items: center;
        margin: 0 .5em;
        padding: 1em .8em;
        border-bottom: 1px solid #e2e2e2;
        .col-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (min-width:$md){
                flex-direction: row;
            }
        }
    }


    .desc-reminder,
    .more-button {
        border-bottom: none !important;
        text-align: center;
    }
    .desc-reminder {
        .reminder {
            font-size: 90%;
            color: red;
            text-align: center;
        }
    }
    .more-button {
        .button {
            padding: 1em;
            cursor: pointer;
            font-size: 90%;
            color: dodgerblue;
        }
    }

    .fontawesome{
        margin: auto;
        height: 1.2em;
    }
}


.help-ani-reserve {
      display: flex;
      margin: 8px;
      border: 1px solid rgb(168, 168, 180);
      padding: 4px;
      max-width: 420px;
      background-color: white;
      font-size: .85rem;
      cursor: pointer;
      .gif {
        img {
          width: 192px;
          height: auto;
        }
      }
      .text {
        padding: .5em 0 0 .5em;
        color: rgb(57, 57, 126);
        text-align: left;

        .close {
          margin: 1em .5em 0 0;
          text-align: right;
          color: rgb(230, 7, 7);
        }
      }
      @media (min-width: $md) {
        position: absolute;
        z-index: 99;
        top: -92px;
        right: 0;
        font-size: .9rem;
        .gif img {
          width: 240px;
        }
        .text .close {
          margin-top: 2em;
        }
      }
}


