<section class="page-wrapper">
    <div class="page">
        <h1>Schedule Table</h1>

        <!-- <form (onSubmit)="onSearchSubmit()">
            시:
            <select name="class_begin_hour" [(ngModel)]="form.class_begin_hour" (change)="onSearchSubmit()">
                <option *ngFor=" let h of formOptions.begin_hours " value="{{ h }}">{{ h }}</option>
            </select>
            ~
            <select name="class_end_hour" [(ngModel)]="form.class_end_hour" (change)="onSearchSubmit()">
                <option *ngFor=" let h of formOptions.end_hours " value="{{ h }}">{{ h }}</option>
            </select>
            분:
            <select name="duaration" [(ngModel)]="form.duration" (change)="onSearchSubmit()">
                <option value="0">전체</option>
                <option value="10">10분</option>
                <option value="20">20분</option>
                <option value="30">30분</option>
                <option value="40">40분</option>
                <option value="50">50분</option>
                <option value="60">60분</option>
            </select>

            포인트:
            <select name="point" [(ngModel)]="form.point" (change)="onSearchSubmit()">
                <option value="0">전체</option>
                <option value="1">&lt; 1000</option>
                <option value="1000">1000</option>
                <option value="2000">2000</option>
                <option value="3000">3000</option>
                <option value="4000">4000</option>
                <option value="5000">5000</option>
            </select>
            표시
            <select name="days" [(ngModel)]="form.days" (change)="onSearchSubmit()">
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>

            주말
            <select name="weekend" [(ngModel)]="form.display_weekends" (change)="onSearchSubmit()">
                <option value="Y">표시</option>
                <option value="N">숨기기</option>
            </select>
        </form> -->

        <div class="search-chip-list">
            <div class="chip" (click)=" chip.show = 'hours' ">{{ form.class_begin_hour }}~{{ form.class_end_hour }}시</div>
            <div class="chip" (click)=" chip.show = 'minutes' ">{{ form.min_duration }}분 이상</div>
            <div class="chip" (click)=" chip.show = 'points' ">{{ form.min_point }}포인트 이상</div>
            <div class="chip" (click)=" chip.show = 'weekends' ">{{ form.display_weekends == 'Y' ? '주말표시' : '주말제외' }}</div>
            <div class="chip" (click)=" chip.show = 'days' ">{{ form.days }}일표시</div>
        </div>
        <div class="search-chip-options" *ngIf="chip.show">
            <div class="hours" *ngIf="chip.show == 'hours'">
                <div (click)=" form.class_begin_hour = 0; form.class_end_hour = 24; onSearchSubmit() ">전체(오전 오후, 하루종일)</div>
                <div (click)=" form.class_begin_hour = 0; form.class_end_hour = 12; onSearchSubmit() ">오전</div>
                <div (click)=" form.class_begin_hour = 12; form.class_end_hour = 24; onSearchSubmit() ">오후</div>
                시간 직접 선택:
                <select name="class_begin_hour" [(ngModel)]="form.class_begin_hour" (change)="onSearchSubmit()">
                    <option *ngFor=" let h of formOptions.begin_hours " value="{{ h }}">{{ h }}</option>
                </select>
                ~
                <select name="class_end_hour" [(ngModel)]="form.class_end_hour" (change)="onSearchSubmit()">
                    <option *ngFor=" let h of formOptions.end_hours " value="{{ h }}">{{ h }}</option>
                </select>
            </div>
            <div class="minutes" *ngIf=" chip.show == 'minutes' ">
                <select name="duaration" [(ngModel)]="form.min_duration" (change)="onSearchSubmit()">
                    <option value="0">0분 이상</option>
                    <option value="5">5분 이상</option>
                    <option value="10">10분 이상</option>
                    <option value="15">15분 이상</option>
                    <option value="20">20분 이상</option>
                    <option value="25">25분 이상</option>
                    <option value="30">30분 이상</option>
                    <option value="40">40분 이상</option>
                    <option value="50">50분 이상</option>
                    <option value="60">60분 이상</option>
                </select>
                <select name="duaration" [(ngModel)]="form.max_duration" (change)="onSearchSubmit()">
                    <option value="4">4분 이하</option>
                    <option value="9">9분 이하</option>
                    <option value="14">14분 이하</option>
                    <option value="19">19분 이하</option>
                    <option value="24">24분 이하</option>
                    <option value="29">29분 이하</option>
                    <option value="39">39분 이하</option>
                    <option value="49">49분 이하</option>
                    <option value="59">59분 이하</option>
                    <option value="120">120분 이하</option>
                </select>
            </div>
            <div class="points" *ngIf=" chip.show == 'points' ">
                <select name="point" [(ngModel)]="form.min_point" (change)="onSearchSubmit()">
                    <option value="0">0</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="4000">4000</option>
                    <option value="5000">5000</option>
                </select>
                포인트 이상
                <select name="point" [(ngModel)]="form.max_point" (change)="onSearchSubmit()">
                    <option value="499">499</option>
                    <option value="999">999</option>
                    <option value="1999">1999</option>
                    <option value="2999">2999</option>
                    <option value="3999">3999</option>
                    <option value="4999">4999</option>
                    <option value="5999">5999</option>
                    <option value="9999">9999</option>
                </select>
                포인트 이하
            </div>

            <div class="weekends" *ngIf=" chip.show == 'weekends' ">
                주말
                <select name="weekend" [(ngModel)]="form.display_weekends" (change)="onSearchSubmit()">
                    <option value="Y">표시</option>
                    <option value="N">숨기기</option>
                </select>
            </div>

            <div class="days" *ngIf=" chip.show == 'days' ">
                시간표 표시 일 수: 
                <select name="days" [(ngModel)]="form.days" (change)="onSearchSubmit()">
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div class="close" (click)=" chip.show = '' ">[X] Close</div>
        </div>



        <div class="schedule-loader" *ngIf=" show.schedule_loader ">
            <ion-spinner name="circles"></ion-spinner> {{ 'SCHEDULE_TABLE_LOADING' | t }}
        </div>

        <div class="schedule-table-empty" *ngIf="re && (!re.table || !re.table.length) ">
            {{ 'NO_SCHEUDLE_TRY_SEARCH' | t }}
        </div>
        <div class="table schedule-table" *ngIf="re && re.table && re.table.length ">
            <div class="tr schedule-header">
                <div class="td" *ngIf=" isAllTeacher ">
                    {{ 'TEACHER' | t }}
                </div>
                <div class="td time">
                    <div class="time">{{ 'TIME' | t }}</div>
                    <div class="minute">{{ 'MINUTE' | t }}</div>
                </div>
                <div class="td day" *ngFor="let header of re.header" (click)="onClickNavigate( header.date )">
                    <div>{{ header.display_date }}</div>
                    <div class="d-inline-block"> {{ header.user_time_day | t }}</div>
                </div>
            </div>
            <div class="tr schedule-row" *ngFor="let sessions of re.table; let i = index">
                <div class="td profile" *ngIf=" isAllTeacher ">
                    <div class="photo">
                        <img src="{{ teacher_photoURL( sessions ) }}">
                    </div>
                </div>
                <div class="td datetime">
                    <div *ngIf=" a.user.isLogin ">
                        {{ session_time( sessions ) }}
                    </div>
                    <div>
                        {{ session_duration( sessions ) }} {{ 'MINUTE SHORT' | t }}
                    </div>
                    <div class="teacher-name" *ngIf=" isAllTeacher ">
                        {{ teacher_name( sessions ) }}
                    </div>
                </div>
                <div class="td session" *ngFor=" let session of sessions  " [attr.status]=" session[ N.status ] " [attr.open]=" session[ N.open ] "
                    [attr.owner]=" session[ N.owner ] " text-center (click)="onClickSession( session )">
                    <div class="info">
                        <div class="loader" *ngIf=" session.in_progress ">
                            <ion-spinner name="circles"></ion-spinner>
                        </div>
                        <div class="status-icon" *ngIf=" ! session.in_progress ">
                            <ion-icon class="fs-3rem" name="{{ icon(session) }}" [attr.icon-name]=" icon(session) "></ion-icon>
                        </div>
                        <div>{{ session[N.point] }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>