<section id="statistics-graph">
    <div class="form">
        <form (ngSubmit)=" loadAdminStatistics() ">
            <input type="number" name="date_begin" [(ngModel)]="stat_date_begin">
            <input type="number" name="date_end" [(ngModel)]="stat_date_end">
            <button type="submit">SUBMIT</button>
        </form>
    </div>


    <div class="total-point-share container-fluid" *ngIf="stats && a.isSuperManager">
        <h2>
            <span>Shares Computation</span>
            <span class="note">
                <b>Note:</b>
                <strong class="teacher-share">Teacher Share</strong> is the {{stats.teacher_percent}}% of
                <strong class="total-point">Total Point</strong>
            </span>
        </h2>
        <table width="100%">
            <tr>
                <th></th>
                <th>Total</th>
                <th>%</th>
                <th>Share</th>
                <th width="170">Share After Deduction</th>
                <th>USD</th>
                <th>PHP</th>
            </tr>
            <tr>
                <th>Office</th>
                <td>{{ stats.total_point_of_reservation | number }}</td>
                <td>{{stats.office_percent}}%</td>
                <td>{{stats.office_share | number}}</td>
                <td width="170">{{stats.office_share_after_deduction | number }}</td>
                <td>{{stats.office_share_in_usd | number }}</td>
                <td>{{stats.office_share_in_php | number }}</td>
            </tr>
            <tr>
                <th>Branch</th>
                <td>{{ stats.total_point_of_reservation | number }}</td>
                <td>{{stats.branch_percent}}%</td>
                <td>{{stats.branch_share | number }}</td>
                <td>{{stats.branch_share_after_deduction | number }}</td>
                <td>{{stats.branch_share_in_usd | number }}</td>
                <td>{{stats.branch_share_in_php | number }}</td>
            </tr>
            <tr>
                <th>Teacher</th>
                <td class="sub-header total-point">
                    <span>{{ stats.total_point_of_reservation | number }}</span>
                </td>
                <td>{{stats.teacher_percent}}%</td>
                <td class="sub-header teacher-share">
                    <span>{{stats.teacher_share | number }}</span>
                </td>
                <td>{{stats.teacher_share_after_deduction | number }}</td>
                <td>{{stats.teacher_share_in_usd | number }}</td>
                <td>{{stats.teacher_share_in_php | number }}</td>
            </tr>
            <tr>
                <th>Withcenter</th>
                <td class="sub-header teacher-share">
                    <span>{{stats.teacher_share | number }}</span>
                </td>
                <td>{{stats.teacher_share_withcenter / stats.teacher_share * 100 | number}}%</td>
                <td>{{stats.teacher_share_withcenter | number}}</td>
                <td width="170">{{stats.teacher_share_withcenter_after_deduction | number}}</td>
                <td>{{stats.teacher_share_withcenter_in_usd | number}}</td>
                <td>{{stats.teacher_share_withcenter_in_php | number}}</td>
            </tr>
            <tr>
                <th>Homebase</th>
                <td class="sub-header teacher-share">
                    <span>{{stats.teacher_share | number }}</span>
                </td>
                <td>{{(stats.teacher_share - stats.teacher_share_withcenter) / stats.teacher_share * 100 | number}}%
                </td>
                <td>{{stats.teacher_share - stats.teacher_share_withcenter | number }}</td>
                <td>{{stats.teacher_share_after_deduction - stats.teacher_share_withcenter_after_deduction | number}}
                </td>
                <td>{{stats.teacher_share_in_usd - stats.teacher_share_withcenter_in_usd | number}}</td>
                <td>{{stats.teacher_share_in_php - stats.teacher_share_withcenter_in_php | number}}</td>
            </tr>
        </table>
    </div>


    <div id="booking-statistics" *ngIf="stats">
        <h2>
            Booking Statistics
        </h2>
        <div><b>*R</b>: no of Reservations</div>
        <div><b>*M</b>: no of Minutes</div>
        <div><b>*P</b>: no of Points</div>
        <table>
            <tr>
                <th>Teacher</th>
                <th *ngFor="let d of a.keys(stats['booking_statistics']['dates'])">
                    <div>{{d}}</div>
                    <div>({{stats['booking_statistics']['dates'][d]['day']}})</div>
                </th>
                <th>
                    Total Per Teacher
                </th>
            </tr>
            <tr *ngFor="let idx of a.keys(stats['booking_statistics']['book_stats']); let even=even" [ngClass]="{'even':even}">
                <td>{{ stats['booking_statistics']['teachers_info'][idx]['name'] }}</td>
                <td *ngFor="let d of a.keys(stats['booking_statistics']['dates'])">
                    <ng-container *ngIf="stats['booking_statistics']['book_stats'][idx][d]">
                        <div>
                            <b>R</b>:{{stats['booking_statistics']['book_stats'][idx][d]['no_of_reservation']}}/{{stats['booking_statistics']['book_stats'][idx][d]['no_of_schedule']}}({{stats['booking_statistics']['book_stats'][idx][d]['percentage_of_reservations']}}%)
                        </div>
                        <div>
                            <b class="{{stats['booking_statistics']['book_stats'][idx][d]['percentage_of_minutes'] >= 50 ? 'green' : 'red'}}">
                                M:{{stats['booking_statistics']['book_stats'][idx][d]['minutes_of_reservation']}}/{{stats['booking_statistics']['book_stats'][idx][d]['minutes_of_schedule']}}({{stats['booking_statistics']['book_stats'][idx][d]['percentage_of_minutes']}}%)
                            </b>
                        </div>
                        <div>
                            <b>P</b>:{{a.shortNumber(stats['booking_statistics']['book_stats'][idx][d]['point_of_reservation'])}}/{{a.shortNumber(stats['booking_statistics']['book_stats'][idx][d]['point_of_schedule'])}}({{stats['booking_statistics']['book_stats'][idx][d]['percentage_of_points']}}%)
                        </div>
                    </ng-container>
                </td>
                <td>
                    <div>TR:{{stats['booking_statistics']['teachers_info'][idx]['total_no_of_reservation']}}/{{stats['booking_statistics']['teachers_info'][idx]['total_no_of_schedule']}}({{stats['booking_statistics']['teachers_info'][idx]['total_percentage_of_reservations']}}%)</div>
                    <div><b class="{{stats['booking_statistics']['teachers_info'][idx]['total_percentage_of_minutes'] >= 50 ? 'green' : 'red'}}">TM:{{a.shortNumber(stats['booking_statistics']['teachers_info'][idx]['total_minutes_of_reservation'])}}/{{a.shortNumber(stats['booking_statistics']['teachers_info'][idx]['total_minutes_of_schedule'])}}({{stats['booking_statistics']['teachers_info'][idx]['total_percentage_of_minutes']}}%)</b></div>
                    <div>TP:{{a.shortNumber(stats['booking_statistics']['teachers_info'][idx]['total_point_of_reservation'])}}/{{a.shortNumber(stats['booking_statistics']['teachers_info'][idx]['total_point_of_schedule'])}}({{stats['booking_statistics']['teachers_info'][idx]['total_percentage_of_points']}}%)</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td *ngFor="let d of a.keys(stats['booking_statistics']['dates'])">
                    <div>TR({{stats['booking_statistics']['dates'][d]['total_percentage_no_of_reservation']}}%)</div>
                    <div><b class="{{stats['booking_statistics']['dates'][d]['total_percentage_minute_of_reservation'] >= 50 ? 'green' : 'red'}}">TM({{stats['booking_statistics']['dates'][d]['total_percentage_minute_of_reservation']}}%)</b></div>
                    <div>TP({{stats['booking_statistics']['dates'][d]['total_percentage_point_of_reservation']}}%)</div>
                </td>
            </tr>
        </table>

    </div>





    <!-- -RESERVATION GRAPH- -->
    <div id="overall-reservations-graph" class="bar-graph-container" *ngIf=" stats && stats['no_of_reservations'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">
                Overall Reservations
                <small>- {{(stats['total_duration_of_reservations']/60| number:'1.0-0')}}hrs
                    {{stats['total_point_of_reservation']/stats['total_duration_of_reservations'] |
                    number:'1.0-0'}}pts/min
                </small>
            </h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total:</b> {{ stats.total_no_of_reservations | number }}</span>
                <span><b>Points:</b> {{ stats.teacher_share | number }}</span>
                <span>
                    $: {{stats.teacher_share_in_usd | number}}
                    ₱: {{stats.teacher_share_in_php | number}}
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['no_of_reservations'])">
                <div class="bar-item" matTooltip="{{ date }} : {{ stats['no_of_reservations'][date] }}"
                     [style.height]=" barHeight( stats['no_of_reservations'][date], stats.highest_no_of_reservation ) ">
                    <div class="item-no">{{ stats['no_of_reservations'][date] }}</div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="withcenter-teachers-graph" class="bar-graph-container"
         *ngIf=" stats && stats['no_of_reservations_of_withcenter_teachers']  ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Reservations Of Withcenter Teachers
                <small>- {{(stats['total_duration_of_withcenter_teachers']/60| number:'1.0-0')}}hrs
                    {{stats['total_point_of_reservation_for_withcenter_teachers']/stats['total_duration_of_withcenter_teachers']
                    | number:'1.0-0'}}pts/min
                </small>
            </h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total:</b> {{ stats.total_no_of_reservations_of_withcenter_teachers | number }} (Percentage: {{ stats.total_no_of_reservations_of_withcenter_teachers / stats.total_no_of_reservations * 100 | number }}%)</span>
                <span> <b>Points:</b> {{ stats.total_point_of_reservation_for_withcenter_teachers | number }}</span>
                <span>
                    $: {{stats.teacher_share_withcenter_in_usd | number}}
                    ₱: {{stats.teacher_share_withcenter_in_php | number}}
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['no_of_reservations_of_withcenter_teachers'])">
                <div class="bar-item"
                     matTooltip="{{ date }} : {{ stats['no_of_reservations_of_withcenter_teachers'][date] }}"
                     [style.height]=" barHeight( stats['no_of_reservations_of_withcenter_teachers'][date], stats.highest_no_of_reservation  ) ">
                    <div class="item-no">{{ stats['no_of_reservations_of_withcenter_teachers'][date] }}</div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>


    <div id="homebased-teachers-graph" class="bar-graph-container" *ngIf=" stats && stats['no_of_reservations'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Reservations Of Homebased Teachers
                <small>- {{ (stats['total_duration_of_reservations']-stats['total_duration_of_withcenter_teachers'])/60
                    | number:'1.0-0'}}hrs {{(stats.total_point_of_reservation -
                    stats.total_point_of_reservation_for_withcenter_teachers)/(stats['total_duration_of_reservations']-stats['total_duration_of_withcenter_teachers'])
                    | number:'1.0-0'}}pts/min
                </small>
            </h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total:</b> {{ stats.total_no_of_reservations - stats.total_no_of_reservations_of_withcenter_teachers | number }} ({{ (stats.total_no_of_reservations - stats.total_no_of_reservations_of_withcenter_teachers) / stats.total_no_of_reservations * 100 | number }}%)</span>
                <span><b>Points:</b> {{ stats.total_point_of_reservation - stats.total_point_of_reservation_for_withcenter_teachers | number }}</span>
                <span>
                    $: {{ stats.teacher_share_in_usd - stats.teacher_share_withcenter_in_usd | number }}
                    ₱: {{ stats.teacher_share_in_php - stats.teacher_share_withcenter_in_php | number }}
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['no_of_reservations'])">
                <div class="bar-item"
                     matTooltip="{{ date }} : {{ stats['no_of_reservations'][date] - stats['no_of_reservations_of_withcenter_teachers'][date] }}"
                     [style.height]=" barHeight( stats['no_of_reservations'][date] - stats['no_of_reservations_of_withcenter_teachers'][date], stats.highest_no_of_reservation )  ">
                    <div class="item-no">{{ stats['no_of_reservations'][date] -
                        stats['no_of_reservations_of_withcenter_teachers'][date] }}
                    </div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- -END RESERVATION GRAPH- -->

    <!--  -GRADE GRAPH-  -->
    <div id="no-of-reservations-teacher-grade-graph" class="bar-graph-container"
         *ngIf=" stats && stats['no_of_reservations_per_teacher_grade'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">No of Reservations per Teacher Grade</h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <div *ngFor="let g of [1,2,3,4,5]">
                    <span>Grade {{g}}</span>
                    <span class="grade-{{g}}">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="bar-graph-content">
            <div class="bar-item-group" *ngFor="let date of a.keys(stats['no_of_reservations_per_teacher_grade'])">
                <div>
                    <ng-container *ngFor=" let grade of a.keys(stats['no_of_reservations_per_teacher_grade'][date]) ">
                        <div class="bar-item grade-{{ grade }}" matTooltip="{{ date }} - Grade {{ grade }}"
                             [style.height]=" barHeight( stats['no_of_reservations_per_teacher_grade'][date][grade], stats.highest_no_of_reservation_per_grade ) ">
                            <div class="item-no">{{ stats['no_of_reservations_per_teacher_grade'][date][grade] }}</div>
                        </div>
                    </ng-container>
                </div>
                <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
            </div>
        </div>
    </div>
    <!-- -GRADE GRAPH- -->

    <!-- -POINTS GRAPH- -->
    <div id="points-per-day-reservations-graph" class="bar-graph-container"
         *ngIf=" stats && stats['point_of_reservations'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Points of per Day Reservation</h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total Point:</b> {{ stats.total_point_of_reservation | number }}</span>
                <span>
                    $: {{stats.total_point_in_usd | number}}
                    ₱: {{stats.teacher_point_in_php | number}}
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['point_of_reservations'])">
                <div class="bar-item"
                     matTooltip="{{ date }} : {{ stats['point_of_reservations'][date] }}points"
                     [style.height]=" barHeight( stats['point_of_reservations'][date], stats.highest_no_of_point ) ">
                    <div class="item-no">{{ a.shortNumber(stats['point_of_reservations'][date]) }}</div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>


    <div id="por-withcenter-graph" class="bar-graph-container" *ngIf=" stats && stats['point_of_withcenter_teachers'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Points of Reservation for Withcenter Teacher</h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total Point:</b> {{ stats.total_point_of_reservation_for_withcenter_teachers | number }} ({{ stats.total_point_of_reservation_for_withcenter_teachers / stats.total_point_of_reservation * 100 | number }}%)</span>
                <span>
                    $: {{stats.teacher_share_withcenter_in_usd | number}}
                    ₱: {{stats.teacher_share_withcenter_in_php | number}}
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['point_of_withcenter_teachers'])">
                <div class="bar-item" matTooltip="{{ date }} : {{ stats['point_of_withcenter_teachers'][date] }}points"
                     [style.height]=" barHeight( stats['point_of_withcenter_teachers'][date], stats.highest_no_of_point ) ">
                    <div class="item-no">{{ a.shortNumber(stats['point_of_withcenter_teachers'][date]) }}</div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="por-homebased-graph" class="bar-graph-container" *ngIf=" stats && stats['point_of_reservations'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Points of Reservation for Homebased Teacher</h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total Point:</b> {{ stats.total_point_of_reservation - stats.total_point_of_reservation_for_withcenter_teachers | number }} ({{ (stats.total_point_of_reservation - stats.total_point_of_reservation_for_withcenter_teachers) / stats.total_point_of_reservation * 100 | number }}%)</span>
                <span>
                    $: {{ stats.teacher_share_in_usd - stats.teacher_share_withcenter_in_usd | number }}
                    ₱: {{ stats.teacher_share_in_php - stats.teacher_share_withcenter_in_php | number }}
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['point_of_reservations'])">
                <div class="bar-item"
                     matTooltip="{{ date }} : {{  stats['point_of_reservations'][date] - stats['point_of_withcenter_teachers'][date] }}points"
                     [style.height]="  barHeight( stats['point_of_reservations'][date] - stats['point_of_withcenter_teachers'][date], stats.highest_no_of_point - stats.highest_no_of_point_for_withcenter_teachers  ) ">
                    <div class="item-no">{{ a.shortNumber(stats['point_of_reservations'][date] -
                        stats['point_of_withcenter_teachers'][date]) }}
                    </div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- -END POINTS GRAPH- -->

    <!-- -DURATION GRAPH- -->


    <div id="duration-of-reservations-graph" class="bar-graph-container"
         *ngIf=" stats && stats['duration_of_reservations'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Durations of Reservation per Day</h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total Duration:</b> {{ stats['total_duration_of_reservations'] | number: '1.0-0' }}</span>
                <span>
                    {{(stats['total_duration_of_reservations']/60| number:'1.0-0')}}hrs
                    {{stats['total_point_of_reservation']/stats['total_duration_of_reservations'] | number:'1.0-0'}}pts/min
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['duration_of_reservations'])">
                <div class="bar-item"
                     matTooltip="{{ date }} : {{ stats['duration_of_reservations'][date] }}mins"
                     [style.height]=" barHeight( stats['duration_of_reservations'][date], stats['highest_duration_per_day'] ) ">
                    <div class="item-no">{{ a.shortNumber( stats['duration_of_reservations'][date]/ 60 ) }}hrs</div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>


    <div id="duration-of-reservation-for-withcenter" class="bar-graph-container"
         *ngIf=" stats && stats['duration_of_reservations_for_withcenter_teachers'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Durations of Reservation per Day for Withcenter Teacher</h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total Duration:</b> {{ stats['total_duration_of_withcenter_teachers'] | number: '1.0-0' }}</span>
                <span>
                    {{(stats['total_duration_of_withcenter_teachers']/60)| number:'1.0-0'}}hrs
                    {{stats['total_point_of_reservation_for_withcenter_teachers']/stats['total_duration_of_withcenter_teachers'] | number:'1.0-0'}}pts/min
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['duration_of_reservations_for_withcenter_teachers'])">
                <div class="bar-item"
                     matTooltip="{{ date }} : {{ stats['duration_of_reservations_for_withcenter_teachers'][date] }}mins"
                     [style.height]=" barHeight( stats['duration_of_reservations_for_withcenter_teachers'][date], stats['highest_duration_per_day'] ) ">
                    <div class="item-no">{{
                        a.shortNumber(stats['duration_of_reservations_for_withcenter_teachers'][date] / 60) }}hrs
                    </div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="duration-of-reservation-for-homebase" class="bar-graph-container"
         *ngIf=" stats && stats['duration_of_reservations'] ">
        <div class="bar-graph-header">
            <h2 class="bar-graph-title">Durations of Reservation per Day for Homebase Teacher</h2>
            <div class="bar-graph-subtitle" *ngIf=" stats ">
                <span><b>Total Duration:</b> {{ stats['total_duration_of_reservations']-stats['total_duration_of_withcenter_teachers'] | number: '1.0-0' }}</span>
                <span>
                    {{ (stats['total_duration_of_reservations']-stats['total_duration_of_withcenter_teachers']) / 60 | number:'1.0-0'}}hrs
                    {{ (stats['total_point_of_reservation']-stats['total_point_of_reservation_for_withcenter_teachers'])/(stats['total_duration_of_reservations']-stats['total_duration_of_withcenter_teachers']) | number:'1.0-0'}}pts/min
                </span>
            </div>
        </div>
        <div class="bar-graph-content">
            <div *ngFor="let date of a.keys(stats['duration_of_reservations'])">
                <div class="bar-item"
                     matTooltip="{{ date }} : {{ stats['duration_of_reservations'][date]-stats['duration_of_reservations_for_withcenter_teachers'][date] }}mins"
                     [style.height]=" barHeight( stats['duration_of_reservations'][date] - stats['duration_of_reservations_for_withcenter_teachers'][date], stats['highest_duration_per_day'] ) ">
                    <div class="item-no">{{ a.shortNumber( (stats['duration_of_reservations'][date] -
                        stats['duration_of_reservations_for_withcenter_teachers'][date])/ 60 ) }}hrs
                    </div>
                    <div class="item-date" [ngClass]="{'today': date == today}">{{ formatDate(date) }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- -END OF DURATION GRAPH - -->

</section>