@import "../../../theme/vars";
#greetings {
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @media (min-width:$md){
            flex-wrap: nowrap;
        }
        border-bottom: 1px solid rgba(125,125,125,0.2);
        background: #fff;
        font-size: .95rem;
        font-weight: 300;
        &>div{
            padding: .5rem 0;
            @media (min-width:$md) {
                padding: 0 .5rem;   
            }
        }
        .title{
            color: dimgray;
        }
        .primary-photo{
            padding: 0;
            height: 50px;
            width: 50px;
            border-radius: 3px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .message-button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding:.5rem;
            width: 35px;
            border-radius: 2px;
            background: #1B4AB5;
            font-size: .85rem;
            color: #fff;
            cursor: pointer;
            svg{
                position: relative;
                top:.125em;
                height: 1em;
                width: 1em;
            }
        }
        .name{
            width: 85px;
            font-weight: normal;
            text-align: center;
            color: #3C66C8;
        }
        .class-software{
            padding-left: .7rem;
            display: flex;
            align-items: center;
            width: 170px;
            img{
                position: relative;
                top: .125em;
                margin: 0 .5em;
                height: 25px;
                width: 25px;
            }
        }
        .level{
            min-width: 70px;
        }
        .message-box{
            flex: 100%;
            order: 2;
            @media (min-width:$md) {
                flex: unset;
                order: 1;
            }
            width: 395px;
            .message{
                padding: .5rem;
                line-height: 1.6em;
            }
        }
        .stamp{
            order: 1;
            @media (min-width:$md) {
                order: 2;
            }
            width: 215px;
            font-size: .85rem;
        }
    }
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 4em 0;
}

.no-more{
    text-align: center;
    padding: 5em;
}
