@import '../../../../../theme/vars.scss';

main{
    header{
        margin-bottom: 3em;
    }
    min-height: 540px;
    padding: 3em 0;
    padding-top: 0;
    background:#fff;

    .loader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        mat-spinner{
        margin: .5em;
        }
    }
    .payment-method{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 90%;

        input{
            position: absolute;
            opacity: 0;

            &:checked+div{
                background: #fff;
                border: 1px solid dodgerblue;
                color:dodgerblue;

            }

        }


        .gcash{

            svg{
                color:green!important
            }
        }

        .western-union{

            svg{
                color: orange!important
            }

        }

        .paypal{
            svg{
                color: #253b80!important
            }
        }

        div{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 0 2em;
            padding: 1em 3em;
            text-align: center;

            @media screen and (max-width:$sm) {
                margin: 0 .5em;
                padding: .5em 1.5em;
            }
            border-radius: 2px;
            background: #eee;
            cursor: pointer;
        }

        svg{
            margin-bottom: .5em;
            height: 3em ;
        }
    }

    .payment-information{
        padding: 3em 5em;
        @media screen and (max-width:$sm) {
            padding: .5em 1.5em;
        }
        text-align: center;

        .row{
            align-items: center;
            justify-content: center;
            .col:last-child{
                padding: .5em 0;
                &>div{
                    width: 100%;
                    padding: 1em;
                    background: #eeeeee;
                }

                &>input{
                    padding: .6em;
                    width: 100%;
                    text-align: center;
                    font-size: 110%;
                }
            }
        }
    }

    .note{
        padding: 3em 5em;
        @media screen and (max-width:$sm) {
            padding: .5em 1.5em;

            div{
                margin: 1em;
            }
        }
        color:darkred;
        font-size: 90%;
        line-height: 1.5em;
    }
}