<h3>{{ t.ln.about_franchise_title }} </h3>

<p>{{ t.ln.about_franchise_desc }}</p>
<div class="container-fluid">
    <div class="row">
        <article class="col-sm-12 col-md-4" (click)="show.withcenter = true">
                <div>
                    <img class="icon" src="assets/withcenter/img/withcenter.png" alt="withcenter logo">
                </div>
                <h4>{{ t.ln.about_franchise_withcenter }}</h4>
                <p class="desc"> {{ t.ln.about_franchise_withcenter_desc }}</p>
                <button *ngIf=" ! show.withcenter ">{{ t.ln.learn_more}}</button>
                <p *ngIf=" show.withcenter ">
                    {{ t.ln.about_franchise_withcenter_content }}
                    
                </p>
            </article>
            
            <article class="col-sm-12 col-md-4"  (click)="show.ontue = true">
                <div>
                    <img class="icon ontue" src="assets/withcenter/img/ontue.png" alt="ontue logo">
                </div>
                <h4> {{ t.ln.about_franchise_ontue }}</h4>
                <p class="desc"> {{ t.ln.about_franchise_ontue_desc }}</p>
                <button *ngIf=" ! show.ontue ">{{ t.ln.learn_more}}</button>
                <p *ngIf=" show.ontue ">
                    {{ t.ln.about_franchise_ontue_content }}
                </p>
            </article>
            
            <article class="col-sm-12 col-md-4"  (click)="show.katalkenglish = true">
                <div>
                    <img class="icon" src="assets/withcenter/img/katalkenglish.png" alt="katalkenglish logo">
                </div>
                <h4> {{ t.ln.about_franchise_katalk }}</h4>
                <p class="desc">{{ t.ln.about_franchise_katalk_desc }}</p>
                <button *ngIf=" ! show.katalkenglish ">{{ t.ln.learn_more}}</button>
                <p *ngIf=" show.katalkenglish ">
                    {{ t.ln.about_franchise_katalk_content }}
                </p>
            </article>
    </div>
</div>
