@import './../../../../../theme/vars';
h3{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #113ca0;
}
h4{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
}

p{
    margin: 0;
    font-size: .9em;
    @media (min-width:$md) {
        font-size: 1em;
    }
    line-height: 1.6em;
}

button{
    border:none;
    background: none;
    color: #3513A4;
    padding: 0;
    font-size: .85em;
}