@import './../../../../../theme/vars';
h3{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0E51A7;
}
h4{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
}

p{
    margin: 0;
    font-size: .9em;
    @media (min-width:$md) {
        font-size: 1em;
    }
    line-height: 1.6em;
}

button{
    border-radius: 2px;
    border:none;
    color: #0A3F82;
    text-decoration: underline;
    padding: .24em;
    font-size: .7em;
}