<div class="cover-by-2  mb-5 mb-md-0  bg-white of-hidden outline-effect">
    <p class="text-center m-0 py-3 fs-90 bg-blue white fw-bold">Recently Graded Teachers</p>
    <div class="list-hover-effect my-0-25em">
        <ng-container *ngFor="let teacher of teachers; let i=index">
            <div class="container-fluid pointer item" (click)="a.open('schedule-table', { idx_teacher: teacher.ID })"
                 *ngIf="i<3" no-padding>
                <div class="row py-3 px-4">
                    <div class="col-md-4 col-3 d-flex align-items-center">
                    <span class="size-40 rounded-circle of-hidden">
                       <img [src]="a.checkPhotoURL(teacher.photoURL)">
                    </span>
                    </div>
                    <div class="col-md-6 col-5">
                        <h3 class="m-0 p-0 fs-90">{{a.preTeacherName(teacher.display_name)}}</h3>
                        <div class="fs-card">
                            <span *ngIf="teacher.grade >= 1">
                                <i class="fs-md fas fa-star" color="yellow">*</i>
                            </span>
                            <span *ngIf="teacher.grade >= 2">
                                <i class="fs-md fas fa-star" color="yellow">*</i>
                            </span>
                            <span *ngIf="teacher.grade >= 3">
                                <i class="fs-md fas fa-star" color="yellow">*</i>
                            </span>
                            <span *ngIf="teacher.grade >= 4">
                                <i class="fs-md fas fa-star" color="yellow">*</i>
                            </span>
                            <span *ngIf="teacher.grade >= 5">
                                <i class="fs-md fas fa-star" color="yellow">*</i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-1">
                        <p class="m-0 p-0 fs-lg fw-light">{{teacher.grade}}/5</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>