<header>
    <h1>{{ 'SESSION_REFUND_REJECT_TITLE' | t }}</h1>
</header>
<main>
    <section class="content">
        <div class="loader" *ngIf=" !book?.idx ">
            <mat-spinner class="mx-auto" [diameter]="40"></mat-spinner>
            <span class="p-2">{{ 'IN LOADING' | t }}</span>
        </div>


        <div *ngIf="book?.idx">
            <span class="student-header">{{ 'STUDENT_MESSAGE' | t}}</span>
            <div class="message"> {{book.refund_request_message}}</div>
            <span class="teacher-header">{{ 'TEACHER_MESSAGE' | t}}</span>
            <div class="message"> {{book.refund_reject_message}}</div>
            <div class="note">{{ 'SESSION_REFUND_REJECT_NOTE' | t}}</div>

            <div class="buttons">
                <button type="button" (click)="onClickClose()">
                    <ion-icon name="close"></ion-icon>
                    {{ 'CLOSE' | t }}
                </button>
            </div>
        </div>
    </section>
</main>