<header>
    <h1>{{ 'SESSION REFUND REJECT' | t }}</h1>
</header>
<main>
    <section class="content">
        <div class="loader" *ngIf=" !book?.idx ">
            <ion-spinner></ion-spinner>
            <span class="p-2">{{ 'IN LOADING' | t }}</span>
        </div>


        <div *ngIf="book?.idx">
            <span class="student-header">Student Message</span>
            <div class="message"> {{book.refund_request_message}}</div>
            <span class="teacher-header">Teacher Message</span>
            <div class="message"> {{book.refund_reject_message}}</div>
            <div class="note">*Note: if you are not satisfied with the teacher reason. you can contact admin to escalate the refund request.</div>

            <div class="buttons">
                <button type="button" (click)="onClickClose()">
                    <ion-icon name="close"></ion-icon>
                    {{ 'CLOSE' | t }}
                </button>
            </div>
        </div>
    </section>
</main>