.user-info {
    display: inline-flex;
    align-items: center;
    padding: .2em .25em;
    border-radius: 3px;
    font-size: 10pt;
    border: 1px solid rgba(125,125,125,0.3);
    // &:after {
    //     content: ' ►';
    //     display: 'inline-block';
    //     font-size: 0.85em;
    // }
    svg{
        color: #162EAE;
        height: 1em;
        width: 1em;
        margin: 0 .3em;
    }

    &:hover{
        color: dodgerblue;
    }
}
