.user-info {
    display: inline-block;
    padding: .1em .25em;
    border-radius: 3px;
    font-size: 10pt;
    background-color: blue;
    color: white;
    &:after {
        content: ' ►';
        display: 'inline-block';
        font-size: 0.85em;
    }
}
