@import '../../../../../theme/vars.scss';
section {
    margin:1.35em 0;
    @media (min-width:$md) {
        margin-top:0;
    }
    border: 1px solid rgba(125,125,125,0.1);
    background-color: #fff;
    font-size: .85em;

    h2 {
        margin: 0;
        padding:.71em 1.4em;
        font-weight: 100;
        font-size: 1em;
        background: #133CAC;
        color:#fff;
    }

    .content{
        height: 189px;
        overflow:auto;
        &>a{
            display: block;
            padding: .8em 1.3em;
            background: #fff;

            &:hover{
                background:rgba(125,125,125,0.1);
                cursor: pointer;
            }
        }
    }
}
