.app-buttons > button, .app-button {
    margin: .1em;
    border: 0;
    border-radius: 2px;
    background-color: rgb(0, 0, 134);
    color: white;
    svg {
        fill: white;
        width: 30px;
        height: auto;
    }
}
