@import './vars.scss';
@import './variables-katalkenglish.scss';
body {
    margin: 0;
}

#katalkenglish {
    #katalkenglish-header {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        height: $katalkenglish-mobile-header-height;
        overflow: hidden;
        #desktop-header {
            display: none;
        }
        @media (min-width: $md) {
            height: $katalkenglish-header-height;
            #mobile-header {
                display: none;
            }
            #desktop-header {
                display: block;
                nav {
                    margin: 0 auto;
                    max-width: $katalkenglish-page-width;
                }
            }
        }
    }
    .page {
        margin-top: $katalkenglish-mobile-header-height;
        @media (min-width: $md) {
            margin-top: $katalkenglish-header-height;
        }
        .page-inner {
            main {
                margin: 0 auto;
                max-width: $katalkenglish-page-width;
                @media (min-width: $md) {
                    min-height: 600px;
                }
            }
        }
    }
    #katalkenglish-footer {
        width: 100%;
    }
}

[path*='/admin'] {
    // background-color: blue;
    #katalkenglish {
        #katalkenglish-header {
            display: none;
        }
        .page {
            margin-top: 0 !important;
            .page-inner {
                margin: 0 0 0 430px;
                max-width: 100% !important;
            }
        }
        footer {
            margin: 0 0 0 430px;
        }
    }
}

#katalkenglish main {
    header {
        background-color: $katalkenglish-page-title-background-color;
        h1 {
            margin: 0;
            padding: 1em 1.7em;
            font-weight: 100;
            color: $katalkenglish-page-title-color;
        }
        p {
            margin: 0;
            padding: 1em 2em;
            background-color: $katalkenglish-page-description-background-color;
            font-size: .85rem;
        }
    }
}