@import './variables-katalkenglish.scss';
.page {
    background-color: #fcfcfc;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    &-wrapper {
        background-color: #f7f7f7;
    }
}
@import './../app/sites/katalkenglish/components/katalkenglish-header/katalkenglish-theme-mobile-header.scss';
