body {
    margin: 0;
}

$ontue-page-width: 1024px;
$ontue-header-height: 56px;
$ontue-padding: 8px;
#ontue {
    #ontue-header {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        height: $ontue-header-height;
        background: #007bff;
        color: white;
        overflow: hidden;
        .inner {
            margin: 0 auto;
            max-width: $ontue-page-width;
        }
    }
    .page {
        margin-top: $ontue-header-height;
        min-height: 600px;
        .page-inner {
            margin: 0 auto;
            max-width: $ontue-page-width;
        }
    }

}

#ontue main {
    .global-header {
        background-color: $katalkenglish-page-title-background-color;

        h1 {
            margin: 0;
            padding: 1em 1.7em;
            color: $katalkenglish-page-title-color;
            font-size: 16px;
            font-weight: 100;
        }
        p {
            margin: 0;
            padding: 1em 2em;
            background-color: $katalkenglish-page-description-background-color;
            font-size: .85rem;
        }
    }
}