$background-color: white;
$background-color-submenu: #e2dbb0;
$katalkenglish-page-width: 1024px;
$katalkenglish-header-height: 64px;
$katalkenglish-mobile-header-height: 106px;
$katalkenglish-mobile-header-top-height: $katalkenglish-header-height;
$katalkenglish-mobile-header-bottom-height: $katalkenglish-mobile-header-height - $katalkenglish-mobile-header-top-height;
$katalkenglish-padding: 8px;
