@import '../../../theme/vars.scss';
header{
    h1{
        margin: 0;
        padding:1em 1.7em;
        background-color:#eee;
    }

    .desc {
        padding:1em 2em;
        background-color: #e1e6e7;
    }
    span{
        display: inline-block;
        padding: .2em .5em;
        border-radius: 2px;
        color: darkred;
        cursor: pointer;
        font-weight: bold;
    }
}

    
main{
    min-height: 540px;
    background: #fff;
    .form{
        padding: 5em;

        @media screen and (max-width:$sm){
            padding: 2em;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            mat-form-field{
                width: 100%;
            }

            button{
                padding: .8rem 2.8rem;
                border:none;
                border-radius: 3px;
                background-color: #1515aa;
                color: #fff;
                font-size: .8em;
                cursor: pointer;
            }

        }
    }
}

