<div class="page-header">
    <span (click)=" a.onClickContactAdmin() ">{{ 'KATALKENGLISH_MENU_WELCOME_MESSAGE' | t}}</span> 
</div>
<section class="page-body">

    <ul class="pointers">

        <li class="menu-admin" routerLink="/admin" *ngIf="a.isManager">
            <div>
                <ion-icon name="help-circle" item-start></ion-icon>
                <div>{{ 'ADMIN' | t }}</div>
            </div>
        </li>

        <li class="menu-help" routerLink="/help" *ngIf="a.studentTheme">
            <div>
                <ion-icon name="help-circle" item-start></ion-icon>
                <div>{{ 'HELP' | t }}</div>
            </div>
        </li>

        <li class="menu-help" routerLink="/story" *ngIf="a.studentTheme">
            <div>
                <ion-icon name="help-circle" item-start></ion-icon>
                <div>{{ 'KATALK_STORY' | t }}</div>
            </div>
        </li>


        <li class="menu-login" *ngIf=" a.user.isLogout " (click)=" a.open('login') ">
            <div>
                <ion-icon name="log-in" item-start></ion-icon>
                <div>{{ 'LOGIN' | t }}</div>
            </div>
        </li>
        <li class="menu-registration" *ngIf=" a.user.isLogout " (click)=" a.open('register') ">
            <div>
                <ion-icon name="person-add" item-start></ion-icon>
                <div>{{ "REGISTER" | t}}</div>
            </div>
        </li>

        <li class="menu-profile" *ngIf=" a.user.isLogin " (click)=" a.open('register')">
            <div>
                <ion-icon name="person-add" item-start></ion-icon>
                <div>{{ 'PROFILE' | t }}</div>
            </div>
        </li>


        <li class="menu-message" routerLink="/my-point" *ngIf=" a.user.isLogin ">
            <div>
                <ion-icon name="logo-usd" item-start></ion-icon>
                <div>{{"MY_POINT" | t}}</div>
            </div>
        </li>


        <li class="menu-level" (click)="a.open('session-past', {showLevel: true})" *ngIf=" a.user.isLogin ">
            <div>
                <ion-icon name="stats" item-start></ion-icon>
                <div>{{ "MY_ENGLISH_LEVEL" | t }} </div>
            </div>
        </li>


        <!-- <li class="menu-qna" routerLink="/qna">
            <div>
                <ion-icon name="help-circle" color="primary" item-start></ion-icon>
                <div>{{ 'QNA' | t }}</div>
            </div>
        </li> -->


        <li class="menu-future-sessions" routerLink="/session-future">
            <div>
                <ion-icon name="list-box" color="primary" item-start></ion-icon>
                <div>{{ 'SESSION_FUTURE' | t }}</div>
            </div>
        </li>

        <li class="menu-past-sessions" routerLink="/session-past">
            <div>
                <ion-icon name="list-box" color="light" item-start></ion-icon>
                <div>{{ 'SESSION_PAST' | t }}</div>
            </div>
        </li>



        <li class="menu-teacher-list" routerLink="/student-curriculum" *ngIf=" a.studentTheme ">
            <div>
                <ion-icon name="bookmarks" item-start></ion-icon>
                <div>{{ 'TEACHING_MATERIALS' | t }}</div>
            </div>
        </li>


        <li class="menu-teacher-list" (click)="a.open('teacher-list')">
            <div>
                <ion-icon name="people" item-start></ion-icon>
                <div>{{ 'RESERVE_SESSION' | t }}</div>
            </div>
        </li>



        <li class="menu-schedule-table" (click)="a.open('schedule-table')" *ngIf="!a.isIeEdge()">
            <div>
                <ion-icon name="apps" item-start></ion-icon>
                <div>{{ 'ALL_SCHEDULE_TABLE' | t }}</div>
            </div>
        </li>


        <li class="menu-today-sessions" (click)="a.open('schedule-available')" *ngIf="a.studentTheme">
            <div>
                <ion-icon name="apps" item-start></ion-icon>
                <div>{{ 'AVAILABLE_SESSIONS_LONG' | t }}</div>
            </div>
        </li>


        <li class="menu-message" (click)="a.open('message')" *ngIf=" a.user.isLogin ">
            <div>
                <ion-icon name="chatboxes" item-start></ion-icon>
                <div>{{ 'MESSAGE' | t }}</div>
            </div>
        </li>

        <li class="menu-teacher-reviews" (click)="a.open('session-comment')">
            <div>
                <ion-icon name="chatbubbles" item-start></ion-icon>
                <div>{{ 'CLASS_COMMENTS' | t }}</div>
            </div>
        </li>


        <li class="menu-payment" (click)="a.open('payment')" *ngIf="a.studentTheme">
            <div>
                <ion-icon name="card" item-start></ion-icon>
                <div>{{ 'PAYMENT_LONG_TEXT' | t }}</div>
            </div>
        </li>


        <li class="menu-payment-history" (click)="a.open('payment-history')" *ngIf="a.studentTheme">
            <div>
                <ion-icon name="list-box" item-start></ion-icon>
                <div>{{ 'PAYMENT_HISTORY' | t }}</div>
            </div>
        </li>


        <li class="menu-password-change" *ngIf=" a.user.isLogin " routerLink="/password-change">
            <div>
                <ion-icon name="key" item-start></ion-icon>
                <div>{{ 'CHANGE_PASSWORD' | t }}</div>
            </div>
        </li>
        
        <li class="menu-settings" (click)="a.open('settings')">
            <div>
                <ion-icon name="settings" item-start></ion-icon>
                <div>{{ 'SETTINGS' | t }}</div>
            </div>
        </li>

        <li class="menu-logout" *ngIf=" a.user.isLogin " (click)="a.logout('/');">
            <div>
                <ion-icon name="log-out" item-start></ion-icon>
                <div>{{ 'LOGOUT' | t }}</div>
            </div>
        </li>

        <li routerLink="/reminder">
            <div>
                <ion-icon name="log-out" item-start></ion-icon>
                <div>{{ 'REMINDER' | t }}</div>
            </div>
        </li>

        <!-- <li routerLink="/forum">
            <div>
                <ion-icon name="log-out" item-start></ion-icon>
                <div>{{ 'POLICY' | t }}</div>
            </div>
        </li> -->

<!--         
        <li routerLink="/forum">
            <div>
                <ion-icon name="log-out" item-start></ion-icon>
                <div>{{ 'QnA' | t }}</div>
            </div>
        </li> -->

    </ul>

</section>
