header{
    padding: 1.25em;
    background-color: #3f51b5!important;
    text-align: center;
    color: #fff;

    div{
        display: inline-block;
        padding: .2em .5em;
        border-radius: 2px;
        background: #1515aa;
        cursor: pointer;
    }
}

main{
    padding-bottom: 3em;
    background: #fff;

    a{  
        .row{
            align-items: center;

            .col-1{
                text-align: center;
            }
        }
        .fontawesome{
            height: 1.4em;
        }

    }
}
