<div class="layout" [attr.path]=" a.routeUrl ">

  <section id="ontue" *ngIf=" a.site.is.ontue ">
    <ontue-header></ontue-header>
    <section class="page">
      <div class="page-inner">
        <router-outlet></router-outlet>
      </div>
    </section>
    <ontue-footer></ontue-footer>
  </section>

  <section id="katalkenglish" *ngIf=" a.site.is.katalkenglish || a.site.is.englishas ">
    <katalkenglish-header></katalkenglish-header>
    <section class="page">
      <div class="page-inner">
        <router-outlet></router-outlet>
      </div>
    </section>
    <katalkenglish-footer></katalkenglish-footer>
  </section>

  <section id="withcenter" *ngIf=" a.site.is.withcenter ">
    <router-outlet></router-outlet>
  </section>

  <section id="admin" *ngIf=" a.site.is.admin ">
    <router-outlet></router-outlet>
  </section>

</div>