    .loader{
        padding: 1em;
    }

    .page-header{
        padding: 1em;
        background-color: #673ab7;
        color: white;

        h2{
            margin: 0!important;
            font-weight: 300!important;
            font-size: 1.25em;
        }
    }

    form{
        padding: 2em;
        font-size: 85%;

        &>div{
            display: flex;
            margin-bottom: 1.2em;

            .label{
                width: 150px;
            }

            .input{
                display: flex;
                flex-direction: column;
                width:842px;
                padding: .5em 0;

                input{
                    padding: .5em 0;
                }

            }

            #timezone{
                align-self: start;
            }

            #gender-group,#birthday-group{
                display: flex;
                flex-direction: row;
            }
        }
    }

    .form-submit-button{
        width:842px;

        button{
            padding: 1em 2em;
            border-radius: 3px;
            background-color: #1515aa;
            color: #fff;
        }
    }

  .select-timezone{
      display: flex;
      align-items:center;
  }

  .photo-upload{

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }
  }









