<main>
    <header>
        <h1 class='register-title' *ngIf="a.user.isLogout">{{ 'REGISTER' | t }}</h1>
        <h1 class='profile-title' *ngIf="a.user.isLogin">{{ 'UPDATE_PROFILE' | t }}</h1>
    </header>

    <section class="content">
        <div class="loader" *ngIf=" show.dataLoader ">
            <mat-spinner [diameter]="48"></mat-spinner>
            <span>{{ 'IN LOADING' | t}}</span>
        </div>

        <div class="photo-upload" *ngIf=" a.site.teacherTheme || a.user.isLogin ">
            <input class="input-box" type="file" (change)="fileUpload.onChangeFile($event)">
            <div class="photo-upload-button">
                <div class="photo">
                    <img src="{{ a.userProfilePhoto( files )}}">
                </div>
                <div>
                    <button class="btn" [class.skip]="files && files.length">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"
                            />
                        </svg>
                        <span>{{ 'PHOTO UPLOAD' | t }}</span>
                    </button>
                </div>
            </div>
            <div class="progress-bar" *ngIf="profilePhotoUpload.progressPercentage > 0">
                <mat-progress-bar mode="determinate" [value]="profilePhotoUpload.progressPercentage">
                </mat-progress-bar>
                <span>{{ profilePhotoUpload.progressPercentage}}%</span>
            </div>
            <xapi-file-upload-component #profilePhotoUpload [title]="false" [fileSelectionButton]="false" [files]="files" [showUploadedFiles]="false"
                [showProgressBar]="false" (success)="onSuccessUploadPicture($event)">
            </xapi-file-upload-component>
        </div>


        <form (ngSubmit)=" onSubmitRegisterForm( $event ) ">

            <mat-form-field class="timezone" appearance="outline" *ngIf=" a.site.teacherTheme ">
                <!-- <mat-label>{{ 'TIMEZONE' | t }}</mat-label> -->
                <mat-select id="timezone" [(ngModel)]="timezoneOffset" name="timezone" placeholder="{{ formatTimeCode(timezoneOffset)}} {{timezones[timezoneOffset]?.name }}">
                    <mat-option *ngFor="let t of keysTimezone()" value="{{ t }}">
                        {{ formatTimeCode(t) }} {{ timezones[t].name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ a.ln.NAME }}</mat-label>
                <input matInput id="name" type="text" name="name" [(ngModel)]="form.name">
            </mat-form-field>

            <mat-form-field class="with-hint" appearance="outline">
                <mat-label>{{ a.ln.NICKNAME }}</mat-label>
                <input matInput id="display_name" type="text" name="display_name" [(ngModel)]="form.display_name">
                <mat-hint> {{ 'NICKNAME DESC' | t }}</mat-hint>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>{{ a.ln.EMAIL }}</mat-label>
                <input matInput type="email" name="email" id="email" [(ngModel)]="form.user_email">
            </mat-form-field>


            <mat-form-field *ngIf="a.isLogout" appearance="outline">
                <mat-label>{{ a.ln.PASSWORD }}</mat-label>
                <input matInput type="password" name="password" id="password" [(ngModel)]="form.user_pass">
            </mat-form-field>


            <div class="container-fluid">
                <div class="row" [class.removed-padding]="!a.site.teacherTheme">
                    <div class="col" *ngIf=" a.site.teacherTheme ">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'BOOKABLE TIME' | t }}</mat-label>
                            <input matInput id="bookable_time" type="number" name="bookable_time" [(ngModel)]="form.bookable_time">
                            <mat-hint> Input minutes to prevent a sudden booking.</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ a.ln.PHONE_NUMBER }}</mat-label>
                            <input matInput id="phone_number" type="text" name="phone_number" [(ngModel)]="form.phone_number">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- for katalkenglish.com site, only katalk is being used. -->
            <mat-form-field class="katalk-id" appearance="outline" *ngIf=" a.site.is.katalkenglish || a.branch.info.class_software == a.classSoftware.kakaotalk ">
                <mat-label>{{ a.ln.KAKAOTALK_ID_SHORT }}</mat-label>
                <input matInput id="class_software_id" type="text" name="class_software_id" [(ngModel)]="form.class_software_id">
                <mat-hint>
                    <a class="hint" (click)=" onClickKakaoIDHelp() ">
                        <span>{{ a.ln['FIND KAKAOTALK ID'] }}</span>
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path>
                        </svg>
                        <br>
                        <div class="important">{{ a.ln.KAKAOTALK_ID_IMPORTANT }}</div>
                    </a>
                </mat-hint>
            </mat-form-field>


            <div class="teacher-class-software-and-id" *ngIf=" a.site.is.ontue ">
                <div>
                    <label>Skype ID</label>
                    <input type="text" name="skype" [(ngModel)]=" form.skype ">
                </div>
                <div>
                    <label>Input Kakaotalk ID</label>
                    <input type="text" name="kakaotalk" [(ngModel)]=" form.kakaotalk ">
                </div>
                <div>
                    <label>Input WeChat ID</label>
                    <input type="text" name="wechat" [(ngModel)]=" form.wechat ">
                </div>
                <div>
                    <label>Input Line ID</label>
                    <input type="text" name="line" [(ngModel)]=" form.line ">
                </div>
                <div>
                    <label>Input QQ ID</label>
                    <input type="text" name="qq" [(ngModel)]=" form.qq ">
                </div>
            </div>


            <div class="student-class-software-id" *ngIf=" a.site.is.englishas ">
                <div *ngIf=" ! show.updateClassSoftware ">
                    <div class="desc-input-skype-id" *ngIf=" myClassSoftware( a.classSoftware.skype ) ">{{ 'INPUT_SKYPE_ID' | t }}</div>
                    <div class="desc-input-kakaotalk-id" *ngIf=" myClassSoftware( a.classSoftware.kakaotalk ) ">{{ 'INPUT_KAKAOTALK_ID' | t }}</div>
                    <div class="desc-input-wechat-id" *ngIf=" myClassSoftware( a.classSoftware.wechat ) ">{{ 'INPUT_WECHAT_ID' | t }}</div>
                    <div class="desc-input-line-id" *ngIf=" myClassSoftware( a.classSoftware.line ) ">{{ 'INPUT_LINE_ID' | t }}</div>
                    <div class="desc-input-qq-id" *ngIf=" myClassSoftware( a.classSoftware.qq ) ">{{ 'INPUT_QQ_ID' | t }}</div>
                    <input type="text" name="class_software_id" [(ngModel)]="form.class_software_id">
                </div>

                <div class="update-class-software">
                    <div class="app-button update-class-software-button" (click)=" onClickUpdateClassSoftware() " *ngIf=" ! show.updateClassSoftware ">
                        Choose another messenger app
                    </div>
                    <div class="select-class-software" *ngIf=" show.updateClassSoftware ">
                        <div>
                            <input type='radio' class="radio-skype" name='class_software' [(ngModel)]="form.class_software" [value]="a.classSoftware.skype"
                                [checked]="form.class_software"> {{ 'SKYPE' | t }}
                            <input type='radio' class="radio-kakaotalk" name='class_software' [(ngModel)]="form.class_software" [value]="a.classSoftware.kakaotalk"
                                [checked]="form.class_software"> {{ 'KAKAOTALK' | t }}
                            <input type='radio' class="radio-wechat" name='class_software' [(ngModel)]="form.class_software" [value]="a.classSoftware.wechat"
                                [checked]="form.class_software"> {{ 'WECHAT' | t }}
                            <input type='radio' class="radio-line" name='class_software' [(ngModel)]="form.class_software" [value]="a.classSoftware.line"
                                [checked]="form.class_software"> {{ 'LINE' | t }}
                            <input type='radio' class="radio-qq" name='class_software' [(ngModel)]="form.class_software" [value]="a.classSoftware.qq"
                                [checked]="form.class_software"> {{ 'QQ' | t }}
                        </div>
                        <div class="input-class-software-id" *ngIf=" form.class_software ">
                            <div>Please Input {{ form.class_software | t }} ID.</div>
                            <div>
                                <input type="text" name="class_software_id" [(ngModel)]="form.class_software_id">
                            </div>
                        </div>
                        <div class="cancel app-button" (click)=" onCancelUpdateClassSoftware() ">
                            Cancel
                        </div>
                    </div>
                </div>
            </div>




            <div class="container-fluid" *ngIf=" a.site.teacherTheme ">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="gender" appearance="outline">
                            <mat-label>{{ a.ln.GENDER }}</mat-label>
                            <input class="removed" type="text" matInput value="dummy">
                            <div class="radio-group">
                                <label>
                                    <input type="radio" name="gender" value="M" [checked]=" form.gender == 'M' " [(ngModel)]="form.gender">Male
                                </label>
                                <label>
                                    <input type="radio" name="gender" value="F" [checked]=" form.gender == 'F' " [(ngModel)]="form.gender">Female
                                </label>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'BIRTHDAY' | t }}</mat-label>
                            <input class="removed" type="text" matInput value="dummy" disabled>

                            <div class="birthday">
                                <label>Month
                                    <select [(ngModel)]="month" name="month">
                                        <option *ngFor="let m of [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{ a.add0(m) }}">
                                            {{ a.add0(m) }}
                                        </option>
                                    </select>
                                </label>

                                <label>{{ 'Day' | t }}
                                    <select [(ngModel)]="day" name="day">
                                        <option *ngFor="let d of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" value="{{ a.add0(d) }}">{{ a.add0(d) }}
                                        </option>
                                    </select>
                                </label>

                                <label>{{ 'Year' | t }}
                                    <select [(ngModel)]="year" name="year">
                                        <option *ngFor="let y of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                                                                                    21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,
                                                                                    41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,
                                                                                    61,62,63,64,65,66,67,68,69,70]" value="{{ year_now - y -17 }}">{{ year_now - y -17 }}
                                        </option>
                                    </select>
                                </label>
                            </div>

                        </mat-form-field>
                    </div>

                </div>
            </div>

            <mat-form-field class="upload-qr" *ngIf=" a.site.teacherTheme " appearance="outline">
                <mat-label>{{qrmarks.length? 'UPDATE': 'UPLOAD'}} Kakaotalk QR MARK</mat-label>

                <label>
                    <div class="qr-image">
                        <svg *ngIf="!qrmarks.length" class="qrmark-icon" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M0 224h192V32H0v192zM32 64h128v128H32V64zm224-32v192h192V32H256zm160 160H288V64h128v128zM0 480h192V288H0v192zm32-160h128v128H32V320zM64 96h64v64H64V96zm320 64h-64V96h64v64zM64 352h64v64H64v-64zm352-64h32v128H320v-32h-32v96h-32V288h96v32h64v-32zm0 160h32v32h-32v-32zm-64 0h32v32h-32v-32z"
                            />
                        </svg>
                        <img class="qrmark-uploaded" *ngIf="qrmarks.length" src="{{qrmarks[0].url}}">
                        <xapi-file-upload-component #QRMARKFileUpload [title]="false" [fileSelectionButton]="true" [files]="qrmarks" [showUploadedFiles]="false"
                            [showProgressBar]="false" (success)="onSuccessUploadQRMark( $event )">
                        </xapi-file-upload-component>
                        <div class="progress-bar" *ngIf="QRMARKFileUpload.progressPercentage > 0">
                            <mat-progress-bar mode="determinate" [value]="QRMARKFileUpload.progressPercentage">
                            </mat-progress-bar>
                            <span>{{ QRMARKFileUpload.progressPercentage}}%</span>
                        </div>
                    </div>
                    <div class="success" *ngIf=" qrmarks.length && form.kakao_qrmark_string != '' ">
                        Your QRMark string: {{ form.kakao_qrmark_string }}
                    </div>

                    <div class="qr-button">
                        <span>Choose File </span>
                    </div>
                </label>


                <input class="removed" type="text" matInput value="dummy">
                <mat-hint>
                    <a class="hint" (click)="showModalFAQ()">
                        <span>QR Mark is required for teacher. How to get QR MARK</span>
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path>
                        </svg>
                    </a>
                </mat-hint>
            </mat-form-field>

            <div class="qr-mark">
                <div class="warning" *ngIf=" form.kakao_qrmark_URL != '' && form.kakao_qrmark_string == ''">
                    <div class="spin">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>
                    There is something wrong in converting Kakao QR Mark into string. If this message does not appear within 10 seconds, please
                    contact to admin.
                </div>
            </div>

            <div class="agree" *ngIf=" a.isLogout ">
                <label>
                    <input type="checkbox" id="agree" name="agree" [(ngModel)]="agree">
                    <span>{{ a.ln.TOC_AGREE }} </span>
                </label>
                <span class="toc" (click)="onClickTermsAndConditions()">{{ a.ln.TOC_TITLE }}</span>
            </div>

            <div>
                <div class="buttons">
                    <button class="submit-button app-button" type="submit">
                        <mat-spinner *ngIf=" show.updateLoader " color="accent" [diameter]="15"></mat-spinner>
                        <span *ngIf=" show.updateLoader ">{{ a.ln.IN_UPDATING_PROFILE }}</span>
                        <ng-container *ngIf="  !show.updateLoader ">
                            <span *ngIf="a.user.isLogout">{{ 'REGISTER_BUTTON' | t }}</span>
                            <span *ngIf="a.user.isLogin">{{ 'UPDATE_PROFILE_BUTTON' | t }}</span>
                        </ng-container>
                    </button>
                    <button class="app-button" [routerLink]="'/'" *ngIf="!a.user.isLogin">{{ 'CANCEL' | t }}</button>
                </div>
            </div>

        </form>
    </section>
</main>