.loader {
    padding: 1em;
}

header {
    padding: 1em;
    background-color: #673ab7;
    color: white;
    h2 {
        margin: 0 !important;
        font-weight: 300 !important;
        font-size: 1.25em;
    }
}

form {
    padding: 2em;
    font-size: 85%;
    &>div {
        display: flex;
        margin-bottom: 1.2em;

        .label {
            padding: 0.5em 0;
            width: 15%;
        }

        .input,.input-group {
            display: flex;
            flex-direction: column;
            padding: .5em 0;
            width: 85%;

            input {
                padding: .5em 0;
            }
        }

        .input-group{
            padding: 0!important;
        }

        #timezone {
            align-self: start;
        }

        #gender-group,
        #birthday-group {
            display: flex;
            flex-direction: row;
        }

        .label-center{
            display: flex;
            align-items:center;
        }

        @media all and (max-width:820px){
            .label {
                width: 40%;
            }

            .input,.input-group,.form-submit-button {
                width: 60%;
            }
        }

    }
}

    .form-submit-button {
        width: 85%;

        button {
            padding: 1em 2em;
            border-radius: 3px;
            background-color: #1515aa;
            color: #fff;
        }
    }

    @media all and (max-width:820px){
        .form-submit-button {
            width: 60%;
        }
    }

    .select-timezone {
        display: flex;
        align-items: center;
    }

    
    .photo-upload {
        position: relative;
        margin: 0 auto;
        width: 140px;
        overflow: hidden;

        .input-box {
            position: absolute;
            top: 0;
            right: 0;
            height: 300px;
            font-size: 300pt;
            opacity: .001;
            cursor: pointer;
            z-index: 100;
        }

        .photo-upload-button {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn{
                display:flex;
                align-items:center;
                margin-top:2em;
                padding: .8em 1em;
                border: 0;
                background-color: #1e90ff;
                color: #fff;
                font-size: .7em;

                ion-icon{
                    margin-right: .8em;
                    font-size: 1.2em;
                }
            }
        }
    }
