<header>
    <h2 *ngIf="a.user.isLogout">{{ 'REGISTER' | t }}</h2>
    <h2 *ngIf="a.user.isLogin">{{ 'UPDATE PROFILE' | t }}</h2>
</header>

<div class="loader">
    <ion-spinner *ngIf=" show.dataLoader "></ion-spinner> {{ 'IN LOADING' | t }}
</div>

<div class="photo-upload" *ngIf=" a.teacherTheme || a.user.isLogin ">
    <input class="input-box" type="file" (change)="fileUpload.onChangeFile($event)">
    <div class="photo-upload-button">
        <div class="photo">
            <img src="{{ userProfilePhoto( files )}}">
        </div>
        <div>
            <button class="" [class.skip]="files && files.length">
                {{ 'PHOTO UPLOAD' | t }}
            </button>
        </div>
    </div>
    <xapi-file-upload-component #profilePhotoUpload [title]="false" [fileSelectionButton]="false" [files]="files" [showUploadedFiles]="false"
    (success)="onSuccessUploadPicture($event)"></xapi-file-upload-component>
</div>


<form (ngSubmit)=" onSubmitRegisterForm( $event ) ">

    <div class="select-timezone" *ngIf=" a.teacherTheme ">
        <label class="label" for="timezone">{{ 'TIMEZONE' | t }}</label>
        <div class="input">
            <select id="timezone" [(ngModel)]="timezoneOffset" name="timezone">
                <option *ngFor="let t of keysTimezone()" value="{{ t }}">{{ formatTimeCode(t) }} {{ timezones[t].name }}</option>
            </select>
        </div>
    </div>

    <div>
        <label class="label" for="email">{{ f.ln.EMAIL }}</label>
        <input class="input" type="email" name="email" id="email" [(ngModel)]="form.user_email">
    </div>

    <div *ngIf="a.isLogout">
        <label class="label" for="password">{{ f.ln.PASSWORD }}</label>
        <input class="input" type="password" name="password" id="password" [(ngModel)]="form.user_pass">
    </div>

    <div>
        <label class="label" for="name">{{ f.ln.NAME }}</label>
        <input class="input" id="name" type="text" name="name" [(ngModel)]="form.name">
    </div>

    <div *ngIf=" a.teacherTheme ">
        <label class="label">{{ f.ln.GENDER }}</label>
        <div id="gender-group" class="input">
            <label>
                <input type="radio" name="gender" value="M" [checked]=" form.gender == 'M' " [(ngModel)]="form.gender"> Male
            </label>
            <label>
                <input type="radio" name="gender" value="F" [checked]=" form.gender == 'F' " [(ngModel)]="form.gender"> Female
            </label>
        </div>
    </div>

    <div *ngIf=" a.teacherTheme ">
        <label class="label">{{ 'BIRTHDAY' | t }}</label>
        <div id="birthday-group" class="input">
            <label class="mr-3">Month
                <select [(ngModel)]="month" name="month" class="py-2">
                    <option *ngFor="let m of [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{ a.add0(m) }}">{{ a.add0(m) }}</option>
                </select>
            </label>
            <label class="mr-3">{{ 'Day' | t }}
                <select [(ngModel)]="day" name="day" class="py-2">
                    <option *ngFor="let d of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" value="{{ a.add0(d) }}">{{ a.add0(d) }}</option>
                </select>
            </label>
            <label class="mr-3">{{ 'Year' | t }}
                <select [(ngModel)]="year" name="year" class="py-2">
                    <option *ngFor="let y of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                                                            21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,
                                                            41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,
                                                            61,62,63,64,65,66,67,68,69,70]" value="{{ year_now - y -17 }}">{{ year_now - y -17 }}</option>
                </select>
            </label>
        </div>
    </div>

    <div>
        <label class="label" for="display_name">{{ f.ln.NICKNAME }}</label>
        <div class="input">
            <input id="display_name" type="text" name="display_name" [(ngModel)]="form.display_name">
            <div class="fs-lg mt-2" text-wrap>
                {{ 'NICKNAME DESC' | t }}
            </div>
        </div>
    </div>

    <div>
        <label class="label" for="phone_number">{{ f.ln.PHONE_NUMBER }}</label>
        <input class="input" id="phone_number" type="text" name="phone_number" [(ngModel)]="form.phone_number">
    </div>

    <div *ngIf=" a.teacherTheme ">
        <label class="label" for="bookable_time">{{ 'BOOKABLE TIME' | t }}</label>
        <div class="input">
            <input id="bookable_time" type="number" name="bookable_time" [(ngModel)]="form.bookable_time">
            <div class="small">Input minutes to prevent a sudden booking.</div>
        </div>
    </div>

    <div>
        <label class="label" for="kakaotalk_id">{{ f.ln.KAKAOTALK_ID_SHORT }}</label>
        <div class="input">
            <input id="kakaotalk_id" type="text" name="kakaotalk_id" [(ngModel)]="form.kakaotalk_id">
            <div class="py-3 fs-lg pointer" (click)=" onClickKakaoIDHelp() ">
                {{ 'FIND KAKAOTALK ID' | t }}
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>

    <div class="kakaotalk-id-find-box" (click)=" showFindKakaotalkIDBox = false " *ngIf=" showFindKakaotalkIDBox ">
        <img src="assets/img/find-kakaotalk-id.jpg">
    </div>

    <div *ngIf=" a.teacherTheme ">
        <div class="label">Upload Kakaotalk QR Mark</div>

        <div class="input qr-mark">
            <xapi-file-upload-component #QRMARKFileUpload [title]="true" [fileSelectionButton]="true" [files]="qrmarks" [showUploadedFiles]="true"
                (success)="onSuccessUploadQRMark( $event )"></xapi-file-upload-component>

            <div class="fs-lg mt-2 pointer" text-wrap (click)="showModalFAQ('qrmark')">
                QR Mark is required for teacher. How to get QR MARK
                <i class="fa fa-question-circle"></i>
            </div>

            <div class="alert alert-success" *ngIf=" qrmarks.length && form.kakao_qrmark_string != '' ">
                QR Mark is successfully uploaded. Your QR Mark string: {{ form.kakao_qrmark_string }} ( {{ form.kakao_qrmark_URL }} )
            </div>

            <div class="alert alert-warning" *ngIf=" form.kakao_qrmark_URL != '' && form.kakao_qrmark_string == '' ">
                <i class="fas fa-spinner fa-spin"></i>
                There is something wrong in converting Kakao QR Mark into string. If this message does not appear within 10 seconds, please
                contact to admin.
            </div>

        </div>
    </div>

    <div>
        <label class="label"></label>
        <div class="form-submit-button">
            <button type="submit" *ngIf="a.user.isLogout">{{ 'REGISTER BUTTON' | t }}</button>
            <button type="submit" *ngIf="a.user.isLogin">{{ 'UPDATE PROFILE BUTTON' | t }}</button>
            <button [routerLink]="'/'" *ngIf="a.user.isLogin">{{ 'CANCEL' | t }}</button>
        </div>
    </div>
</form>