<h3>가맹사 등록</h3>

<p>위세너 화상영어 프랜차이즈 가맹사 등록은 너무 간단합니다.</p>


<div class="info" (click)="show.howtoApply = true">
    <button  *ngIf=" ! show.howtoApply ">설명 더 보기</button>
    <div *ngIf=" show.howtoApply ">
        가맹사는 창업을 위해서 단 돈 1원도 쓸 필요가 없으며 창업 방법이 너무 쉬워 따로 설명이나 상담을 하지 않습니다.
        가맹사 등록 후, 관리자 페이지에서 본사와 상담을 할 수 있는 연락처가 제공됩니다.
        그리고 가맹사 관리자 페이지에서 회사 정보나 로고 등 자세한 정보를 입력 할 수 있습니다.
    </div>
</div>


<h4>가맹사 정보 입력</h4>
간략히 아래의 정보를 입력하시면 가맹사 홈페이지가 분양되며,
가맹사 관리자 페이지에서 회사 정보와 같은 추가적인 정보를 입력 하실 수 있습니다.
<form id="company-info" (ngSubmit)="onSubmitApply( $event )">
        <div>
            <label>Email</label>
            <input name="user_email" type="email" [(ngModel)]="form.user_email">
        </div>
        <div>
            <label>Password</label>
            <input name="user_pass" type="password" [(ngModel)]="form.user_pass">
        </div>
        <div>
            <label>창업자 명</label>
            <input name="name" type="text" [(ngModel)]="form.name">
        </div>
    <div>
        <label>전화번호</label>
        <input name="phone_number" type="text" [(ngModel)]="form.phone_number">
    </div>
    <div class="domain">

        <div class="title">Domain</div>
        <div class="input">
                <span>https://</span>
                <span><input name="sub_domain" type="text" [(ngModel)]="form.domain"></span>
                <span>.katalkenglish.com</span>
        </div>
        <span class="foot-note">If you have your own domain, you can update your own domain on branch dash board.</span>
    </div>

    <label class="toc">
        <input type="checkbox"> 
        프랜차이즈 가맹사 가입 약관 동의하기
    </label>

    <span class="submit">
        <button type="submit">위세너 프랜차이즈 가맹사로 가입하기</button>
    </span>
</form>

<div class="more">
    <button class="button" (click)=" show.company = true " *ngIf=" ! show.company ">추가 설명 보기</button>
    <div *ngIf=" show.company ">
        참고로 사업자 등록과 통신판매업 신고 번호는 누구나 쉽게 취득 할 수 있습니다. 개인의 경우, 세무서에 가서 그냥 집 주소로 전화영어, 화상영어, 온라인영어와 같이 등록을 해 달라고 하시면됩니다. 그리고 통신판매업 신고를
        어디서 하는지 물어보시면됩니다. 통신판매업신고를 하실 때, 서버와 도메인이 아직 없는 상태이므로 나중에 따로 등록을 한다고 말씀을 하시면됩니다. 만약 통신판매신고를 할 때, 서버 도메인과 소재지를 묻는다면 아래의
        도메인을 입력하시고, SSL 및 호스팅 비용을 납부하시면, 가맹사 매니저 페이지에서 확인을 할 수 있습니다. 그 정보로 다시 신고 하시면 됩니다.
    
        도메인은 홈페이지 주소입니다. 직접 구매한 도메인을 입력하신 경우, 평일 기준 약 24시간이 걸립니다.
        가맹사가 직접 도메인을 www.hosting.kr 에서 1년 1만원에 구매하신 다음 본사로 알려주시면 됩니다.
    </div>
</div>


<div class="ssl">
    <h4>도메인 및 SSL, 호스팅 비용</h4>

    <p>도메인(서브 도메인) 및 SSL, 호스팅 등은 본사에서 무료로 해 드립니다. ( 단, 독립 도메인은 직접 구매 해야 합니다. )</p>
</div>


<h3>가맹사 매니저 페이지</h3>


가맹사 매니저로 로그인을 하면 메뉴에 '메니저 페이지' 라고 보일 것입니다 그것을 클릭하면 관리자 화면을 볼 수 있습니다. 회사 정보 및 홈페이지 로고, 카피라이트 정보 등을 변경 하실 수 있습니다. 회원 정보와 수업
시간표를 확인 할 수 있으며, 회원의 전화번호, 카톡 등을 이용해 회원에게 직접 연락 할 수도 있습니다. 그리고 카톡 플러스 친구를 만들거나 카톡 QR 코드를 등록하시면 카톡으로 상담을 할 수 있습니다.


<h3>학생 모집하기</h3>

가맹사 매니저 페이지에서 기본적인 설정이 끝났으면 학생을 모집하면 됩니다. 블로그, 카페 등을 통해서나 주위 지인을 통해서 학생을 홈페이지에 회원 가입하도록 하고, 카톡 아이디를 입력 한 다음, 무료 체험을 수업을 하면
됩니다. 무료 체험 수업을 할 때, 학생이 잘 하고 있는지 지켜보거나 무료 체험 상황을 수시로 확인 할 필요가 있습니다. 무료 체험 수업이 잘 끝났으면 학생에게 수업료 결제 할 것을 유도하면 됩니다. 이제 부터 사업을
시작하시면 됩니다.


<h3>본사로 연락하기</h3>
궁금하신 점이 있으면 thruthesky@gmail.com 으로 제목 "위세너 프랜차이즈 화상영어 창업 상담" 와 같이 메일을 보내주시면 됩니다.


<h3>기타</h3>
월 수익 $300 이상이 발생하는 가맹사는 의무적으로 독립도메인을 사용해야하며, 사업자 등록을 하고, 통신판매업신고를 한 다음, 그 서류를 홈페이지에 등록하셔야 합니다.
가맹사 매니저 페이지에서 가맹사 정보를 수정 할 수 있으며, 수익을 분배 받을 페이팔 계정을 입력하실 수 있습니다.
