@import './../../../../../theme/vars';
h3{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0E51A7;
}
.info{
    padding: 1em 2em;
    border-radius: 2px;
    border: 1px solid #FEC800;
    background: rgba(#FEC800,0.2);
    line-height: 1.6em;
    font-size: .9em;

    button{
        border: none;
        background: none;
        color: #0A3F82;
        text-decoration: underline
    }
}
.company-info-wrapper{
    overflow: scroll;
}
#company-info{
    margin: 1em 0;
    padding: 1.5em;
    @media(min-width:$md) {
        padding: 2em;
    }
    border-radius: 2px;
    border: 1px solid rgba(125,125,125,0.4);
    // min-width: 550px;
    .domain{
        font-size: .9em;
        color: #EF6C00;
        .title{
            padding-bottom: 1em;
            text-align: left;
            color: #0E51A7;
        }

        .input{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: .9em;
            @media(min-width:$md) {
                font-size: 1.8em;
                justify-content: center;
            }

            input{
                margin: 0 .5em;
                width: 111px;
                text-align: center;
                color: #EF6C00;
                @media(min-width:$md) {
                    width: 370px;
                    padding: .25em;
                }
            }
        }
    }

    .foot-note{
        display:block;
        text-align: center;
        padding: 1em 0;
        font-size: .8em;
        @media(min-width:$md) {
            font-size: .9em;
        }
        color: #0E51A7;
    }

    &>div{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        label{
            font-size: .85em;
            margin-bottom: .3em;
            margin-left: .2em;
            color: #0E51A7;
        }
        input{
            padding: .75em;
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.4);
            background: rgba(125,125,125,0.1);
            font-size: 1em;
            &:focus{
                background: #fff;
            }
        }
    }
    .toc{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em 0;
        font-size: .8em;
        cursor: pointer;
    }
    .submit{
        padding: 1em 0;
        display: flex;
        justify-content: center;
        button{
            display: inline-block;
            padding: 1em 2em;
            border-radius: 2px;
            border:none;
            background: #0A3F82;
            color: #fff;
            cursor: pointer;
        }
    }
    
}

.ssl{
    h4{
        color: #00A57C
    }
    margin-top: 1em;
    padding: 1em 2em;
    background:#eee
}

.more{
    text-align: center;
    .button {
        padding: 1em;
        border: 0;  
        font-size: 11pt;
        background: none;
        color: #0A3F82;
        text-decoration: underline;
    }

    div,{
        padding: 1em;
        border: 1px solid #FEC800;
        background: rgba(#FEC800,0.2);
        line-height: 1.6em;
        font-size: .9em;
        text-align: left;
    }
}
