h3{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0E51A7;
}
.info{
    padding: 1em;
    border-radius: 2px;
    border: 1px solid #FEC800;
    background: rgba(#FEC800,0.2);
    line-height: 1.6em;
    font-size: .9em;

    button{
        border: none;
        background: none;
        color: #377dff
    }
}
#company-info{
    &>div{
        display: flex;
        flex-direction: column;
        margin-top: 1em;

        input{
            padding: .75em;
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.3);
            font-size: .9em;
        }

        .notice{
            color: #b71c1c;
        }

        label{
            padding-left: .3em;
            margin-bottom: .3em;
        }
    }

    .toc{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        font-size: .8em;
        cursor: pointer;
    }
    .submit{
        padding: 1em 0;
        display: flex;
        justify-content: center;
        button{
            display: inline-block;
            padding: 1em 2em;
            border-radius: 2px;
            border:none;
            background: darkblue;
            color: #fff;
            cursor: pointer;
        }
    }
}