@import '../../../theme/vars';
main{
    background: #fff;
}

header{
    display: flex;
    flex-direction:column;
    align-items: stretch;
    color: #fff;

    @media screen and (min-width:$md){
        flex-direction: row;
        justify-content: space-between;
    }
    
    &>div{
        display: flex;
        align-items: stretch;

        a{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0 1em 2em 2.5em;
            white-space: nowrap;
            @media screen and (min-width:$md){
                padding: 0 2.5em;
                margin-top: 0;
            }
            font-size: 80%;
            cursor: pointer;
            
            &:first-child{
                margin-right: 1em;
            }
        }
    }
}


.teacher-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    .teacher-photo{
        width: 100px!important;
        height: 120px!important;
        border-radius: 2px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }

    .teacher-name{
        display: flex;
        align-items: center;
        margin-top: 1em;
        color: dodgerblue;
    }

}

.icon{
    height: 1em;
    margin-right: .3em;
}


.hide-sm{
    @media screen and (max-width:768px){
        display: none;
    }
}

.extra{
    margin: 1.5em 0;
    font-size: 80%;

    b{
        color: #FF7B0D;
    }
}

.average{
    margin: 1.5em 0;

    span{
        color: #FF7B0D;
    }
}

.comment{
    margin-top: 5em;
    @media screen and (max-width:768px){
        margin-top: 3em;
    }

    .row{
        justify-content: center;
    }

    .student-photo,.student-photo-sm{
        width: 100px!important;
        height: 100px!important;
        border-radius: 50%;
        overflow: hidden;

        img{
            max-width: 100%;
        }
    }

    .student-photo-sm{
        margin-bottom: 1em;
        @media screen and (min-width:768px){
            display: none;
        }
    }

    .info-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width:768px){
            align-items: center;
        }
    }

    .student-info{
        display: flex;
        align-items: center;
        line-height: 1.6em;

        @media screen and (max-width:768px) {
            flex-direction: column;

            &>div{
                margin: 0!important;
            }
        }

        &>div{
            margin-right: 2em;
        }

        .student-name{
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .rating{
            color:#FF7B0D;
        }
    }

    .description{
        padding: 1em;
        line-height: 180%;
        background-color: #f3f3f3;

        span{
            margin-right: 2em;
            cursor: pointer;
        }
    }
}

.bottom-back-button{
    padding: 5em;
    padding-bottom: 6em;
    text-align: center;
    cursor: pointer;

}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    
    mat-spinner{
    margin: .5em;
    }
}
.page-nav{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.error{
    text-align: center;
    margin: 3em;
    color: red;
}


