<main>
    <header class="global-header">
        <h1>English Curriculumn</h1>
    </header>
    <section class="content">
        <h2>Welcome Teachers</h2>

        <p>
            OnTue has Homebase English Teacher all over the world
            early impossible to have an orientation for each teacher with the curriculum.
            So, we ask teachers to view this page and learn what are our curriculumns and how to do it.
        </p>
        
        <h3>We have only three official curriculum's.</h3>

        <h4>1. Level Test.</h4>
        <p>If you have a free class. That's the level test class.
            We want teachers follow this step.
        </p>

        <p>
            A) Teachers will greet student like 'Hi. How are you? I am ( Your Name )'.
            When a teacher greets, the teacher can quickly gain on the level of student's English.
            For instance, student don't say anything, or student just reply with 'hi' and don't say anything.
            Teacher can continue asking, student name, age, nationality, where he live, what he does.
            But not too long. Greeting should be less than 1 minutes.
        </p>

        <p class="reminder">The goal of greeting is to choose what would be the next step.</p>
            
        <p>If the student can speak at all or very clumsy, then do level test with easy one. If the student is fluent in English, do level test with some more high level.</p>

        <p>
            B) Teachers should prepare two kinds of level tests.
            One of beginners.
            One of Advanced.
        </p>

        <p> Based on the greetings, teacher will choose on of the level tests.</p>

        <p>
            Level test itself should not take too long. It should be less than 5 or 6 minutes.

            Teachers can ask student to read very short sentence and let them find answers.
        </p>
            

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4>2. Let's Go 4th Edition.</h4>
                <div class="books">
                    <div><img src="assets/img/books/letsgo-1.jpg"></div>
                    <div><img src="assets/img/books/letsgo-2.jpg"></div>
                    <div><img src="assets/img/books/letsgo-3.jpg"></div>
                </div>
                <p>This is for children and below 14 years old.</p>
            </div>
            <div class="col-12">
                <h4>3. Side By Side 3rd Edition.</h4>
                    <div class="books">
                        <div><img src="assets/img/books/sidebyside-1.jpg"></div>
                        <div><img src="assets/img/books/sidebyside-2.jpg"></div>
                        <div><img src="assets/img/books/sidebyside-3.jpg"></div>
                    </div>
                <p>This is for 12 years old and above.</p>
            </div>
        </div>
    </div>



        <p class="reminder"> Please be reminded that you can teach with your own materials or if students want to use their books, then you can ask student to send you copy of their books.</p>

        <p>There are lots of free English books and materials. For instance, Internet book search.</p>
        
        <div class="book-sample">
            <a href='https://www.pdfdrive.net/search?q=english+learning+books&pagecount=any&sortby=&searchin=&r=1' target='_blank'>1, </a>
            <a href='https://www.pdfdrive.net/search?q=learn+english+for+children&pagecount=&sortby=&searchin=&r=1' target='_blank'>2, </a>
            <a href='https://www.pdfdrive.net/search?q=learn+english+as+a+foreign+language&pagecount=any&sortby=&searchin=&r=1'>3, </a>
    
            <a href="http://freebooks123.info/" target="_blank">Freebooks, </a>
            
            <a href="https://www.bloomsbury-international.com/en/student-ezone/e-book.html" target="_blank">Boolmsbury ebooks. </a>
        </div>
    </section>
</main>