@import './../../../../../theme/vars';
main{
  background: #fff;
  padding-bottom: 3em;
  .content{
    margin: auto;
    width: 85%;
    font-weight: 300;
    line-height: 1.5em;
    @media screen and (min-width:$md){
      width: 70%; 
      font-size: 1.1em;
    }

    h2{
      margin-top: 1.2em;
      margin-bottom: .8em;
      font-size: 1.5em;
      font-weight: 500;
      text-align: center;
    }

    h4{
      margin-bottom: 0;
      @media screen and (min-width:$md){
        margin-bottom: 1em;
      }
    }

    .reminder{
      color: red;
    }

    .book-sample{
      padding: 2em;
      text-align: center;

      a{
        padding:.4em .1em;
        color: blue;
      }
    }
  }

  
  
  .books {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding:.5em;
      background: white;
      &>div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 133px;
        width: 103px;
        @media screen and (min-width:$md){
          height: 200px;
          width: 165px;
        }
        overflow: hidden;
        margin: 0 0.25em;
  
        img{
          width: 100%;
  
          @media screen and (min-width:$md){
           height: 100%;
           width: auto;
          }
        }
      }
    }
}
