header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: dodgerblue;
    color: white;

    @media screen and (max-width:768px){
        flex-direction:column;
        align-items: flex-start;
        font-size: 80%;
    }

    &>div{
        display: flex;
        align-items: center;
    }
    span{
        display: flex;
        align-items: center;
        padding: 1em;
        cursor: pointer;

        &:first-child{
            margin-right: 2em;
        }

        &:last-child{
            @media screen and (min-width:768px){
                padding-right: 3em;
            }
        }
    }

    h1{
        margin: 0;
        margin-left: 2em;

        @media screen and (max-width:768px){
            margin-left: 1em;
            margin-top:.5em;
        }
    }

    .icon{
        height: 1em;
        margin-right: .3em;
    }
}


.header-padding-on{
    padding: 1em 1.5em;
}

main{
    background: white;
    padding-bottom: 7em;
    text-align: center;


    .rating{
        padding: 3em;

        .star{
            height: 3em;
        }

        .rate{
            margin: 1em;
            font-size: 130%;
        }

        mat-form-field{
            width:40px;
        }
 
    }


    .text{
        
        textarea{
            padding: 2em;
            width: 70%;
            border: 1px solid #d3d3d3;
            font-size: .9em;
        }

        div{
            margin:2em;
        }
    }

    .buttons{
        button{
            padding: 1em 2em;
            border:none;
            border-radius: 2px;
            cursor: pointer;
        }

        .submit{
            margin-right: 1em;
            background: dodgerblue;
            color:white;
        }

        .cancel{
            background: #d3d3d3;
            color: red;
        }
    }
}