@import '../../../theme/vars';
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: dodgerblue;
    color: white;

    @media screen and (max-width:$md){
        flex-direction:column;
        align-items: flex-start;
        font-size: 80%;
    }

    &>div{
        display: flex;
        align-items: center;
    }
    span{
        display: flex;
        align-items: center;
        padding: 1em;
        cursor: pointer;

        &:first-child{
            margin-right: 2em;
        }

        &:last-child{
            @media screen and (min-width:$md){
                padding-right: 3em;
            }
        }
    }

    h1{
        margin: 0;
        margin-left: 2em;

        @media screen and (max-width:$md){
            margin-left: 1em;
            margin-top:.5em;
        }
    }

    .icon{
        height: 1em;
        margin-right: .3em;
    }
}


.header-padding-on{
    padding: 1em 1.5em;
}

main{
    background: white;
    padding-bottom: 7em;
    text-align: center;
    .loader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        mat-spinner{
        margin: .5em;
        }
    }
    .assesment{
        padding: 3em;

        @media screen and (max-width:$sm){
            padding:1em;
            padding-top: 2em;
        }


        .star{
            margin: 1em;
            margin-bottom: 2em;
            svg{
                height: 3em;
                margin-right: .5em;
            }

        }

        mat-form-field{
            width: 80%;
        }

 
    }

    .spin{
        display: flex;
        align-items: center;
        mat-spinner{
            margin-right: .5em;
        }
    }
    .buttons{
        display: flex;
        justify-content: center;
        button{
            padding: 1em 2em;
            border:none;
            border-radius: 2px;
            cursor: pointer;
        }

        .submit{
            margin-right: 1em;
            background: dodgerblue;
            color:white;
        }

        .cancel{
            background: #d3d3d3;
            color: red;
        }
    }
}