<h1>Admin Promo Message</h1>


<ol>
    <li>
        Admin can send messages to students on behalf of teacher's name.
    </li>
    <li>
        There template tags are mandatory. These template can be used in title and content. They can be used muliple times.
<br>
        '#studentName', '#teacherName', '#kakaotalkID'
        
        Optionally, teachers can add '#skypeID', '#wechatID', '#stars'
    </li>
</ol>


<form>
    <div>
        Select Teacher:
        <select name="teacher" [(ngModel)]=" form.teacher ">
            <option value=''>Select One Teacher</option>
            <option *ngFor="let teacher of teachers" value="{{ teacher.ID }}">{{ teacher.display_name }}</option>
        </select>
    </div>
    <div>

            Select students:
            <select name="students" [(ngModel)]=" form.student ">
                <option value="all">All students</option>
                <option value="test">Test students only</option>
            </select>
    </div>
    <div>
        Message content template:<br>
<textarea name="template" [(ngModel)]=" form.template "></textarea>
    </div>
    <div>
        <button type="submit" (click)="onClickSendButton();">Send Message To Students</button>
    </div>
</form>