
mat-form-field{
    width: 100%;
    textarea[name='template'] {
        font-size: 1.1em;
        height: 13em;
        width: 100%;
    }
}
.desc{
    margin-bottom: 1.5em;
    padding: 1em;
    background: #eee;
    font-size: .9em;
    .title{
        margin: 0 5px;
        margin-top: .5em;
    }
    .content{
        margin-top: 1em;
        padding: 1.5em 2em;
        background: #fff;
        b{
            color: darkred
        }
        div:first-child{
            margin-bottom: 1em;
            font-size: .9em;
            color: dimgray;
        }
    }
}

.text-area{
    div{
        margin-bottom: .5em;
    }
    textarea{
        padding: 1.25em;
        line-height: 1.5em;
    }
}
    .container-fluid{
        margin-bottom: 1em;
    }

.submit-button{
    text-align: center;
    button{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     margin: 1em;
     padding: .75em 1.5em;
     border-radius: 2px;
     border:0;
     background: darkblue;
     color: #fff;   
    }
    svg{
        position: relative;
        top: .125em;
        margin-left: .4em;
        height: 1.25em;
        width: 1.25em;
    }
}