<div class="m-0 mt-5 bg-white">
    <div class="px-md-5 bg-blue-60 white">
        <h2  class="title-style  d-md-inline-block ml-md-5 ml-0  my-0 p-5 fs-3rem  bg-blue fw-light"
              color="white" text-md-left text-center>
            Teacher Grading System
        </h2>
    </div>
    <div class="container-fluid outline-effect p-5">
        <div class="row mb-5 mt-md-4 mt-0 px-5">
            <div class="mt-5 pr-md-5 col-md-6 col-12">
                <div class="d-flex-column justify-content-between mr-md-5 h-100">
                    <div class="h-100 text-center">
                        <h3 class="mt-1 fw-bold fs-3rem"  color="blue">Grade 1</h3>
                        <p class="m-0 pb-5 pt-2 line-h-1-8em fs-110 fw-light text-left"
                           text-md-left text-center>
                            Having only good english teaching skill does not help to earn grade.
                        </p>
                        <div class="mt-md-3 fs-3rem">
                            <i  class="fas fa-star" ></i>
                            <i  class="fal fa-star" ></i>
                            <i  class="fal fa-star" ></i>
                            <i  class="fal fa-star" ></i>
                            <i  class="fal fa-star" ></i>
                        </div>
                    </div>
                    <div class="text-center" (click)="a.open('ontue-grade-condition', {grade: 1})">
                        <button class="mt-md-3 mt-5" color="blue" ion-button>Learn More
                            <i class="fal fa-angle-double-right ml-3 fs-110"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid-order-first mt-5 pl-md-5 border border-right-0 border-top-0 border-bottom-0 border-sm-0 col-md-6 col-12">
                <div class="ml-md-5">
                    <img class="rounded-2" src="../assets/img/teacher/1.jpg">
                </div>
            </div>
        </div>
        <div class="row mb-5 mt-4 px-5 py-3">
            <div class="mt-5 pr-md-5 border border-left-0 border-top-0 border-bottom-0 border-sm-0 col-md-6 col-12">
                <div class="mr-md-5">
                    <img class="rounded-2" src="../assets/img/teacher/2.jpg">
                </div>
            </div>
            <div class="mt-5 pl-md-5 col-md-6 col-12">
                <div class="d-flex-column justify-content-between ml-md-5 h-100">
                    <div class="text-center">
                        <h3 class="mt-1 fw-bold fs-3rem text-md-left text-center"  color="blue" >Grade 2</h3>
                        <p class="m-0 pt-2 pb-5 line-h-1-8em fs-110 fw-light text-left text-md-left text-center">
                            Communication comes first then the teaching comes next.
                        </p>
                        <div class="mt-3 fs-3rem">
                            <i  class="fas fa-star">*</i>
                            <i  class="fas fa-star">*</i>
                            <i  class="fal fa-star">*</i>
                            <i  class="fal fa-star">*</i>
                            <i  class="fal fa-star">*</i>
                        </div>
                    </div>
                    <div class="text-center" (click)="a.open('ontue-grade-condition', {grade: 2})">
                        <button class="mt-md-3 mt-5" color="blue">Learn More
                            <i class="fal fa-angle-double-right ml-3 fs-110"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5 mt-4 px-5 pt-3 pb-5">
            <div class="mt-5 pr-md-5 col-md-6 col-12">
                <div class="d-flex-column justify-content-between mr-md-5 h-100">
                    <div class="text-center">
                        <h3 class="mt-1 fw-bold fs-3rem text-md-left text-center"  color="blue"  >Grade 3</h3>
                        <p class="m-0 pt-2 pb-5 line-h-1-8em fs-110 fw-light text-left text-md-left text-center">
                            Must have a Consistent Reservation and Popular to Students
                        </p>
                        <div class="mt-3 fs-3rem">
                            <i  class="fas fa-star" ></i>
                            <i  class="fas fa-star" ></i>
                            <i  class="fas fa-star" ></i>
                            <i  class="fal fa-star" ></i>
                            <i  class="fal fa-star" ></i>
                        </div>
                    </div>
                    <div class="text-center" (click)="a.open('ontue-grade-condition', {grade: 3})">
                        <button class="mt-md-3 mt-5" color="blue" ion-button>Learn More
                            <i class="fal fa-angle-double-right ml-3 fs-110"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid-order-first mt-5 pl-md-5 border border-right-0 border-top-0 border-bottom-0 border-sm-0 col-md-6 col-12">
                <div class="ml-md-5">
                    <img class="rounded-2" src="../assets/img/teacher/3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
