<div class="bg-secondary" *ngIf=" ! isAdminPage ">
    OnTue Menu
    <button routerLink="/teacher">HOME</button>
    <button routerLink="/teacher/help">Help</button>
    <button routerLink="/register" *ngIf=" a.isLogout ">Register</button>
    <button routerLink="/profile" *ngIf=" a.isLogin ">Profile</button>
    <button routerLink="/login" *ngIf=" a.isLogout ">Login</button>
    <button (click)=" a.logout({open: '/'}) " *ngIf=" a.isLogin ">Log out</button>
    <button routerLink="/forum">Forum</button>
    <button routerLink="/category">Category</button>
    <button routerLink="/admin" *ngIf=" a.isManager ">Admin Page</button>
    <button routerLink="/teacher-list">Teacher List</button>
    <button routerLink="/dayoff">Dayoff</button>
    <button routerLink="/payment-information">Payment Information</button>
    <button routerLink="/settings">settings</button>
</div>


