#ontue-header{
    font-family: sans-serif!important;

    .container-fluid{
        box-sizing: border-box;
    }

    .buttons{
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:992px){
            display: none;
        }

        &-sm{
            display: none;
            text-align: center;

            @media screen and (max-width:992px){
                display: block;
            }
        }

        button{
            transition: all 0.1s ease-in-out;

            &:hover{
                opacity: 0.7;
            }
        }
    }

    button,.logo{
        padding: 0 .8em;
        height: 56px;
        border:none;
        background:none;
        color: #fff;
        font-size:1rem;
        font-weight: 300;
        cursor: pointer;

    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ion-icon{
            padding-left: 2em;
            font-size: 2.25em;
        }

        button{
            padding: 0;
        }
    }

    .logo{
        display: flex;
        align-items: center;
        padding: 0;
        font-size: 1.25em;
        cursor: pointer;
        
        svg{
            padding: .3em;
            margin-right: .4em;
            height: 1.8em;
            min-width: 2em!important;
            border:1px solid white;
            border-radius: 2px;
        }
    }


}