@import '../../../../../theme/vars.scss';
#ontue-header{
    font-family: sans-serif!important;

    .container-fluid{
        box-sizing: border-box;
    }

    .buttons{
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:$md){
            display: none;
        }

        &-sm{
            display: none;
            text-align: center;

            @media screen and (max-width:$md){
                display: block;
            }
        }

    }


    a{  
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease-in-out;
        text-decoration: none;

        &:hover{
            opacity: 0.7;
        }
    }

    a,.logo{
        padding: 0 1.4em;
        height: 56px!important;
        border:none;
        background:none;
        color: #fff;
        font-size:.9em;
        font-weight: 300;
        cursor: pointer;

    }


    .menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ion-icon{
            padding-left: 2em;
            font-size: 2.25em;
        }

        a{
            padding: 0!important;
        }
    }

    .logo{
        display: flex;
        align-items: center;
        padding: 0;
        font-size: 1.25em;
        cursor: pointer;
        
        svg{
            padding: .3em;
            margin-right: .4em;
            height: 1.8em;
            min-width: 2em!important;
            border:1px solid white;
            border-radius: 2px;
        }
    }


}