aside {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 390px;
    padding: 1em;
    background-color: antiquewhite;
    font-size: .8rem;
    h2 {
        margin: 0;
        padding: 0;
        font-size: .9rem;
        font-weight: bold;
    }

    .session {
        .grade {
            display: inline-block;
            padding: .1em .25em;
            border-radius: 2px;
            background-color: black;
            color: white;
        }
        .reserved {
            margin-left: .25em;
            padding: .1em .25em;
            background-color: burlywood;
        }
        .past {
            margin-left: .25em;
            margin-right: .5em;
            padding: .1em .25em;
            background-color: #eee;
        }
    }

    .teacher-sessions {
        .teacher {
            display: inline-block;
            margin: .4em .25em .4em 0;
        }
        .name {
            margin-right: .15em;
            padding: .25em;
            border-radius: 2px;
            background-color: white;
        }
        .reserved {
            margin-right: .15em;
            padding: .25em;
            border-radius: 2px;
            background-color: rgb(97, 65, 65);
            color: white;
        }
    }
}
