<section>
    <nav>
        <ion-button routerLink="/">Home</ion-button>
        <ion-button routerLink="/admin">Admin Page</ion-button>
        <ion-button routerLink="point-refund">Point Refund</ion-button>
        <ion-button routerLink="point-history">Point History</ion-button>
        <ion-button routerLink="payment">Payment</ion-button>

        <button routerLink="/install">
            <span>Install</span>
        </button>

        <button routerLink="/category">
            <span>Category</span>
        </button>
    </nav>
</section>
