<section>
    <nav class="app-buttons">
        <button routerLink="/">Home</button>
        <button routerLink="/admin">Admin Page</button>
        <button routerLink="/admin/point-refund">Point Refund</button>
        <button routerLink="/admin/point-history">Point History</button>

        <button routerLink="/admin/user">User</button>
        <button>Session</button>
        <button routerLink="payment">Payment</button>

        <!-- <button routerLink="/install">
            <span>Install</span>
        </button>

        <button routerLink="/category">
            <span>Category</span>
        </button> -->
    </nav>
</section>
