@import '../../../theme/vars.scss';

/* global */
header{
    h1{
        padding: 16px!important;
    }
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 300;
    padding: .4em;
    border-radius: 2px;
    background: #FF7B0D;
    color: #fff;
    font-size: 1rem;
}
.container-fluid{
    @media (min-width:$md) {
        &>.row{
            &>div{
                padding: 0;
            }
            &>div:first-child{
                padding-right: .5em;
            }
            &>div:last-child{
                padding-left: .5em;
            }
        }   
    }
}
textarea{
    padding: .75em 1em;
    width: 100%;
    height: 70px;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid rgba(125,125,125,0.4);
}


/* components */
.buttons{
    text-align: center;
    button[data-button]{
        display: inline-flex;
        align-items: center;
        margin:.5em 1em;
        padding: .5em 1em;
        border-radius: 2px;
        border: 1px solid rgba(125,125,125,0.2);
        color: #fff;
    }
}
.button-with-icon{
    display: inline-block;
    padding: .5em;
    border-radius: 2px;
    background: #1B4AB5;
    color: #fff;
    cursor: pointer;
    svg{
        position: relative;
        top: .125em;
        height: 1em;
        width: 1em;
        margin-right: .3em;
    }
}
.profile-card{
    display: flex;
    margin-bottom: 1.25rem;
    .profile-card-leftside{
        .profile-card-photo{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            height: 90px;
            width: 90px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
    .profile-card-rightside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 100%;
        padding-left: 1em;
        .card-title{
            display: flex;
            justify-content: space-between;
            margin-bottom: .5em;
            font-weight: 300;
            &>*:last-child{
                margin-left: .5em;
            }
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 100%;
        }
    }
}
.panel{
    border-radius: 2px;
    border: 1px solid rgba(125,125,125,0.2);
    &>*{
        padding: .5em 1em;
    }
    .panel-title{
        background: #eee;
    }
    .panel-content{
        background: #fff;
        overflow: auto;
    }
}
.loader{
    font-size: .8em
}
.saved {
    font-size: .85em;
    color: darkgreen
}
.note{
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 2px;
    background: rgba(#B1C5F4,0.4);
    line-height: 1.5rem;
    font-size: .85rem;
    &>*{
        margin: .5rem 0;
    }
    &>*:first-child{
        color: #1B4AB5;
        svg{
            position: relative;
            top: .18em;
            height: 1.2em;
            width: 1.2em;
            margin-right: .3em;
        }
    }
}


/* layout */
.top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
    padding-bottom: 0;
    margin-bottom: 2rem;
    @media (min-width:$md) {
        margin-bottom: 1rem;
        padding-left: 1px;
        padding-right: 1px;
        justify-content: space-between;
    }

    /*
     * flex arrangement using 'order' 
     * ( Lower value will be first )
     */

    //arrangement in mobile view 
    #my-page-profile{
        order: 1;
        flex: 100%;
        @media (min-width:$md) {
            flex: unset
        }
    }
    #next-class{ 
        order:2;
        flex:100%;
        @media (min-width:$md) {
            flex: unset
        }
    }
    #my-level{ 
        order: 3
    }
    #student-session-stats{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        order: 4
    }

    //arrangement in deskop view
    @media (min-width:$md){
        #next-class{ 
            order: 3
        }
        #my-level{ 
            order: 2
        }   
    }
    /** End of Flex arrangement **/
}


/* specifics */
    .page-content{
        padding-bottom: 5em;
        .page-description{
            padding: .75em 16px;
            font-size: .8em;
            background: #B1C5F4;
        }
    }
    #my-page-profile,
    #next-class{
        @media (min-width:$md) {
            margin: 0;
        }
        .panel{
            &>*{
                padding: .4em .75em;
            }
        }
        .profile-card-rightside{
            font-size: .85rem;
            .card-body{
                .panel{
                    font-size: .8rem;
                    .panel-content{
                        display: flex;
                        align-items: center;
                        font-size: .75rem; 
                    }
                }
            }
        }
    }
   #my-page-profile {
        .button-with-icon{
            margin-top: .3em;
            width: 90px;
            font-size: .65em;
        }
        .panel-content{
            img {
                position: relative;
                top:.1em;
                width: 1.25em;
                height: 1.25em;
                margin-right: .3em;
                white-space: nowrap
            }  
        }
    }
    #next-class {
        .profile-card-photo{
            @media (min-width:$md) {
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }
        }
        #class-info{
            svg{
                position: relative;
                top: .1em;
                height: .75rem;
                width: .75rem;
                margin-right: .2em;
            }
            #class-time{
                color:darkred;
            }
            #book-in-use{
                color: darkgreen
            }
        }
        .panel{
            margin-top: .5em;
        }
    }
    #my-level{
        .box-container{
            position: relative;
            height: 90px;
            width: 90px;
            border-radius: 4px;
            font-size: 1.5em;
            background: #eee;
            text-align: center;
            @media (min-width:$md) {
                height: 100px;
                width: 100px;
            }
            .title{ 
                width: 100%;
                color: #000;
                text-align: center;
                font-size: 13px
            }
            .title,
            .icon,
            .no{
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%,-50%)
            }
            .title{
                top: 18%;
            }
            .no{
                color: #fff;
                top:50%;
            }
            svg{
                height: 2.2em;
                width:  2.2em;
                &[level-color="0"],
                &[level-color="1"],
                &[level-color="2"],
                &[level-color="3"] {
                    color: gray;
                }
                &[level-color="4"],
                &[level-color="5"],
                &[level-color="6"] {
                    color: dodgerblue;
                }
                &[level-color="7"],
                &[level-color="8"],
                &[level-color="9"],
                &[level-color="10"] {
                    color: darkorange;
                }
            }
        }
    }
    #student-session-stats{
        background: #fff;
        flex: auto;
        text-align: center;
        @media (min-width:$md) {
            background: 0;
            flex: unset;
        }
        .circle{
            display: inline-flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            @media (min-width:$md) {
                margin: 0 .75em;
                height: 100px;
                width: 100px;
                background: #eee
            }
            background: #fff;
            text-align: center;
            &>div{
                font-size: .75em;
                @media (min-width:$md) {
                    padding: 0 1em;
                }
            }
            &>div:first-child{
                font-size: 1.7em;
            }
        }
    }
    #progress-bargraph{
        margin: 0 1em;
        margin-bottom: 2rem;
        @media (min-width:$md) {
            margin-bottom: 1rem;
            margin-left: 0;
            margin-right: 0;
        }
        .panel-title{
            font-size: .85em;
        }
        .panel-content {
            display: flex;
            align-items: flex-end;
            padding: .75em 16px;
            padding-top: 2em;
            font-size: .9em;
            &>div{
                flex: auto;
                max-width: 4em;
            }
            .bar-item {
                position: relative;
                margin: 0 1.5px;
                border-top-right-radius: 2px;
                border-top-left-radius: 2px;
                text-align: center;
                .level{
                    position: relative;
                    display: inline-block;
                    bottom: 1.4em;
                    padding: 0 2px;
                    font-size: .9em;
                }
    
                &[level="0"],
                &[level="1"],
                &[level="2"],
                &[level="3"] {
                    background-color: #888;
                }
                &[level="4"],
                &[level="5"],
                &[level="6"] {
                    background-color: rgb(66, 98, 116);
                }
                &[level="7"],
                &[level="8"],
                &[level="9"],
                &[level="10"] {
                    background-color: rgb(206, 95, 4);
                }
            }
        }
    }

    #my-introduction,
    #auction,
    #teacher-list{
        margin-bottom: 2rem;
        @media (min-width:$md) {
            margin-bottom: 1rem;
        }
    }
    #my-introduction{
        font-size: .85em;
        .warning{
            margin-top:1em;
            padding: 1em;
            border-radius: 2px;
            border:1px solid rgba(125,125,125,0.2);
            background: #fff;
            font-size: .85em;
            line-height: 1.5em;
            b{
                color: darkred;
            }
            svg{
                position: relative;
                top:.125em;
                height: 1em;
                width: 1em;
                margin-right: .3em;
                color: darkred;
            }
        }
        .button-with-icon{
            margin-top: 1em;
        }
    }
    #auction{
        .auction-intro{
            margin-top: .5rem;
            padding: 1em;
            border-radius: 2px;
            background: #eee;
            font-size: .9em;
            cursor: pointer;
    
            svg{
                position: relative;
                top: .125em;
                margin-left: .4em;
                height: 1em;
                width: 1em;
            }
        }
        button[data-button="auction-delete"]{
            background: #eee;
            color: #000
        }
        form{
            margin-top: .5em;
            font-size: .85em;
            animation: fadeIn .2s ease-in-out;
            @keyframes fadeIn {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
            }
            select{
                padding: .25em;
                width: 50px;
                border: 1px solid rgba(125,125,125,0.4);
                background: #fff;
            }
            .day{
                .checkbox-group{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 1em 0;
                    font-size: .85em;
                    label{
                        input{
                            margin:0;
                            margin-right: .2em;
                            cursor: pointer;
                        }
                        cursor: pointer;
                    }
                }
            }
            .time,
            .duration,
            .point{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: .7em 0;
            }
            .comments{
                margin-top: .5em;
                font-size: 1em;
                label{
                    display: block;
                    margin-bottom: .3em;
                    color: darkblue
                }
            }
            .point{
                select{
                    min-width: 60px;
                }
            }
        }
    }
    #auction-application-list {
        .list-content{
            height: 210px;
            @media (min-width:$md) {
                height: 195px;   
            }
            overflow: auto;
            border: 1px solid rgba(125,125,125,0.1);
            border-bottom: 0;
            .profile-card {
                align-items: center;
                border-bottom: 1px solid rgba(125,125,125,0.1);
                background: #fff;
                margin:0;
                padding: .5em;
                font-size: .85rem;
                cursor: pointer;
                &:hover{
                    background: rgba(125,125,125,0.02);
                }
                .profile-card-photo{
                    height: 50px;
                    width: 50px;
                }
                .application-title{
                    margin: 0;
                    color: darkblue;
                    font-weight: normal;
                    @media (min-width:$md) {
                        display: block;
                    }
                }
                .teacher-name{
                    margin: 0;
                    display: none;
                    @media (min-width:$md) {
                        display: block;
                    }
                }
        
            }
            .delete-application{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 1rem;
                &:hover{
                    color: darkred;
                }
                svg{
                    position: relative;
                    top: .125em;
                    height: 1em;
                    width: 1em;
                }
            }
        }
    }
    #teacher-list{
        margin: 0 -.225em;
        h2{
            svg{
                position: relative;
                top:.15em;
                margin-right: .4em;
                height: 1.2em;
                width: 1.2em;
            }
        }
        .teachers {
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            font-size: .78em;
            margin: 0 .45em;
            @media (min-width:$md) {
                margin: 0 -.25em
            }
            .teacher {
                margin: .45em .25em;
                border-radius: 2px;
                border: 1px solid rgba(125,125,125,0.2);
                background: #fff;
                .photo {
                    overflow: hidden;
                    img {
                        width: 73px;
                        height: 93px;
                    }
                }
                .text{
                    padding:.5em;
                    text-align: center;
                    .teacher-name{
                        text-transform: uppercase;
                    }
                    .stars{
                        font-size: .85em;
                        svg{
                            position: relative;
                            top: .125em;
                            margin: .25em .05em;
                            height: 1em;
                            width: 1em;
                        }
                    }
                }
            }
        }
        //stars color
        [grade="5"] {
            color: #f06000;
        }
        [grade="4"] {
            color: #ff9900;
        }
        [grade="3"] {
            color: #4a8d23;
        }
        [grade="2"] {
            color: #272775;
        }
        [grade="1"] {
            color: #272727;
        }
    }
    