<main data-role="my-page-page">
    <section>
        <h1 class="text-danger">My-Page</h1>

        <div class="container">
            <div class="row">
                <div class="col">
                    (공간을 작게 차지 할 것) 나의 레벨: 초급(상/중/하),중급(상/중/하), 고급(상/중/하) 와 같이 한글로 표시 할 것.
                </div>


                <div class="col">
                    (공간을 작게 차지 할 것) 학업 성취도: 바 그래프로 지난 3개의 수업을 그래프로 표시한다.
                </div>
            </div>
        </div>

        <hr>
        <div class="container">
            <div class="row">
                <div class="col">

                    My introduction in English.
                    <br> 꼭 영어로 적어주세요.
                    <br> 예제) Hello. I am Yuna, Kim. I am 12 years old. I love singing.
                    <br> 예제 더보기)
                    <form>
                        <textarea></textarea>
                    </form>
                </div>
                <div class="col">
                    선생님 구하기 무슨 요일: 일, 월, 화, 수, 목, 금, 토
                    <br> 시간: 11 시 30 분
                    <br> 몇 분 동안: 25 분 동안
                    <br> 수업 포인트: 2000 포인트.
                    <div>


                        <form>
                            <textarea></textarea>
                        </form>


                    </div>
                </div>
            </div>
        </div>



        <hr> 선생님 목록: 사진을 작게해서 한 줄에 12개 씩 등급이 있는 모든 선생님을 보여 줄 것.

    </section>
</main>