@import '../../../theme/vars.scss';
.set {
    .caption {
        margin: .8rem 0 .25rem;
        font-size: .7em;
        color: grey;
    }
    .text {
        font-size: 1.1rem;
    }
}

header {
    h1 {
        padding: 16px !important;
    }
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 300;
    padding: .4em;
    background: #5B81D8;
    color: #fff;
    font-size: 1rem;
}

.container-fluid {
    @media (min-width: $md) {
        &>.row {
            &>div {
                padding: 0;
            }
        }
    }
}

mat-form-field[appearance] {
    width: 100% !important;
    textarea {
        padding: 0 1.25em;
        height: 85px;
        font-size: 1rem;
    }
}

.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    background: #fff;
    @media (min-width: $md) {
        padding: 1.5rem 1px;
        margin-bottom: 3.5rem;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: nowrap;
    }
}
#student-profile,
#next-class {
    display: flex;
    margin: 1rem 0;
    font-weight: 300;
    .set:first-child{
        .caption{
            margin-top: 0;
        }
    }
    .left {
        margin: 0 1em ;
        @media (min-width:$md) {
            margin: 0 1em 0 0;
        }
        .photo-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            height: 144px;
            width: 120px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
    .right {
        margin-left: 1em;
    }
}
#student-profile{
    .left{
        .button-with-icon {
            display: inline-block;
            margin-top: 1.5em;
            padding: .5rem .5rem;
            width: 120px;
            font-size: .9rem;
            @media (min-width: $md) {
                padding: .6rem .75rem;
                font-size: .75rem;
            }
            border-radius: 2px;
            border: 1px solid #1B4AB5;
            background: #1B4AB5;
            color: #fff;
            text-align: center;
            cursor: pointer;
            transition: .2s all ease-in-out;
            svg {
                display: none;
                @media (min-width: $md) {
                    display: inline;
                }
                position: relative;
                top: .125em;
                height: 1em;
                width: 1em;
                margin-right: .5em;
            }
            &:hover {
                background: #fff;
                color: #1B4AB5;
            }
        }
    }
    .right {
        margin-left: 1em;
        .class-software {
            .text {
                display: flex;
                img {
                    margin-right: .5em;
                    width: 24px;
                }
            }
        } 
    }
}

#next-class {
    .right {
        .set {
            svg {
                position: relative;
                top: .1em;
                width: 1em;
                height: 1rem;
                margin-right: .3em;
            }
        }
        #class-time {
            color: darkred;
        }
    }
    #book-in-use{
        .text{
            color: darkgreen;
        }
    }
}


#session-stats {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    @media (min-width:$md){
        display: flex;
        flex-direction: column;
        width: auto
    }
    #my-level {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
        padding: .5rem 1rem;
        border: 1px solid rgba(125,125,125,0.2);
        font-size: 1.1rem;
        .title{
            display: inline-block;
            margin: 0 1rem;
            font-weight: 300;
        }
        svg {
            position: relative;
            top: .125em;
            height: 1.5rem;
            width: 1.5rem;
            &[level-color="0"],
            &[level-color="1"],
            &[level-color="2"],
            &[level-color="3"] {
                color: gray;
            }
            &[level-color="4"],
            &[level-color="5"],
            &[level-color="6"] {
                color: dodgerblue;
            }
            &[level-color="7"],
            &[level-color="8"],
            &[level-color="9"],
            &[level-color="10"] {
                color: #FF7B0D;
            }
        }
    }
    .stat-item {
        display:inline-block;
        padding: 1rem;
        text-align: center;
        &>div {
            font-size: .75em;
            @media (min-width: $md) {
                padding: 0 1em;
            }
        }
        &>div:first-child {
            font-size: 1.7em;
        }
    }
}

.buttons {
    text-align: center;
    button[data-button] {
        display: inline-flex;
        align-items: center;
        margin: .5em 1em;
        padding: .5em 1em;
        border-radius: 2px;
        border: 1px solid rgba(125, 125, 125, 0.2);
    }
}

.button-with-icon {
    display: inline-block;
    padding: .5em;
    border-radius: 2px;
    background: #1B4AB5;
    color: #fff;
    font-size: .75rem;
    cursor: pointer;
    svg {
        position: relative;
        top: .125em;
        height: 1em;
        width: 1em;
        margin-right: .3em;
    }
}

.loader {
    font-size: .8em
}

.saved {
    font-size: .85em;
    color: darkgreen
}

.page-content {
    padding-bottom: 5em;
    .page-description {
        padding: .75em 16px;
        font-size: .8em;
        background: #B1C5F4;
    }
}

#progress-bargraph {
    margin: 0;
    margin-bottom: 3.5rem;
    border-radius: 2px;
    &>* {
        padding: .5em 1em;
    }
    .panel-title {
        background: #ddd;
        font-size: .85em;
    }
    .panel-content {
        display: flex;
        align-items: flex-end;
        padding: .75em 1.5rem;
        padding-top: 2em;
        font-size: .9em;
        background: #fff;
        overflow: auto;
        &>div {
            flex: auto;
            max-width: 4em;
        }
        .bar-item {
            position: relative;
            margin: 0 1.5px;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
            text-align: center;
            .level {
                position: relative;
                display: inline-block;
                bottom: 1.4em;
                padding: 0 2px;
                font-size: .9em;
            }
            &[level="0"],
            &[level="1"],
            &[level="2"],
            &[level="3"] {
                background-color: #888;
            }
            &[level="4"],
            &[level="5"],
            &[level="6"] {
                background-color: rgb(66, 98, 116);
            }
            &[level="7"],
            &[level="8"],
            &[level="9"],
            &[level="10"] {
                background-color: #FF7B0D;
            }
        }
    }
}

#teacher-list {
    margin-bottom: 2rem;
    @media (min-width: $md) {
        margin-bottom: 1rem;
    }
}

#my-introduction {
    margin-bottom: 3.5rem;
    font-size: .85em;

    .my-introduction-desc {
        margin-bottom: 1rem;
        padding: 1em 2em;
        background: rgba(125, 125, 125, 0.05);
        line-height: 1.5rem;
        font-size: .9rem;
        .title {
            color: #1B4AB5;
        }
        &>* {
            margin: .5rem 0;
        }
        svg {
            position: relative;
            top: .18em;
            height: 1.2em;
            width: 1.2em;
            margin-right: .3em;
        }
        .note{
            margin: .75rem 0;
        }
    }
    .button-with-icon {
        margin: 0;
    }
}

#auction {
    margin-bottom: 3.5rem;
    .auction-desc {
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        background: rgba(125, 125, 125, 0.05);
        font-size: .9em;
        line-height: 1.5rem;
        cursor: pointer;
        svg {
            position: relative;
            top: .125em;
            margin-left: .4em;
            height: 1em;
            width: 1em;
        }
    }
    .note {
        margin: .75rem 0;
        padding: 1em;
        background: rgba(#FFF2B1, 0.5);
    }
    .buttons {
        margin-top: .5rem;
        @media (min-width: $md) {
            margin: 0;
        }
    }
    button[data-button="auction-delete"] {
        background: #ddd;
        color: #000
    }
    form {
        margin: 1rem .15rem;
        font-size: .85em;
        animation: fadeIn .2s ease-in-out;
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        mat-form-field {
            width: 50px;
        }
        .day {
            .checkbox-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 1em 0;
                font-size: .85em;
                label {
                    input {
                        margin: 0;
                        margin-right: .2em;
                        cursor: pointer;
                    }
                    cursor: pointer;
                }
            }
        }
        .time,
        .duration,
        .point {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: .7em 0;
        }
        .point {
            select {
                min-width: 60px;
            }
        }
    }
}

#auction-application-list {
    .list-content {
        @media (min-width: $md) {
            max-height: 329px;
        }
        border-radius: 2px;
        border: 1px solid rgba(125, 125, 125, 0.2);
        border-bottom: 0;
        background: #fff;
        z-index: 1;
        overflow: auto;
        .buttons-hook {
            position: relative;
        }
        .buttons {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 0;
            max-width: 40%;
            @media (min-width: $md) {
                max-width: 30%;
            }
            button {
                padding: .5rem .5rem;
                border-color: #fff;
                background: #fff;
                svg {
                    position: relative;
                    top: .125em;
                    height: 1em;
                    width: 1em;
                }
            }
        }
        .list-item {
            display: flex; // align-content: center;
            padding: .5rem;
            border-bottom: 1px solid rgba(125, 125, 125, 0.2);
            font-size: .9rem;
            &:hover {
                background: rgba(125, 125, 125, 0.05);
            }
            .left {
                .teacher-photo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 60px;
                    width: 60px;
                    border-radius: 3px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .teacher-name {
                    display: inline-flex;
                    justify-content: center;
                    margin-top: .25rem;
                    font-size: .8rem;
                    width: 60px;
                    overflow: hidden;
                    color: #1B4AB5
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                padding-left: .5rem;
                flex: 100%;
                @media (min-width: $md) {
                    max-width: unset;
                }
                .title {
                    display: flex;
                    .application-title {
                        font-size: .8rem;
                        color: dimgray;
                        max-width: 58%;
                        @media (min-width: $md) {
                            max-width: 68%;
                        }
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                .body {
                    display: flex;
                    flex-direction: column;
                    word-break: break-all;
                    .application-content {
                        display: inline-block;
                        margin: .25rem 0;
                        padding-right: .5rem;
                        font-size: .8rem;
                    }
                }
            }
        }
        .delete-application {
            &:hover {
                color: darkred !important;
            }
        }
        .reply-button {
            font-size: .7rem !important;
            &:hover {
                color: dodgerblue !important
            }
            svg {
                margin-right: .3em;
            }
        }
    }
}

#teacher-list {
    margin: 0 -.225em;
    h2 {
        margin-bottom: .5rem;
        svg {
            position: relative;
            top: .15em;
            margin-right: .4em;
            height: 1.2em;
            width: 1.2em;
        }
    }
    .teachers {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        font-size: .78em;
        margin: 0 .45em;
        @media (min-width: $md) {
            margin: 0 -.25em
        }
        .teacher {
            margin: .45em .25em;
            border-radius: 2px;
            border: 1px solid rgba(125, 125, 125, 0.2);
            background: #fff;
            .photo {
                overflow: hidden;
                img {
                    width: 73px;
                    height: 93px;
                }
            }
            .text {
                padding: .5em;
                text-align: center;
                .teacher-name {
                    text-transform: uppercase;
                }
                .stars {
                    font-size: .85em;
                    svg {
                        position: relative;
                        top: .125em;
                        margin: .25em .05em;
                        height: 1em;
                        width: 1em;
                    }
                }
            }
        }
    } //stars color
    [grade="5"] {
        color: #f06000;
    }
    [grade="4"] {
        color: #ff9900;
    }
    [grade="3"] {
        color: #4a8d23;
    }
    [grade="2"] {
        color: #272775;
    }
    [grade="1"] {
        color: #272727;
    }
}

.no-next-class {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: gray;
}