<admin-header-component></admin-header-component>
<h1>Session Edit</h1>
<div>
    Warning: You need to be very careful editing session information directly.
    <br> For instance, if you add a big point on a session, the company will lose as the point.
    <br> Do this with care.
    <br> Use case
    <br>
    <ul>
        <li>
            You want to change teacher.
            <br> For instance, teacher A cannot teach. And teacher B can teach. Normally, Teacher B create a schedule and Student
            reserve. There might be some inconvience with it. What if the class begin time has almost started? In that case
            you can quickly change teacher idx.
        </li>
        <li>
            You want to share the session point between teacher and student.
            <br> Class went wrong and decided to share half for teacher and half for student.
            <br> You can deduct the point by half on the session. and add half of the point into student's account.
        </li>
        <li>
            Teacher and student want to agree to have a make up class( which we prohibit though).
            <br> You can simply change the date and class begin so, the class will be like 'undone'.
        </li>
        <li>
            For some tests, you can freely change the ssion information.
        </li>
    </ul>
</div>
<h3>Warning: Date and Time must be in UTC+0</h3>
<div class="loader" *ngIf=" loader.get ">Loading</div>
<form (ngSubmit)=" onSubmit( $event ) ">
    <table>
            <tr>
                <td>idx</td>
                <td>{{ idx }}</td>
            </tr>
            <tr>
                <td>idx_teacher</td>
                <td><input type="text" name="idx_teacher" [(ngModel)]="form.idx_teacher"></td>
            </tr>
            <tr>
                <td>idx_student</td>
                <td><input type="text" name="idx_student" [(ngModel)]="form.idx_student"></td>
            </tr>
            <tr>
                <td>date</td>
                <td><input type="text" name="date" [(ngModel)]="form.date"></td>
            </tr>
            <tr>
                <td>class_begin</td>
                <td><input type="text" name="class_begin" [(ngModel)]="form.class_begin"></td>
            </tr>
            <tr>
                <td>class_end</td>
                <td><input type="text" name="class_end" [(ngModel)]="form.class_end"></td>
            </tr>
            <tr>
                <td>point</td>
                <td><input type="text" name="point" [(ngModel)]="form.point"></td>
            </tr>
            <tr>
                <td>book_used</td>
                <td><input type="text" name="book_used" [(ngModel)]="form.book_used"></td>
            </tr>
            <tr>
                <td>book_next</td>
                <td><input type="text" name="book_next" [(ngModel)]="form.book_next"></td>
            </tr>
            <tr>
                <td>alert</td>
                <td><input type="text" name="alert" [(ngModel)]="form.alert"></td>
            </tr>
    </table>
    <button type="submit" *ngIf=" ! loader.save ">Submit</button>
    <div class="loader" *ngIf=" loader.save ">Saving ...</div>
</form>

