.warning{
    margin: 1em 0;
    color:darkred;
}

.example{
    padding: 1em;
    color: darkblue;
    background: rgba(darkblue,0.1);
}

h2{
    font-weight: 100;
    font-size: 1.1em;
}

ul{
    line-height: 1.6em;

    li{
        margin-bottom: 1.4em;
    }
}