<section class="container-fluid">
    <div class="row">
        <div class="teachers col-6">
            <div>{{no_teachers}}</div>
            <div>Teachers</div>
        </div>
        <div class="students col-6">
            <div>{{no_students}}</div>
            <div>Students</div>
        </div>
    </div>
    <div class="row">
        <div class="reservations col-6">
            <div>{{no_reservations}}</div>
            <div>Reservations</div>
        </div>
        <div class="past col-6">
            <div>{{no_pasts}}</div>
            <div>Past</div>
        </div>
    </div>
</section>
