<div class="container-fluid mb-5 my-md-0 p-0">
    <div class="row">
        <div class="col-md-6 cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue">
            <div class="fw-bold fs-2dot6rem" ion-text color="white">{{no_teachers}}</div>
            <div ion-text color="white">Teachers</div>
        </div>
        <div class="col-md-6 cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue-80">
            <div class="fw-bold fs-2dot6rem" ion-text color="white">{{no_students}}</div>
            <div ion-text color="white">Students</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue-60">
            <div  class="fw-bold fs-2dot6rem" ion-text color="white">{{no_reservations}}</div>
            <div ion-text color="white">Reservations</div>
        </div>
        <div class="col-md-6 cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue-40">
            <div class="fw-bold fs-2dot6rem" ion-text color="white">{{no_pasts}}</div>
            <div ion-text color="white">Past</div>
        </div>
    </div>
</div>
