<header>
    <h1>GETTING THE QR CODE</h1>
</header>
<main>
    <section class="content">
        <p>1. Open the Kakaotalk app on your smart
            phone. *(Login if you didn't login yet) </p>
        <p>2. In your Kakaotalk app, press the <b>More
            Option Button</b>. (3 dot shown on the image below)</p>
        <img class="mw-100" src="assets/img/kakao/6.jpg">
        <p>3. Press My <b>Profile</b>. (Primary Photo
            with your name shown on the image below)</p>
        <img class="mw-100" src="assets/img/kakao/7.jpg">
        <p>4. Press the <b>QR Code Button</b>.</p>
        <img class="mw-100" src="assets/img/kakao/8.jpg">
        <p>5. Press the <b>Download Button</b> to get a
            copy of your QR Code. (Check your gallery or Download folder)</p>
        <img class="mw-100" src="assets/img/kakao/9.jpg">
        <p>6. Hurray! You have a copy of your QR Code,
            you can update your Curriculum Vitae by uploading this image.</p>
    </section>
</main>
