@import '../../../../../theme/vars.scss';
@import './../../../../../theme/variables-katalkenglish.scss';
/**
 * MOBILE DESIGN
 */

#mobile-header {
    height: $katalkenglish-mobile-header-height;
    background-color: white;
    font-size: .8em;
    nav.top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 .5em;
        height: $katalkenglish-mobile-header-top-height;

        .resized{
            height: 20px;
        }

        &>a{
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 .5em;
            cursor: pointer;
        }

        .adjusted{
            margin-top: .222em;
        }
    }
    .flags {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; // border: 1px solid rgb(202, 202, 202);
        width: 46px;
        height: 100%;
        overflow: hidden;
        .ko-flag {
            margin-top: .333em !important;
            border: 1px solid rgba(128, 128, 128, 0.1) !important;
        }
        img {
            max-width: 32px;
        }
        select {
            position: absolute;
            top: 0;
            left: 0;
            width: 46px;
            height: 100%;
            cursor: pointer;
            opacity: .001;
        }
    }

    nav.bottom {
        display: flex;
        justify-content: space-around;
        height: $katalkenglish-mobile-header-bottom-height;
        background: $katalkenglish-submenu-background-color;
        a {
            display: inline-block;
            margin: auto;
            padding: 1.2em 0;
            color: black;
            font-size: .9em;
        }
    }
}

/**
  * DESKTOP DESIGN
  */

#desktop-header {
    background-color: rgb(241, 241, 240);
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        margin: 0 -.58em;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 .5em;
            border: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #000;
            img,
            svg {
                display: block;
                margin: 0 auto;
                margin-bottom: .2em;
                height: 24px;
                fill: #222;
            }
            img {
                height: 24px;
            }
            span {
                display: inline-block;
                padding-top: 2px;
                font-size: 12px;
            }
        }
        .session-future, .session-past, .book {
            svg {
            fill: #555;
            }
        }
        a:hover {
            svg {
                fill: #D20;
            }
        }
    }
    .select-for-ieEdge{
        -webkit-user-select: none;
        -ms-user-select: none;    
        -o-user-select: none;
        user-select: none;
            select{
                color:rgba(#aeadad,0)!important;
            }

            .custom-icon {
                top: 25px!important;
            }
    }
    .select-wrapper {
        position: relative !important;
        padding-bottom: 7px;
        background: #aeadad;

        select {
            position: relative;
            padding: 0 .6em;
            padding-bottom: 8px;
            height: 65px;
            padding-top: 40px;
            border: none;
            background: rgba(#fff, 0);
            color: white;
            font-size: .7em;
            text-align-last: center;
            display: flex;
            justify-content: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            &::-ms-expand {
                display: none; //for ie
            }
            cursor: pointer;
            option {
                color: black !important;
            }
        }
        .custom-icon {
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            height: 24px;
        }
    }
}