@import './../../../../../theme/vars';

#settings-payment{

  .form-effect{
    label{
      transition: all 0.2s ease-in-out;
      order: -1
    }
    .focus-effect{
      transition: all 0.2s ease-in-out;
      &:focus{
        border:1px solid rgba(#007bff,0.5)!important;
      }
      &:focus+label:nth-of-type(1){
        color:#007bff!important;
      }
    }
  }

  .hover-icon-effect{
    .icon-effect{transition:all .2s ease-in-out!important}
    &:hover{
      .icon-effect{
        transform:scale(0.9,0.9)!important;
      }
    }
  }

  .radio-effect:checked+div,.radio-effect:focus+div{
    background:  rgba(#007bff,0.1)!important;
    border-color: #007bff!important;
    svg{
      transform: scale(0.9, 0.9);
    }
  }

  .payment-information-history {

    ion-item {
      padding: 0 1em;
    }

    .border-lightgrey{
      border-color: lightgrey!important
    }

    ion-item:first-of-type{
      border-top: 1px solid lightgrey!important;
    }

    .border-top-grey{
      border-top:1px solid lightgrey!important;
    }

    .item-hover-effect:hover{
        background: lightgrey;
        cursor: pointer;
    }

    .rotate-45-off,.rotate-45-on{
      transition: all 0.1s ease-in-out;
    }

    .rotate-45-off{
      transform: rotate(0deg);
    }

    .rotate-45-on{
      transform: rotate(45deg);
    }

    .accordion-hidden,.accordion-showed{
      height: auto;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }

    .accordion-hidden{
      max-height: 0;
      border-width:0!important;
    }
    .accordion-showed{
      max-height: 500px;
    }

    @media screen and (max-width:$sm) {
      .border-sm-none{
        border-width:0!important;
      }
    }
  }

}
