<main>
    <header>
        <h1>{{ 'SESSION_REFUND_REQUEST_PAGE_TITLE' | t }}</h1>
    </header>
    <div class="text-area">
        <textarea id="refund-request-textarea" class="input" rows="15" [(ngModel)]="message"></textarea>
        <div class="message" *ngIf=" a.isStudent ">{{ 'SESSION_REFUND_REQUEST_PAGE_REMINDER' | t }}</div>
    </div>

    <div class="buttons">
        <button type="button" (click)="onClickSubmit()">{{ 'SUBMIT' | t }}</button>
        <button type="button" routerLink="/session-past">{{ 'CANCEL' | t }}</button>
    </div>
</main>
