section{
    height: 100%;
    background: #fff;
    outline: 1px solid #e9ecef;
    font-size: 90%;

    .title{
        padding: .7em;
        background:rgba(0,123,255,.8);
        text-align: center;
        color: #fff;
    }

    .body{
        padding: .6em 0;

        .row{
            align-items: center;
            justify-content: center;
            padding: .6em 1.2em;

            &>div{
                padding: 0;
            }

            .top-info{
                display: flex;
                align-items: center;
            }

            &:hover{
                background: rgba(dodgerblue,0.2);
                cursor: pointer;

                color:rgba(dodgerblue,0.95);
            }
        }

        .comment{
            margin: 0;
            font-weight: 200;
        }

        .student-photo{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
            }
        }

        .teacher-name{
            font-weight: bold;
        }

        .stars{
            white-space: nowrap;
            margin-left: .2em;
            svg{
                height: .8em;
                color: orange;
                margin-right: .1em;
            }
        }
    }

}