@import '../../../theme/vars.scss';

main{

    section{
        padding: 2em 0;
        padding-bottom: 5em;
        background: #fff;
        line-height: 1.6em;
        font-size: 110%;
        .content{
            width: 70%;
            margin: auto;
    
            .links{
                margin-bottom: 3em;
            }
        }
    
        .image{
            padding: 3em 0;
            text-align: center;
    
            img{
                border: 1px solid rgba(grey,.2);
            }
            @media screen and (max-width:$sm){
                padding: 1em 0;
                img{
                    width: 100%
                }
            }
        }
    }
}