<main>
    <header class="global-header">
        <h1>GETTING THE Kakaotalk ID</h1>
    </header>
    <section >
        <div class="content">
            <p>1. Open the Kakaotalk app on your smart phone. *(Login if you didn't login yet)</p>
            <p>2. In your Kakaotalk app, press the <b>More Option Button</b>. ( 3 dot shown on the image below)</p>
            <div class="image"><img src="assets/img/kakao/6.jpg"></div>
            <p>3. Press <b>My Profile</b>. ( Primary Photo with your name shown on the image below )<p>
            <div class="image"><img src="assets/img/kakao/7.jpg"></div>
            <p>4. If you have set your Kakaotalk ID before you will see your Kakaotalk ID in the image below.
                Or else press the <b>KakaoTalk ID</b> to set your ID.
            </p>
            <div class="image"><img src="assets/img/kakao/10.jpg"></div>
            <p>5. Enter the desired Kakaotalk ID, then press OK. ( Kakaotalk ID is unique to everyone )</p>
            <div class="image"><img src="assets/img/kakao/11.jpg"></div>
            <p>6. Good Job! You have properly set your kakaotalk ID.</p>
        </div>
    </section>
</main>
