h1{
    border-radius: 2px;
    border: 1px solid rgba(125,125,125,0.2);
    padding: 1em 2em;
}

.notice{
    padding: 1em 2em;
    border-radius: 2px;
    border:1px solid rgba(darkorange,0.6);
    background:rgba(darkorange,0.1);
    color: darkorange
}