<div *ngIf=" a.isSuperManager ">

    You are supermanager!

    <h2>Latest Branches</h2>
    <table *ngIf=" latestBranches.length ">
        <tr>
            <th>No.</th>
            <th>Domain</th>
            <th>Company Name</th>
            <th>Manager Name</th>
        </tr>
        <tr *ngFor=" let branch of latestBranches ">
            <td>{{ branch.idx }}</td>
            <td>{{ branch.domain }}</td>
            <td>{{ branch.company_name }}</td>
            <td>{{ branch['student']['name'] }}</td>
        </tr>
    </table>
    
    <h2>List of domain change application</h2>
    <div>Note: subdomain of katalkenglish.com does not need to Nginx configuration. So, you can simply click Accept button.</div>


    <section class="domain-change-application">
        <div class="loader" *ngIf=" loader.domainChangeApplication; else domainChangeApplication">Loaing domain change application</div>
        <ng-template #domainChangeApplication>
            <table *ngIf="domain_change_applications.length; else noDomainChangeApplication">
                <tr>
                    <th>Current Domain</th>
                    <th>New Domain</th>
                    <th>Accept or Reject</th>
                </tr>
                <tr *ngFor=" let branch of domain_change_applications ">
                    <td>{{ branch.domain }}</td>
                    <td>=&gt; {{ branch.domain_change_application }}</td>
                    <td>
                        <button (click)="onClickDomainChangeApplicationAccept( branch )">Accept</button>
                        <button (click)="onClickDomainChangeApplicationReject( branch )">Reject</button>
                    </td>
                </tr>
            </table>
            <ng-template #noDomainChangeApplication>
                <div>
                    <h2>There is no domain change application</h2>
                </div>
            </ng-template>
        </ng-template>
    </section>
    <!--/domain-change-application-->
</div>

<h1>You have logged in as : {{ a.user.email }} Manager of: {{ a.user.manager }}</h1>

no of student. no of reservations. no of past classes. no of users registered today, yesterday, this month, last 30 days.
no of users who have free class only. no of users who have paid class. no of users who have no classes at all. no of reservation
for today, tomorow, this month, for the coming 30 days. no of past classes for yester day, this month, last 30 days. payment
of today, yester day, this month, last 30 days. no of point refund request