@import '../../../../../theme/vars';
//graph colors
$overall: #00B96A;
$withcenter-teachers:#FF9200;
$homebased-teachers:#1414BD;
$points-per-day-reservations:  #A32E00;
$por-withcenter: dodgerblue;
$por-homebased: #FFBF00;

#login-info {
    margin: 0;
    margin-top: 1.5em;
    .row {
        justify-content: space-between;
        align-items: stretch;
        font-size: .75em;
        @media (min-width: $md) {
            margin: 0 -1.5em;
            font-size: 1em;
        }
        .col-sm-12 {
            padding: 1em 0;
            @media screen {
                padding: 0.5em;
            }
        }
    }
    .notice {
        margin: 0;
        margin-top: 1em;
        @media (min-width: $md) {
            margin-top: 0;
        }
        height: 100%;
        justify-content: center;
    }
    .item {
        .item-title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em .5em;
            @media (min-width: $md) {
                padding: 1em;
            }
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border:1px solid #054A7F;
            background: #054A7F;
            color: #fff;
            svg {
                height: 1.5em;
                width: 1.5em;
                @media (min-width: $md) {
                    height: 2em;
                    width: 2em;
                }
                margin-right: .5em;
            }
        }
        .item-content {
            border: 1px solid rgba(125, 125, 125, 0.2);
            border-top: 0;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            padding: 1em;
            text-align: center;
        }
    }
}

#stats-summary {
    font-size: .9em;
    &>.row {
        margin: 0 -1.5em !important;
        align-items: stretch;
    }
    .col-sm-12 {
        padding: 0 .5em;
        &>* {
            margin-top: 1em;
        }
    }
}

#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em -.5em;
    .stats-card {
        font-size: .85em;
        width: 147px;
        @media (min-width: $md) {
            width: 205px;
            font-size: 1em;
        }
        margin: .5em;
        border-radius: 2px;
        border: 1px solid rgba(125, 125, 125, 0.2);
        text-align: center;
        .stats-title {
            padding: 1em;
            padding-top: .75em;
            font-size: .9em;
        }
        .stats-content {
            padding-top: 1em;
            font-size: 1.3em;
            font-weight: 100
        }
    }
}

#contact {
    margin-top: 2em;
    h2 {
        padding: .5em 1em;
        @media (min-width: $md) {
            padding: 1em .1em;
        }
        margin: 0;
        color: #F08900;
        font-size: 1.3em;
        font-weight: 100;
    }
    .content {
        display: flex;
        flex-direction: column;
        @media (min-width: $md) {
            flex-direction: row;
        }
        svg {
            height: 2em;
            width: 2em;
            margin-right: .5em;
        }
        .contact-item {
            display: flex;
            align-items: center;
            padding: .5em 1em;
            @media (min-width: $md) {
                padding: 1em .1em;
                padding-right: 5em;
            }
        }
    }
}

.table-content {
    .info-wrapper {
        border-bottom: 1px solid rgba(125, 125, 125, 0.2);
        .teacher-info {
            padding: 2em;
            padding-top: .5em;
            padding-bottom: .1em;
        }
        .extra {
            padding: 2em;
            padding-top: .1em;
            padding-bottom: .5em;
        }
        .teacher-info,
        .teacher-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .teacher-name {
                display: flex;
                align-items: center;
                font-size: .9em;
                text-transform: uppercase;
                color: dodgerblue;
                span {
                    margin-left: .2em;
                }
            }
            .rating {
                color: darkorange;
                span {
                    margin: 0 .1em;
                }
            }
        }
        .extra {
            display: flex;
            justify-content: space-between;
        }
        svg {
            height: 1em;
            width: 1em;
        }
    }
}

.table {
    border-radius: 2px;
    border: 1px solid rgba(125, 125, 125, 0.2);
    font-size: 90%;
    white-space: nowrap;
    @media (min-width: $md) {
        font-size: 100%;
    }
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 1.5em;
        border-bottom: 1px solid rgba(125, 125, 125, 0.2);
        @media (min-width: $md) {
            padding:1em 2em;
        }
        color: #0867B0;
        font-weight: 500;
        &>h2 {
            margin: 0;
            font-size: 1em;
        }
        div {
            line-height: 0;
            svg {
                color: darkred;
                height: 1.3em;
                width: 1.3em;
                cursor: pointer;
            }
        }
    }
    &-desc {
        padding-top: .5em;
        color: #616161;
        font-size: .9em;
    }
    &-note {
        padding-top: .5em;
        color: #C63800;
        font-size: .888em;
    }
    &-content {
        height: 142px;
        font-size: .9em;
        overflow: auto;
        table {
            width: 100%;
            text-align: center;
            tr {
                &>td,
                &>th {
                    padding: .75em 1em; // border-bottom: 1px solid rgba(125,125,125,0.2);
                }
            }
        }
    }
    &-content-empty {
        &>* {
            font-size: 1em;
            margin: 2em 1.5em;
            @media (min-width: $md) {
                margin: 2em;
                font-size: 1.3em;
            }
            text-align: center;
            color: #C63800
        }
    }
}

.refund-request {
    table {
        text-align: right;
    }
    .link {
        display: flex;
        align-items: center;
        span {
            line-height: 0;
        }
        span:first-child {
            width: 35%;
            text-align: right;
        }
        span:last-child {
            width: 65%;
            text-align: left;
        }
        svg {
            height: 1em;
            width: 1em;
            margin-right: .3em
        }
        &:hover {
            font-weight: normal;
            text-decoration: none;
        }
    }
}
#statistics-graph{
    form{
        margin: 2em 0;
        text-align: center;
        input{
            margin-right: .5em;
            padding: .6em .5em;
            font-size: .8em;
            @media (min-width:$md) {
                margin-right: 2em;
                padding: .6em 1em;
                font-size: .9em;   
            }
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.4);
        }
        button{
            margin-top: 1em;
            text-align: center;
            padding: .75em 3em;
            border: 0;
            border-radius: 2px;
            background: #0867B0;
            color: #fff;
            @media (min-width:$md) {
                margin: 0;
            }
        }
    }
}
.total-point-share {
    margin-bottom: 1.75em;
    width: 100%;
    overflow: auto;
    h2{
        margin: 0;
        margin-bottom: .3em;
        margin-left: .1em;
        font-size: .9em;
        color: #0867B0;
    }
    table {
        width: 100%;
        font-size: .8em;
        border-spacing: 0;
        border-radius: 2px;
        border: 1px solid rgba(125, 125, 125, 0.3);
        border-bottom: 0;
        th,
        td{
            padding: .75em 1em;
            border-bottom: 1px solid rgba(125, 125, 125, 0.3);
            border-right: 1px solid rgba(125, 125, 125, 0.3);
            text-align: left;
            &:last-child{
                border-right: 0;
            }
        }
    }
    .note{
        margin-top: .5em;
        margin-left: .1em;
        font-size: .9em;
    }
}

.bar-graph{
    &-container{
        margin-bottom: 1.75em;
        border-radius: 2px;
        border:1px solid rgba(125, 125, 125, 0.3);
    }
    &-header{
        display: flex;
        flex-direction: column;
        padding: 1.25em;
        border-bottom: 1px solid rgba(125, 125, 125, 0.2);
        background: #eee;
        @media (min-width:$md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            line-height: 0;
        }
        .bar-graph-title{
            margin: 0;
            font-size: .9em;
            color: #0867B0;
        }
        .bar-graph-subtitle{
            font-size: .8em;
            &>*{
                display: block;
                @media (min-width:$md) {
                    display: inline-block;
                }
                margin-right: 3em;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 3.2em 1.5em 7em 1em;
        font-size: .75em;
        overflow: auto;

        .bar-item{
            position: relative;
            margin: 0 2px;
            min-width:2em;
            min-height: 1px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-bottom: .5px solid gray;
            background-color: gray;
            text-align: center;
            .item-no{
                position: relative;
                bottom: 1.2em; 
                padding: 0 2px;
            }
            .item-date{
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                margin-top: 4em;
                transform: rotate(-87deg);
                white-space: nowrap;
            }
        }
    }
}

#overall-reservations-graph{
   .bar-item{
        border-bottom: .5px solid $overall;
        background-color: $overall;
   }
}
#withcenter-teachers-graph{
    .bar-item{
        border-color: $withcenter-teachers;
        background-color: $withcenter-teachers;
   }
}
#homebased-teachers-graph{
    .bar-item{
        border-color: $homebased-teachers;
        background-color: $homebased-teachers;
   }
}
#points-per-day-reservations-graph{
    .bar-item{
        border-color: $points-per-day-reservations;
        background-color: $points-per-day-reservations;
   }
}
#por-withcenter-graph{
    .bar-item{
        border-color: $por-withcenter;
        background-color: $por-withcenter;
   }
}
#por-homebased-graph{
    .bar-item{
        border-color: $por-homebased;
        background-color: $por-homebased;
   }
}
#no-of-reservations-teacher-grade-graph{
    .bar-graph-header{
        padding: 1.25em;
        @media (min-width:$md) {
            padding: 0 1.25em;
        }
        line-height: unset;

        .bar-graph-subtitle{
            display: flex;
            flex-wrap: wrap;
            @media (min-width:$md) {
                display: block;
            }
            &>div{
                margin-right: 1em;
                &:last-child{
                    margin-right: 0;
                }
                span{
                    display: inline-block;
                    margin:.5em 0;
                    padding: .5em;
                }
                span:first-child{
                   border-radius: 2px;
                   background: #fff;
                }
                span:last-child{
                    width: 20px;
                }
            }
        }
    }
    .bar-graph-content{
        padding-bottom: 1em;
    }
    .grade-1 {
        border-color: #00ABA9;
        background-color: #00ABA9;
    }
    .grade-2 {
        border-color: #91D500;
        background-color: #91D500;
    }
    .grade-3 {
        border-color: #89D1FD;
        background-color: #89D1FD;
    }
    .grade-4 {
        border-color: #009CE0;
        background-color: #009CE0;
    }
    .grade-5 {
        border-color: #38578A;
        background-color: #38578A;
    }
    .bar-item-group{
        margin-right: 2.5em;
        &>div:first-child{
            display: flex;
            align-items: flex-end
        }

        .item-date{
            margin-top: .5em;
            text-align: center;
            font-size: 1.2em;
        }
    }
}