<h3>
    Student Reservation Count
</h3>
<div class="reservation-count">
    <form (ngSubmit)="getStudentReservationCount($event)">
        <mat-form-field>
            <mat-label>Minimum Reservation( More than or equal this #no will be displayed. )</mat-label>
            <input matInput type="text" name="class" [(ngModel)]="minCount" placeholder="Minimum # of reservation">
        </mat-form-field>    
        <mat-form-field>
            <mat-label>Points per Minute( Less than or equal this #no of points per minute will be displayed. )</mat-label>
            <input matInput type="text" name="point" [(ngModel)]="pointPerMin" placeholder="Points">
        </mat-form-field>
        <button class="app-button" type="submit">SEARCH</button>
    </form>
    <div class="reservations-table" *ngIf=" !loader.reservation">
        <b>Reservation Count</b>
        <div class="student-reservations">
            <div class="record" *ngFor="let student of reservations_count" (click)="student['showDetail'] = !student['showDetail']">
                <span class="info">
                    <span class="name" matTooltip="{{ student['display_name'] }}">{{ a.shortName(student['display_name'],7) }}<ng-container
                            *ngIf="student.length>7">...</ng-container></span>
                    <span class="no">{{ student['reservation'] }}</span>
                </span>
                <div class="info">
                    <span class="name">Low Point</span>
                    <span class="no">{{student['low_point_reservation']}}</span>
                </div>
                <div *ngIf="student['reservation_breakdown'] && student['showDetail']">
                    <div class="info" *ngFor="let r of student['reservation_breakdown']">
                        <span class="name">{{r['point']}}</span>
                        <span class="no">{{r['cnt']}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf=" loader.reservation ">
        <mat-spinner [diameter]="48"></mat-spinner>
        Loading...
    </div>
</div>