<katalkenglish-main-banner></katalkenglish-main-banner>

<main>
    <div class="container">
        <!-- Student RWD Grid -->
        <div class="row">
            <div class="left col-12 col-sm-6">
                
                <katalkenglish-main-teacher-list *ngIf=" a.size() == 'small' " [total_teachers]=" total_teachers " [teachers]=" teachers "></katalkenglish-main-teacher-list>
                <div class="my-own-plan">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <img class="calendar-img" src="assets/img/my-own-calendar.png">
                            </div>
                            <div class="col-6">
                                <h2>카톡만 되면
                                    <br>언제 어디서나 수업</h2>
                                <div class="text">
                                    365일 밤낮 언제 어디서나
                                    <br> 카톡 1:1 화상영어 수업
                                    <br> 선생님과 수업료를 내가 정하는
                                    <br> 완벽한 자유 예약 시스템
                                </div>

                                <div class="view-more" (click)=" showMoreMyOwnPlan() " *ngIf=" ! showMoreMyOwnPlan_1 ">
                                    더보기
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="position-relative">
                        <div class="moreMyOwnPlan no1" *ngIf=" showMoreMyOwnPlan_1 ">카톡영어에서는 학생이 직접 수업료와 선생님을 정합니다.
                        </div>
                        <div class="moreMyOwnPlan no2" *ngIf=" showMoreMyOwnPlan_2 ">카톡영어의 자유 예약 시스템은 매우 직관적이고 편리합니다. 무료 체험 수업을 해 보면 쉽게 이해가 됩니다.
                        </div>
                        <div class="moreMyOwnPlan no3" *ngIf=" showMoreMyOwnPlan_3 ">카카오톡을 이용해서 화상영어 수업을 하며 언제 어디서나 선생님과 채팅을 할 수 있습니다.
                        </div>
                    </div>
                </div>
                <!--/my-own-plan-->


                <div class="about-katalkenglish">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-3">
                                <img src="assets/img/kakao-chat.png">
                            </div>
                            <div class="col-9">
                                <div class="desc">
                                    <h2>카톡영어는</h2>
                                    <div>
                                        최고라고 자화자찬하지 않으며 타 업체와 비교하지 않습니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="show-more" (click)=" showMoreAboutKatalkEnglish() ">
                        그 이유는 바로 카톡영어와 경쟁 할 수 있는 화상영어 교육 사이트가 존재하지 않기 때문입니다.
                        <span *ngIf=" ! moreAbout1 ">더보기...</span>
                    </div>

                </div>
                <!--/about-katalkenglish-->
                <div class="more-about-katalkenglish" *ngIf=" moreAboutKatalkEnglish ">
                    <div class="inner">
                        <div class="text no1" *ngIf=" moreAbout1 ">
                            최고의 강사들만 선정 하였으며
                            <br>또 다시 최고의 강사들 끼리 경쟁을 하는 시스템
                        </div>
                        <div class="text no2" *ngIf=" moreAbout2 ">
                            강사와 학생이 직거래를 하여
                            <br>학생은 최저의 수업료내면 선생님은 최고의 임금!
                        </div>
                        <div class="text no3" *ngIf=" moreAbout3 ">
                            카카오톡으로 수업을 하여
                            <br>강사와 학생이 하루 종일 채팅하는 시스템
                        </div>

                        <div class="text no4" *ngIf=" moreAbout4 ">
                            무제한 예약, 취소 가능. 완벽한 학습 관리 시스템
                        </div>
                    </div>
                    <div class="help" routerLink="help">카톡영어 이용안내</div>

                </div>
                <!--/more-about-katalkenglish-->


            </div>
            <!--/left-->
            <div class="right col-12 col-sm-6">


                <katalkenglish-main-teacher-list *ngIf=" a.size() == 'big' " [total_teachers]=" total_teachers " [teachers]=" teachers "></katalkenglish-main-teacher-list>



                <div class="stats-wrapper">
                    <div class="stats container-fluid" *ngIf=" a.info ">
                        <div class="row">
                            <div class="col">
                                <div class="item teacher">
                                    <div class="text">강사수</div>
                                    <div class="number">{{ a.info.teacher }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item reservation">
                                    <div class="text">예약된수업</div>
                                    <div class="number">{{ a.info.reservation }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item leveltest">
                                    <div class="text">레벨테스트</div>
                                    <div class="number">{{ a.info.leveltest }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/stats-wrapper-->
                <section id="student-comments" *ngIf=" a.t('STUDENT COMMENTS') ">
                    <h2>1만원. 월 20회. 카톡영어의 생생한 수업후기</h2>

                    <ng-container *ngFor=" let comment of a.t('STUDENT COMMENTS'); let i = index ">
                        <div class="comment" *ngIf=" i < 2 || show['more-comment']">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="student-photo">
                                            <img src="assets/img/student/{{ i + 1 }}.jpg">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="name">{{ comment.name }}</div>
                                        <div class="title">{{ comment.title }}</div>
                                        <div class="date">{{ comment.date }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="description" [innerHTML]="comment.description"></div>
                        </div>
                    </ng-container>

                    <div class="more" (click)=" show['more-comment'] = true " *ngIf=" ! show['more-comment'] ">수강후기 더 보기
                    </div>
                </section>

                <div class="video-tutorial-reserve">
                    <img (click)=" showVideoTutorialReserve = true " *ngIf=" ! showVideoTutorialReserve " src="/assets/img/video-tutorials/test-1.jpg">
                    <img src="/assets/img/video-tutorials/video-reserve.gif" *ngIf=" showVideoTutorialReserve ">
                </div>

            </div>
            <!--/right-->
        </div>
    </div>
</main>