<katalkenglish-main-banner></katalkenglish-main-banner>

<main>
    <div class="container">
        <!-- Student RWD Grid -->
        <div class="row">
            <div class="left col-12 col-sm-6">
                
                <katalkenglish-main-teacher-list *ngIf=" a.size() == 'small' " [total_teachers]=" total_teachers " [teachers]=" teachers "></katalkenglish-main-teacher-list>
                <div class="my-own-plan">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <img class="calendar-img" src="assets/img/my-own-calendar.png">
                            </div>
                            <div class="desc col-6"  (click)=" showMoreMyOwnPlan() ">
                                <h2>{{ a.ln._IF_CAN_KATALK }}</h2>
                                <div class="text">
                                    {{ a.ln._WHENEVER_WHEREVER }}
                                </div>

                                <div class="view-more" *ngIf=" ! showMoreMyOwnPlan_1 ">
                                    {{ a.ln.MORE }}...
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="myOwnPlan-wrapper"  *ngIf=" showMoreMyOwnPlan_1 ">
                        <div class="moreMyOwnPlan no1" *ngIf=" showMoreMyOwnPlan_1 ">{{ a.ln._ON_KATALK }}
                        </div>
                        <div class="moreMyOwnPlan no2" *ngIf=" showMoreMyOwnPlan_2 ">{{ a.ln._KATALK_IS_EASY }}
                        </div>
                        <div class="moreMyOwnPlan no3" *ngIf=" showMoreMyOwnPlan_3 ">{{ a.ln._WHENEVER_WHEREVER_CHAT }}
                        </div>
                    </div>
                </div>
                <!--/my-own-plan-->


                <div class="about-katalkenglish">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/img/kakao-chat.png">
                            </div>
                            <div class="desc col-8"  (click)=" showMoreAboutKatalkEnglish() ">
                                <div>
                                    <h2>{{ a.ln._KATALK_ENGLISH }}</h2>
                                    <div>
                                        {{ a.ln._NO_COMPARE }}
                                        <span class="show-more" *ngIf=" ! moreAbout1 ">
                                              {{ a.ln.MORE }}...
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!--/about-katalkenglish-->
                <div class="more-about-katalkenglish" *ngIf=" moreAboutKatalkEnglish ">
                    <div class="inner">
                        <div class="text" *ngIf=" moreAbout1 ">
                            {{ a.ln._BEST_OF_BEST_TEACHERS }}
                        </div>
                        <div class="text" *ngIf=" moreAbout2 ">
                            {{ a.ln._BEST_PRICE }}
                        </div>
                        <div class="text" *ngIf=" moreAbout3 ">
                            {{ a.ln._CHAT_ALL_DAY_LONG }}
                        </div>

                        <div class="text" *ngIf=" moreAbout4 ">
                            {{ a.ln._AUTO_SYSTEM }}
                        </div>
                    </div>
                    <div class="help" routerLink="help">{{ a.ln._HOW_TO }}</div>

                </div>
                <!--/more-about-katalkenglish-->

                <div class="stats-wrapper">
                    <div class="stats container-fluid" *ngIf=" a.info ">
                        <div class="row">
                            <div class="col">
                                <div class="item teacher">
                                    <div class="text">{{ a.ln._NO_OF_TEACHERS }}</div>
                                    <div class="number">{{ a.info.teacher }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item reservation">
                                    <div class="text">{{ a.ln._NO_OF_RESERVATIONS }}</div>
                                    <div class="number">{{ a.info.reservation }}</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item leveltest">
                                    <div class="text">{{ a.ln._NO_OF_STUDENTS }}</div>
                                    <div class="number">{{ a.info.student }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/stats-wrapper-->


                <div class="video-help">
                    <h2>{{ a.ln.VIDEO_RESERVE_TITLE }}</h2>
                    <div class="video">
                       <img (click)=" showVideoTutorialReserve = true " *ngIf=" ! showVideoTutorialReserve " src="assets/video/student-reserve-thumbnail.jpg">
                        <img src="assets/video/student-reserve.gif" *ngIf=" showVideoTutorialReserve ">        
                    </div>
                </div>
            </div>
            <!--/left-->
            <div class="right col-12 col-sm-6">


                <katalkenglish-main-teacher-list *ngIf=" a.size() == 'big' " [total_teachers]=" total_teachers " [teachers]=" teachers "></katalkenglish-main-teacher-list>

                <section id="student-comments" *ngIf=" a.t('STUDENT COMMENTS') ">
                    <h2>{{ a.ln._COMMENTS }}</h2>

                    <ng-container *ngFor=" let comment of a.t('STUDENT COMMENTS'); let i = index ">
                        <div class="comment" *ngIf=" i < 2 || show['more-comment']">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="student-photo">
                                            <img src="assets/img/student/{{ i + 1 }}.jpg">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="name">{{ comment.name }}</div>
                                        <div class="title">{{ comment.title }}</div>
                                        <div class="date">{{ comment.date }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="description" [innerHTML]="comment.description"></div>
                        </div>
                    </ng-container>

                    <div class="more" (click)=" show['more-comment'] = true " *ngIf=" ! show['more-comment'] ">
                        {{ a.ln._MORE_COMMENTS }}
                    </div>
                </section>

            </div>
            <!--/right-->
        </div>
    </div>
</main>