@import '../../../../../theme/vars.scss';
main{
    .left,.right {
        padding: 0;
    }
    #student-comments {
        h2 {
            padding: .5em;
            font-size: 1em;
            font-weight: 500;
            text-align: center;
        }
        .comment {
            margin: 1em;
            padding:1em;
            border-radius: 2px;
            border: 1px solid rgba(125,125,125,0.1);
            background: #fff;
            .title {
                margin-top: .4em;
                font-size: .78em;
                font-weight: 300;
                color: #0a0a63;
            }
            .date {
                margin-top: .4em;
                font-size: .8em;
                color: #6a9dcc;
            }
            .description {
                margin:0;
                margin-top: 1em;
                line-height: 1.7em;
                font-weight: 200;
                font-size: 80%;
            }
            .row {
                align-items: center;
                &>div{
                    padding:0;
                }
    
                &>div:last-child{
                    padding-left: .7em;
                }
            }
        }
        .more {
            margin: 1.3em;
            padding: .6em;
            font-size: .8em;
            text-align: center;
            color: #484848;
            background-color: #b1b7c3;
            cursor: pointer;
        }
        .student-photo {
            width: 70px;
            height: 70px;
            @media screen and (min-width:$md) {
                width: 86px;
                height: 86px;
                margin:auto;
            }
            overflow: hidden;
            border-radius: 50%;
            img {
                width: 100%;
            }
        }
    }
    
    .stats-wrapper {
        background: #e6e6e6;
        .stats {
            padding: 2.5em 1em;
            .col {
                padding: 0;
            }
            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                color: white;
                text-align: center;
                .text {
                    font-size: 85%;
                    font-weight: 200;
                }
                .number {
                    margin-top: .1em;
                    font-size: 150%;
                    font-weight: 200;
                }
            }
            .leveltest {
                border: 4px solid #cd5c5c;
                background-color: rgba(#cd5c5c,0.7);
            }
            .reservation {
                border: 4px solid #5c84cd;
                background-color: rgba(#5c84cd,0.7);
            }
            .teacher {
                border: 4px solid #787951;
                background-color: rgba(#787951,0.7);
            }
        }
    }
    
    .my-own-plan {
        padding: 1.5em .5em;
        @media screen and (min-width:$md){
            padding: 1.5em;
        }
        background-color: #e6e6e6;
        .container-fluid {
            .col-6 {
                padding: 0 .5em;
                @media screen and (min-width:$md){
                    padding: 0 1em;
                }
            }
            .col-6:first-child{
                display: flex;
                align-items: center;
            }
        }
        h2 {
            font-size: 1em;
            @media screen and (min-width:$md){
                font-size: 1.3em;
            }
            font-weight: 500;
        }
        .text,
        .view-more {
            font-size: .8em;
            @media screen and (min-width:$md){
                font-size: 100%;
            }
        }
        .calendar-img {
            width: 100%;
        }
        .view-more {
            margin: .5em 0;
            color: dodgerblue;
            cursor: pointer
        }
        .moreMyOwnPlan {
            animation: a1234 .2s 1;
            animation-timing-function: ease-in;
            position: relative;
            margin: .7em .1em 0;
            padding: 1em;
            border-radius: 2px;
            background: #fff;
            font-size: 80%;
            font-weight: 200;
            &.no1 {
                border: 2px solid #395b69;
            }
            &.no2 {
                border: 2px solid #d8aa02;
            }
            &.no3 {
                border: 2px solid #883f29;
            }
            @keyframes a1234 {
                0% {
                    opacity: 0;
                    left: 100%;
                }
                100% {
                    opacity: 1;
                    left: 0;
                }
            }
        }
    }
    
    .about-katalkenglish {
        padding: 3em 1em;
        background-color: #fff;
        font-size: 85%;
        line-height: 1.5em;
        img {
            width: 100%;
        }
        .col-9 {
            padding: .3em;
        }
    
        .col-3{
            padding: 0;
            padding-right: .4em;
        }
        .desc{
            h2 {
                margin: 0;
                font-size: 1.3em;
                font-weight: 400;
                color: brown;
            }
            div{
                color: #607d8b;
            }
        }
        .show-more {
            span{
                padding: .3em;
                color: dodgerblue;
            }
        }
    }
    
    .more-about-katalkenglish {
        .help {
            font-size: 90%;
            padding: .5em;
            text-align: center;
            cursor: pointer;
        }
        .inner {
            padding: 1em;
            background:#f5db00;
            .text {
                margin: .7em 0;
                border-radius: 2px;
                border: 1px solid #fff;
                padding: .7em;
                font-weight: 500;
                font-size: 90%;
                color: #fff;
                animation: animoreabout 1s 1;
            }
            @keyframes animoreabout {
                0% {
                    opacity: .1;
                }
                100% {
                    opacity: 1;
                }
            }
            .no1 {
                background-color: #978700 ;
            }
            .no2 {
                background-color: #978700 ;
                color: #fff;
            }
            .no3 {
                background-color: #978700 ;
                color:#fff
            }
            .no4 {
                background-color: #978700 ;
            }
        }
    }
}