<section id="student-banner" *ngIf="beginAni">

        <div class="ani ani-1" *ngIf=" this.no == 0 ">
          <div class="text">일대일 화상영어 <span class="price">월 1만원</span></div>
        </div>
      
        <div class="ani ani-2" *ngIf=" this.no == 1 ">
          <div class="content">
            <div class="image">
              <img class="" src="assets/img/ani/1.gif">
            </div>
            <div class="text text-left">
              <div class="text-1">헉...</div>
              <div class="text-2">만원이라구욧?!</div>
            </div>
          </div>
        </div>
      
        <div class="ani ani-3 text" *ngIf=" this.no == 2 ">
          <div class="text-1">최고 엘리트 강사</div>
          <div class="text-2">미국, 영국 강사는 기본!</div>
          <div class="text-3">유명어학원에서 직접 강의하는 선생님!</div>
        </div>
      
      
      
        <div class="ani ani-4" *ngIf=" this.no == 3 ">
          <div class="content">
            <div class="image">
              <img class="" src="assets/img/ani/2.gif">
            </div>
            <div class="text text-left">
              <div class="">
                <div class="text-1">하하.</div>
                <div class="text-2">이건 말도 안되죠.</div>
                <div class="text-3">월 20회 수업에 1만원이라뇨.</div>
              </div>
      
              <div class="text-4">
                <div>회원가입 후<br>즉시 5회 무료체험!</div>
                <div class="month">일대일 화상영어 월 20회! 만원으로 한달 수업 들으세요.</div>
              </div>
            </div>
          </div>
        </div>
      
      
      </section>
      
      