<section id="student-banner" *ngIf="beginAni">

        <div class="ani ani-1" *ngIf=" this.no == 0 ">
          <div class="text">{{ a.ln._ONE_TO_ONE_VIDEO_ENGLISH }} <span class="price">{{ a.ln._10000_PER_MONTH }}</span></div>
        </div>
      
        <div class="ani ani-2" *ngIf=" this.no == 1 ">
          <div class="content">
            <div class="image">
              <img class="" src="assets/img/ani/1.gif">
            </div>
            <div class="text text-left">
              <div class="text-1">{{ a.ln._HUK }}</div>
              <div class="text-2">{{ a.ln._10000 }}</div>
            </div>
          </div>
        </div>
      
        <div class="ani ani-3 text" *ngIf=" this.no == 2 ">
          <div class="text-1">{{ a.ln._BEST_TEACHERS }}</div>
          <div class="text-2">{{ a.ln._NATIVE_SPEAKERS }}</div>
          <div class="text-3">{{ a.ln._TEACHING_IN_SCHOOL }}</div>
        </div>
      
      
      
        <div class="ani ani-4" *ngIf=" this.no == 3 ">
          <div class="content">
            <div class="image">
              <img class="" src="assets/img/ani/2.gif">
            </div>
            <div class="text text-left">
              <div class="">
                <div class="text-1">{{ a.ln._HAHA }}</div>
                <div class="text-2">{{ a.ln._KIDDING }}</div>
                <div class="text-3">{{ a.ln._NO_WAY }}</div>
              </div>
      
              <div class="text-4">
                <div>{{ a.ln._AFTER_REGISTRATION }}<br>{{ a.ln._5_FREE_CLASS }}</div>
                <div class="month">{{ a.ln._10000_MONTH }}</div>
              </div>
            </div>
          </div>
        </div>
      
      
      </section>
      
      