<header>
    <h1>{{ 'SESSION_REFUND_REVIEW_TITLE' | t }}</h1>
</header>
<main>
    <section class="content">
        <div class="loader" *ngIf=" !book?.refund_request_message ">
            <ion-spinner></ion-spinner>
            <span>{{ 'IN LOADING' | t }}</span>
        </div>


        <div *ngIf="book?.refund_request_message">
            <div class="student-header">{{ 'STUDENT_MESSAGE' | t }}</div>
            <div class="message">{{book.refund_request_message}}</div>

            <div class="confirm-reject" *ngIf=" showConfirmReject ">
                <textarea rows="15" [(ngModel)]="message"></textarea>
            </div>

            <div class="buttons">
                <button class="refund-accept" type="button" *ngIf=" !showConfirmReject " (click)=" onClickRefund() ">{{ 'REFUND ACCEPT' | t }}</button>
                <button class="refund-reject" type="button" *ngIf=" !showConfirmReject " (click)=" showConfirmReject = true ">
                    {{ 'REFUND_REJECT' | t }}
                </button>
                <button class="reject-confirm" type="button" *ngIf=" showConfirmReject " (click)=" onClickRejectRefundRequest() ">
                    {{ 'REJECT_CONFIRM' | t }}
                </button>
                <button class="refund-reject-cancel" type="button" *ngIf=" showConfirmReject " (click)=" showConfirmReject = false ">
                    {{ 'CANCEL' | t }}
                </button>
                <button class="close" type="button" routerLink="/teacher-session-past">
                    <ion-icon name="close"></ion-icon>
                    {{ 'CLOSE' | t }}
                </button>
            </div>
        </div>
    </section>
</main>