<header>
    <h1>{{ 'SESSION REFUND REVIEW' | t }}</h1>
</header>
<main>
    <section class="content">
        <div *ngIf="book?.refund_request_message">
            Student Message: {{book.refund_request_message}}
        </div>
        <label>
            <textarea class="container-fluid" rows="15" [(ngModel)]="message"></textarea>
        </label>
        <div>
            <button type="button" (click)=" onClickRefund() ">{{ 'ACCEPT' | t }}</button>
            <button type="button" (click)=" onClickRejectRefundRequest() ">{{ 'REJECT' | t }}</button>
            <button type="button" routerLink="/teacher-session-past">{{ 'CLOSE' | t }}</button>
        </div>
    </section>
</main>