@import "../../../../../theme/vars";
h3{
    margin: 0;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 1em;
    color: #0E51A7;
}

button{
    padding: 0;
    font-size: .9em;
    border: none;
    background: none;
    color: #0E51A7;
}
.board{
    margin: 1em 0;
    padding: 1.5em 0;   
    @media (min-width:$md){
        padding: 2em 0;
    }

    h3{
        margin: 0;
        margin-bottom: .5em;
    }

    p,div{
        line-height: 1.6em;
        font-size: .9em;
    }

    div{
        margin-top: 1em;
        padding: 1.5em;
        background: #eee;
    }
}

svg{
    height: 3em;
    width: 3em;
}

.kakao{
    color: #FEC800
}
.payment{
    color: green
}
.share{
    color: #2A17B1

}
.teachers{
    color: #FE9D00
}
.counsel{
    color: #0E51A7
}
.books{
    color: #FE5E00
}
