<header>
    Admin payment page
</header>

<main>


    Select Payment Between.
    Starting Date ~ End Date.
    Result: [ successful, Not sucessfull ],
    Student ID: 000,
    Payment method: [ paypal, NOT payapl ],


    <hr>

    Statistics with the searched reuslt.<br>

    Total amount.
    Total amount of each student.
    Daily total ( by simple bar graph ).
    No of successful payment.
    No of not successful payment.
    No of Successfull payment of each student.
    No of Not successful payment of each student.




    <hr>
</main>