<admin-header-component></admin-header-component>
<h1>Admin Dashboard</h1>


<div class="box warning" *ngIf=" a.user.isLogin && ! a.isManager ">You are not admin</div>


<hr>
<h2>Front Page status</h2>
Compute stats on PHP backend and display result only!!<br>

How many reservations and cancellation happens stat by hours, days, months ?

How many future sessions in each day, week, month.

Who reserve and cancel often?

Who has many reservations. list with point. and if a student has too many low point session like more than 300, we need to warn them and forcely cancel the classes?

Who has many past sessions daily, monthly?

how many reservations in each domain?
(need to add domain lms_reserve)


<h2>Admin List</h2>
<div class="box notice">
    To add admin, please read <a href="https://docs.google.com/document/d/1ZpGsmKhnjqE9estnjr_vl9DcjdpeMSgxTz4B4eoTm7c/edit#heading=h.asi8m5vfg5sd" target="_blank">LMS Management - Admin</a>
</div>

<ul *ngIf=" adminList ">
    <li *ngFor="let admin of adminList">
        {{ admin.user_email }} =&gt; {{ admin.manager }}
    </li>
</ul>