
.teacher-list {
    margin-top: 1em;
    .title{
        display: flex;
        justify-content: space-between;
        padding: .5em 1.5em;
        padding-bottom: .7em;
        font-size: .8em;

        h2{
            font-size: 1em;
            margin: 0;
            font-weight: bold;
        }
    }
    .row {
        margin-bottom: .5em;
        padding: 0 .5em;
        &>div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0;
            font-size: .7em;
            margin-bottom: 1.5em;

            .teacher-wrapper{
                background: #fff;
                .teacher-info {
                    margin:1em .5em;

                    .name{
                        text-transform: uppercase;
                    }
        
                    .grade{
                        margin: .4em 0;
                    }

                    .reservation{
                        font-size: 95%;
                        color:#607d8b;
                    }
                }
            }

        }
    }
    .teacher-profile-photo {
        width: 100px;
        height: 120px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .teacher-list-button {
        padding: .3em;
        color: #464a4e;
        background-color: #e7e8ea;
        border: 1px solid #dddfe2;
        text-align: center;
        cursor: pointer;
    }
    .grade {
        svg {
            height: .9em;
        }
        &[grade="5"] {
            color: #f06000;
        }
        &[grade="4"] {
            color: #ff9900;
        }
        &[grade="3"] {
            color: #4a8d23;
        }
        &[grade="2"] {
            color: #272775;
        }
        &[grade="1"] {
            color: #272727;
        }
    }
}
