@import '../../../../../theme/vars.scss';
section{
    padding-top: .5em;
    padding-bottom: 1em;
    // background: #fff;
    @media screen and (min-width:$md){
        margin-bottom: 1em;
    }

    .container-fluid{
        padding: 0 1.25em;
        @media screen and (min-width:$md) {
            padding: 0 1em;
        }
    }
    .title{
        display: flex;
        justify-content: space-between;
        padding: .5em .1em;
        padding-bottom: .7em;
        font-size: .8em;

        h2{
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
    }
    .row{
        padding: 0 .5em;
        @media screen and (min-width:$md){
            padding: 0;
        }
    }
    .teacher-list {
        &>a {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
            padding: 0;
            font-size: .7em;

            .teacher-wrapper{
                display: inline-block;
                margin-bottom: 1.2em;
                border-radius: 2px;
                border:1px solid rgba(125,125,125,0.1);
                background: #fff;
                cursor: pointer;
                .teacher-info {
                    margin:1em .5em;

                    .name{
                        text-transform: uppercase;
                    }
        
                    .grade{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: .4em 0;

                    }

                    .reservation{
                        font-size: 95%;
                        color:#607d8b;
                    }
                }
            }

        }
    }
    .teacher-profile-photo {
        width: 100px;
        height: 120px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .teacher-list-button {
        padding: 0;
        a{
            display: block;
            padding: .4em;
            font-size: .9em;
            color: #464a4e;
            background-color: #e7e8ea;
            border: 1px solid #dddfe2;
            text-align: center;
            cursor: pointer;
        }

    }
    .grade {
        svg {
            height: .9em;
            width: .9em;
        }
        &[grade="5"] {
            color: #f06000;
        }
        &[grade="4"] {
            color: #ff9900;
        }
        &[grade="3"] {
            color: #4a8d23;
        }
        &[grade="2"] {
            color: #272775;
        }
        &[grade="1"] {
            color: #272727;
        }
    }

    .total-teachers-loader{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0;
        padding: 0 1em;
        text-align: center;
        mat-spinner{
            margin-bottom: 1em;
        }    
    }
}
