@import '../../../theme/vars.scss';
header{
    h1{
        margin: 0;
        padding: 1em;
        background-color: skyblue;
        color:white;
    }

    div{
        padding: 1em;
    }
}

main{
    .card-wrapper{
        padding: 0;
        margin:0 -1.2em;

        &>div{
            padding: .3em ;
        }
    }

    .card{
        background: #fff;
        padding: .5em;
        &>div{
            padding: 0;
        }

        &-text{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-between;
            padding: .25em!important;
            padding-right: .6em!important;
        }

        .more-button{
            width: 50%;
            padding: .2em;
            border:none;
            border-radius: 2px;
            background: #64b5f6;
            color: #fff;

            &:hover{
                opacity: .7;
                cursor: pointer;
            }
        }

        .info-wrapper{
            width:100%;
        }

    }

    .student{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: .8em!important;
        border-left: 1px solid #e9ecef!important;
        font-size: 80%;

        @media screen and (max-width:$sm){
            display: none;
        }

        .student-name{
            margin-top:.4em;
        }
    }

    .student-photo,.teacher-photo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .teacher-photo{
        margin: 0 auto;
        height: 120px;
    }

    .teacher-info{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .teacher-name{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color:dodgerblue;
            font-size: 80%;

            span{
                margin-left: .2em;
            }
        }

        .rating{
            color: darkorange;
            font-size: 80%;

            span{
                margin: 0 .1em;
            }
        }

    }

    .extra {
      font-size: 80%;
    }

    .comment{
        padding: .3em 0;
        font-size: 80%;
        line-height: 1.3em;
    }

    .date{
        margin-top: .2em;
        font-size: 80%;
    }

    .student-photo{
        height: 100px;
        border-radius: 50%;
    }

    .icon{
        height: 1em;
    }

    .pagination{
        display: flex;
        justify-content: center;
        padding: 4em 0;
    }
}