@import '../../../theme/vars.scss';
main{
    .card-wrapper{
        padding: 0;
        padding-top: 1em;
        margin:0 -1.2em;

        &>a{
            padding: .6em 
        }
    }

    .card{
        height: 100%!important;
        border-radius: 2px;
        border: 1px solid rgba(128, 128, 128, 0.1);
        background: #fff;
        &>div{
            padding: 0;
        }

        &-text{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-between;
            padding: .7em!important;
            padding-left: 0!important;
        }

        &-inner{
            position: relative;
            height: 100%;
            cursor: pointer;

            .card-hover-effect{  
                display: flex;
                align-items: center;
                justify-content: center;              
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 2px;
                transition: all .2s ease-in-out;
                opacity: 0;

                .icon{
                    color: #fff;
                    margin: auto;
                    height: 2em;
                }
            }

            &:hover{
                .card-hover-effect{
                    background: rgba(96, 125, 139, 0.4);
                    z-index: 1000;
                    opacity: 1;
                }
            }
        
        }

        .more-button{
            width: 50%;
            padding: .2em;
            border:none;
            border-radius: 2px;
            background: #64b5f6;
            color: #fff;

            &:hover{
                opacity: .7;
                cursor: pointer;
            }
        }

        .info-wrapper{
            width:100%;
        }

    }

    .student{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: .8em!important;
        border-left: 1px solid #e9ecef!important;
        font-size: 80%;

        @media screen and (min-width:$md){
            display: flex;
        }

        .student-name{
            margin-top:.4em;
        }
    }

    .student-photo,.teacher-photo{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{
            width: 100%;
        }
    }
    .teacher-photo{
        margin: 0;
        width: 100px;
        height: 100%;

        @media screen and (min-width:$md){
            width: 110px;
            height: 100%;
        }

    }

    .teacher-info{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .teacher-name{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color:dodgerblue;
            font-size: 80%;

            span{
                margin-left: .2em;
            }
        }

        .rating{
            color: darkorange;
            font-size: 80%;

            span{
                margin: 0 .1em;
            }
        }

    }

    .extra {
      display: flex;
      justify-content: space-between;
      margin: .5em 0;
      font-size: 80%;

      b{
          font-weight: 500;
      }
    }

    .comment{
        padding: .5em 0;
        font-size: 85%;
        font-weight: 300;
    }

    .date{
        margin-top: .2em;
        font-size: 80%;
    }

    .student-photo{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .icon{
        height: 1em;
    }

    .pagination{
        display: flex;
        justify-content: center;
        padding: 4em 0;
    }
}