header{
    h1{
        margin: 0;
        padding: 1em;
        background-color: skyblue;
        color:white;
    }

    div{
        padding: 1em;
    }
}

main{
    .student-photo,.teacher-photo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .teacher-photo{
        height: 120px;
    }

    .student-photo{
        height: 100px;
        border-radius: 50%;
    }

    .icon{
        height: 1em;
    }
}