@import '../../../theme/vars.scss';
main{
    .loader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        mat-spinner{
            margin: .5em;
        }
    }
    .card-wrapper{
        padding: 0;
        padding-top: 1em;
        margin:0 -1.2em;
        font-size: 70%;
        @media screen and (min-width:$md){
            font-size: 75%;
        }
        &>a{
            padding: .6em 
        }
    }

    .card{
        height: 100%!important;
        border-radius: 2px;
        border: 1px solid rgba(128, 128, 128, 0.1);
        background: #fff;
        &>div{
            padding: 0;
        }

        &-text{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-around;
            padding: .7em!important;
            padding-left: 0!important;
        }

        &-inner{
            position: relative;
            height: 100%;
            cursor: pointer;

            .card-hover-effect{  
                display: flex;
                align-items: center;
                justify-content: center;              
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 2px;
                // transition: all .2s ease-in-out;
                opacity: 0;

                .icon{
                    color: #fff;
                    margin: auto;
                    height: 2em;
                }
            }

            &:hover{
                .card-hover-effect{
                    background: rgba(96, 125, 139, 0.4);
                    z-index: 1000;
                    opacity: 1;
                }
            }
        
        }

        .info-wrapper{
            width:100%;
        }

    }

    .student{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: .8em!important;
        border-left: 1px solid #e9ecef!important;

        @media screen and (min-width:$md){
            display: flex;
        }

        .student-name{
            margin-top:.4em;
        }
    }

    .student-photo,.teacher-photo{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{
            width: 100%;
        }
    }
    .teacher-photo{
        margin: 0;
        width: 100px;
        height: 100%;

        @media screen and (min-width:$md){
            width: 100px;
            height: 120px;
        }

    }

    .teacher-info{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .teacher-name{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color:dodgerblue;

            span{
                margin-left: .2em;
            }
        }

        .rating{
            color: darkorange;

            span{
                margin: 0 .1em;
            }
        }

    }

    .extra {
      display: flex;
      justify-content: space-between;
      margin: .7em 0;
    }

    .comment{
        font-size: 1.04em;
        padding: .5em 0;
    }

    .date{
        margin-top: .2em;
    }

    .student-photo{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .icon{
        height: 1em;
    }

    .pagination{
        display: flex;
        justify-content: center;
        padding: 4em 0;
    }
}