<main id="home-teacher-content" class="mt-md-3 bg-light">
    <div class="container-fluid">
        <div class="row mx-md-0 mt-md-3 mb-md-5 px-1px">
            <div class="col-md-3 col-12 m-md-0 p-md-0 pr-md-3">
                <ontue-reminders-component></ontue-reminders-component>
            </div>
            <div class="col-md-6 col-12 cover m-md-0 p-md-0 px-5">
                <div class="container-fluid m-md-0">
                    <div class="row m-md-0 pb-md-3">
                        <div class="col-md-6 col-12 m-0 px-md-3 p-0">
                            <ontue-statistics-component
                                    [no_teachers]="site_info.no_of_teacher"
                                    [no_students]="site_info.no_of_student"
                                    [no_reservations]="site_info.no_of_reservations"
                                    [no_pasts]="site_info.no_of_past"
                            ></ontue-statistics-component>
                        </div>
                        <div class="col-md-6 col-12 px-md-3">
                            <ontue-graded-latest-list-component *ngIf="site_info.recent_graded_teachers.length"
                                                       [teachers]="site_info.recent_graded_teachers ">
                            </ontue-graded-latest-list-component>
                        </div>
                    </div>
                    <div class="student-feedback row m-md-0 pt-md-3">
                        <div class="col-md-6 col-12 px-md-3" *ngIf="site_info.comment_from_student['total']">
                            <ontue-student-comment-list-component [student_comments] = "site_info.comment_from_student.comments "></ontue-student-comment-list-component>
                        </div>
                        <div class="col-md-6 col-12 px-md-3">
                            <ontue-reservation-latest-list-component [reservations]="site_info.recent_reservations"></ontue-reservation-latest-list-component>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover col-md-3 col-12 m-md-0 p-md-0 pl-md-3 px-5">
                <teacher-activity-log-component></teacher-activity-log-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col">
                <teacher-steps-component></teacher-steps-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col">
                <teacher-leveltest-component></teacher-leveltest-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col">
                <teacher-guidelines-component></teacher-guidelines-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col p-0">
                <teacher-grading-system-component></teacher-grading-system-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col p-0">
                <teacher-evaluations-component></teacher-evaluations-component>
            </div>
        </div>
    </div>
</main>