<main>
    <div class="container-fluid">
        <div class="landing row">
            <div class="col-md-3">
                <ontue-reminders-component></ontue-reminders-component>
            </div>
            <div class="boxes-wrapper col-md-6 col-12">
                <div class="container-fluid">
                    <div class="boxes row">
                        <div class="col-md-6 col-12">
                            <ontue-statistics-component
                                    [no_teachers]="site_info.no_of_teacher"
                                    [no_students]="site_info.no_of_student"
                                    [no_reservations]="site_info.no_of_reservations"
                                    [no_pasts]="site_info.no_of_past"
                            ></ontue-statistics-component>
                        </div>
                        <div class="col-md-6 col-12">
                            <ontue-graded-latest-list-component *ngIf="site_info.recent_graded_teachers.length"
                                                       [teachers]="site_info.recent_graded_teachers ">
                            </ontue-graded-latest-list-component>
                        </div>
                    </div>
                    <div class="boxes row">
                        <div class="col-md-6 col-12" *ngIf="site_info.comment_from_student['total']">
                            <ontue-student-comment-list-component [student_comments] = "site_info.comment_from_student.comments "></ontue-student-comment-list-component>
                        </div>
                        <div class="col-md-6 col-12">
                            <ontue-reservation-latest-list-component [reservations]="site_info.recent_reservations"></ontue-reservation-latest-list-component>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <ontue-activity-log-component></ontue-activity-log-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col">
                <ontue-how-to-be-teacher-component></ontue-how-to-be-teacher-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col">
                <ontue-leveltest-guideline-component></ontue-leveltest-guideline-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col">
                <ontue-guide-and-tips-component></ontue-guide-and-tips-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col p-0">
                <ontue-grading-system-component></ontue-grading-system-component>
            </div>
        </div>
        <div class="row my-5 px-1px">
            <div class="col p-0">
                <ontue-evaluation-latest-list-component></ontue-evaluation-latest-list-component>
            </div>
        </div>
    </div>
</main>