<main>
    <header class="global-header">
        <h1>How to Install Kakaotalk</h1>
    </header>
    <section>
        <div  class="content">
                <h2>WHY KAKAOTALK?</h2>
        <p>Most of the student are from Korea, and most of them have kakaotalk.
            And it would be more convenient for them to have class with kakaotalk app.</p>
        <div class="links">
            <div>Download: <a href="https://play.google.com/store/apps/details?id=com.kakao.talk"> Google Play Store </a></div>
            <div>Download: <a href="https://itunes.apple.com/us/app/kakaotalk/id362057947"> Apple Store </a></div>
        </div>


        <p>1. Install Kakaotalk App from Google Play(android) or AppStore(iphone) to your smart phone</p>
        <div class="image"><img src="assets/img/kakao/1.jpg"></div>
        <p>2. After installation. Open Kakaotalk app.</p>
        <p>3. Select your country code and enter your phone number, and press Next button.</p>
        <div class="image"><img src="assets/img/kakao/2.jpg"></div>
        <p>
            4. Kakaotalk will send you a sms containing the 4-digit verification code.
            Input the code and press the Next button.
        </p>
        <div>
            <ul>
                <li>*If you are using your number on the same device it will automatically add the verification number.</li>
                <li>*If not then you need to type the 4-digit verification code that you will received.</li>
            </ul>
        </div>
        <div class="image"><img src="assets/img/kakao/3.jpg"></div>
        <p>5. Press Sign Up Button</p>
        <div class="image"><img src="assets/img/kakao/4.jpg"></div>
        <p>6. Enter your name, upload your photo and press get started.</p>
        <div class="image"><img src="assets/img/kakao/5.jpg"></div>
        <p>7. Viola! You Successfully Installed and Created your kakaotalk Account.</p>
        </div>
    </section>
</main>
