header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #795548;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;

  h1{
    margin: 0 2em;
    font-weight: 500;
  }

  .option{
    display: flex;
    padding: 1em;
    font-weight: 200;
    cursor: pointer;

    ion-icon{
      margin-right: .2em;
    }
  }

}

main{
  padding-bottom: 5em;
}