header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #795548;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;

  h1{
    margin: 0 2em;
    font-weight: 500;
  }
  .option{
    display: flex;
    padding: 1.5em;
    font-weight: 200;
    cursor: pointer;
    font-size: 80%;


    .options-icon{
        height: 1em;
        margin-left:.5em;
    }

}


  .point-loader{
    display: flex;
    align-items: center;
    mat-spinner{
      margin-left: .5em;
    }
  }

}

main{
  padding-bottom: 5em;
}