header{
    padding: 1.25em;
    background-color: #ececec;
    text-align: center;
    span{
        display: inline-block;
        padding: .4em;

        .icon{
            height: 1em;
        }
    }

    &:hover{
        span{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

section{
    padding: 5em 0;
    padding-bottom: 10em;
}


.point{
    margin: 2em 0;    
    text-align: center;
    font-size: 200%;

    span{
        color:green;
    }
}

.link{
    padding: 5em;
    text-align: center;
    cursor: pointer;

    span{
        line-height: 1.8em;
        color:blue;
    }

    &{
        span:hover{
            text-decoration: underline;
        }
    }
}

.loader{
    text-align: center;
    padding: 5em;
}