@import '../../../../../theme/vars.scss';
header{

    a{
        display:block;
        text-align: center;
    }

    .icon{
        height: 1em;
        margin-left: .5em;
    }
}

section{
    padding: 5em 0;
    @media screen and (max-width:$sm){
        padding: 2em 0;
    }
    padding-bottom: 10em;
}


.point{
    margin: 2em 0;    
    text-align: center;
    font-size: 200%;

    span{
        color:green;
    }
}

.point-link{
    display: block;
    padding: 5em;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width:$sm){
        padding: 2em;
    }

    span{
        line-height: 1.8em;
        color:blue;
    }

    &{
        span:hover{
            text-decoration: underline;
        }
    }
}
.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    mat-spinner{
    margin: .5em;
    }
}
