.teacher-profile-photo {
    width: 100px;
    height: 120px;
    overflow: hidden;
}

.kakaotalk-add-friend-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 0;
    border:none;
    border-radius: 2px;
    background-color: rgba(255,232,24,.9);
    width: 100%;

    .icon {
        height: 30px;
        width: 30px;
        margin-right: 1em;
        
        img{
            width: 100%;
        }
    }
}


.buttons{
    height: 100%;

    @media screen and (max-width:768px) {
        margin-top: 1em;
    }

    div{
        padding: 0;
    }

    .row{
        height: 100%;
    }

    .video-button,
    .resume-button,
    .review-button{

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            svg{
                height: 1.3em;
                width: auto;
                margin-left: .6em;
                @media screen and (max-width:768px) {
                    margin-left: .4em;
                }
            }
        }

    }

    .video-button{
        button{
            background: #ff8c00
        }

        @media screen and (max-width:768px) {
            padding-right: .5em;
        }
    }

    .review-button{
        @media screen and (max-width:768px) {
            padding: 0 .5em;
        }

    }

    .resume-button{
        @media screen and (max-width:768px) {
            padding-left:.5em;
        }
    }
}



.container-fluid{
    background: white;

    .grade{
        svg{
            height: 1em;
        }

        &[grade="5"]{
            color: #f06000;
          }
          
          &[grade="4"] {
            color: #ff9900;
          }
          
          &[grade="3"] {
            color: #4a8d23;
          }
          
          &[grade="2"] {
            color: #272775;
          }
          
          &[grade="1"] {
            color: #272727;
          }
    }
    
    .profile-row{
        justify-content: space-between;
        padding: 1em;

        @media screen and (max-width:768px) {
            width: 100%;
            padding: 1em .1em;
        }
    }
}

.teacher-intro{
    text-align: justify;

    @media screen and (max-width:768px) {
        display: none;
    }

    span{
        line-height: 1.9em;
        font-weight: 300;
    
        svg{
            height: 1em;
        }
    
    }
    .quote-right{
        margin-left:.5em;
    }

    .quote-left{
        margin-right: .5em;
    }

}


.bio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8em;

    .teacher-name{
        font-weight: bold;
        font-size: 130%;
        margin-right: .3em;
    }
}
