@import '../../../../theme/vars';
.teacher-profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.class-software{
    .add-friend-button {
        display: flex;
        align-items: center;
        padding: 0;
        border: 0;
        background: gray;
        color: #fff;
        font-weight: 300;
        letter-spacing: .1em;
        text-transform: uppercase;
        border-radius: 2px;
        width: 100%;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5em 1.25em;
            background: #eee;
            img{
                height: 23px;
                width: 23px;
            }
        }
        .text{
            width: 100%;
        }
    }
}
.desktop-profile-row{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    @media (min-width:$md) {
        justify-content: space-around
    }
    padding: 1em;
    background: white;
    @media (min-width:$md) {
        .buttons{
            width: 200px
        }        
    }
    .bio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .8em;
        width: 200px;
        padding-left: 19px;
        @media (min-width:$md) {
            padding: 0;
            width: 175px;
        }
        .teacher-name {
            font-weight: bold;
            font-size: 130%;
            margin-right: .3em;
        }
        .grade {
            svg {
                height: 1em;
                width: 1em
            }
            &[grade="5"] {
                color: #f06000;
            }
            &[grade="4"] {
                color: #ff9900;
            }
            &[grade="3"] {
                color: #4a8d23;
            }
            &[grade="2"] {
                color: #272775;
            }
            &[grade="1"] {
                color: #272727;
            }
        }
    }
    .teacher-intro {
        display: none;
        text-align: justify;
        width: 330px;
        @media screen and (min-width: $md) {
            display: block;
        }
        span {
            line-height: 1.9em;
            font-weight: 300;
            svg {
                height: 1em;
                width: 1em;
            }
        }
        .quote-right {
            margin-left: .5em;
        }
        .quote-left {
            margin-right: .5em;
        }
    }
    .buttons {
        display: flex;
        justify-content: stretch;
        width: 100%;
        margin-top: 1em;
        @media (min-width: $md) {
            flex-direction: column;
            justify-content: space-between;
            margin:0;
            width: 200px;
        }
        div {
            padding: 0;
        }
        .row {
            height: 100%;
        }
        .video-button,
        .resume-button,
        .review-button {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 9px;
                width: 100%;
                text-align: center;
                cursor: pointer;
                svg {
                    height: 1.2em;
                    width: 1.2em;
                    margin-left: .4em;
                    @media screen and (min-width: $md) {
                        margin-left: .6em;
                    }
                }
            }
        }
        .video-button {
            button {
                width: 100px;
                @media (min-width:$md) {
                    width: 100%;
                }
                background: #ff8c00
            }
            padding-right: .5em;
            @media screen and (min-width:$md) {
                padding: 0;
            }
        }
        .video-button-off {
            button {
                background: transparent !important;
                color: #000;
                font-weight: 500;
            }
        }
        .review-button {
            width: 100%;
            padding: 0 .5em;
            @media(min-width: $md) {
                width: auto;
                padding: 0;
            }
        }
        .resume-button {
            width: 100%;
            padding-left: .5em;
            @media (min-width: $md) {
                width: auto;
                padding: 0;
            }
        }
    }
}

.single-teacher {
    padding: 1em;
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        .youtube-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

.withcenter-teachers {
    padding: .5em;
    padding-right: 0;
    &>div {
        margin: .5em;
    }
    @media screen and (min-width:$md) {
        font-size: .85rem;
        padding: .6em 1.8em;
    }
    background-color: #fff3cd;
    font-size: .75rem;
    cursor: pointer;
    color: #856404;
}

.attention-no-star-teacher {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #860000;
    color: #ffffff;
    margin-top: 1em;
    padding: 1em 2em;
    @media (min-width: $md) {
        margin-top: .5em;
        margin-bottom: 1.5em;
        padding: 1em 1.5em;
        font-size: .85em;
        border-radius: 4px;
        background-color: #0d0086;
    }
    .text {
        padding-left: 1em;
        font-size: .85em;
        @media (min-width: $md) {
            font-size: 1em;
        }
    }
    svg {
        color: #ffffff;
        min-height: 1.5em;
        min-width: 1.5em;
    }
}