@import '../../../../theme/vars';
.teacher-profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    overflow: hidden;

    img{
        width: 100%;
    }
}

.kakaotalk-add-friend-button {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    border:none;
    border-radius: 2px;
    background-color: rgba(255,232,24,.9);
    width: 100%;

    .icon {
        height: 30px;
        width: 30px;
        margin-right: 1em;
        
        img{
            width: 100%;
        }
    }
}


.buttons{
    height: 100%;
    margin-top: 1em;

    @media screen and (min-width:$md) {
        margin-top:0;
    }

    div{
        padding: 0;
    }

    .row{
        height: 100%;
    }

    .video-button,
    .resume-button,
    .review-button{

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 9px;
            width: 100%;
            text-align: center;
            cursor: pointer;
            svg{
                height: 1.3em;
                width: auto;
                margin-left: .4em;
                @media screen and (min-width:$md) {
                    margin-left: .6em;
                }
            }
        }

    }

    .video-button{
        button{
            background: #ff8c00
        }
        padding-right: .5em;
        @media screen and (min-width:$md) {
            padding: 0;
        }
    }

    .review-button{
        padding: 0 .5em;
        @media screen and (min-width:$md) {
            padding: 0;
        }

    }

    .resume-button{
        padding-left:.5em;
        @media screen and (min-width:$md) {
            padding: 0;
        }
    }
}



.container-fluid{
    box-sizing: border-box;
    background: white;

    .grade{
        svg{
            height: 1em;
        }

        &[grade="5"]{
            color: #f06000;
          }
          
          &[grade="4"] {
            color: #ff9900;
          }
          
          &[grade="3"] {
            color: #4a8d23;
          }
          
          &[grade="2"] {
            color: #272775;
          }
          
          &[grade="1"] {
            color: #272727;
          }
    }
    
    .profile-row{
        justify-content: space-between;
        padding: 1em .1em;

        @media screen and (min-width:$md) {
            padding: 1em;
        }
    }
}

.teacher-intro{
    text-align: justify;
    display: none;
    @media screen and (min-width:$md) {
        display: block;
    }

    span{
        line-height: 1.9em;
        font-weight: 300;
    
        svg{
            height: 1em;
        }
    
    }
    .quote-right{
        margin-left:.5em;
    }

    .quote-left{
        margin-right: .5em;
    }

}


.bio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8em;

    .teacher-name{
        font-weight: bold;
        font-size: 130%;
        margin-right: .3em;
    }

}

.single-teacher{
    padding: 1em;
    .video-container{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    
        .youtube-video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border:none;
        }
    }
}


.withcenter-teachers {
    padding: .5em;
    padding-right: 0;
    &>div{
        margin: .5em;
    }
    @media screen and (min-width:$md){
        font-size: .85rem;
        padding: .6em 1.8em;   
    }
    border: 1px solid darkorange;
    background: rgba(darkorange,0.1);
    font-size: .75rem;
    color: darkorange;
    cursor: pointer;
}