<section class="container-fluid mb-5 mb-md-0">
    <div class="row cover-by-2 d-none d-md-flex mb-3">
        <div class="col border border-top-0 border-bottom-0">
            <ion-slides class="outline-effect" effect="fade" autoplay="10000" speed="1000" loop>
                <ion-slide class="bg-white">
                    <img class="w-100"  src="../assets/img/teacher/teacherslide1.jpg" alt="quote">
                </ion-slide>
                <ion-slide  class="bg-white">
                    <img class="w-100"  src="../assets/img/teacher/teacherslide2.jpg" alt="quote">
                </ion-slide>
                <ion-slide class="bg-white" >
                    <img class="w-100"  src="../assets/img/teacher/teacherslide3.jpg" alt="quote">
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <div class="row cover-by-2 d-flex d-md-none mb-5">
        <div class="col border border-top-0 border-bottom-0">
            <ion-slides effect="fade" autoplay="10000" speed="1000" loop>
                <ion-slide class="slide-bg-1 py-5 px-4 white">
                    <div class=" mt-5 mb-3 fs-3rem fw-bold white font-arial">ONTUE</div>
                    <div class="mb-4 fw-light line-height-1-8em fs-90">Earn Money While Teaching English Online. Work from The Comfort Of Your Home</div>
                    <button ion-button color="blue" (click)=" onClickSteps() ">Apply Now</button>
                </ion-slide>
                <ion-slide  class="slide-bg-2 py-5 px-4 white">
                    <div class=" mt-5 mb-3 fs-3rem fw-bold white font-arial">ONTUE</div>
                    <div class="mb-4 fw-light line-height-1-8em fs-90">Earn Money While Teaching English Online. Work from The Comfort Of Your Home</div>
                    <button ion-button color="blue" (click)=" onClickSteps() ">Apply Now</button>
                </ion-slide>
                <ion-slide  class="slide-bg-3 py-5 px-4 white">
                    <div class=" mt-5 mb-3 fs-3rem fw-bold white font-arial">ONTUE</div>
                    <div class="mb-4 fw-light line-height-1-8em fs-90">Earn Money While Teaching English Online. Work from The Comfort Of Your Home</div>
                    <button ion-button color="blue" (click)=" onClickSteps() ">Apply Now</button>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <div class="row cover-by-2 mt-md-3 mt-0 px-md-0 px-5 overflowhidden-y">
        <div class="col d-flex-column align-items-center pb-2 h-100 border bg-white text-center"  (click)="a.open('register')">
            <p class="m-0 mb-auto  py-3 fs-90 w-100 fw-bold bg-red-90 text-center white">Urgent Hiring </p>
            <i class="fal fa-rocket color-animation fa-4x my-md-auto my-2"></i>
            <div class="my-md-auto m-0 my-2 p-0 px-5 line-height-2rem fw-bold" text-wrap>English Teacher?
                <div>Work Part/Full-time</div>  We need you!
            </div>
            <button class="hover-effect m-0 my-md-auto my-2 p-3  fw-bold rounded-2 bg-red-90 white">APPLY NOW</button>
        </div>
    </div>
</section>
