@import '../../../../../theme/vars.scss';

section {
    height: 225px;
    margin-top: 1.2em;
    outline: 1px solid rgba(125, 125, 125, 0.1);
    background: #fff;
    text-align: center;
    .icon {
        margin-top: .6em;
        height: 4.5em;
        color: #1F7979;
        // animation: colorAnimate 7s ease-in-out infinite
    }
    .title {
        margin: 0;
        padding: .7em;
        background: rgba(171, 0, 13, .8);
        color: #fff;
        text-align: center;
        font-size: 85%;
    }

    .body {
        margin: .4em 0;
        font-size: 85%;
        font-weight: bold;
    }

    a {
        display: inline-block;
        margin-bottom: .5em;
        padding: .6em 1.5em;
        border-radius: 2px;
        border: none;
        background: rgba(171, 0, 13, .8);
        font-size: 70%;
        color: #fff;
        cursor: pointer;
    }
}
