@import '../../../../../theme/vars.scss';
  section{

      .mobile-slides{
        @media screen and (min-width:$md) {
          display: none;
        }

        .slide-wrapper{
          padding: 1em;
          color:#fff;
          .title{
            margin: .5em 0;
            font-size: 1.8em;
          }
  
          .body{
            font-size: 90%;
            font-weight: 100;
            line-height: 1.6em;
          }
  
          button{
            margin: 1em 0;
            padding: 1em 2em;
            border-radius: 2px;
            border: none;
            background: dodgerblue;
            color:#fff;
            cursor: pointer;
          }
        }

      }
      .desktop-slides{
        @media screen and (max-width:$sm) {
          display: none;
        }
        height: 225px;
        overflow: hidden;
          
        ion-slide{
          background: #fff;
    
          img{
            width: 100%;
          }
        }
      }

      .col{
        padding: 0;
      }

      .reminder{
        height: 225px;
        margin-top: 1.2em;
        outline: 1px solid #e9ecef;
        background: #fff;
        text-align: center;

        .icon{
          margin-top:.6em;
          height: 4.5em;
          animation: colorAnimate 7s ease-in-out infinite
        }

        .title{
          margin: 0;
          padding: .7em;
          background: rgba(171,0,13,.8);
          color: #fff;
          text-align: center;
          font-size: 85%;
        }

        .body{
          margin: .5em 0;
          font-size: 90%;
          font-weight: bold;
        }

        a{
          padding: .6em 1.5em;
          border-radius: 2px;
          border:none;
          background: rgba(171,0,13,.8);
          font-size: 70%;
          color:#fff;
          cursor: pointer;
        }
      }
  }
  
  
  .slide-bg-1{
    background:linear-gradient(to bottom, rgba(#494949,0.63),  rgba(#494949,0.63)),
    url('../../../../../assets/img/teacher/teacher-mobile-slide1.jpg');
    background-size: cover;
    background-position: top;
  }

  .slide-bg-2{
    background:linear-gradient(to bottom, rgba(#494949,0.63),  rgba(#494949,0.63)),
    url('../../../../../assets/img/teacher/teacher-mobile-slide2.jpg');
    background-size: cover;
    background-position: top;
  }

  .slide-bg-3{
    background:linear-gradient(to bottom, rgba(#494949,0.63),  rgba(#494949,0.63)),
    url('../../../../../assets/img/teacher/teacherslide3.jpg');
    background-size: cover;
    background-position: top;
  }

  @keyframes colorAnimate {
    0%{
      transform: rotateZ(0deg);
      color: #009600;
    }


    26%{
      color: #BC5500;
      transform: rotateZ(0deg);
    }
    27%{
      transform: rotateZ(8deg);
    }

    28%{
      transform: rotateZ(0deg);
    }

    29%{
      transform: rotateZ(8deg);
    }

    30%{
      transform: rotateZ(0deg);
    }

    31%{
      transform: rotateZ(8deg);
    }

    32%{
      transform: rotateZ(0deg);
    }

    33%{
      transform: rotateZ(5deg);
    }

    40%{
      transform: rotateZ(0deg);
      color: #007171;
    }


    54%{
      transform: rotateZ(0deg);
      color: #BC5500;
    }

    80%{
      transform: rotateZ(0deg);
      color: #009600;
    }

    100%{
      color: #007171;
      transform: rotateZ(0deg);
    }
  }

