@import '../../../../../theme/vars.scss';
section{
    margin-bottom: 5em;
    background: #fff;
    outline: 1px solid #e9ecef;
    header{
        padding-left: 4em;
        @media screen and (max-width:$sm){
            padding: 0;
            text-align: center;
        }
        margin: 0;
        background-color: #66a2fb;
        h2{
            display: inline-block;
            background-color: #007bff;
            margin: 0;
            padding: 1em;
            color: #fff;
            font-size: 2em;
            font-weight: 100;
        }
    }

    main{
        padding: 3em 4em;

        @media screen and (max-width:$sm){
            padding: 2em 1em;
        }

        .eval-wrapper{
            margin-bottom: 4em;
        }


        .teacher-photo,.student-photo{
            display: inline-block;
            width: 80px;
            height: 80px;
            margin-right: 1em;
            border-radius:2px;
            overflow: hidden;

            img{
                width: 100%;
            }
        }


        
        .info{
            margin-bottom: 1em;
            align-items: flex-end;

            &>div{
                display: flex;
                align-items: flex-end;
                padding: 0;
            }

            &>div:last-child{
                justify-content: flex-end;
                color:dodgerblue;

                @media screen and (max-width:$sm){
                        justify-content: center;
                }

            }

            .name{
                font-weight: bold;
                font-size: 90%;

                &>span:first-child{
                    font-size: 1.3em;
                    color:dodgerblue;
                }

                &>span:last-child{
                    font-size: .9em;
                    font-weight: 400;
                }

                span{
                    margin-right: 1em;
                }
            }
        }

        .comment{
            padding: 2em 3em;
            background-color: #f7f7f7;
            outline: 1px solid rgba(226,226,226,.5);
            line-height: 1.8em;
            font-weight: 300;

            .view-more{
                font-size: 90%;
                color: dodgerblue;
                cursor: pointer;
            }

            span{
                animation: fadein-effect .3s ease-in-out;
            }

            @keyframes fadein-effect{
                0% {
                    opacity: 0;
                }
                
                100% {
                    opacity: 1;
                }
            }
        }

        .pagination{
            display: flex;
            justify-content: center;
        }

        .photos{
            display: flex;
            align-items: flex-end;



            @media screen and (max-width:$sm){
                flex-direction: column;
                width: 100%;
                align-items: center;

                .name{
                    margin: .5em;
                }
            }
        }


    }

}