<header>
    <h1>{{ 'SESSION PAST' | t }}</h1>
    <section>
        <div>
            <ng-container *ngIf=" a.isStudent ">
                {{ a.user.name }} 님, 포인트:
                <span *ngIf=" a.inLoadingMyPoint "><i class="fal fa-spinner fa-spin"></i></span>
                <span *ngIf=" ! a.inLoadingMyPoint ">{{ share.point }}</span>
            </ng-container>
        </div>

        <div class="option" (click)=" share.options = ! share.options ">
            <ion-icon name="options"></ion-icon>
            {{ "OPTIONS" | t }}
        </div>
    </section>
</header>
<main>
    <section *ngIf="showLevel">
        <div>Level {{ myLevel }}</div>
        <div>회원님의 영어 레벨</div>
        <div>레벨은 1부터 9까지 있습니다 :</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-4">
                    <div [class.bg-active]="myLevel<4">
                        <div><i class="fas fa-bookmark"></i></div>
                        <div>레벨1 ~ 레벨3</div>
                        <div>초급</div>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div [class.bg-active]="myLevel<7&&myLevel>3">
                        <div><i class="fas fa-trophy"></i></div>
                        <div>레벨4 ~ 레벨6</div>
                        <div>중급</div>
                    </div>
                </div>
                <div class="col-md-2 col-4">
                    <div [class.bg-active]="myLevel<10&&myLevel>6">
                        <div><i class="fas fa-trophy-alt"></i></div>
                        <div>레벨7 ~ 레벨9</div>
                        <div>고급</div>
                    </div>
                </div>
            </div>
        </div>

        <div> 마지막 수업 20회를 바탕으로 각 수업 평가의 평균을 내어 레벨을 정합니다. </div>
        <div> 강의 평가를 클릭하시면 각 수업 별 세부 평가 내용을 확인 할 수 있습니다. </div>

    </section>
    <section>
        <session-list-component [page]=" page " [share]=" share "></session-list-component>
    </section>
</main>
