@import '../../../../../theme/vars.scss';
header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: .85em;
    color: #fff;
    @media screen and (min-width:$md){
        font-size:.95em;
    }
    .option{
        display: flex;
        align-items: center;
        padding: 0 1em;
        @media screen and (min-width:$md){
            padding: 0 2em;
        }
        font-size: 90%;
        .options-icon{
            height: 1em;
            margin-left:.5em;
        }

    }

    .point-loader{
        display: flex;
        align-items: center;

        mat-spinner{
            margin-left: .5em;
        }
    }
}


main{
    padding-bottom: 5em;


.level{
    background: #fff;

    &-icon{
        height: 3em;
        margin-bottom: .5em;
    }

    .rank{
        font-weight: bolder;
        line-height: 2em;
    }

    .bookmark{
        color: grey;
    }

    .trophy{
        color:green;
    }

    .trophy-alt{
        color:darkorange;
    }

    &-header{
        text-align: center;
        div:first-child{
            font-size: 3em!important;
            color: red!important;
            padding: .3em 0;
            padding-top:1em;
        }

        .desc{
            font-weight: bold;
            font-size: 120%;
            margin-bottom: 1em;
        }

    }

    &-body{
        margin: 3em 0;

        .row{
            justify-content: space-around;
            text-align: center;
        }

        .bg-default{
            padding: 1em 0;
            border-radius: 2px;
            background: rgba(128,128,128,.15);
        }

        .bg-active{
            border: 1px solid rgba(30,144,255,.2);
            background: rgba(30,144,255,.1)!important;
        }

        .col-md-2, .col-4{
            padding: .4em;
        }

    }

    .bottom-desc{
        padding:2em;
        padding-top: 0;
    }


}

.point-loader{
    display: flex;
    align-items: center;

    mat-spinner{
        margin-left: .5em;
    }
}

}