@import './../../../../../theme/vars.scss';
.content {
  padding: $padding;
}

.text {
  line-height: 200%;
}

.letsgo,
.sidebyside {
  display: flex;
  div {
    width: 33.33%;
    img {
      width: 100%;
    }
  }
}

@media (min-width: $md) {
  .books {
    display: flex;
  }
  .letsgo,
  .sidebyside {
    div {
      width: 16.66%;
    }
  }
}