<main data-role="curriculum-page">
    <header>
        <h1>{{ a.ln['CURRICULUM_PAGE_TITLE'] }}</h1>
        <p>
            {{ a.ln['CURRICULUM_PAGE_DESC'] }}
            <span class="status" *ngIf=" a.isStudent ">
                <span *ngIf="a.lmsInfoBook()">{{ 'CURRICULUM_STAT_1' | t : { 'USERNAME':a.user.name, 'BOOK': a.lmsInfoBook()} }}</span>
                <span *ngIf=" ! a.lmsInfoBook()">{{ 'CURRICULUM_STAT_2' | t : {'USERNAME':a.user.name} }}</span>
            </span>
        </p>
    </header>
    <section class="content">

        <div>
            <div>{{ a.ln['CURRICULUM_PAGE_TITLE_TEXT_1'] }}</div>
            <div>{{ a.ln['CURRICULUM_PAGE_TITLE_TEXT_2'] }}</div>
        </div>

        <div class="container-fluid">


            <div class="row">
                <div class="phonics col">
                    <div class="title">{{ a.ln['CURRICULUM_PHONICS_TITLE'] }}</div>
                    <div class="images">
                        <div>
                            <img src="assets/img/books/phonics-race-1.jpg">
                        </div>
                        <div>
                            <img src="assets/img/books/phonics-race-2.jpg">
                        </div>
                        <div>
                            <img src="assets/img/books/phonics-race-3.jpg">
                        </div>
                        <div>
                            <img src="assets/img/books/phonics-race-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>{{ a.ln['CURRICULUM_PHONICS_TEXT_1'] }}</div>
                    <div>{{ a.ln['CURRICULUM_PHONICS_TEXT_2']}}</div>
                    <div>{{ a.ln['CURRICULUM_PHONICS_TEXT_3']}}</div>
                </div>
            </div>


            <div class="row">
                <div class="letsgo col">
                    <div class="title">{{ a.ln['CURRICULUM_LETSGO_TITLE'] }}</div>
                    <div class="images">
                        <div>
                            <img src="assets/img/books/letsgo-1.jpg">
                        </div>
                        <div>
                            <img src="assets/img/books/letsgo-2.jpg">
                        </div>
                        <div>
                            <img src="assets/img/books/letsgo-3.jpg">
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div>{{ a.ln['CURRICULUM_LETSGO_TEXT_1'] }}</div>
                    <div>{{ a.ln['CURRICULUM_LETSGO_TEXT_2'] }}</div>
                    <div>{{ a.ln['CURRICULUM_LETSGO_TEXT_3'] }}</div>
                </div>
            </div>


            <div class="row">
                <div class="sidebyside col">
                    <div class="title"> {{ a.ln['CURRICULUM_SIDEBYSIDE_TITLE'] }}</div>
                    <div class="images">
                        <div>
                            <img src="assets/img/books/sidebyside-1.jpg">
                        </div>
                        <div>
                            <img src="assets/img/books/sidebyside-2.jpg">
                        </div>
                        <div>
                            <img src="assets/img/books/sidebyside-3.jpg">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div>{{ a.ln['CURRICULUM_SIDEBYSIDE_TEXT_1'] }}</div>
                    <div>{{ a.ln['CURRICULUM_SIDEBYSIDE_TEXT_2'] }}</div>
                    <div>{{ a.ln['CURRICULUM_SIDEBYSIDE_TEXT_3'] }}</div>
                </div>
            </div>


        </div>
    </section>
</main>