header{
  h1{
    margin: 0;
    padding: 1em;
    background-color: #ececec;
    color: #3a476b!important;
  }

  div{
    background-color: #bababa;
    padding: 1em 1.3em;
  }
}

main{
  padding: 1em;
  padding-bottom: 5em;
  .status{
    padding: 0;
    padding-top: 1.5em!important;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
  }

  div{
    padding: 1.5em 0;
    font-size: 120%;
  }
}