katalkenglish-curriculum-page {
  .page-body {
    .text {
      padding: 1em;
      line-height: 4rem!important;
      font-size: 2rem!important;
      & > div {
        margin: 1em 0;
      }
    }
  }
}