<main>
    <header class="global-header">
        <h1>My Schedule</h1>
    </header>
    <div class="container-fluid" *ngIf="data">
        <div class="info-wrapper row">
            <div class="info col-2">
                <div>Your ID No</div>
                <div>{{ a.user.id }}</div>
            </div>
            <div class="info col-2">
                <div>Your timezone</div>
                <div> {{ timezone_name }}</div>
            </div>
            <div class="info col-3">
                <div>Your time is now</div>
                <div>{{ time }}</div>
            </div>
            <div class="buttons col-5">
                <a class="add-schedule" (click)="onClickScheduleAdd()">
                    <svg aria-hidden="true" data-prefix="fal" data-icon="calendar-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M320 332v8c0 6.6-5.4 12-12 12h-68v68c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12v-68h-68c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h68v-68c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v68h68c6.6 0 12 5.4 12 12zm128-220v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v52h192V12c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-416 0v48h384v-48c0-8.8-7.2-16-16-16H48c-8.8 0-16 7.2-16 16zm384 352V192H32v272c0 8.8 7.2 16 16 16h352c8.8 0 16-7.2 16-16z"></path></svg>
                    Add Schedule
                </a>
                <a class="add-dayoff"  routerLink="/my-dayoff">
                    <svg aria-hidden="true" data-prefix="fal" data-icon="calendar-minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M400 64h-48V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H128V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h352c8.8 0 16 7.2 16 16v48H32v-48c0-8.8 7.2-16 16-16zm352 384H48c-8.8 0-16-7.2-16-16V192h384v272c0 8.8-7.2 16-16 16zm-92-128H140c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12z"></path></svg>
                    Add Day off
                </a>
            </div>
        </div>
    </div>

    <div class="alert" *ngIf="data && !data['promo_class']">
        {{data['promo_class_message']}}
    </div>

    <div class="sched container-fluid" *ngIf=" data ">
        <div class="header row">
            <div class="col">No.</div>
            <div class="col">Time</div>
            <div class="col">Min</div>
            <div class="col">Sun</div>
            <div class="col">Mon</div>
            <div class="col">Tue</div>
            <div class="col">Wed</div>
            <div class="col">Thu</div>
            <div class="col">Fri</div>
            <div class="col">Sat</div>
            <div class="col-2">Action</div>
        </div>
        <div class="row" *ngFor="let s of data.schedules; let odd = odd;">
            <div class="col">{{ s.idx }}</div>
            <div class="col">{{s.user_time_class_begin.slice(0,2)}}:{{s.user_time_class_begin.slice(2,4)}}</div>
            <div class="col">{{s.duration}}</div>
            <div class="col">
                <div *ngIf="s.user_time_days.sunday">
                    <div class="prere">{{s.prere}}</div>
                    {{s.point}}
                </div>
            </div>
            <div class="col">
                <div *ngIf="s.user_time_days.monday">
                    <div class="prere">{{s.prere}}</div>
                    {{s.point}}
                </div>
            </div>
            <div class="col">
                <div *ngIf="s.user_time_days.tuesday">
                    <div class="prere">{{s.prere}}</div>
                    {{s.point}}
                </div>
            </div>
            <div class="col">
                <div *ngIf="s.user_time_days.wednesday">
                    <div class="prere">{{s.prere}}</div>
                    {{s.point}}
                </div>
            </div>
            <div class="col">
                <div *ngIf="s.user_time_days.thursday">
                    <div class="prere">{{s.prere}}</div>
                    {{s.point}}
                </div>
            </div>
            <div class="col">
                <div *ngIf="s.user_time_days.friday">
                    <div class="prere">{{s.prere}}</div>
                    {{s.point}}
                </div>
            </div>
            <div class="col">
                <div *ngIf="s.user_time_days.saturday">
                    <div class="prere">{{s.prere}}</div>
                    {{s.point}}
                </div>
            </div>
            <div class="buttons col-2">
                <a (click)="onClickScheduleEdit(s.idx)">
                    <button class="edit">
                        <svg class="small-icon" aria-hidden="true" data-prefix="fal" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M417.8 315.5l20-20c3.8-3.8 10.2-1.1 10.2 4.2V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h292.3c5.3 0 8 6.5 4.2 10.2l-20 20c-1.1 1.1-2.7 1.8-4.2 1.8H48c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h352c8.8 0 16-7.2 16-16V319.7c0-1.6.6-3.1 1.8-4.2zm145.9-191.2L251.2 436.8l-99.9 11.1c-13.4 1.5-24.7-9.8-23.2-23.2l11.1-99.9L451.7 12.3c16.4-16.4 43-16.4 59.4 0l52.6 52.6c16.4 16.4 16.4 43 0 59.4zm-93.6 48.4L403.4 106 169.8 339.5l-8.3 75.1 75.1-8.3 233.5-233.6zm71-85.2l-52.6-52.6c-3.8-3.8-10.2-4-14.1 0L426 83.3l66.7 66.7 48.4-48.4c3.9-3.8 3.9-10.2 0-14.1z"></path></svg>
                        Edit
                    </button>
                </a>
                <a (click)="onClickDelete(s.idx)">
                    <button class="delete">
                            <svg class="small-icon" aria-hidden="true" data-prefix="fas" data-icon="trash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm415.2 56.7L394.8 467c-1.6 25.3-22.6 45-47.9 45H101.1c-25.3 0-46.3-19.7-47.9-45L32.8 140.7c-.4-6.9 5.1-12.7 12-12.7h358.5c6.8 0 12.3 5.8 11.9 12.7z"></path></svg>
                        Delete
                    </button>
                </a>
            </div>
        </div>
    </div>


    <div class="loader"  *ngIf=" ! data || loading ">
        <mat-spinner [diameter]="48"></mat-spinner>
        <span>{{ 'IN LOADING' | t}}</span>
    </div>
</main>
<footer>

</footer>


