<header>
    <h1>My Schedule</h1>
</header>
<main>
    <section class="content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div>Your ID No: <span>{{ a.user.id }}</span></div>
                        <div>Your timezone: <span>{{ timezone_name }}</span></div>
                        <div>Your time is now: <span>{{ time }}</span></div>
                    </div>
                    <div class="col">
                        <div>
                            <button *ngIf="data" (click)="onClickScheduleAdd()">
                                <div>
                                    <i class="fal fa-calendar-plus fa-3x mb-4"></i>
                                    Add Schedule
                                </div>
                            </button>
                            <button *ngIf="data" routerLink="/schedule-dayoff">
                                <div>
                                    <i class="fal fa-calendar-minus fa-3x mb-4"></i>
                                    Add Day off
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="data && !data['promo_class']">
                {{data['promo_class_message']}}
            </div>

            <div class="container-fluid" *ngIf=" data ">
                <div class="row">
                    <div class="col">No.</div>
                    <div class="col">Time</div>
                    <div class="col">Min</div>
                    <div class="col">Sun</div>
                    <div class="col">Mon</div>
                    <div class="col">Tue</div>
                    <div class="col">Wed</div>
                    <div class="col">Thu</div>
                    <div class="col">Fri</div>
                    <div class="col">Sat</div>
                    <div class="col">Action</div>
                </div>
                <div class="row" *ngFor="let s of data.schedules; let odd = odd;">
                    <div class="col">{{ s.idx }}</div>
                    <div class="col">{{s.user_time_class_begin.slice(0,2)}}:{{s.user_time_class_begin.slice(2,4)}}</div>
                    <div class="col">{{s.duration}}</div>
                    <div class="col">
                        <div *ngIf="s.user_time_days.sunday">
                            <div class="prere">{{s.prere}}</div>
                            {{s.point}}
                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="s.user_time_days.monday">
                            <div class="prere">{{s.prere}}</div>
                            {{s.point}}
                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="s.user_time_days.tuesday">
                            <div class="prere">{{s.prere}}</div>
                            {{s.point}}
                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="s.user_time_days.wednesday">
                            <div class="prere">{{s.prere}}</div>
                            {{s.point}}
                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="s.user_time_days.thursday">
                            <div class="prere">{{s.prere}}</div>
                            {{s.point}}
                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="s.user_time_days.friday">
                            <div class="prere">{{s.prere}}</div>
                            {{s.point}}
                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="s.user_time_days.saturday">
                            <div class="prere">{{s.prere}}</div>
                            {{s.point}}
                        </div>
                    </div>
                    <div class="col">
                        <div (click)="onClickScheduleEdit(s.idx)">
                            <button>
                                <i class="fal fa-edit mr-2"></i>
                                Edit
                            </button>
                        </div>
                        <div (click)="onClickDelete(s.idx)">
                            <button>
                                <i class="fas fa-trash mr-2"></i>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 ml-5" *ngIf=" ! data || loading ">
                <ion-spinner class="size-3"></ion-spinner>
                Loading... Please wait...
            </div>
    </section>
</main>
<footer>

</footer>


