
main{
    padding-bottom: 6em;
    min-height: 540px;
    min-width: 1024px;
    background: white;

    .container-fluid{
        box-sizing: border-box;
    }

    .sched{
        text-align: center;
        .header{
            position: sticky!important;
            top: 56px;
            left: 0;
            right: 0;
            min-width: 908px;
            background: #fff;
            font-weight: bolder;
            z-index: 1000;
        }
        .row{
            justify-content: space-around;
            align-items: center;
            padding: 1em;
            border-bottom: 1px solid #e9ecef;
        }
    }

    svg{
        margin-bottom: .5em;
        height: 4em;
    }

    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 .3em;

        &-wrapper{
            align-items: stretch;
            padding-left:1em;
        }

        div{
            width: 100%;
            text-align: center;
        }

        div:first-child{
            padding: .8em;
            background:rgba(dodgerblue,0.6);
            color:#fff;
        }

        div:last-child{
            padding: 2.5em 0;
            border:1px solid rgba(128, 128, 128, 0.2);
        }

    }

    .alert{
        padding: .8em 2.3em;
        color: #856404;
        background-color: #fff3cd;
        font-size: 90%
    }

    .buttons{
        display: flex;
        justify-content: center;
        .add-schedule,.add-dayoff{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: .8em 0;
            padding: 1em 0;
            border-radius: 3px;
            border: none;
            font-size: 1.2em;
            color:white;
            cursor: pointer
        }

        a{
            display: block
        }
    
        .add-dayoff{
            margin-left: .8em;
            background-color:orange;
        }

        .add-schedule{
            background: green;
        }

        .edit,.delete{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: .75em 1.25em;
            color:white;
            border:none;
            border-radius: 1px;
            cursor: pointer;

            .small-icon{
                margin:0;
                margin-right: .5em;
                height: 1em;
            }
    
        }

        .edit{
            margin-right: 1em;
            background: dodgerblue;
        }

        .delete{
            background: darkorange
        }
    }


}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:2em 0;
    
    mat-spinner{
    margin: .5em;
    }
}
