header{
    h1{
        padding: 1em;
        margin: 0;
        background-color: #ececec;
        color: #3a476b;
    }

    div{
        padding: 1em;
        background: #bababa
    }
}

main{
    min-height: 540px;
    background: #fff;

    mat-form-field{
        width: 100%;
    }

    section{
        padding: 2em;
    }

    .change,.cancel{
        margin-top: 2em;
        padding: 1em 2em;
        border-radius: 2px;
        border:none;
        color:white;
        cursor: pointer;
    }

    .change{
        background: dodgerblue;
        margin-right: 2em;
    }

    .cancel{
        background: darkred;
    }
}