<header>
    <h1>{{ 'CHANGE PASSWORD TITLE' | t }}</h1>
    <div>{{ 'CHANGE PASSWORD DESC' | t }}</div>
</header>


<main>
    <div class="old">
        <label>{{ 'OLD PASSWORD' | t }}</label>
        <input type="password" [(ngModel)]="changePassword.old_password" name="old_password">
    </div>

    <div class="new">
        <label>{{ 'NEW PASSWORD' | t }}</label>
        <input type="password" [(ngModel)]="changePassword.new_password" name="new_password">
    </div>

    <div>
        <button class="change" (click)="onClickChangePassword()">
            {{ 'CHANGE PASSWORD BUTTON' | t }}
        </button>
        <button class="cancel" routerLink="/">
            {{ 'CANCEL' | t }}
        </button>
    </div>

</main>

