<header>
    <h1>{{ 'CHANGE PASSWORD TITLE' | t }}</h1>
    <div>{{ 'CHANGE PASSWORD DESC' | t }}</div>
</header>


<main>
    
    <mat-form-field  appearance="outline">
        <mat-label>{{ 'OLD PASSWORD' | t }}</mat-label>
        <input matInput type="password" [(ngModel)]="changePassword.old_password" name="old_password">
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label>{{ 'NEW PASSWORD' | t }}</mat-label>
        <input matInput type="password" [(ngModel)]="changePassword.new_password" name="new_password">
    </mat-form-field>

    <div>
        <button class="change" (click)="onClickChangePassword()">
            {{ 'CHANGE PASSWORD BUTTON' | t }}
        </button>
        <button class="cancel" routerLink="/">
            {{ 'CANCEL' | t }}
        </button>
    </div>

</main>

