@import './../../../../../theme/vars';
  
header{
  h1{
    margin: 0;
    padding: 1em;
    background: #fff;
  }

  div{
    padding: .8em 1.3em;
    background: #e2e2e2;
    font-size: 90%;
  }
}

main{

    .file-inputs{
        .profile-photo{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%
            }
        }
    }
}