<main>
    <header >
        <h1>{{ "CURRICULUM VITAE" | t }}</h1>
        <p>Please Fill Out the Appropriate Information</p>
    </header>
    <form (submit)="onSubmitUpdate()">
        <div class="container-fluid">
            <div class="file-inputs row">
                <div class="profile col">
                    <input type="file" (change)="fileUpload.onChangeFile($event)">
                    <div class="profile-photo">
                        <img src="{{ a.userProfilePhoto( files )}}">
                    </div>
                    <span class="button">
                        <svg class="icon" aria-hidden="true" data-prefix="fa" data-icon="camera" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg>
                        Primary Photo
                    </span>
                    <xapi-file-upload-component #fileUploadWidget 
                                                [title]="false" 
                                                [fileSelectionButton]="false"
                                                [files]="files"
                                                [showUploadedFiles]="false"
                                                [showProgressBar]="false"
                                                (success)="onSuccessUploadPicture($event)">
                    </xapi-file-upload-component>
                    <div class="progress-bar" *ngIf="fileUploadWidget.progressPercentage > 0" >
                        <mat-progress-bar mode="determinate" 
                                          [value]="fileUploadWidget.progressPercentage">
                        </mat-progress-bar>
                        {{ fileUploadWidget.progressPercentage}}%
                    </div>
                    <span class="button">
                        <svg class="icon" aria-hidden="true" data-prefix="fa" data-icon="camera" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg>
                        Primary Photo
                    </span>
                </div>
                <div class="qrmark col">
                    <input type="file" (change)="fileUploadQRMark.onChangeFile($event)">
                    <div *ngIf="a.user.isLogin" (click)="fileUploadQRMark.onClickCamera()">
                        <ng-container *ngIf="!showQRMark">
                            <div>Upload QR Mark</div>
                            <svg class="qrmark-icon" viewBox="0 0 448 512"><path fill="currentColor" d="M0 224h192V32H0v192zM32 64h128v128H32V64zm224-32v192h192V32H256zm160 160H288V64h128v128zM0 480h192V288H0v192zm32-160h128v128H32V320zM64 96h64v64H64V96zm320 64h-64V96h64v64zM64 352h64v64H64v-64zm352-64h32v128H320v-32h-32v96h-32V288h96v32h64v-32zm0 160h32v32h-32v-32zm-64 0h32v32h-32v-32z"/></svg>
                        </ng-container>
                        <ng-container *ngIf="showQRMark">
                            <div class="qrmark-photo">
                                <img src="{{qrmarks[0].url}}">
                            </div>
                        </ng-container>
                        <div class="note">
                            QR Mark is required for teacher, open your mobile KakaoTalk > Edit Profile>
                            My QR Code > Click Download.
                        </div>
                    </div>
                    <xapi-file-upload-component #fileUploadWidgetQRMARK
                                                [title]="false"
                                                [fileSelectionButton]="false"
                                                [files]="qrmarks"
                                                [showUploadedFiles]="false"
                                                [showProgressBar]="false"
                                                (success)="onSuccessUploadQRMark( $event )">
                    </xapi-file-upload-component>                    
                    <div class="progress-bar" *ngIf="fileUploadWidgetQRMARK.progressPercentage > 0" >
                        <mat-progress-bar mode="determinate" 
                                            [value]="fileUploadWidgetQRMARK.progressPercentage">
                        </mat-progress-bar>
                        {{ fileUploadWidgetQRMARK.progressPercentage}}%
                    </div>
                    <span class="button">
                            <svg class="icon" aria-hidden="true" data-prefix="fal" data-icon="qrcode" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 224h192V32H0v192zM32 64h128v128H32V64zm224-32v192h192V32H256zm160 160H288V64h128v128zM0 480h192V288H0v192zm32-160h128v128H32V320zM64 96h64v64H64V96zm320 64h-64V96h64v64zM64 352h64v64H64v-64zm352-64h32v128H320v-32h-32v96h-32V288h96v32h64v-32zm0 160h32v32h-32v-32zm-64 0h32v32h-32v-32z"></path></svg>
                        {{qrmarks.length? 'UPDATE': 'UPLOAD'}} QR MARK
                    </span>
                </div>
            </div>
            <div class="text-inputs row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'TEACHER ID' | t }}</mat-label>
                        <input type="text" matInput [(ngModel)]="account.name" name="name " disabled>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'FULL NAME' | t }}</mat-label>
                        <input type="text" matInput [(ngModel)]="account.fullname" name="fullname">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'NICKNAME' | t }}</mat-label>
                        <input type="text" matInput  [(ngModel)]="account.display_name" name="display_name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'EMAIL' | t }}</mat-label>
                        <input type="email" matInput [(ngModel)]="account.user_email" name="user_email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'PHONE NO' | t }}</mat-label>
                        <input type="tel" matInput  [(ngModel)]="account.phone_number" name="phone_number">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'SCHOOL' | t }}</mat-label>
                        <input type="text" matInput  [(ngModel)]="account.last_education" name="last_education">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'MAJOR' | t }}</mat-label>
                        <input type="text" matInput  [(ngModel)]="account.major" name="major">
                    </mat-form-field>

                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'NATIONALITY' | t }}</mat-label>
                        <mat-select  [(ngModel)]="account.nationality" name="nationality">
                            <mat-option [value]="0">Select...</mat-option>
                            <mat-option *ngFor="let c of loc.countries" value="{{c}}">{{c}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                        <mat-form-field class="form-date" appearance="outline"  (click)="dp.open()">
                            <mat-label>{{ 'BIRTHDAY' | t }}</mat-label>
                            <div>{{ _birthday }}</div>
                            <input name="date" [(ngModel)]="_birthday" matInput [matDatepicker]="dp" disabled style="display: none;">
                            <mat-datepicker #dp touchUi="true" disabled="false"></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="gender" appearance="outline">
                                <mat-label>Gender</mat-label>
                                <input class="removed" type="text" matInput value="dummy" disabled>
                                <div class="radio-group">
                                    <label><input type="radio" name="male" [(ngModel)]="account.gender" value="M">Male</label>
                                    <label><input type="radio" name="female" [(ngModel)]="account.gender" value="F">Female</label>   
                                </div>
                        </mat-form-field>

                        <mat-form-field appearance="outline" (click)="yeardp.open()">
                                <mat-label>{{ 'Year you start teaching' | t }}</mat-label>
                                <input class="removed" type="text" matInput value="dummy" disabled>
                                <div>{{ account.experience }}</div>
                                <div *ngIf="!account.experience">Select Year</div>
                                <input [(ngModel)]="account.experience" name="experience"
                                        matInput [matDatepicker]="yeardp" disabled style="display: none;">
                                <mat-datepicker #yeardp startView="multi-year" 
                                                touchUi="true" disabled="false"
                                                (yearSelected)="onYearSelected($event, yeardp)">
                                </mat-datepicker>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'YOUTUBE VIDEO' | t }}</mat-label>
                            <input type="text" matInput  [(ngModel)]="account.youtube_video_url" name="youtube_video_url">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'KAKAOTALK ID' | t }}</mat-label>
                            <input type="text" matInput [(ngModel)]="account.kakaotalk_id" name="kakaotalk_id">
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'HOBBIES' | t }}</mat-label>
                            <input type="text" matInput [(ngModel)]="account.hobby" name="hobby">
                        </mat-form-field>

                </div>
            </div>
            <div class="text-inputs row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'ADDRESS' | t }}</mat-label>
                        <input matInput type="text" [(ngModel)]="account.address" name="address">
                    </mat-form-field>
                </div>
            </div>
            <div class="text-inputs row">
                <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'GREETINGS' | t }}</mat-label>
                            <textarea rows="8" matInput [(ngModel)]="account.introduction" name="introduction"></textarea>
                        </mat-form-field>
                    <div class="update-button">
                        <button>
                            {{ 'UPDATE BUTTON' | t }}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>


    <div class="loader" *ngIf="showLoader ">
        <mat-spinner [diameter]="48"></mat-spinner>
        <span>{{ 'IN LOADING' | t}}</span>
    </div>

</main>